<div class='row content-padding'>
	<div class='col-xs-12 col-sm-6 col-sm-offset-3'>
		<div class='panel'>
			<div class='panel-body'>
			<h3 class='text-center'>Accounts</h3>
			<div ng-show='user.type == "member"' class='col-xs-12 col-sm-6 col-sm-offset-3 text-center'>
				<button class='btn' ng-class='{"btn-oj" : showing == "details", "btn-default" : showing != "details"}' ng-click='toggle_view("details")'>Details</button>
				<button class='btn' ng-class='{"btn-oj" : showing == "methods", "btn-default" : showing != "methods"}' ng-click='toggle_view("methods")' ng-disabled='!account'>Methods</button>
			</div>
			<div ng-show='showing == "details"'>
				<form class='form' ng-submit='verify_identity(detail)'>
					<div class='col-xs-12 col-sm-6'>
						<div class='form-group'>
							<label>First Name</label>
							<input class='form-control' ng-model='detail.first_name' placeholder='First Name' type='text'>
						</div>
					</div>
			        <div class='col-xs-12 col-sm-6'>
			        	<div class='form-group'>
			        		<label>Last Name</label>
			        		<input class='form-control' ng-model='detail.last_name' placeholder='Last Name' type='text'>
			        	</div>
			        </div>
			        <div class='col-xs-12 col-sm-4'>
			        	<div class='form-group'>
			        		<label>Birth Year</label>
			        		<input class='form-control' ng-model='detail.dob_year' placeholder='DOB Year' type='text'>
			        	</div>
			        </div>
			        <div class='col-xs-12 col-sm-4'>
			        	<div class='form-group'>
			        		<label>Birth Month</label>
			        		<input class='form-control' ng-model='detail.dob_month' placeholder='DOB Month' type='text'>
			        	</div>
			        </div>
			        <div class='col-xs-12 col-sm-4'>
			        	<div class='form-group'>
			        		<label>Birth Day</label>
			        		<input class='form-control' ng-model='detail.dob_day' placeholder='DOB Day' type='text'>
			        	</div>
			        </div>
			        <div class='col-xs-12'>
			        	<div class='form-group'>
			        		<label>Country</label>
			        		<select class='form-control' ng-model='detail.country'>
			        			<option value=''>Choose your country</option>
			        			<option ng-repeat='(key, value) in countries' value='{{key}}'>{{value}}</option>
			        		</select>
			        	</div>
			        </div>
			        <div class='col-xs-12 text-center'><button class='btn btn-oj' type='submit'>Verify Identity</button></div>
			    </form>
			</div>
			<div ng-show='showing == "methods"' ng-init='add_method = false'>
				<div class='col-xs-12' ng-show='account.external_accounts.data.length > 0'>
					<div class='col-sm-12 payment-method-container'>
						<div class='payment-method-card' ng-repeat='account in account.external_accounts.data' ng-class='{"default_method" : account.default_for_currency}'>
							<h5>
								<img height='20' ng-if='account.brand == "Visa"' src="http://www.credit-card-logos.com/images/visa_credit-card-logos/visa_logo_7.gif" />
								<img height='20' ng-if='account.brand == "MasterCard"' src="http://www.credit-card-logos.com/images/mastercard_credit-card-logos/mastercard_logo_5.gif" />
								<img height='20' ng-if='account.brand == "American Express"' src="http://www.credit-card-logos.com/images/american_express_credit-card-logos/american_express_logo_9.gif" />
								<img height='20' ng-if='account.brand == "Discover"' src="http://www.credit-card-logos.com/images/discover_credit-card-logos/discover_network1.jpg" />
								<img height='20' ng-if='account.brand == "JCB"' src="http://www.credit-card-logos.com/images/visa_credit-card-logos/visa_logo_7.gif" />
								<img height='20' ng-if='account.brand == "Diners CLub"' src="http://www.credit-card-logos.com/images/visa_credit-card-logos/visa_logo_7.gif" />
								<img height='20' ng-if='account.brand == "Unknown"' src="http://www.credit-card-logos.com/images/visa_credit-card-logos/visa_logo_7.gif" />
								&nbsp;&nbsp;&nbsp;********{{account.last4}}
							</h5>
							<span><strong>Expires &nbsp;&nbsp;{{account.exp_month}}/{{account.exp_year}}</strong></span>
							<div class='payment-method-actions' uib-dropdown>
	                            <button href uib-dropdown-toggle>Actions<span class="caret"></span></button>
	                            <ul uib-dropdown-menu role="menu">
	                                <li role='menuitem' ng-if='!account.default_for_currency' ng-click='set_default(account.id)'><a>Set As Default</a></li>
		                            <li role='menuitem' ng-if='!account.default_for_currency' ng-click='remove_method(account.id)'><a>Remove</a></li>
	                            </ul>
		                    </div>
						</div>
					</div>
				</div>
				<div class='alert alert-warning col-sm-12' ng-show='account.external_accounts.data.length == 0'>
					You don't have any payout methods yet
				</div>
				<button class='btn btn-oj col-sm-4 col-sm-offset-4' ng-click='add_method=true' ng-hide='add_method'>
					Add Payout Method
				</button>
			    <form class='col-lg-8 col-xs-12 col-lg-offset-2 form' id="payment-form" ng-submit='process_addition(this)' ng-show='add_method'>
					<span class="payment-errors"></span>
					<div class='col-xs-12'>
					    <div class="form-group">
					    	<label>Debit Card Number</label>
					      	<input class='form-control' type="text" size="20" placeholder='Debit Card Number' data-stripe="number"/>
					    </div>
					</div>
				    <div class='col-xs-12 col-sm-4'>
					  <div class="form-group">
						    <label>CVC</label>
						    <input class='form-control' type="text" size="4" placeholder='CVC' data-stripe="cvc"/>
					  </div>
				    </div>
				  	<div class='col-xs-12 col-sm-4'>
				      <div class="form-group">
				       		<label>Month Exp</label>
				  	      	<select class='form-control' data-stripe="exp-month">
					            <option value='01'>01</option>
					            <option value='02'>02</option>
					            <option value='03'>03</option>
					            <option value='04'>04</option>
					            <option value='05'>05</option>
					            <option value='06'>06</option>
					            <option value='07'>07</option>
					            <option value='08'>08</option>
					            <option value='09'>09</option>
					            <option value='10'>10</option>
					            <option value='11'>11</option>
					            <option value='12'>12</option>
				          </select>
				      </div>
				    </div>
				    <div class='col-xs-12 col-sm-4'>
				    	<div class='form-group'>
				        	<label>Year Exp</label>
				  	    	<select class='form-control' data-stripe="exp-year">
				             <option value='2016'>2016</option>
				             <option value='2017'>2017</option>
				             <option value='2018'>2018</option>
				             <option value='2019'>2019</option>
				             <option value='2020'>2020</option>
				             <option value='2021'>2021</option>
				             <option value='2022'>2022</option>
				             <option value='2023'>2023</option>
				             <option value='2024'>2024</option>
				             <option value='2025'>2025</option>
				             <option value='2026'>2026</option>
				             <option value='2027'>2027</option>
				        	</select>
				  	  	</div>
				  	</div>
					<input type='hidden' data-stripe='currency' value='usd'/>

					<div class='col-xs-12 text-center'>
						<button class='btn btn-oj' type='submit' ng-disabled='form_disabled'>Submit</button>
					</div>
				</form>
			</div>
			</div>
		</div>
	</div>
</div>
<script>
fbq('track', 'PageView');
</script>
<style>
	.payment-method-container {
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 0px;
		padding-right: 0px;
	}
	.payment-method-card {
		padding: 10px;
	}
	.default_method {
		border: 1px solid #00aaff;
		border-radius: 5px;
	}
	.payment-method-card:hover {
		background-color: #f2f2f2;
	}
	.payment-method-actions {
		margin:auto;
		position: absolute;
		right: 20px;
		top:50%;
	}
</style>
