<div class='contest-image'>
    <img ng-src='{{submission.attachment}}'>
</div>
<div class='contest-company text-left'>
    <span class='company-name'>from {{user.first_name}} &#8226; {{submission.contest.platform | capitalize}}</span>
</div>
<div class='contest-entry text-left'>
    <h3 ng-show='submission.headline'>{{submission.headline}}</h3>
    <h4 ng-show='submission.link_explanation'>{{submission.link_explanation}}<br></h4>
    <h4 ng-show='submission.text'>{{submission.text}}</h4>
    <div class='contest-upvotes disable-click'>
        <span class='glyphicon glyphicon-heart'></span> {{submission.votes | number}}
    </div>
</div>
<div class='contest-winner text-left'>
    <div class='avatar'>
        <img ng-src='{{submission.avatar_url}}' src='public/img/avatar.png' alt=''>
    </div>
    <h5 class='winner-name'> {{submission.owner.first_name}} {{submission.owner.last_name | firstChar}}.</h5>
    <span data-toggle="modal" href="#myModalcompany" class='contest-ctr ' ng-if='!submission.ctr ' ng-bind="(submission.ctr)?submission.ctr:'-'" style="cursor:help;"></span>
</div>
<div class='text-center contest-winner-select' ng-show="winner_contest.status == 'pending_purchase' || winner_contest.status == 'pending_testing'">
    <div class="checkbox-container">
        <input type="checkbox" class="ser1" name="name2{{submission.id}}" value="{{submission.id}}" id="select-contest2-{{submission.id}}">
        <label for="select-contest2-{{submission.id}}"><span class="glyphicon glyphicon-ok" style="font-size:40px;"></span></label>
    </div>
</div>
