<div class='contest-image'>
    <img ng-src='{{submission.attachment}}'>
    <div class='contest-upvotes-action' ng-click='upvote(submission)'><span class='glyphicon glyphicon-heart'></span></div>
    <div class="contest-share">
        <span class='glyphicon glyphicon-send'></span> Send
        <div class="contest-share-socials">
            <div class='addthis_sharing_toolbox' data-url='https://tappyn.com/contest/{{contest.id}}' data-title='{{submission.headline == "" ? submission.text : submission.headline}}' data-description='{{submission.headline == "" ? "from " + contest.company.name : submission.text}}' data-media='{{submission.attachment}}'></div>
        </div>
    </div>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5751c5addc1cc557"></script>
    <script type="text/javascript">
    var addthis_config = addthis_config || {};
    addthis_config.data_track_addressbar = false;
    addthis_config.data_track_clickback = false;
    addthis_share = {
        passthrough: {
            twitter: {
                via: "TheRealTappyn"
            }
        }
    }
    </script>
</div>
<div class='contest-company text-left'>
    <div class='avatar'>
        <img ng-if='!contest.company.logo_url' src="favicon.ico">
        <img ng-if='contest.company.logo_url' src="{{contest.company.logo_url}}">
    </div>
    <span class='company-name'>from {{contest.company.name}} &#8226; {{contest.platform | capitalize}}</span>
</div>
<div class='contest-entry text-left'>
    <h3 ng-show='submission.headline'>{{submission.headline}}</h3>
    <h4 ng-show='submission.link_explanation'>{{submission.link_explanation}}<br></h4>
    <h4 ng-show='submission.text'>{{submission.text}}</h4>
    <div class='contest-upvotes' ng-click='upvote(submission)'>
        <span class='glyphicon glyphicon-heart'></span> {{submission.votes | number}}
    </div>
</div>
<div class='contest-winner text-left'>
    <div class='avatar'>
        <img ng-src='{{submission.avatar_url}}' src='public/img/avatar.png ' alt=' '>
    </div>
    <h5 class='winner-name '> {{submission.owner.first_name}} {{submission.owner.last_name | firstChar}}.</h5>
    <span data-toggle="modal" data-target="#myModal" class='contest-ctr ' ng-if='!submission.ctr ' style="cursor:help;">-</span>
    <span data-toggle="modal" data-target="#myModal" class='contest-ctr ' ng-if='submission.ctr ' style="cursor:help;">{{submission.ctr}}%</span>
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">>
	<div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="border-bottom: 1px solid #FF5C00;">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title text-center" id="myModalLabel">This is your ad's CTR.</h4>
        </div>
        <div class="modal-body text-center">
          <p>The <strong>Click Through Rate</strong> (CTR) is a measure of how relatable an ad is to a particular audience. We test businesses' favorite ads and we show them CTR of each. This is one of the primary ways they decide which ads to Tapp. (The higher the better!)<br></p>
        </div>
        <div class="modal-footer">
        <a class="custom-close" href="/faq">Learn More</a>
      </div>
      </div>
    </div>
</div>
</div>
<script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type='text/javascript' src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script>
$(function () {
        $('#myModal').removeClass('fade');
        $('myModal').modal('hide')
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();
    });
</script>
