<div class='contest-image'>
  <img ng-src='{{submission.attachment}}'>
</div>

<div class='contest-company text-left'>
  <div class='avatar'>
		<img ng-if='!contest.company.logo_url' src="favicon.ico">
    <img ng-if='contest.company.logo_url' src="{{contest.company.logo_url}}">
  </div>
  <span class='company-name'>from {{contest.company.name}} &#8226; {{contest.platform | capitalize}}</span>
</div>
<div class='contest-entry text-left'>
  <h3 ng-show='form_limit.card_title'>{{submission.headline}}</h3>
  <h4 ng-show='form_limit.text'>{{submission.text}}</h4>
	<h4 ng-show='form_limit.line_1'>{{submission.link_explanation}}<br></h4>
  <h4 ng-show='form_limit.line_2'>{{submission.text}}</h4>
  <div class='contest-upvotes' ng-click='upvote(submission)'>
    <span class='glyphicon glyphicon-heart'></span> {{submission.votes | number}}
  </div>
</div>
<div class='contest-winner text-left'>
  <div class='avatar'>
    <img src='public/img/avatar.png' alt=''>
  </div>
  <h5 class='winner-name'> {{submission.owner.first_name}} {{submission.owner.last_name | firstChar}}.</h5>
  <span class='contest-ctr' ng-show='submission.ctr'>{{submission.ctr}} %</span>
</div>
