<div class='contest-image'>
    <img ng-src='{{submission.attachment}}'>
</div>
<div class='contest-company text-left'>
    <span class='company-name'>from {{submission.contest.company.name}} &#8226; {{submission.contest.platform | capitalize}}</span>
</div>
<div class='contest-entry text-left'>
    <h3 ng-show='form_limit.headline'>{{submission.headline}}</h3>
    <h4 ng-show='submission.text'>{{submission.text}}</h4>
    <h4 ng-show='submission.link_explanation'>{{submission.link_explanation}}<br></h4>
    <div class='contest-upvotes disable-click' ng-click='upvote(submission)'>
        <span class='glyphicon glyphicon-heart'></span> {{submission.votes | number}}
    </div>
</div>
<div class='contest-winner text-left'>
    <div class='avatar'>
        <img src='public/img/avatar.png' alt=''>
    </div>
    <h5 class='winner-name'> {{user.first_name}} {{user.last_name | firstChar}}.</h5>
		<div class='pull-right'><button ng-if='submission.payout' ng-click='claim_winnings(submission.payout.id)' class='btn btn-oj'>Claim Winnings</button></div>
</div>
