<div class='contest-image'>
    <img ng-src='{{submission.attachment}}'>
    <div class='contest-upvotes-action' ng-click='upvote(submission)'><span class='glyphicon glyphicon-heart'></span></div>
    <div class="contest-share">
        <span class='glyphicon glyphicon-send'></span> Send
        <div class="contest-share-socials">
            <div class='addthis_sharing_toolbox' data-url='https://tappyn.com/contest/{{submission.contest.id}}' data-title='{{submission.headline == "" ? submission.text : submission.headline}}' data-description='{{submission.headline == "" ? "from " + submission.contest.company.name : submission.text}}' data-media='{{submission.attachment}}'></div>
        </div>
    </div>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5751c5addc1cc557"></script>
    <script type="text/javascript">
    var addthis_config = addthis_config || {};
    addthis_config.data_track_addressbar = false;
    addthis_config.data_track_clickback = false;
    addthis_share = {
        passthrough: {
            twitter: {
                via: "TheRealTappyn"
            }
        }
    }
    </script>
</div>
<div class='contest-company text-left'>
    <div class='avatar'>
        <img ng-if='!submission.contest.company.logo_url' src="favicon.ico">
        <img ng-if='submission.contest.company.logo_url' src="{{submission.contest.company.logo_url}}">
    </div>
    <span class='company-name'>from {{submission.contest.company.name}} &#8226; {{submission.contest.platform | capitalize}}</span>
</div>
<div class='contest-entry text-left'>
    <h3 ng-show='submission.headline'>{{submission.headline}}</h3>
    <h4 ng-show='submission.link_explanation'>{{submission.link_explanation}}<br></h4>
    <h4 ng-show='submission.text'>{{submission.text}}</h4>
    <div class='contest-upvotes' ng-click='upvote(submission)'>
        <span class='glyphicon glyphicon-heart'></span> {{submission.votes | number}}
    </div>
</div>
<div class='contest-winner text-left'>
    <div class='avatar'>
        <img ng-src='{{submission.avatar_url}}' src='public/img/avatar.png' alt=''>
    </div>
    <h5 class='winner-name'> {{submission.owner.first_name}} {{submission.owner.last_name | firstChar}}.</h5>
    <span class='winner-tag'>Tapped</span>
    <span ng-if='!submission.ctr' class='contest-reward'>${{submission.contest.prize}}</span>
    <span ng-if='submission.ctr' class='contest-reward' style="padding-right:80px;">${{submission.contest.prize}} - </span>
    <span data-toggle="modal" href="#myModalnew" class='contest-ctr ' ng-if='submission.ctr ' style="cursor:help;right:20px;">{{submission.ctr}}%</span>
</div>
