<div class='contest-image'>
  <img ng-src='{{submission.attachment}}'>
  <div class='contest-upvotes-action' ng-click='upvote(submission)'><span class='glyphicon glyphicon-heart'></span></div>
  <div class="contest-share"><span class='glyphicon glyphicon-send'></span> Send</div>
</div>

<div class='contest-company text-left'>
  <div class='avatar'>
    <img src='public/img/community1.jpg' alt=''>
  </div>
  <span class='company-name'>from {{submission.contest.company.name}} &#8226; {{submission.contest.platform | capitalize}}</span>
</div>
<div class='contest-entry text-left'>
  <h3 ng-show='submission.headline'>{{submission.headline}}</h3>
  <h4 ng-show='submission.link_explanation'>{{submission.link_explanation}}<br></h4>
  <h4 ng-show='submission.text'>{{submission.text}}</h4>
  <div class='contest-upvotes' ng-click='upvote(submission)'>
    <span class='glyphicon glyphicon-heart'></span> {{submission.votes | number}}
  </div>
</div>
<div class='contest-winner text-left'>
  <div class='avatar'>
    <img src='public/img/community1.jpg' alt=''>
  </div>
  <h5 class='winner-name'> {{submission.owner.first_name}} {{submission.owner.last_name | firstChar}}.</h5>
  <span class='winner-tag'>Winner</span>
  <span class='contest-reward'>${{submission.contest.prize}}</span>
</div>
