<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.html [L]
</IfModule>

# Set the cache-control max-age
# 1 month
<FilesMatch ".(ico|jpg|jpeg|png|gif|svg|x-ico)$">
Header set Cache-Control "max-age=2592000, public"
</FilesMatch>
