<div class="modal fade" id="myModalnew" tabindex="-1" role="dialog" aria-labelledby="myModalLabelnew" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom: 1px solid #019F6E;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center" id="myModalLabelnew">This is your ad's CTR.</h4>
            </div>
            <div class="modal-body text-center">
                <p style="margin:0 0 0 0">The <strong>Click Through Rate</strong> (CTR) is a measure of how relatable an ad is to a particular audience. We test businesses' favorite ads and we show them CTR of each. This is one of the primary ways they decide which ads to Tapp.
                    (The higher the better!)
                    <br>
                </p>
            </div>
            <div class="modal-footer text-right">
                <button class="btn btn-primary" onclick="location.href = 'https://tappyn.com/guide';" style="background-color:#019F6E;border-color:#019F6E;">How do I write a great copy?</button>
            </div>
        </div>
    </div>
</div>
<div class='row content-padding'>
	<div class='col-xs-12 col-sm-10 col-sm-offset-1'>
		<div class='col-xs-12 text-center' ng-if='tab == "winner"'>
			<h2 class='text-center' style='color:#333;font-weight:300;'>Welcome to the winner's circle.</h2>
			<h4 class='text-center' style='color:#333;font-weight:300;'>Think you can do better?</h4>
		</div>
		<div class='col-sm-6 col-md-4 hidden-xs'>
			<div ng-if='first_third($index)' ng-mouseenter='submission.hovering = true' ng-mouseleave='submission.hovering = false' class="contest-box row" ng-repeat='submission in submissions'>
				<div ng-include src="'templates/submits/toptapsubmit.html'"></div>
	    	</div>
	    </div>
	    <div class='col-sm-6 col-md-4 hidden-xs'>
			<div ng-if='second_third($index)' ng-mouseenter='submission.hovering = true' ng-mouseleave='submission.hovering = false' class="contest-box row" ng-repeat='submission in submissions'>
				<div ng-include src="'templates/submits/toptapsubmit.html'"></div>
	    	</div>
	    </div>
	    <div class='col-sm-6 col-md-4 hidden-xs'>
			<div ng-if='third_third($index)' ng-mouseenter='submission.hovering = true' ng-mouseleave='submission.hovering = false' class="contest-box row" ng-repeat='submission in submissions'>
				<div ng-include src="'templates/submits/toptapsubmit.html'"></div>
			</div>
	    </div>
	    <div class='col-xs-12 visible-xs'>
	    	<div class="contest-box row" ng-repeat='submission in submissions'>
				<div ng-include src="'templates/submits/toptapsubmit.html'"></div>
	    	</div>
	    </div>
	</div>
</div>
<script type='text/javascript' src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5751c5addc1cc557"></script>
<script>
$('#myModalnew').on('show.bs.modal', function () {
	$('.container').addClass('blur');
})

$('#myModalnew').on('hide.bs.modal', function () {
	$('.container').removeClass('blur');
})
</script>
<script>
fbq('track', 'PageView');
window.Intercom('update');
</script>
<script type="text/javascript">
var addthis_config = addthis_config || {};
addthis_config.data_track_addressbar = false;
addthis_config.data_track_clickback = false;
addthis_share = {
	 passthrough: {
			 twitter: {
					 via: "TheRealTappyn"
			 }
	 }
}
</script>
<style>
.modal-open {
  overflow:auto;
}
.blur {
		-webkit-filter: blur(5px) grayscale(20%);
}
.modal-backdrop {
	background-color: #fff;
	opacity: 0.5;
}
@media (min-width: 768px)
.modal-content {
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,.5);
	box-shadow: 0 1px 5px rgba(0,0,0,.5);
}
.modal-header {
		border-left: 1px solid #ccc;
		border-top: 1px solid #ccc;
		border-right: 1px solid #ccc;
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
}
.modal-body {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
}

.modal-content {
		background-color: #f4f7f9;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
}

.modal-dialog {
		color: #526880;
}

.modal-footer {
	 border-top: none;
	 border-left: 1px solid #ccc;
	 border-right: 1px solid #ccc;
	 border-bottom-left-radius: 6px;
	 border-bottom-right-radius: 6px;
	 border-bottom: 1px solid #ccc;
	 padding-bottom: 10px;
	 padding-right:10px;
	 padding-top:30px;
}
</style>
