<div class='container-fluid'>
    <div class='row'>
    	<section class="testimonials">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <div class="hero-content row">
                    <h1 class='text-left' style='font-size:50;margin-bottom:35px;'>An ad your audience will love,<br>Guaranteed</h1>
                   	<div class='text-center'><a class='btn btn-wj btn-lg' style='padding-left: 50px;padding-right: 50px' href="/launch">Get Started Now</a></div>
                </div>
            </div>
        </section>
        <section class="how-it-works" style='padding-bottom:20px;'>
            <div class="row">
                <div class='col-sm-10 col-sm-offset-1'>
                    <h2 style='color:#333;font-size:30;text-align:center;'><strong>Connect with your audience, see incredible results.</strong></h2>
                    <h2 style='color:#333;font-size:22;text-align:center;'>Our userbase competes and votes to give you the best ad. You pick your favorite.</h2>
                </div>
                <div class='col-sm-2 col-sm-offset-1'>
                    <img class='img-responsive' src="public/img/for_1.jpg">
                </div>
                <div class='col-sm-2'>
                <img class='img-responsive' src="public/img/for_2.jpg">
                </div>
                <div class='col-sm-2'>
                    <img class='img-responsive' src="public/img/for_3.jpg">
                </div>
                <div class='col-sm-2'>
                    <img class='img-responsive' src="public/img/for_4.jpg">
                </div>
                <div class='col-sm-2'>
                    <img class='img-responsive' src="public/img/for_5.jpg">
                </div>
            </div>
        </section>
        <section class="how-it-works">
            <div class="row">
                <h2 style='color:#333;font-size:35;text-align:center;'><strong>How It Works</strong></h2>
                <div class="features-box">
                    <div class='col-sm-10 col-sm-offset-1'>  
                        <div class="col-xs-12 col-sm-4">
                            <img width='200px' height='125px;' src="public/img/advertising1.png">
                            <h3>Create</h3>
                            <p>Easily create and launch a contest. Select your media type and target audience interest.</p>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <img width='200px' height='125px;' src="public/img/advertising2.png">
                            <h3>Connect</h3>
                            <p>Instantly connect with 1000's of creative people eager to engage and create relative ad content for your brand.</p>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <img width='200px' height='125px;' src="public/img/advertising3.png">
                            <h3>Choose</h3>
                            <p>Choose your winning ad from 30 unique submissions and put your user-generated content to work.</p>
                        </div>
                        <div class='col-xs-12 text-center' style='margin-top:10px;'><a class='btn btn-wj btn-lg' style='padding-left: 50px;padding-right: 50px' href="/launch">Get Started Now</a></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="contests" style='padding-top:0px;height:auto;'>
    		<div class='row content-padding'>
    	        <div class='col-xs-12 col-sm-10 col-sm-offset-1'>
    	        	  <div class='col-sm-4 col-xs-12 text-center'>
    	           		<h3 style='color:#333;font-weight: 300;'>"It's very frustrating to create compelling ad content. Tappyn made it easy while also providing exposure to our brand."</h3>
    	           		<h4>- ManPacks</h4>
    	            </div>
    	            <div class='col-sm-4 col-xs-12 text-center' style='color:#333;'>
    	            	<h3 style='color:#333;font-weight: 300;'>"Tappyn allowed us to create a highly effective Facebook Ad with content that really fit our customer demographic."</h3>
    	            	<h4>- IHS Digital</h4>
    	            </div>
    	            <div class='col-sm-4 col-xs-12 text-center'>
    	           		<h3 style='color:#333;font-weight: 300;'>"Tappyn took the guess work out of creating relatable content. We feel a lot more confident expanding our digital marketing with user-generated content."</h3>
    	           		<h4>- Evolve</h4>
    	            </div>
    	    	</div>
    	    </div>
    	</section>
        <section class="how-it-works" style='padding-top: 15px;padding-bottom: 15px;'>
            <div class="row">
                <div class='col-sm-10 col-sm-offset-1'>   
                    <div class='col-xs-12 col-sm-6 text-center' style='border-right:2px solid #333;'>
                        <h3><strong>Pricing</strong></h3>   
                        <h3 class='text-left' style='font-weight:300'>All Contests $99 (beta offer)</h4>
                        <ul class='text-left'>
                            <li>Text Only Contest</li>
                            <li>Text & Photo Contest</li>
                        </ul>
                    </div>
                    <div class='col-xs-12 col-sm-6'>
                        <h3 class='text-center'><strong>What You Get</strong></h3>
                        <ul class='text-left'>
                            <li>A winning ad chosen from 30 user-generated submissions formatted specifically for Facebook, Twitter, Instagram, or Google</li>
                            <li>Increased brand exposure to your target audience, tracked through your Tappyn Dashboard</li>
                        </ul>
                    </div> 
                </div>              
            </div>
        </section>
    	<section class="contests" style='padding-top:0px;height:auto;'>
    		<div class='row content-padding text-center'>
    	        <div class='col-xs-12 col-sm-10 col-sm-offset-1'>
    	        	<h2 style='color:#333;font-size:30;'>Talk to a human</h2>
    	            <div style='color:#333;'>
    	            	<p>Questions? We're always here to help.</p>
        	            <div class='col-xs-12 text-center'>
        	            	<a href='/contact_us' class='btn btn-oj'>Contact Us</a>
        	            </div>
    	    	    </div>
                </div>
    	    </div>
    	</section>
    </div>
</div>

<script>
fbq('track', 'PageView');
window.Intercom('update');

$(".get_started").click(function(){
    ga('send', {
        hitType: 'event',
        eventCategory: 'Company Click',
        eventAction: 'Company Launch',
        eventLabel: 'Company clicked to launch'
    });
});
</script>