<div class='row'>
	<section class="hero-banner" style='height:250px;'>
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <div class="hero-content">
                <h1 class='text-center' style='margin-bottom:35px;'>Get an ad your audience loves.</h1>
                <div class='col-xs-4'>
                	<p class='text-center' style='color:#fff;'>50 upvoted ads from your target audience</p>
                </div>
                <div class='col-xs-4'>
                	<p class='text-center' style='color:#fff;'>$99 Flat Price</p>
                </div>	
                <div class='col-xs-4'>
                	<p class='text-center' style='color:#fff;'>100% Money Back Guarantee</p>
                </div>
               	<div class='col-xs-12 text-center' style='margin-top:10px;'><a class='btn btn-oj btn-lg' style='padding-left: 50px;padding-right: 50px' href="#/launch">Get Started Now</a></div>
            </div>
        </div>
        <div class="overlay"></div>
    </section>
    <section class="how-it-works">
        <div class="row">
            <h2 style='color:#333;font-size:30;text-align:center;'>Advertising Made Easy.</h2>
            <div class="features-box">
                <div class="col-xs-12 col-sm-4">
                    <img width='150px' height='125px;' src="public/img/advertising1.png">
                    <h3>Tell us what you need</h3>
                    <p>Fill in our ad brief, pick your audience, and tell us what kind of ad you are looking for.</p>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <img width='150px' height='125px;' src="public/img/advertising2.png">
                    <h3>Get dozens of ads and votes</h3>
                    <p>Members of your target audience read about your company, submit ads to your contest, and upvote their favorites.</p>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <img width='150px' height='125px;' src="public/img/advertising3.png">
                    <h3>Pick your favorite</h3>
                    <p>When the contest closes, pick the ad you and your audience love the most. The copyright is then transferred to you.</p>
                </div>
            </div>
        </div>
    </section>
	<section class="contests" style='padding-top:0px;height:auto;'>
		<div class='row content-padding'>
	        <div class='col-xs-12 col-sm-10 col-sm-offset-1'>
	        	<h2 style='color:#333;font-size:30;text-align:center;'>Our Tappyn Community</h2>
	            <div class='col-sm-4 col-xs-12 text-left'>
	            	<h3 style='color:ff5c00;font-weight:300;'>Large</h3>
	            	<h4>Over 1,000 users and growing exponentially</h4>
	            	<h3 style='color:ff5c00;font-weight:300;'>Diverse</h3>
	            	<h4>100+ Interests</h4>
	            	<h3 style='color:ff5c00;font-weight:300;'>Responsive</h3>
	            	<h4>Guaranteed 50 ads per contest</h4>
	            </div>
	            <div class='col-sm-4 col-xs-12'>                           
	               	<img style='margin-top:15px;' src='public/img/admap.png' class='img-responsive'> 
	            </div> 
	            <div class='row'>       
		            <div class='col-sm-4 col-xs-12'>
		                <div class='col-xs-6 text-center'>
		                	<div class='tappyn-bars' style='height:350px; width:80px;margin:auto;'>
			                	<h3>Gender</h3>
			                	<div style='border-top-left-radius:5px;border-top-right-radius:5px;width:100%;height:42%;background: #b34000;padding-top:30px;'>
			                		<p style='color:#fff;'>42%</p>
			                		<p style='color:#fff;'>Male</p>
			                	</div>
			                	<div style='border-bottom-left-radius:5px;border-bottom-right-radius:5px;width:100%;height:58%;background:#cc4a00;padding-top:35px;'>
			                		<p style='color:#fff;'>58%</p>
			                		<p style='color:#fff;'>Female</p>
			                	</div>
		               		</div>
		                </div>
		                <div class='col-xs-6 text-center'>
		                	<div class='tappyn-bars' style='border:5px;height:350px; width:80px;margin:auto;'>
			                	<h3>Age</h3>
			                	<div style='border-top-left-radius:5px;border-top-right-radius:5px;width:100%;height:39%;background: #b34000;padding-top:25px;'>
			                		<p style='color:#fff;'>39%</p>
			                		<p style='color:#fff;'>18-24</p>
			                	</div>
			                	<div style='width:100%;height:31%;background:#cc4a00;padding-top:10px;'>
			                		<p style='color:#fff;'>31%</p>
			                		<p style='color:#fff;'>25-34</p>
			                	</div>
			                	<div style='width:100%;height:21%;background:#e65300;padding-top:5px;'>
			                		<p style='color:#fff;'>21%</p>
			                		<p style='color:#fff;'>35-44</p>
			                	</div>
			                	<div style='border-bottom-left-radius:5px;border-bottom-right-radius:5px;width:100%;height:10%;background:#ff5c00;padding-top:2px;'>
			                		<p style='color:#fff;'>10% 45-54</p>
			                	</div>
		                	</div>
		                </div>
		            </div>
	            </div>
	    	</div>
	    	<div class='col-xs-12 text-center' style='margin-top:50px;'>
	    		<a href='#/launch' class='btn btn-oj btn-lg'>Get started now</a>
	    	</div>
	    </div>
	</section>
</div>

<script>
fbq('track', 'PageView');
window.Intercom('update');
</script>