<div class='container-fluid'>
    <div class='row'>
    	<section class="testimonials">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <div class="hero-content row">
                    <div class='col-xs-12'><h1 class='text-left' style='font-size:50;margin-bottom:35px;'>An ad your audience will love,<br>Guaranteed</h1></div>
                    <div class='col-xs-6 text-left' style='color:#fff;'>
                        <p>Ask your audience to create and vote on digital ads for your business.</p>
                        <p><span class='glyphicon glyphicon-ok'></span> 3,245 ads created.</p>
                        <p><span class='glyphicon glyphicon-ok'></span> An ad you love or your money back.</p>
                    </div>
                    <div class='col-xs-6'>
                   	    <div class='text-center'><a class='btn btn-wj btn-lg' style='padding-left: 50px;padding-right: 50px' href="/launch">Get Started Now</a></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="how-it-works" style='padding-bottom:20px;'>
            <div class="row">
                <div class='col-sm-10 col-sm-offset-1'>
                    <h2 style='color:#333;font-size:30;text-align:center;'><strong>Connect with your audience, see incredible results.</strong></h2>
                    <h2 style='color:#333;font-size:22;text-align:center;'>Our userbase competes and votes to give you the best ad. You pick your favorite.</h2>
                </div>
                <div class='col-sm-2 col-sm-offset-1'>
                <img class='img-responsive' src="public/img/for_1.png">
                </div>
                <div class='col-sm-2'>
                    <img class='img-responsive' src="public/img/for_2.png">
                </div>
                <div class='col-sm-2'>
                    <img class='img-responsive' src="public/img/for_3.png">
                </div>
                <div class='col-sm-2'>
                    <img class='img-responsive' src="public/img/for_4.png">
                </div>
                <div class='col-sm-2'>
                    <img class='img-responsive' src="public/img/for_5.png">
                </div>
            </div>
        </section>
        <section class="how-it-works">
            <div class="row">
                <h2 style='color:#333;font-size:35;text-align:center;'><strong>How It Works</strong></h2>
                <div class="features-box">
                    <div class='col-sm-10 col-sm-offset-1'>  
                        <div class="col-xs-12 col-sm-4">
                            <img width='200px' height='125px;' src="public/img/advertising1.png">
                            <h3>Create</h3>
                            <p>Easily create and launch a contest. Select your media type and target audience interest.</p>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <img width='200px' height='125px;' src="public/img/advertising2.png">
                            <h3>Connect</h3>
                            <p>Instantly connect with 1000's of creative people eager to engage and create relative ad content for your brand.</p>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <img width='200px' height='125px;' src="public/img/advertising3.png">
                            <h3>Choose</h3>
                            <p>Choose your winning ad from 30 unique submissions and put your user-generated content to work.</p>
                        </div>
                        <div class='col-xs-12 text-center' style='margin-top:10px;'><a class='btn btn-wj btn-lg' style='padding-left: 50px;padding-right: 50px' href="/launch">Get Started Now</a></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="contests" style='padding-top:0px;height:auto;'>
    		<div class='row content-padding'>
    	        <div class='col-xs-12 col-sm-10 col-sm-offset-1'>
    	        	  <div class='col-sm-4 col-xs-12 text-center'>
    	           		<h3 style='color:#333;font-weight: 300;'>"86% percent of millennials say that user-generated content is generally a good indicator of the quality of a brand or service."</h3>
    	           		<h4>- Bazaarvoice</h4>
    	            </div>
    	            <div class='col-sm-4 col-xs-12 text-center' style='color:#333;'>
    	            	<h3 style='color:#333;font-weight: 300;'>"Marketers that launch social advertising campaigns with consumer generated photos have seen up to a 50% increase in CTR over brand images, leading to a 5x return in advertising spend."</h3>
    	            	<h4>- Olapic</h4>
    	            </div>
    	            <div class='col-sm-4 col-xs-12 text-center'>
    	           		<h3 style='color:#333;font-weight: 300;'>"User-generated content offers a rich new storytelling opportunity for marketers to tell their brand story and build a trusted relationship with customers."</h3>
    	           		<h4>- Foresters</h4>
    	            </div>
    	    	</div>
    	    </div>
    	</section>
        <section class="how-it-works" style='padding-top: 15px;padding-bottom: 15px;'>
            <div class="row">
                <div class='col-sm-10 col-sm-offset-1'>   
                    <div class='col-xs-12 col-sm-6 text-center' style='border-right:2px solid #333;'>
                        <h3>Choose where you want to advertise</h3>
                        <p><span style='color:#ff5c00;' class='glyphicon glyphicon-ok'></span> Facebook</p>
                        <p><span style='color:#ff5c00;' class='glyphicon glyphicon-ok'></span> Instagram</p>
                        <p><span style='color:#ff5c00;' class='glyphicon glyphicon-ok'></span> Twitter</p>
                    </div>
                    <div class='col-xs-12 col-sm-6 text-center'>
                        <h3>Connect with your audience</h3>
                        <p><span style='color:#ff5c00;' class='glyphicon glyphicon-ok'></span> 1,000+ Target Audience Impressions</p>
                        <p><span style='color:#ff5c00;' class='glyphicon glyphicon-ok'></span> 30 Ads Per Contest</p>
                        <p><span style='color:#ff5c00;' class='glyphicon glyphicon-ok'></span> $99 Flat Fee</p>
                    </div> 
                </div>              
            </div>
        </section>
    	<section class="contests" style='padding-top:0px;height:auto;'>
    		<div class='row content-padding text-center'>
    	        <div class='col-xs-12 col-sm-10 col-sm-offset-1'>
    	        	<h2 style='color:#333;font-size:30;'>Talk to a human</h2>
    	            <div style='color:#333;'>
    	            	<p>Questions? We're always here to help.</p>
        	            <div class='col-xs-12 text-center'>
        	            	<a href='/contact_us' class='btn btn-oj'>Contact Us</a>
        	            </div>
    	    	    </div>
                </div>
    	    </div>
    	</section>
    </div>
</div>

<script>
fbq('track', 'PageView');
window.Intercom('update');

$(".get_started").click(function(){
    ga('send', {
        hitType: 'event',
        eventCategory: 'Company Click',
        eventAction: 'Company Launch',
        eventLabel: 'Company clicked to launch'
    });
});
</script>