<div class='container-fluid'>
<!-- Hero Banner -->
    <section class="testimonials">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <div class="row">
                    <div class="hero-content">
                        <div class='col-xs-12 text-left'>
                            <h1 style='font-size:50;margin-bottom:0px;margin-top:50px;'>Tell a story. Build a career.</h1>
                            <h3 class="hidden-xs" style='color:#fff;margin-top:5px !important;width:60%;'>Join the first creative marketplace<br>that helps you create relatable content.</h3>
                               <div class='text-left'>
                            <a ng-hide='user.type != "member"' class='btn btn-wj btn-lg' style='margin-top:15px;padding-left: 50px;padding-right: 50px' href='/contests'><strong>Join Tappyn</strong></a>
                            <a ng-show='!user' class='btn btn-wj btn-lg' style='margin-top:15px;padding-left: 50px;padding-right: 50px' ng-click='open_register("default", "", "2")'><strong>Join Tappyn</strong></a>
                            <a ng-show='user.type == "company"' class='btn btn-wj btn-lg' style='margin-top:15px;padding-left: 50px;padding-right: 50px' href="/dashboard"><strong>Join Tappyn</strong></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="how-it-works">
        <div class="row">
            <div class='container'>
                <div class='col-sm-8 col-sm-offset-2 col-xs-12'><h2 style='color:#333;font-size:25;text-align:center;margin-top:40px;line-height:130%;'>People can't connect with ads today.<br/>They're inauthentic. They're intrusive. They're annoying.<br/>Tappyn is a place to write and sell ads for people like you.</h2></div>
                <div class="col-xs-12">
                    <div class="col-xs-12 col-sm-3">
                      <center>
                      <img src="https://s3-us-west-2.amazonaws.com/tappyn/feathericon.jpg" class="img-responsive" style="width:100px;height:75px;margin-top: 50px;">
                      </center>
                        <h3 class='text-center' style='color:#333;'>Develop valuable skills.</h3>
                        <p align="center">Turn your creative skills up a level by writing ads for big names and startups across a variety of industries. They'll even test some of your ads, so you can better your writing skills.</p>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                      <center>
                      <img src="https://s3-us-west-2.amazonaws.com/tappyn/Portfolio_Icon.jpg" class="img-responsive" style="width:100px;height:75px;margin-top: 50px;">
                      </center>
                        <h3 class='text-center' style='color:#333;'>Build your portfolio.</h3>
                        <p align="center">Start your creative career by building a resume of written work. No experience required. (It's even preferred!)</p>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                      <center>
                      <img src="https://s3-us-west-2.amazonaws.com/tappyn/Clientele_Icon.jpg" class="img-responsive" style="width:100px;height:75px;margin-top: 50px;">
                      </center>
                        <h3 class='text-center' style='color:#333;'>Earn from brands.</h3>
                        <p align="center">When you write ads on Tappyn, everything can be purchased or 'Tapped' by a business for $20-$50 cash. Ads are only a sentence or two, so it's objectively the easiest way opportunity to earn cash in history.</p>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                      <center>
                      <img src="https://s3-us-west-2.amazonaws.com/tappyn/Community_Icon.jpg" class="img-responsive" style="width:100px;height:75px;margin-top: 50px;">
                      </center>
                        <h3 class='text-center' style='color:#333;'>Share with our community.</h3>
                        <p align="center">Communicate with people like you all over the world. You'll be surprised by how many people can relate to what you have to say.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
     <section class="love-raw">
        <div class='container'>
            <div class="row">
                <h2 style='font-size:25;font-weight:bold;margin-bottom:20px;line-height:130%;' class='text-left'>No experience required. <br/>Don't take our word for it, take theirs.</h3>
                  <div class='col-sm-3 col-xs-12 text-center'>
                         <div class='testi-back'>
                           <center><img src="https://s3-us-west-2.amazonaws.com/tappyn/hptesti1.jpg" class="img-responsive"></center>
                         </div>
                     </div>
                     <div class='col-sm-3 col-xs-12 text-center'>
                         <div class='testi-back'>
                           <center><img src="https://s3-us-west-2.amazonaws.com/tappyn/hptesti2.jpg" class="img-responsive"></center>
                         </div>
                     </div>
                     <div class='col-sm-3 col-xs-12 text-center'>
                     <div class='testi-back'>
                           <center><img src="https://s3-us-west-2.amazonaws.com/tappyn/hptesti3.jpg" class="img-responsive"></center>
                         </div>
                   </div>
                   <div class='col-sm-3 col-xs-12 text-center'>
                   <div class='testi-back'>
                         <center><img src="https://s3-us-west-2.amazonaws.com/tappyn/hptesti4.jpg" class="img-responsive"></center>
                       </div>
                    </div>
                <div class="col-xs-12 text-center" style="padding:20px 0 10px 0;">
                  <p class="text-left" style="font-size:12px;"><small>*Percentage values represent the Click Through Rate (CTR)<br>that each ad has generated.</small></p>
                  <a ng-hide='user.type != "member"' class='btn btn-wj btn-lg' style='margin-top:15px;padding-left: 50px;padding-right: 50px' href='/contests'><strong>Get Started Now</strong></a>
                  <a ng-show='!user' class='btn btn-wj btn-lg' style='margin-top:15px;padding-left: 50px;padding-right: 50px' ng-click='open_register("default", "", "2")'><strong>Get Started Now</strong></a>
                  <a ng-show='user.type == "company"' class='btn btn-wj btn-lg' style='margin-top:15px;padding-left: 50px;padding-right: 50px' href="/dashboard"><strong>Get Started Now</strong></a>
                </div>
            </div>
        </div>
    </section>
    <section class="how-it-works">
        <div class="row">
            <div class='container'>
                <h2 style='font-size:25;font-weight:bold;text-align:center;padding-bottom:25px;'>How It Works</h2>
                <div class="col-xs-12 col-sm-3 text-center">
                    <img width='250px' height='175px;' src="public/img/works1.png">
                    <h3 class='text-center' style='font-weight:500;color:#333'>Explore</h3>
                    <p class='text-center'>Tell us a little about yourself and we'll find businesses we think you'll like. Read their brief, and see what their product means to you.</p>
                </div>
                <div class="col-xs-12 col-sm-3 text-center">
                    <img width='250px' height='175px;' src="public/img/works3.png">
                    <h3 class='text-center' style='font-weight:500;color:#333'>Create</h3>
                    <p class='text-center'>Chime in with original content based on your personal experiences.</p>
                </div>
                <div class="col-xs-12 col-sm-3 text-center">
                    <img width='250px' height='175px;' src="public/img/works5.png">
                    <h3 class='text-center' style='font-weight:500;color:#333'>Share</h3>
                    <p class='text-center'>Send your best ads to your friends, so they'll like your work. The more likes you get, the more likely your ad is going to get 'Tapped'.</p>
                </div>
                <div class="col-xs-12 col-sm-3 text-center">
                    <img width='250px' height='175px;' src="public/img/works4.png">
                    <h3 class='text-center' style='font-weight:500;color:#333'>Earn</h3>
                    <p class='text-center'>At the end of the campaign, we'll test the ads ourselves and businesses will 'Tapp' any ads they like for $20-$50 each.</p>
                </div>

            </div>
        </div>
    </section>
    <section class="love-raw">
        <div class="container content-padding">
            <div class='row'>
              <div class="col-xs-12 col-sm-4">
              <h2 style="color:#333;font-size:25;font-weight:bold;text-align:left;">Join now, brands are looking<br>for someone like you.</h2>
              <h4 style="color:#333;font-size:18;font-weight:bold;text-align:left;">Jumpstart your marketing career<br>by joining the Tappyn community<br>of amazing creatives.</h4>
                <div class="col-xs-12 text-center" style="margin-bottom:10px;">
                  <a ng-hide='user.type != "member"' class='btn btn-wj btn-lg' style='margin-top:15px;padding-left: 50px;padding-right: 50px' href='/contests'><strong>Join Tappyn</strong></a>
                  <a ng-show='!user' class='btn btn-wj btn-lg' style='margin-top:15px;padding-left: 50px;padding-right: 50px' ng-click='open_register("default", "", "2")'><strong>Join Tappyn</strong></a>
                  <a ng-show='user.type == "company"' class='btn btn-wj btn-lg' style='margin-top:15px;padding-left: 50px;padding-right: 50px' href="/dashboard"><strong>Join Tappyn</strong></a>
                </div>
              </div>
                <div class='col-xs-12 col-sm-8'>
              <img width='640px;' height='286px;' src="https://s3-us-west-2.amazonaws.com/tappyn/bino.jpg" class="img-responsive" style="border-radius:6px;float:right;">
                </div>
            </div>
        </div>
    </section>
    <section class="how-it-works" style='padding-top:0px;height:auto;'>
      <div class='row content-padding text-center'>
            <div class='col-xs-12 col-sm-4 col-sm-offset-2'>
              <img width='450px;' height='300px;' src="https://s3-us-west-2.amazonaws.com/tappyn/painting.jpg" class="img-responsive" style="border-radius:6px;">
            </div>
            <div class='col-xs-12 col-sm-4'>
              <h2 style='font-size:25;font-weight:bold;margin-bottom:40px;' class='text-left'>Questions?</h2>
              <h4 style='color:#333;font-weight:bold;font-size:18;' class='text-left'>The founders of Tappyn, Austin and Alek, are here to help make ads less annoying by letting you create the ads you want to see. Say goodbye to generic ads and say hello to messages that matter. Check out our <a href="https://tappyn.com/faq">FAQ</a>, send us an
<a href="mailto:squad@tappyn.com?Subject=Hey%20there!" target="_top">email</a>, or fill out our <a href="https://tappyn.com/contact_us">Contact Us</a> form.</h4>
            </div>
            <div class='col-xs-12 col-sm-4'>
              <h4 style='color:#333;font-weight:bold;font-size:18;' class='text-left'>P.S. - The photo to the left has no connection to customer service whatsoever. We're just really into painting outside.</h4>
            </div>
      </div>
    </section>
</div>
 <script>
fbq('track', 'PageView');
window.Intercom('update');
ga('set', 'contentGroup1', '<Homepage>');
ga('send', 'pageview');
</script>
<style>
#img_container {
    position:relative;
    display:inline-block;
    text-align:center;
    border:1px solid red;
}
.img-button {
    position:absolute;
    bottom:10px;
    right:10px;
    height:30px;
}
</style>
