<div class='container-fluid'>
<!-- Hero Banner -->
    <section class="testimonials">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <div class="row">
                    <div class="hero-content">
                        <div class='col-xs-12 text-left'>
                            <h1 style='font-size:50;margin-bottom:35px;margin-top:50px;'>Make ads less annoying.</h1>
                            <h3 style='color:#fff;'>Create ads for the brands you love <br/> - and earn extra money.</h3>
                               <div class='text-left'>
                            <a class='btn btn-wj btn-lg hidden-xs' style='margin-top:15px;padding-left: 50px;padding-right: 50px' href='/contests'><strong>Join Tappyn</strong></a>
                            <a class='btn btn-wj btn-lg visible-xs' style='padding-left: 35px;padding-right: 35px' href='/contests'><strong>Join Tappyn</strong></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="how-it-works">
        <div class="row">
            <div class='container'>
                <div class='col-sm-8 col-sm-offset-2 col-xs-12'><h2 style='color:#333;font-size:25;text-align:center;'>People don't like ads.<br/>They're in-authentic. They're intrusive. They're generic.<br/>We're changing that.</h2></div>
                <div class="col-xs-12">
                    <div class="col-xs-12 col-sm-4">
                      <center>
                      <img src="https://s3-us-west-2.amazonaws.com/tappyn/money.jpg" class="img-responsive" style="width:100px;height:75px;margin-top: 50px;">
                      </center>
                        <h3 class='text-center' style='color:#333;'>Earn real cash.</h3>
                        <p align="center">When you create content on Tappyn, everything you create can be purchased by a brand for $85. With every campaign, at least 1 ad is being purchased, so someone is making money all the time.</p>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                      <center>
                      <img src="https://s3-us-west-2.amazonaws.com/tappyn/secondicon.jpg" class="img-responsive" style="width:100px;height:75px;margin-top: 50px;">
                      </center>
                        <h3 class='text-center' style='color:#333;'>Discover brands you'll love.</h3>
                        <p align="center">It’s easy to make money helping brands communicate their message. It’s even easier when you’re the person they are trying to connect with. With so many companies on Tappyn, there’s an opportunity at every turn.</p>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                      <center>
                      <img src="https://s3-us-west-2.amazonaws.com/tappyn/clock.jpg" class="img-responsive" style="width:100px;height:75px;margin-top: 50px;">
                      </center>
                        <h3 class='text-center' style='color:#333;'>Let us lead the way.</h3>
                        <p align="center">Just read the brief and start creating. Each entry will only take a few minutes to create, and only 30 entries are allowed per campaign. You’ll get helpful tips, tools to help you earn more, and 24/7 support. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
     <section class="love-raw">
        <div class='container'>
            <div class="row">
                <h2 style='font-size:30;font-weight:bold;margin-bottom:20px;' class='text-left'>No experience required. <br/>Don't take our word for it, take theirs.</h3>
                <div class='hidden-xs'>
                    <div class='col-sm-4' ng-if='$index < 3' ng-repeat='submission in submissions'>
                        <div class="contest-box row">
                            <div ng-include src="'templates/submits/toptapsubmit.html'"></div>
                        </div>
                    </div>
                </div>
                 <div class='visible-xs'>
                    <div class='col-xs-12' ng-repeat='submission in submissions' ng-if='$index < 5'>
                        <div class="contest-box row">
                            <div ng-include src="'templates/submits/toptapsubmit.html'"></div>
                        </div>
                    </div>
                </div>
                <div class='col-xs-12 text-center' style='margin-top:15px;'><a href='/contests' class='btn btn-oj btn-lg'>Get Started Now</a></div>
            </div>
        </div>
    </section>
    <section class="how-it-works">
        <div class="row">
            <div class='container'>
                <h2 style='font-size:30;text-align:center;'>Explore. Create. Earn.</h2>
                <div class="col-xs-12 col-sm-4 text-center">
                    <img width='250px' height='175px;' src="public/img/works1.png">
                    <h3 class='text-center' style='font-weight:500;color:#333'>Explore</h3>
                    <p class='text-left'>Companies are looking for people to communicate their message in an authentic, original way. Find the ones that are looking for you. </p>
                </div>
                <div class="col-xs-12 col-sm-4 text-center">
                    <img width='250px' height='175px;' src="public/img/works3.png">
                    <h3 class='text-center' style='font-weight:500;color:#333'>Create</h3>
                    <p class='text-left'>Chime in with original content, and share it with the community. It won't take more than 2 minutes, and entries are capped at 30 per campaign. The community decides what's hot.</p>
                </div>
                <div class="col-xs-12 col-sm-4 text-center">
                    <img width='250px' height='175px;' src="public/img/works4.png">
                    <h3 class='text-center' style='font-weight:500;color:#333'>Earn</h3>
                    <p class='text-left'>At the end of the campaign, the hosting company will select their favorite entry and purchase content for $85 cash. Not a bad ROI for a snapshot and a sentence.</p>
                </div>

            </div>
        </div>
    </section>
    <section class="love-raw">
        <div class="container">
            <div class='row'>
                <h2 style='color:#333;font-size:30;font-weight:bold;text-align:left;'>Join now, brands are looking for you.</h2>
                <h4 style='color:#333;font-size:18;font-weight:bold;text-align:left;'>Click on any campaign to get started!</h4>
                <div class='col-xs-12 col-sm-8 col-sm-offset-2'>
                    <div class='col-sm-4 col-xs-12' ng-if='$index < 5' ng-repeat='contest in contests'>
                        <div ng-include src="'templates/contests.html'"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
 <script>
fbq('track', 'PageView');
window.Intercom('update');
ga('set', 'contentGroup1', '<Homepage>');
ga('send', 'pageview');
</script>
