<div class='container-fluid'>
<!-- Hero Banner -->
    <section class="testimonials">
        <div class="col-xs-12 col-sm-8">
            <div class="row">
                    <div class="hero-content">
                        <div class="col-xs-12 col-sm-11 col-sm-offset-1 text-left">
                            <div class="col-xs-12 col-sm-7">
                            <h1 style='margin-top:50px;font-size:60;color:#019F6E;'>Keep customers coming back.</h1>
                        </div>
                        <!--<div class="col-xs-12 col-sm-7">
                            <h3 style='color:#333;font-size:16px;font-weight:400;padding-left:25px;line-height:1.6em;'>Find valuable feedback<br>through easy surveys.</h3>
                        </div>-->
                            <div class='col-xs-12 col-sm-6 col-sm-offset-2' style="padding-top:25px;">
                            <a ng-hide='user.type != "member"' class='btn btn-wj btn-lg' style='margin-top:15px;padding-left: 50px;padding-right: 50px' href='/contests'>Try Freshen</a>
                            <a ng-show='!user' class='btn btn-wj btn-lg' style='margin-top:15px;padding-left: 50px;padding-right: 50px' ng-click='open_register("default", "", "1")'>Try Freshen</a>
                            <a ng-show='user.type == "company"' class='btn btn-wj btn-lg' style='margin-top:15px;padding-left: 50px;padding-right: 50px' href="/dashboard">Try Freshen</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="how-it-works" style="padding-bottom:0px;">
        <div class="row">
            <div class='container'>
                <!--<div class='col-sm-8 col-sm-offset-2 col-xs-12'><h2 style='color:#333;font-size:18;text-align:center;margin-top:40px;line-height:1.6em;font-weight:600'>Businesses struggle to relate to their audience.<br/>They're looking for authenticity - and only you know where to find it.<br/>Fabel is a place where you can jumpstart your creative career by creating and selling short messages for people like you.</h2></div>-->
                <div class="col-xs-12">
                    <div class="col-xs-12 col-sm-3">
                      <center>
                      <img src="https://s3-us-west-2.amazonaws.com/tappyn/feathericon1.jpg" class="img-responsive" style="width:100px;height:75px;margin-top: 50px;" alt="Develop your skills while creating original ads.">
                      </center>
                        <h3 class='text-center' style='color:#333;font-weight:600;font-size:18px;line-height:1.6em;'>Reward your repeat customers.</h3>
                        <p align="center" style="font-weight:300;font-size:16px;line-height:1.6em;">Freshen's digital rewards program motivates customers to come back again and again.</p>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                      <center>
                      <img src="https://s3-us-west-2.amazonaws.com/tappyn/Portfolio_Icon1.jpg" class="img-responsive" style="width:100px;height:75px;margin-top: 50px;" alt="Add your ads to your portfolio.">
                      </center>
                        <h3 class='text-center' style='color:#333;font-weight:600;font-size:18px;line-height:1.6em;'>Customize for your business.</h3>
                        <p align="center" style="font-weight:300;font-size:16px;line-height:1.6em;">Offer stars based on customer visits or amount spent, and customize rewards so it works for you and your customers.</p>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                      <center>
                      <img src="https://s3-us-west-2.amazonaws.com/tappyn/Clientele_Icon1.jpg" class="img-responsive" style="width:100px;height:75px;margin-top: 50px;">
                      </center>
                        <h3 class='text-center' style='color:#333;font-weight:600;font-size:18px;line-height:1.6em;'>Just use your point of sale.</h3>
                        <p align="center" style="font-weight:300;font-size:16px;line-height:1.6em;">No extra equipment needed—customers can use our simple app to provide valuable feedback.</p>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                      <center>
                      <img src="https://s3-us-west-2.amazonaws.com/tappyn/Community_Icon1.jpg" class="img-responsive" style="width:100px;height:75px;margin-top: 50px;" alt="Share your ads with your community">
                      </center>
                        <h3 class='text-center' style='color:#333;font-weight:600;font-size:18px;line-height:1.6em;'>Measure the results.</h3>
                        <p align="center" style="font-weight:300;font-size:16px;line-height:1.6em;">Track key metrics and the impact on your bottom line.</p>
                    </div>
                </div>
            </div>
            <center>
                <hr class="style-two" style="color: #EBEFF2;width:75%;">
            </center>
        </div>
    </section>
     <section class="love-raw" style="background:#fff;">
        <div class='container'>
            <div class="row" style="padding-bottom:20px;">
                <h2 style='font-size:40;font-weight:600;margin-bottom:20px;line-height:1.6em;' class='text-left'>Meet the loyalty program<br/>your customers love.</h3>
                  <h3 style='color:#333;font-weight:600;font-size:18px;line-height:1.6em;' class='text-left'>Create a rewards program for your business<br>- in seconds.</h3>

                    <div class='col-xs-12 col-sm-10 col-sm-offset-1 text-center'>
                      <center>
                      <img style="max-width:400px;border-radius:4px;padding-bottom:15px;"src="https://s3.us-east-2.amazonaws.com/prosper-market/IMG_0220.jpg" class="img-responsive">
                    </center>
                      <p align="center" style="font-weight:300;font-size:16px;line-height:1.6em;">Build your loyalty program with Loyal for free and start rewarding customers that love your business.<br>They'll take pictures of your receipts on our app and you'll see in-store visits and average sales per visit skyrocket.</p>
                    </div>
            </div>
            <div class="row">

                <div class="col-xs-12 text-center">
                  <a ng-hide='user.type != "member"' class='btn btn-wj btn-lg' style='margin-top:15px;padding-left: 50px;padding-right: 50px' href='/contests'>Get Started Now</a>
                  <a ng-show='!user' class='btn btn-wj btn-lg' style='margin-top:15px;padding-left: 50px;padding-right: 50px' ng-click='open_register("default", "", "2")'>Get Started Now</a>
                  <a ng-show='user.type == "company"' class='btn btn-wj btn-lg' style='margin-top:15px;padding-left: 50px;padding-right: 50px' href="/dashboard">Get Started Now</a>
                </div>
            </div>
            <center>
                <hr class="style-two" style="color: #EBEFF2;width:75%;">
            </center>
        </div>
    </section>
    <section class="how-it-works">
        <div class="row">
            <div class='container'>
                <h2 style='font-size:40;font-weight:600;text-align:center;padding-bottom:15px;'>Get customers to come back and spend more.</h2>
                <h3 style='color:#333;font-weight:600;font-size:18px;line-height:1.6em;text-align:center;'>Tap on the rewards you'd like to offer and instantly keep track of all your customers and their purchases for one low rate.<br>Validate rewards when customers show them on their phone. That's it - no surprises, no fees.</h3>
                <div class="col-xs-12" style="padding-top:15px;">
                  <div class="col-xs-12">
                    <h4 style="text-align:center;font-size:48px;font-weight:600;">1.75%</h4>
                    <p style="text-align:center;font-size:14px;font-weight:400;">Per Receipt</p>
                  </div>
                <div class="col-xs-12 col-sm-6 text-center" style="padding-top:25px;">
                  <ul>
                    <li><p align="center" style="font-weight:300;font-size:16px;line-height:1.6em;">ROI reporting broken down by products and customer segments</p></li>
                    <li><p align="center" style="font-weight:300;font-size:16px;line-height:1.6em;">No commitments or contracts</p></li>
                    <li><p align="center" style="font-weight:300;font-size:16px;line-height:1.6em;">Customer targeting by age, gender, number of visits, and purchases</p></li>
                  </ul>
                </div>
                <div class="col-xs-12 col-sm-6 text-center" style="padding-top:25px;">
                  <ul>
                    <li><p align="center" style="font-weight:300;font-size:16px;line-height:1.6em;">No complex points system</p></li>
                    <li><p align="center" style="font-weight:300;font-size:16px;line-height:1.6em;">No monthly fees​</p></li>
                    <li><p align="center" style="font-weight:300;font-size:16px;line-height:1.6em;">Built to reach mobile walk-ins</p></li>
                  </ul>
                </div>
              </div>
            </div>
        </div>
        <center>
            <hr class="style-two" style="color: #EBEFF2;width:50%;">
        </center>
    </section>
    <section class="how-it-works">
        <div class="row">
            <div class='container'>
                <h2 style='font-size:40;font-weight:600;text-align:center;padding-bottom:15px;'>Start improving customer relationships with our free mobile app.</h2>
                <h3 style='color:#333;font-weight:600;font-size:18px;line-height:1.6em;text-align:center;'>Rewards is just the start.<br>The free Loyal app has tools to help you discover more people who love your business. </h3>

                <div class="col-xs-12 col-sm-3 text-center">
                    <img width='250px' height='175px;' src="public/img/works1.png">
                    <h3 class='text-center' style='font-weight:600;color:#333;font-size:18px;line-height:1.6em;'>Ratings Prompts</h3>
                    
                </div>
                <div class="col-xs-12 col-sm-3 text-center">
                    <img width='250px' height='175px;' src="public/img/works3.png">
                    <h3 class='text-center' style='font-weight:600;color:#333;font-size:18px;line-height:1.6em;'>Instant Surveys</h3>

                </div>
                <div class="col-xs-12 col-sm-3 text-center">
                    <img width='250px' height='175px;' src="public/img/works5.png">
                    <h3 class='text-center' style='font-weight:600;color:#333;font-size:18px;line-height:1.6em;'>Special Notes</h3>

                </div>
                <div class="col-xs-12 col-sm-3 text-center">
                    <img width='250px' height='175px;' src="public/img/works4.png">
                    <h3 class='text-center' style='font-weight:600;color:#333;font-size:18px;line-height:1.6em;'>Reporting</h3>

                </div>

            </div>
        </div>
        <center>
            <hr class="style-two" style="color: #EBEFF2;width:50%;">
        </center>
    </section>
    <section class="love-raw" style="background-color:#fff;">
        <div class="container content-padding">
            <div class='row'>
              <div class="col-xs-12 col-sm-6">
              <h2 style="color:#333;font-size:40;font-weight:600;text-align:left;line-height:1.6em;">Your customers are looking for a business like you.</h2>

                <div class="col-xs-12 text-center" style="margin-bottom:10px;">
                  <a ng-hide='user.type != "member"' class='btn btn-wj btn-lg' style='margin-top:15px;padding-left: 50px;padding-right: 50px' href='/contests'>Try It Free Today</a>
                  <a ng-show='!user' class='btn btn-wj btn-lg' style='margin-top:15px;padding-left: 50px;padding-right: 50px' ng-click='open_register("default", "", "2")'>Try It Free Today</a>
                  <a ng-show='user.type == "company"' class='btn btn-wj btn-lg' style='margin-top:15px;padding-left: 50px;padding-right: 50px' href="/dashboard">Try It Free Today</a>
                </div>
              </div>
                <div class='col-xs-12 col-sm-6'>
              <img src="https://s3-us-west-2.amazonaws.com/tappyn/bino.jpg" class="img-responsive" style="border-radius:6px;float:right;max-height:293px;" alt="Fabel helps businesses crowdsource ads directly from their audience">
                </div>
            </div>
        </div>
    </section>
</div>
 <script>
fbq('track', 'PageView');
window.Intercom('update');
ga('set', 'contentGroup1', '<Homepage>');
ga('send', 'pageview');
</script>
<style>
#img_container {
    position:relative;
    display:inline-block;
    text-align:center;
    border:1px solid red;
}
.img-button {
    position:absolute;
    bottom:10px;
    right:10px;
    height:30px;
}
</style>
