<div class='wrapper'>
	<div ng-show='adding_payment' class='modal_actions col-xs-12 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2'>
		<div class='panel'>
			<div class='panel-body'>
				<div class='row'>
					<div class='col-xs-12' style='border-bottom:1px solid #ff5c00;'>
						<h3 class='text-center'>Contest Payment</h3>
						<div class='close_circle' ng-click='close_payment()'>X</div>
					</div>
					<div class='col-xs-12 col-sm-6' style='border-right:1px solid #ff5c00;'>
						<h4 class='col-xs-12'><span class='pull-left'>{{contest.platform | capitalize}} Contest</span><span class='pull-right'>$99.99</span></h4>
						<h4 class='col-xs-12'><span class='pull-left'>{{contest.objective | capUnderscore}}</span><span class='pull-right'>$0.00</span></h4>
						<h4 class='col-xs-12'><span class='pull-left'>{{contest.display_type | capUnderscore}}</span><span class='pull-right'>$0.00</span></h4>	
						<h4 class='col-xs-12' ng-if='reduction'><span class='pull-left'>Voucher Discount</span><span class='pull-right'>-{{reducton | currency}}</span></h4>
						<div clas='col-xs-12'><hr style='border: 1px #ff6c00 solid'></div>
						<h4 class='col-xs-12'><span class='pull-right'>Total <strong>{{price | currency}}</strong></span></h4>
						<form class='form' ng-submit='use_voucher()'>
							<div class='form-group'><input class='form-control' ng-model='voucher_code' type='text' placeholder='Voucher Code'></div>
							<button class='btn btn-oj col-xs-12' type='submit'>Check Voucher</button>
						</form>
					</div>
					<div class='col-xs-12 col-sm-6 payment'>
						<div ng-show='price != 0.00'>	
							<div ng-show='!add_new'>	
								<div ng-show='payments.length > 0'>
									<div class='payment-method-container'>
										<div class='row'>
											<div ng-class='{"highlight_payment" : payment.id == passing_method}' class='col-xs-12 col-sm-4 col-sm-offset-4 payment-method-card' ng-repeat='payment in payments' ng-click='select_current(payment.id)'>
												<h5>
													<img height='20' ng-if='payment.brand == "Visa"' src="public/img/visa-card.gif" />
													<img height='20' ng-if='payment.brand == "MasterCard"' src="public/img/mastercard.gif" />
													<img height='20' ng-if='payment.brand == "American Express"' src="public/img/american-express.gif" />
													<img height='20' ng-if='payment.brand == "Discover"' src="public/img/discover-card.jpg" />
													&nbsp;&nbsp;&nbsp;********{{payment.last4}}
												</h5>
												<span><strong>Expires &nbsp;&nbsp;{{payment.exp_month}}/{{payment.exp_year}}</strong></span>
											</div>
										</div>
									</div>
								</div>
								<div class='alert alert-warning' ng-show='payments.length < 1'>You dont have any saved payment methods</div>
								<div class='text-right'><button class='btn btn-oj' ng-click='old_payment()'>Pay</button></div>
								<div class='text-center'>
									<button class='btn btn-oj' ng-click='add_new = true'>Add Payment Method</button>
								</div>
							</div>
							<div ng-show='add_new'>
								<div class='text-center' ng-show='payments.length > 0'>
									<button class='btn btn-oj' ng-click='add_new = false'>Use a saved method</button>
								</div>
								<form class='form' method="POST" id="payment-form">
									<div style='padding:0;' class='col-xs-12'>
									      	<input class='form-control' placeholder='Enter your Card Number' type="text" size="20" data-stripe="number"/>
									</div>
								    <div style='padding:0;' class='col-xs-12 col-sm-4'>
									  <div class="form-group">
										    <input class='form-control' placeholder='CVC' type="text" size="4" data-stripe="cvc"/>
									  </div>
								    </div>
								  	<div style='padding:0;' class='col-xs-12 col-sm-4'>
								      <div class="form-group">
								  	      	<select class='form-control' data-stripe="exp-month">
									            <option value='01'>01</option>
									            <option value='02'>02</option>
									            <option value='03'>03</option>
									            <option value='04'>04</option>
									            <option value='05'>05</option>
									            <option value='06'>06</option>
									            <option value='07'>07</option>
									            <option value='08'>08</option>
									            <option value='09'>09</option>
									            <option value='10'>10</option>
									            <option value='11'>11</option>
									            <option value='12'>12</option>
								          </select>
								      </div>
								    </div>
								    <div style='padding:0;' class='col-xs-12 col-sm-4'>
								    	<div class='form-group'>
								  	    	<select class='form-control' data-stripe="exp-year">
									             <option value='2016'>2016</option>
									             <option value='2017'>2017</option>
									             <option value='2018'>2018</option>
									             <option value='2019'>2019</option>
									             <option value='2020'>2020</option>
									             <option value='2021'>2021</option>
									             <option value='2022'>2022</option>
									             <option value='2023'>2023</option>
									             <option value='2024'>2024</option>
									             <option value='2025'>2025</option>
									             <option value='2026'>2026</option>
									             <option value='2027'>2027</option>
								        	</select>
								  	  	</div>
								  	</div>
									<input type='hidden' data-stripe='currency' value='usd'/>
									<div class="col-xs-6">
										<div class='form-group'>
											<label class='control-label'>Save Method
												<input type='checkbox' ng-model='save_method'>
											</label>
										</div>
									</div>
									<button style='margin-top:5px;' class='btn btn-oj col-xs-12 col-sm-6 col-sm-offset-3' ng-click='new_payment()'>Pay</button>
									<div class='col-xs-12 col-sm-6 col-sm-offset-3 text-center' style='margin-top:10px;'><img width='180px' height='50px' src='public/img/stripe.png'></div>
								</form>
							</div>
						</div>
						<div ng-show='price == 0.00' class='text-center'>
							<h3>No need for payment, this contest is on us!</h3>
							<button class='btn btn-oj' ng-click='voucher_payment()'>Continue</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class='modal_actions col-xs-12 col-sm-4 col-sm-offset-4' ng-show='company_login'>	
		<div class='col-xs-12 text-center' style='background-color:#fff;border-radius:3px;padding:10px;'>
			<div class='close_circle' ng-click='close_company_login()'>X</div>
			<img src="public/img/TappynLogo2.png" width='70' style='margin-bottom:5px;'>
		    <div ng-show='!forgot'>
		        <form class='form' ng-submit="launch_log_in(identity, password)">
		            <div class='form-group'>
		                <input class='form-control' ng-model='identity' placeholder='Email'>
		            </div>
		            <div class='form-group'>
		                <input class='form-control' ng-model='password' placeholder='Password' type='password'>
		            </div>
		          
		            <button class='col-xs-12 btn btn-oj btn-lg' type='submit'>Login</button>
		            <div class='modal_link'>
			            <a class='pull-right' ng-click='forgot = true'>Forgot Password?</a>
			        </div>
		        </form>
		    </div>
		    <form ng-show='forgot' class='form' ng-submit="forgot_pass(identity)">
		        <h3 class='text-center'>Forgot Password</h3>
		        <div class='form-group'>
		            <input class='form-control' ng-model='identity' placeholder="Enter your email">
		        </div>             
		        <button class='col-xs-12 btn btn-oj btn-lg' type='submit'>Send me an email</button>
		        <div class='modal_link'>
			        <a class='pull-right' ng-click='forgot = false'>I remember it!</a>
			    </div>
		    </form>
		</div>
	</div>
</div>
<div class='container'>
<div class='row' style='padding-top:10px;padding-bottom:10px;'>	
	<div class=' col-xs-12'>
		<div class='contest-box'>
			<div class='row'>
				<div class='col-xs-12 col-sm-10 col-sm-offset-1 text-center'>	
					<div ng-show='current.step == "package"'>
						<h2>Assemble your campaign</h2>
						<h4>Different kinds of campaigns lead to different kinds of submissions.</h4>
					</div>
					<div ng-show='current.step == "detail"'>
						<h2>Create your profile</h2>
						<h4>This is what our users will see about you - you'll only have to do this once.</h4>
					</div>
					<div ng-show='current.step == "preview"'>
						<h2>Campaign Preview</h2>
						<h4>This is how your campaign will look</h4>
					</div>
					<div ng-show='current.step == "done"'>
						<h2>All Finished</h2>
						<h4>Congratulations on making the best decision for your company since casual Friday!</h4>
					</div>
					<uib-progressbar value='current.fill' max='100' type="warning"></uib-progressbar>
				</div>
			</div>
		</div>
	</div>
</div>

<div class='row' style='padding-bottom: 15px;'>
	<div ng-show='current.step == "package"' id='package'>
		<div class='col-xs-12' ng-init='contest.platform = "facebook"'><h3 class='text-center'>Choose what type of ad you'd like.</h3></div>
		<div class='col-xs-12 col-sm-4' style='color:#ff6c00'>
			<div ng-class='{"package-highlight" : contest.platform == "facebook"}' class='contest-box launch-page-hover' ng-click='select_platform("facebook")'>
				<h3 class='text-center' style='border-bottom:1px solid #ff6c00;padding-bottom:3px;'>Facebook</h3>
				<div class='text-center'><img style='height:100px;padding-top:5px; padding-bottom:5px;' src='public/img/facebook_launch.png'></div>
			</div>
		</div>
		<div class='col-xs-12 col-sm-4' style='color:#ff6c00'>
			<div  ng-class='{"package-highlight" : contest.platform == "twitter"}'  class='contest-box launch-page-hover' ng-click='select_platform("twitter")'>
				<h3 class='text-center' style='border-bottom:1px solid #ff6c00;padding-bottom:3px;'>Twitter</h3>
				<div class='text-center'><img style='height:100px;padding-top:5px; padding-bottom:5px;' src='public/img/twitter_launch.png'></div>
			</div>
		</div>
		<div class='col-xs-12 col-sm-4' style='color:#ff6c00'>
			<div ng-class='{"package-highlight" : contest.platform == "instagram"}' class='contest-box launch-page-hover' ng-click='select_platform("instagram")'>
				<h3 class='text-center' style='border-bottom:1px solid #ff6c00;padding-bottom:3px;'>Instagram</h3>
				<div class='text-center'><img style='height:100px;padding-top:5px; padding-bottom:5px;' src='public/img/insta_launch.png'></div>
			</div>
		</div>
		<hr style='border-color:#ff6c00'>
		<div class='col-xs-12'><h3 class='text-center'>Choose your ad objective.</h3></div>
		<div ng-show='contest.platform=="facebook" || contest.platform == "instagram"' style='color:#ff6c00'>
			<div class='col-xs-12 col-sm-4'>
				<div ng-class='{"package-highlight" : contest.objective == "clicks_to_website"}' class='contest-box launch-page-hover' ng-click='select_objective("clicks_to_website")'>
					<h3 style='border-bottom:1px solid #ff6c00;padding-bottom:3px;' class='text-center'>Send People to Your Website</h3>
					<div class='text-center'><img style='height:100px;padding-top:5px; padding-bottom:5px;' class='text-center' src='public/img/ctw_launch.png'></div>
					<div>
						Reach people who are likely to click on your ad and visit your website.
					</div>
				</div>
			</div>
			<div class='col-xs-12 col-sm-4'>
				<div ng-class='{"package-highlight" : contest.objective == "conversions"}' class='contest-box launch-page-hover' ng-click='select_objective("conversions")'>
					<h3 style='border-bottom:1px solid #ff6c00;padding-bottom:3px;' class='text-center'>Increase Website Conversions</h3>
					<div class='text-center'><img style='height:100px;padding-top:5px; padding-bottom:5px;' src='public/img/conversions_launch.png'></div>
					<div>
						Reach people in your audience who are likely to convert on your website.
					</div>
				</div>
			</div>
			<div class='col-xs-12 col-sm-4'>
				<div ng-class='{"package-highlight" : contest.objective == "engagement"}' class='contest-box launch-page-hover' ng-click='select_objective("engagement")'>
					<h3 style='border-bottom:1px solid #ff6c00;padding-bottom:3px;' class='text-center'>Boost your Posts</h3>
					<div class='text-center'><img style='height:100px;padding-top:5px; padding-bottom:5px;' src='public/img/boost_launch.png'></div>
					<div>
						Increase engagement on your post and get people seeing, liking, commenting on and sharing your Page content.
					</div>
				</div>
			</div>
		</div>
		<div ng-show='contest.platform=="twitter"' style='color:#ff6c00'>
			<div class='col-xs-12 col-sm-4'>
				<div ng-class='{"package-highlight" : contest.objective == "site_clicks_conversions"}' class='contest-box launch-page-hover' ng-click='select_objective("site_clicks_conversions")'>
					<h3 style='border-bottom:1px solid #ff6c00;padding-bottom:3px;' class='text-center'>Website Clicks / Conversions</h3>
					<div class='text-center'><img style='height:100px;padding-top:5px; padding-bottom:5px;' src='public/img/convert_twitter.png'></div>
					<div>
						Grow your site traffic, increase online purchases or connect with high quality leads.
					</div>
				</div>
			</div>
			<div class='col-xs-12 col-sm-4'>
				<div ng-class='{"package-highlight" : contest.objective == "followers"}' class='contest-box launch-page-hover' ng-click='select_objective("followers")'>
					<h3 style='border-bottom:1px solid #ff6c00;padding-bottom:3px;' class='text-center'>Gain Followers</h3>
					<div class='text-center'><img style='height:100px;padding-top:5px; padding-bottom:5px;' src='public/img/followers_launch.png'></div>
					<div>
						Grow an interested audience with which you can engage with over time.
					</div>
				</div>
			</div>
			<div class='col-xs-12 col-sm-4'>
				<div ng-class='{"package-highlight" : contest.objective == "engagement"}' class='contest-box launch-page-hover' ng-click='select_objective("engagement")'>
					<h3 style='border-bottom:1px solid #ff6c00;padding-bottom:3px;' class='text-center'>Tweet Engagements</h3>
					<div class='text-center'><img style='height:100px;padding-top:5px; padding-bottom:5px;' src='public/img/tweet_engage.png'></div>
					<div>
						Reach a large targeted group of people, place your best content in fromt of the audience that matters to you.
					</div>
				</div>
			</div>
		</div>
		<hr style='border-color:#ff6c00'>
		<div class='col-xs-12'><h3 class='text-center'>Choose your audience.</h3></div>
		<div class='col-xs-12'>
			<div class='contest-box row'>
				<div class='col-sm-4 col-xs-12'>
					<h4 class='text-center'>Age <img uib-tooltip="The age group you'd like to target" height='10px' width='10px' src='public/img/tooltip.png'></h4>
					<div class='btn-group-sm' data-toggle="buttons" ng-init='contest.age = 0'>
						<label class="btn" ng-class='{"btn-oj" : contest.age == 0, "btn-outliner" : contest.age != 0}'>
							<input type='radio' ng-model='contest.age' value='0'>All Ages
						</label>
						<label class="btn" ng-class='{"btn-oj" : contest.age == 1, "btn-outliner" : contest.age != 1}'>
							<input type='radio' ng-model='contest.age' value='1'> 18-24
						</label>
						<label class="btn" ng-class='{"btn-oj" : contest.age == 2, "btn-outliner" : contest.age != 2}'>
							<input type='radio' ng-model='contest.age' value='2'> 25-34
						</label>
						<label class="btn" ng-class='{"btn-oj" : contest.age == 3, "btn-outliner" : contest.age != 3}'>
							<input type='radio' ng-model='contest.age' value='3'> 35-44
						</label>
						<label class="btn" ng-class='{"btn-oj" : contest.age == 4, "btn-outliner" : contest.age != 4}'>
							<input type='radio' ng-model='contest.age' value='4'> 45+
						</label>
					</div>

					<!--<div class='col-xs-5'>
						<div class='form-group'>
							<select class='form-control' ng-model='contest.min_age' ng-options='number as number for number in ages' type='text'>
								<option value=''>Min Age</option>	
							</select>
						</div>
					</div>
					<div class='col-xs-1'><h4 class='text-center'> - </h4></div>
					<div class='col-xs-5'>
						<div class='form-group'>
							<select class='form-control' ng-model='contest.max_age' ng-options='number as number for number in ages' type='text'>
								<option value=''>Max Age</option>
							</select>
						</div>
					</div> -->
				</div>
				<div class='col-sm-4 col-xs-12 text-center'>
					<h4 ng-init='contest.gender = 0'>Gender <img uib-tooltip="The gender you'd like to target" height='10px' width='10px' src='public/img/tooltip.png'></h4>
					<div class='btn-group-sm' data-toggle="buttons" ng-init='contest.gender = 0' style='padding-top: 5px;'>
						<label class="btn" ng-class='{"btn-oj" : contest.gender == 0, "btn-outliner" : contest.gender != 0}'>
							<input type='radio' ng-model='contest.gender' value='0'> All Genders
						</label>
						<label class="btn" ng-class='{"btn-oj" : contest.gender == 1, "btn-outliner" : contest.gender != 1}'>
							<input type='radio' ng-model='contest.gender' value='1'> Men
						</label>
						<label class="btn" ng-class='{"btn-oj" : contest.gender == 2, "btn-outliner" : contest.gender != 2}'>
							<input type='radio' ng-model='contest.gender' value='2'> Women
						</label>
					</div>
				</div>
				<div class='col-sm-4 col-xs-12 text-center'>
					<h4>Interest  <img uib-tooltip="People who follow this interest will be shown your campaign" height='10px' width='10px' src='public/img/tooltip.png'></h4>
					<div class='btn-group-sm' data-toggle="buttons" style='padding-top: 5px;'>
						<label class="btn" ng-class='{"btn-oj" : contest.industry == "art_entertainment", "btn-outliner" : contest.industry != "art_entertainment"}'>
							<input type='radio' ng-model='contest.industry' value='art_entertainment'> Art & Entertainment
						</label>
						<label class="btn" ng-class='{"btn-oj" : contest.industry == "finance_business", "btn-outliner" : contest.industry != "finance_business"}'>
							<input type='radio' ng-model='contest.industry' value='finance_business'> Business
						</label>
						<label class="btn" ng-class='{"btn-oj" : contest.industry == "education", "btn-outliner" : contest.industry != "education"}'>
							<input type='radio' ng-model='contest.industry' value='education'> Education
						</label>
					</div>
					<div class='btn-group-sm' data-toggle='buttons' style='padding-top:5px;'>
						<label class="btn" ng-class='{"btn-oj" : contest.industry == "fashion_beauty", "btn-outliner" : contest.industry != "fashion_beauty"}'>
							<input type='radio' ng-model='contest.industry' value="fashion_beauty"> Fashion
						</label>
						<label class="btn" ng-class='{"btn-oj" : contest.industry == "food_beverage", "btn-outliner" : contest.industry != "food_beverage"}'>
							<input type='radio' ng-model='contest.industry' value='food_beverage'> Food & Drink
						</label>
						<label class="btn" ng-class='{"btn-oj" : contest.industry == "health_wellness", "btn-outliner" : contest.industry != "health_wellness"}'>
							<input type='radio' ng-model='contest.industry' value='health_wellness'> Health & Fitness
						</label>
					</div>
					<div class='btn-group-sm' data-toggle='buttons' style='padding-top:5px;'>
						<label class="btn" ng-class='{"btn-oj" : contest.industry == "home_garden", "btn-outliner" : contest.industry != "home_garden"}'>
							<input type='radio' ng-model='contest.industry' value='home_garden'> Home & Garden
						</label>
						<label class="btn" ng-class='{"btn-oj" : contest.industry == "pets", "btn-outliner" : contest.industry != "pets"}'>
							<input type='radio' ng-model='contest.industry' value='pets'> Pets
						</label>
						<label class="btn" ng-class='{"btn-oj" : contest.industry == "tech_science", "btn-outliner" : contest.industry != "tech_science"}'>
							<input type='radio' ng-model='contest.industry' value='tech_science'> Science & Tech
						</label>
					</div>
					<div class='btn-group-sm' data-toggle='buttons' style='padding-top:5px;'>
						<label class="btn" ng-class='{"btn-oj" : contest.industry == "social_network", "btn-outliner" : contest.industry != "social_network"}'>
							<input type='radio' ng-model='contest.industry' value='social_network'> Social & Gaming
						</label>
						<label class="btn" ng-class='{"btn-oj" : contest.industry == "sports_outdoors", "btn-outliner" : contest.industry != "sports_outdoors"}'>
							<input type='radio' ng-model='contest.industry' value="sports_outdoors">Sports & Outdoors 
						</label>
						<label class="btn" ng-class='{"btn-oj" : contest.industry == "travel", "btn-outliner" : contest.industry != "travel"}'>
							<input type='radio' ng-model='contest.industry' value='travel'> Travel
						</label>
					</div>
				</div>	
			</div>	
		</div>
	</div>
	<div ng-show='current.step == "detail"'>
		<div class='col-sm-8 col-sm-offset-2 col-xs-12'>
			<div class='contest-box'>
				<div class='row'>
					<h3 class='text-center'>Your Business</h3>
					<h4 class='text-center'>Help your audience get to know you for the best submissions possible</h4>
					<form class='form'>
		        	<div class='col-xs-12'>
			            <div class='form-group'>
			                 <input class='form-control' ng-model='contest.identity' placeholder='Company Email' type='email'>
			            </div>
			        </div>  
			        <div class='col-xs-12'>
			            <div class='form-group'>
			            	<input class='form-control' ng-model='contest.password' placeholder='Password' type='password'>
			            </div>
			        </div>
			        <div class='col-xs-12'>
			        	<a class='text-center' style='color:#333' ng-click='open_company_login()'>Already have an account? Log in now!</a>
			        </div>
			        <div class='col-xs-12'>
			            <div class='form-group'>
			              	<input class='form-control' ng-model='contest.name' placeholder='Company Name' type='text'>
			            </div>
		            </div>
			        <div class='col-xs-12 col-sm-6'>
			        	<div class='form-group'>
			            	<label>Company Logo</label>
			            	<input ng-file-select='select_logo($files, contest)' type='file'>
						</div>
					</div>
					<div class='col-xs-12 col-sm-6'>
						<img class='img-responsive' ng-src='{{contest.logo_url}}'>	
			        </div>
			        <div class='col-xs-12'>
			        	<div class='form-group'>
			            	<input class='form-control' ng-model='contest.company_url' placeholder='Company Website' type='text'>
			            </div>
			        </div>
			        <div class='col-xs-12'>
			        	<div class='form-group'>
			            	<input class='form-control' ng-model='contest.facebook_url' placeholder='Company Facebook' type='text'>
			            </div>
			        </div>
			         <div class='col-xs-12'>
			        	<div class='form-group'>
			            	<input class='form-control' ng-model='contest.twitter_handle' placeholder='Company Twitter Handle' type='text'>
			            </div>
			        </div>
			        <div class='col-xs-12'>
						<div class='form-group'>
							<label>Summary of product or service <img uib-tooltip="This short summary will be the first thing our users will see about your company." height='10px' width='10px' src='public/img/tooltip.png'></label>
							<input class='form-control' ng-model='contest.summary' placeholder='Enter your short summary here'>
						</div>
					</div>
					<div class='col-xs-12'>
						<div class='form-group'>
							<label class='control-label'>Describe what makes you different (and better) than your competition. <img uib-tooltip="Be as specific as possible to allow for the best submissions, our users will refer to this information while they create content to submit" height='10px' width='10px' src='public/img/tooltip.png'></label>
							<textarea class='form-control' rows='4' ng-model='contest.different' placeholder='i.e., For every good purchase we donate the same industrial part to a developing country.'></textarea>
						</div>
					</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div ng-show='current.step == "preview"'>
		<div class='row'>
		<div class='col-xs-12' style='padding-top:10px;'>
			<div class='panel'>
				<div class='panel-body' style='position:relative;padding:5px;'>
					<div class='col-xs-12 col-sm-4 text-center' style='padding-top:10px;'>
						<h3 style='margin-top:0px;'>
							<img style='height:auto;' width='50px' ng-src="{{contest.logo_url}}">
							{{user.first_name}}
						</h3>
						<button class='btn btn-default'>View submissions</button>
					</div>
					<div class='col-sm-5 col-xs-12' style='padding-top:10px;'>
						<div style='width:100%;padding-top:15px;'>
			            	<uib-progressbar style='margin-bottom:5px;' value='0' max='30' type="warning"></uib-progressbar>     
			                <p class="progress-meter-text text-center" style='margin:0px;'>30 of 30 entries remaining</p>
			            </div>
			        </div>	
					<div class='col-sm-3 col-xs-12 text-right'>
						<h2 style='color:#ff5c00;'>$50</h2>
						<h4 style='font-size:15;'><span class='glyphicon glyphicon-time'></span> <span>7 days left</span></h4>
						<h4 style='font-size:15;'><span class='glyphicon glyphicon-eye-open'></span> <span>0 views</span></h4>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='row'>
		<div class='col-xs-12 col-sm-4'>
			<div class='panel'>
				<div class='panel-body' style='position:relative;padding:5px;'>
					<div class='row'>
				        <div class='col-xs-12 text-center'>
							<h4 class='text-center'>About Product / Service</h4>
				    		<p class='text-left'>{{contest.summary}}</p>
				    	</div>
				    	<div class='col-xs-6 col-xs-offset-3'><hr style='border: 1px #ff6c00 solid'></div>
						<div class='col-xs-12 text-center'>	        	
							<h4 class='text-center'>What Makes Us Different</h4>
				    		<p class='text-left'>{{contest.different}}</p>
				    	</div>
				    	<div class='col-xs-6 col-xs-offset-3'><hr style='border: 1px #ff6c00 solid'></div>
						<div class='col-xs-12 text-center'>	        	
							<h4>Target Audience</h4>
				    		<p class='text-left'><span ng-switch on='contest.age'>
								<span ng-switch-when="0">18-45</span>
								<span ng-switch-when="1">18-24</span>
								<span ng-switch-when="2">25-34</span>
								<span ng-switch-when="3">35-44</span>
								<span ng-switch-when="4">45+</span>
								 <span ng-switch on="contest.gender">
								  <span ng-switch-when="1"> Men</span>
								  <span ng-switch-when="2"> Women</span>
								  <span ng-switch-default> Men and Women</span>
								</span>
							</p>
				    	</div>
				        <div class='col-xs-12 text-center'>
							<div class='btn-group'>
								<a ng-if='contest.company_url && contest.company_url != ""' ng-click='track_click("website_click", contest)' class='btn btn-outliner'><span class='glyphicon glyphicon-new-window'></span> Visit Website</a>
								<a ng-if='contest.facebook_url && contest.facebook_url != ""'  ng-click='track_click("facebook_click", contest)' class='btn btn-outliner' ng-init='company.social_facebook = "public/img/OrangeFacebookIcon.png"' ng-mouseenter='company.social_facebook = "public/img/WhiteFacebookIcon.png"' ng-mouseleave='company.social_facebook = "public/img/OrangeFacebookIcon.png"'>
									<img width='20px' height='20px' ng-src='{{company.social_facebook}}'>
								</a>
								<a ng-if='contest.twitter_handle && contest.twitter_handle != ""' ng-click='track_click("twitter_click", contest)' class='btn btn-outliner' ng-init='company.social_twitter = "public/img/OrangeTwitterIcon.png"' ng-mouseenter='company.social_twitter = "public/img/WhiteTwitterIcon.png"' ng-mouseleave='company.social_twitter = "public/img/OrangeTwitterIcon.png"'>
									<img width='20px' height='20px' ng-src='{{company.social_twitter}}'>
								</a>
							</div>
						</div>
				    </div>
				</div>
			</div>
		</div>
		<div class='row'>
			<div class='col-sm-8 col-xs-12'>
				<div class='panel'>
					<div class='panel-body' style='position:relative;padding:5px;'>
						<div>
							<div class='alert alert-success text-center'>
								This where your audience will enter their submissions
							</div>
						</div>
				   </div>
				</div>
			</div>
		</div>
		<div class='row' style='padding-bottom:10px;' id='submishes'>
			<h3 class='text-center'>This is where the submissions will pile up!</h3>
		</div>
	</div>
	</div>
	<div class='col-xs-12'>
		<div class='container'>
			<div ng-show='current.step == "package"'>
				<button class='btn btn-oj btn-lg pull-right' type='button' ng-click='to_detail(contest)'>Fill in Details</button>
			</div>
			<div ng-show='current.step == "detail"'>
				<button class='btn btn-oj btn-lg pull-left' type='button' ng-click='set_step("package")'>Change Package</button>
				<button class='btn btn-oj btn-lg pull-right' type='button' ng-click='set_step("preview")'>Preview Contest</button>
			</div>
			<div ng-show='current.step == "preview"'>
				<button class='btn btn-oj btn-lg pull-left' type='button' ng-click='set_step("detail")'>Edit Contest</button>
				<button class='btn btn-oj btn-lg pull-right' type='button' ng-click='submit_contest(contest, true)'>Pay and Launch</button>
				<button class='btn btn-oj btn-lg pull-right' style='margin-right: 5px;' type='button' ng-click='submit_contest(contest, false)'>Save as Draft</button>
			</div>
			<div ng-show='current.step == "done"'>
				<div class='col-xs-12 col-sm-4'>	
					<div class='text-center'><a class='btn btn-lg btn-oj' href='/contest/{{contest.id}}'>See Your Contest Now</a></div>
				</div>
				<div class='col-xs-12 col-sm-4'>
					<div class='text-center'><a class='btn btn-lg btn-oj' ng-click='reload()'>Launch Another Contest</a></div>
				</div>
				<div class='col-xs-12 col-sm-4'>
					<div class='text-center'><a class='btn btn-lg btn-oj' href='/dashboard'>Visit Your Dashboard</a></div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

<script>
fbq('track', 'PageView');
</script>


<style>
	.payment .form-control{
		margin:0;
		border-radius:0;
	}
	.payment-method-container {
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 0px;
		padding-right: 0px;
	}
	.payment-method-card {
		padding: 10px;
	}
	.default_method {
		border: 1px solid #00aaff;
		border-radius: 5px;
	}
	.payment-method-card:hover {
		background-color: #f2f2f2;
	}
	.payment-method-actions {
		margin:auto;
		position: absolute;
		right: 20px;
		top:50%;
	}

/* Limit image width to avoid overflow the container */
#upload_contest, #preview_image {
  max-width: 100%;
}
hr{
	margin-top:5px;
	margin-bottom: 5px;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    font-size: 1.25em;
    font-weight: 500;
    color: white;
    background-color: #ff5c00;
    display: inline-block;
    cursor: pointer;
    padding:7px 14px;
    border-radius:5px;
    border:1px solid transparent;
}
.inputfile + label:hover {
    background-color: red;
}
</style>
