<div class='wrapper'>
	<div class='modal_actions col-xs-12 col-sm-6 col-sm-offset-3' ng-show='registering'>
		<div class='col-xs-12' style='background-color:#fff;border-radius:3px;padding:10px;'>
			<div class='col-xs-12'><h3 style='margin-top:5px;' class='pull-right'><span style='cursor:pointer' ng-click='close_register()'>X</span></h3></div>
			<form class='form' ng-submit='create_company(company)'>
				<h3 class='text-center'>Sign In to Create Your Contest</h3>
				<p>To create a contest, we just ask that you sign in so we can easily get in contact with you!</p>
				<div class='form-group'>
					<input class='form-control' ng-model='company.name' placeholder="Enter your company's name">
				</div>
				<div class='form-group'>
					<input class='form-control' ng-model='company.identity' placeholder="Enter your email">
				</div>
				<div class='form-group'>
					<input class='form-control' ng-model='company.password' placeholder="Password" type='password'>
				</div>
				<div class='hidden-xs'>
					<hr style='border-color:#ff6c00;'>
					<p>These last two are optional, you can provide them later in your profile!</p>
					<div class='form-group'>
						<div class='row'>
							<div class='col-sm-6'>
								<input class='form-control' ng-model='company.company_website' placeholder="Enter your company's website">
							</div>
							<div class='col-sm-6'>
								<label>Company Logo</label>
								<input ng-file-select='select_file($files, "logo")' type='file'>
								<img class='img-responsive' style='max-width:75px;' ng-if='company.logo_url' src='{{company.logo_url}}'>
							</div>
						</div>
					</div>
				</div>
				<button class='btn btn-oj col-xs-12 col-sm-6 col-sm-offset-3' type='submit'>Sign In</button>
			</form>
		</div>
	</div>
</div>
<div class='row content-padding' style='background-color:#fff'>
	<div class='col-sm-10 col-sm-offset-1 col-xs-12 text-center'>
		<div ng-show='current.step == "package"'>
			<h2>Assemble your package</h2>
			<h4>Different packages lead to different kinds of submissions.</h4>
		</div>
		<div ng-show='current.step == "detail"'>
			<h2>Tell us about your business & audience</h2>
			<h4>What do you do and who do you do it for?</h4>
		</div>
		<div ng-show='current.step == "payment"'>
			<h2>Almost there</h2>
			<h4>Fill in your details, pay, and we'll launch your contest in our marketplace.</h4>
		</div>
		<div ng-show='current.step == "done"'>
			<h2>All Finished</h2>
			<h4>Congratulations on making the best decision for your company since casual Friday!</h4>
		</div>
		<uib-progressbar value='current.fill' max='100' type="warning"></uib-progressbar>
	</div>
</div>

<div class='row content-padding'>
	<div class='col-sm-10 col-sm-offset-1 col-xs-12'>
		<div ng-show='current.step == "package"'>
			<div class='col-xs-12'>
				<h3 class='text-center'>Where do you want to advertise?</h3>
				<h4 class='text-center'>Choose your platform</h4>
				<div class='col-xs-12 col-sm-6 col-md-3' style='color:#ff6c00'>
					<div ng-class='{"package-highlight" : contest.platform == "facebook"}' class='contest-box launch-page-hover' ng-click='select_platform("facebook")'>
						<h3 class='text-center' style='border-bottom:1px solid #ff6c00;padding-bottom:3px;'>Facebook</h3>
						<div class='text-center'><img style='height:100px;padding-top:5px; padding-bottom:5px;' src='public/img/facebookpackage.png'></div>
					</div>
				</div>
				<div class='col-xs-12 col-sm-6 col-md-3' style='color:#ff6c00'>
					<div ng-class='{"package-highlight" : contest.platform == "google"}' class='contest-box launch-page-hover' ng-click='select_platform("google")'>
						<h3 class='text-center' style='border-bottom:1px solid #ff6c00;padding-bottom:3px;'>Google</h3>
						<div class='text-center'><img style='height:100px;padding-top:5px; padding-bottom:5px;' src='public/img/googlepackage.png'></div>
					</div>
				</div>
				<div class='col-xs-12 col-sm-6 col-md-3' style='color:#ff6c00'>
					<div  ng-class='{"package-highlight" : contest.platform == "twitter"}'  class='contest-box launch-page-hover' ng-click='select_platform("twitter")'>
						<h3 class='text-center' style='border-bottom:1px solid #ff6c00;padding-bottom:3px;'>Twitter</h3>
						<div class='text-center'><img style='height:100px;padding-top:5px; padding-bottom:5px;' src='public/img/twitterpackage.png'></div>
					</div>
				</div>
				<div class='col-xs-12 col-sm-6 col-md-3' style='color:#ff6c00'>
					<div ng-class='{"package-highlight" : contest.platform == "general"}' class='contest-box launch-page-hover' ng-click='select_platform("general")'>
						<h3 class='text-center' style='border-bottom:1px solid #ff6c00;padding-bottom:3px;'>General</h3>
						<div class='text-center'><img style='height:100px;padding-top:5px; padding-bottom:5px;' src='public/img/generalpackage.png'></div>
					</div>
				</div>
			</div>
			<div class='col-xs-12 package-selection' ng-show='contest.platform'>
				<hr style='border-color:#ff6c00'>
				<h3 class='text-center'>What do you want your ad to do?</h3>
				<h4 class='text-center'>Choose your objective</h4>
				<div ng-show='contest.platform=="facebook"' style='color:#ff6c00'>
					<div class='col-xs-12 col-sm-4'>
						<div ng-class='{"package-highlight" : contest.objective == "exposure"}' class='contest-box launch-page-hover' ng-click='select_objective("exposure")'>
							<h3 style='border-bottom:1px solid #ff6c00;padding-bottom:3px;' class='text-center'>Get Exposure</h3>
							<div class='text-center'><img style='height:100px;padding-top:5px; padding-bottom:5px;' class='text-center' src='public/img/exposure.png'></div>
							<div style='height:100px;'>
								Use this objective to get ads that help your audience learn about your business
							</div>
						</div>
					</div>
					<div class='col-xs-12 col-sm-4'>
						<div ng-class='{"package-highlight" : contest.objective == "close_sales"}' class='contest-box launch-page-hover' ng-click='select_objective("close_sales")'>
							<h3 style='border-bottom:1px solid #ff6c00;padding-bottom:3px;' class='text-center'>Close Sales</h3>
							<div class='text-center'><img style='height:100px;padding-top:5px; padding-bottom:5px;' src='public/img/close_sales.png'></div>
							<div style='height:100px;'>
								Use this objective to get ads that help users looking for your service to find you.
							</div>
						</div>
					</div>
					<div class='col-xs-12 col-sm-4'>
						<div ng-class='{"package-highlight" : contest.objective == "engagement"}' class='contest-box launch-page-hover' ng-click='select_objective("engagement")'>
							<h3 style='border-bottom:1px solid #ff6c00;padding-bottom:3px;' class='text-center'>Increase Engagement</h3>
							<div class='text-center'><img style='height:100px;padding-top:5px; padding-bottom:5px;' src='public/img/engagement.png'></div>
							<div style='height:100px;'>
								Use this objective to get ads that help your audience engage with your social media
							</div>
						</div>
					</div>
				</div>
				<div ng-show='contest.platform=="google"' style='color:#ff6c00'>
					<div class='col-xs-12 col-sm-4 col-sm-offset-2'>
						<div ng-class='{"package-highlight" : contest.objective == "exposure"}' class='contest-box launch-page-hover' ng-click='select_objective("exposure")'>
							<h3 style='border-bottom:1px solid #ff6c00;padding-bottom:3px;' class='text-center'>Get Exposure</h3>
							<div class='text-center'><img style='height:100px;padding-top:5px; padding-bottom:5px;' src='public/img/exposure.png'></div>
							<div style='height:100px;'>
								Use this objective to get ads that help your audience learn about your business
							</div>
						</div>
					</div>
					<div class='col-xs-12 col-sm-4'>
						<div ng-class='{"package-highlight" : contest.objective == "close_sales"}' class='contest-box launch-page-hover' ng-click='select_objective("close_sales")'>
							<h3 style='border-bottom:1px solid #ff6c00;padding-bottom:3px;' class='text-center'>Close Sales</h3>
							<div class='text-center'><img style='height:100px;padding-top:5px; padding-bottom:5px;' src='public/img/close_sales.png'></div>
							<div style='height:100px;'>
								Use this objective to get ads that help users looking for your service to find you.
							</div>
						</div>
					</div>
				</div>
				<div ng-show='contest.platform=="twitter"' style='color:#ff6c00'>
					<div class='col-xs-12 col-sm-4'>
						<div ng-class='{"package-highlight" : contest.objective == "exposure"}' class='contest-box launch-page-hover' ng-click='select_objective("exposure")'>
							<h3 style='border-bottom:1px solid #ff6c00;padding-bottom:3px;' class='text-center'>Get Exposure</h3>
							<div class='text-center'><img style='height:100px;padding-top:5px; padding-bottom:5px;' src='public/img/exposure.png'></div>
							<div style='height:100px;'>
								Use this objective to get ads that help your audience learn about your business
							</div>
						</div>
					</div>
					<div class='col-xs-12 col-sm-4'>
						<div ng-class='{"package-highlight" : contest.objective == "close_sales"}' class='contest-box launch-page-hover' ng-click='select_objective("close_sales")'>
							<h3 style='border-bottom:1px solid #ff6c00;padding-bottom:3px;' class='text-center'>Close Sales</h3>
							<div class='text-center'><img style='height:100px;padding-top:5px; padding-bottom:5px;' src='public/img/close_sales.png'></div>
							<div style='height:100px;'>
								Use this objective to get ads that help users looking for your service to find you.
							</div>
						</div>
					</div>
					<div class='col-xs-12 col-sm-4'>
						<div ng-class='{"package-highlight" : contest.objective == "engagement"}' class='contest-box launch-page-hover' ng-click='select_objective("engagement")'>
							<h3 style='border-bottom:1px solid #ff6c00;padding-bottom:3px;' class='text-center'>Increase Engagement</h3>
							<div class='text-center'><img style='height:100px;padding-top:5px; padding-bottom:5px;' src='public/img/engagement.png'></div>
							<div style='height:100px;'>
								Use this objective to get ads that help your audience engage with your social media
							</div>
						</div>
					</div>
				</div>
				<div ng-show='contest.platform=="general"' style='color:#ff6c00'>
					<div class='col-xs-12 col-sm-4'>
						<div ng-class='{"package-highlight" : contest.objective == "brand_positioning"}' class='contest-box launch-page-hover' ng-click='select_objective("brand_positioning")'>
							<h3 style='border-bottom:1px solid #ff6c00;padding-bottom:3px;' class='text-center'>Brand Positioning</h3>
							<div class='text-center'><img style='height:100px;padding-top:5px; padding-bottom:5px;' src='public/img/exposure.png'></div>
							<div style='height:100px;'>
								Use this objective to get ads that help your audience learn about your business
							</div>
						</div>
					</div>
					<div class='col-xs-12 col-sm-4'>
						<div ng-class='{"package-highlight" : contest.objective == "close_sales"}' class='contest-box launch-page-hover' ng-click='select_objective("close_sales")'>
							<h3 style='border-bottom:1px solid #ff6c00;padding-bottom:3px;' class='text-center'>Close Sales</h3>
							<div class='text-center'><img style='height:100px;padding-top:5px; padding-bottom:5px;' src='public/img/close_sales.png'></div>
							<div style='height:100px;'>
								Use this objective to get ads that help users looking for your service to find you.
							</div>
						</div>
					</div>
					<div class='col-xs-12 col-sm-4'>
						<div ng-class='{"package-highlight" : contest.objective == "engagement"}' class='contest-box launch-page-hover' ng-click='select_objective("engagement")'>
							<h3 style='border-bottom:1px solid #ff6c00;padding-bottom:3px;' class='text-center'>Increase Engagement</h3>
							<div class='text-center'><img style='height:100px;padding-top:5px; padding-bottom:5px;' src='public/img/engagement.png'></div>
							<div style='height:100px;'>
								Use this objective to get ads that help your audience engage with your social media
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class='col-xs-12 package-selection' ng-show='contest.objective'>
				<hr style='border-color:#ff6c00'>
				<h3 class='text-center'>Choose your display type</h3>
				<h4 class='text-center'>Where do you want your ad to appear?</h4>
				<div class='ad-location' ng-show='contest.platform == "facebook"'>
					<div class='col-xs-12 col-sm-4'>
						<div ng-class='{"package-highlight" : contest.display == "newsfeed"}' class='contest-box launch-page-hover' ng-click='select_display("newsfeed")'>
							<h3 class='text-center' style='border-bottom:1px solid #ff6c00;padding-bottom:3px;'>Newsfeed</h3>
						</div>
					</div>
					<div class='col-xs-12 col-sm-4'>
						<div ng-class='{"package-highlight" : contest.display == "right_column"}' class='contest-box launch-page-hover' ng-click='select_display("right_column")'>
							<h3 class='text-center' style='border-bottom:1px solid #ff6c00;padding-bottom:3px;'>Right Column</h3>
						</div>
					</div>
					<div class='col-xs-12 col-sm-4'>
						<div ng-class='{"package-highlight" : contest.display == "mobile"}' class='contest-box launch-page-hover' ng-click='select_display("mobile")'>
							<h3 class='text-center' style='border-bottom:1px solid #ff6c00;padding-bottom:3px;'>Mobile</h3>
						</div>
					</div>
				</div>
				<div class='ad-location' ng-show='contest.platform == "google"'>
					<div class='col-xs-12 col-sm-4 col-sm-offset-2'>
						<div ng-class='{"package-highlight" : contest.display == "search"}' class='contest-box launch-page-hover' ng-click='select_display("search")'>
							<h3 class='text-center' style='border-bottom:1px solid #ff6c00;padding-bottom:3px;'>Search</h3>
						</div>
					</div>
					<div class='col-xs-12 col-sm-4'>
						<div ng-class='{"package-highlight" : contest.display == "display"}' class='contest-box launch-page-hover' ng-click='select_display("display")'>
							<h3 class='text-center' style='border-bottom:1px solid #ff6c00;padding-bottom:3px;'>Display</h3>
						</div>
					</div>
				</div>
				<div class='ad-location' ng-show='contest.platform == "twitter"'>
					<div class='col-xs-12 col-sm-4'>
						<div ng-class='{"package-highlight" : contest.display == "tweet"}' class='contest-box launch-page-hover' ng-click='select_display("tweet")'>
							<h3 class='text-center' style='border-bottom:1px solid #ff6c00;padding-bottom:3px;'>Tweet</h3>
						</div>
					</div>
				</div>
				<div class='ad-location' ng-show='contest.platform == "general"'>
					<div class='col-xs-12 col-sm-4'>
						<div ng-class='{"package-highlight" : contest.display == "tagline"}' class='contest-box launch-page-hover' ng-click='select_display("tagline")'>
							<h3 class='text-center' style='border-bottom:1px solid #ff6c00;padding-bottom:3px;'>Tagline</h3>
						</div>
					</div>
					<div class='col-xs-12 col-sm-4'>
						<div ng-class='{"package-highlight" : contest.display == "headline"}' class='contest-box launch-page-hover' ng-click='select_display("headline")'>
							<h3 class='text-center' style='border-bottom:1px solid #ff6c00;padding-bottom:3px;'>Headline</h3>
						</div>
					</div>
					<div class='col-xs-12 col-sm-4'>
						<div ng-class='{"package-highlight" : contest.display == "copies"}' class='contest-box launch-page-hover' ng-click='select_display("copies")'>
							<h3 class='text-center' style='border-bottom:1px solid #ff6c00;padding-bottom:3px;'>Copies</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div ng-show='current.step == "detail"'>
			<div class='col-sm-8 col-xs-12' style='padding-left:5px; padding-right:5px'>
				<div class='contest-box'>
					<div class='row'>
						<h3 class='text-center'>Your Business</h3>
						<h4 class='text-center'>Help your audience get to know you for the best submissions possible</h4>
						<form class='form'>
							<div class='form-group'>
								<div class='row'>
									<div class='col-xs-12'><label>Pictures of product or service (up to 3)</label></div>
									<div class='col-sm-4 col-xs-12'>
										<input ng-file-select='select_file($files, "pic1")' type='file'>
										<img class='img-responsive' ng-if='contest.additional_image_1' src='{{contest.additional_image_1}}'>
									</div>
									<div class='col-sm-4 col-xs-12'>
										<input ng-file-select='select_file($files, "pic2")' type='file'>
										<img class='img-responsive' ng-if='contest.additional_image_2' src='{{contest.additional_image_2}}'>
									</div>
									<div class='col-sm-4 col-xs-12'>
										<input ng-file-select='select_file($files, "pic3")' type='file'>
										<img class='img-responsive' ng-if='contest.additional_image_3' src='{{contest.additional_image_3}}'>
									</div>
								</div>
							</div>
							<div class='form-group'>
								<label>Industry</label>
								<select class='form-control' ng-model='contest.industry'>
									<option value=''>Choose an industry for ease of search</option>
									<option value='pets'>Pets</option>
									<option value='food_beverage'>Food & Beverage</option>
									<option value='finance_business'>Finance & Business</option>
									<option value='health_wellness'>Health & Wellness</option>
									<option value='travel'>Travel</option>
									<option value='social_network'>Social Network</option>
									<option value='home_garden'>Home & Garden</option>
									<option value='education'>Education</option>
									<option value='art_entertainment'>Art & Entertainment</option>
									<option value='fashion_beauty'>Fashion & Beauty</option>
								</select>
							</div>
							<div class='form-group'>
								<label>Summary of product or service</label>
								<input class='form-control' ng-model='contest.summary' placeholder='Enter your short summary here'>
							</div>
							<div class='form-group'>
								<label class='control-label'>Describe in more detail what your product or service does and who it's for.</label>
								<textarea class='form-control' rows='4' ng-model='contest.audience' placeholder='i.e., We sell anvils and other industrial goods to manufacturing companies and hobbyists all over the world.'></textarea>
							</div>
							<div class='form-group'>
								<label class='control-label'>Describe what makes you different (and better) than your competition.</label>
								<textarea class='form-control' rows='4' ng-model='contest.different' placeholder='i.e., For every good purchase we donate the same industrial part to a developing country.'></textarea>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class='col-sm-4 col-xs-12' style='padding-left:5px; padding-right:5px'>
				<div class='contest-box'>
					<h3 class='text-center'>Your Audience</h3>
					<h4 class='text-center'>The preferred demographic for your submissions</h4>
					<form class='form'>
						<div class='form-group' ng-init='contest.age = "18-24"'>
							<label>Age :</label>
							<label><input type='radio' ng-model='contest.age' value='18-24'>18-24</label>
							<label><input type='radio' ng-model='contest.age' value='25-34'>25-34</label>
							<label><input type='radio' ng-model='contest.age' value='35-44'>35-44</label>
							<label><input type='radio' ng-model='contest.age' value='45+'>45+</label>
						</div>
						<div class='form-group' ng-init='contest.gender = "all"'>
							<label>Gender :</label>
							<label><input type='radio' ng-model='contest.gender' value='all'>All</label>
							<label><input type='radio' ng-model='contest.gender' value='men'>Men</label>
							<label><input type='radio' ng-model='contest.gender' value='women'>Women</label>
						</div>
						<div class='form-group'>
							<label class='control-label'>Any additional information :</label>
							<textarea class='form-control' ng-model='contest.additional' placeholder="Enter any additional information you'd like to provide here..."></textarea>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div ng-show='current.step == "payment"'>
			<div class='col-xs-12 col-sm-10 col-sm-offset-1'>
				<div class='contest-box'>
					<h3 class='text-center'>Payment</h3>
					<h4 class='text-center'>{{contest.platform | capitalize}} - {{contest.objective | capUnderscore}} - {{contest.display | capUnderscore}} : $99.99</h4>
					<div ng-show='payments.length > 0'>
						<div class='payment-method-container'>
							<div class='row'>
								<div class='col-sm-4 col-sm-offset-4 payment-method-card' ng-repeat='payment in payments'> <!--ng-click='set_as_method(payment.id)' -->
									<h5>
										<img height='20' ng-if='payment.brand == "Visa"' src="http://www.credit-card-logos.com/images/visa_credit-card-logos/visa_logo_7.gif" />
										<img height='20' ng-if='payment.brand == "MasterCard"' src="http://www.credit-card-logos.com/images/mastercard_credit-card-logos/mastercard_logo_5.gif" />
										<img height='20' ng-if='payment.brand == "American Express"' src="http://www.credit-card-logos.com/images/american_express_credit-card-logos/american_express_logo_9.gif" />
										<img height='20' ng-if='payment.brand == "Discover"' src="http://www.credit-card-logos.com/images/discover_credit-card-logos/discover_network1.jpg" />
										<img height='20' ng-if='payment.brand == "JCB"' src="http://www.credit-card-logos.com/images/visa_credit-card-logos/visa_logo_7.gif" />
										<img height='20' ng-if='payment.brand == "Diners CLub"' src="http://www.credit-card-logos.com/images/visa_credit-card-logos/visa_logo_7.gif" />
										<img height='20' ng-if='payment.brand == "Unknown"' src="http://www.credit-card-logos.com/images/visa_credit-card-logos/visa_logo_7.gif" />
										&nbsp;&nbsp;&nbsp;********{{payment.last4}}
									</h5>
									<span><strong>Expires &nbsp;&nbsp;{{payment.exp_month}}/{{payment.exp_year}}</strong></span>
								</div>
							</div>
						</div>
					</div>
					<div class='alert alert-warning' ng-show='payments.length==0'>You dont have any saved payment methods</div>
					<div class='text-center'>
						<button class='btn btn-oj' ng-click='adding_payment=true'>Add Payment Method</button>
					</div>
					<form ng-show='adding_payment' class='form' action="" method="POST" id="payment-form">
						<button ng-show='payment_methods.length > 0' ng-click='adding_payment = false' class='btn btn-oj pull-right'>Use a saved method</button>
						<div class='col-xs-12'>
						    <div class="form-group">
						    	<label>Card Number</label>
						      	<input class='form-control' placeholder='Enter your Card Number' type="text" size="20" data-stripe="number"/>
						    </div>
						</div>
					    <div class='col-xs-12 col-sm-4'>
						  <div class="form-group">
							    <label>CVC</label>
							    <input class='form-control' placeholder='Enter your CVC' type="text" size="4" data-stripe="cvc"/>
						  </div>
					    </div>
					  	<div class='col-xs-12 col-sm-4'>
					      <div class="form-group">
					       		<label>Month Exp</label>
					  	      	<select class='form-control' data-stripe="exp-month">
						            <option value='01'>01</option>
						            <option value='02'>02</option>
						            <option value='03'>03</option>
						            <option value='04'>04</option>
						            <option value='05'>05</option>
						            <option value='06'>06</option>
						            <option value='07'>07</option>
						            <option value='08'>08</option>
						            <option value='09'>09</option>
						            <option value='10'>10</option>
						            <option value='11'>11</option>
						            <option value='12'>12</option>
					          </select>
					      </div>
					    </div>
					    <div class='col-xs-12 col-sm-4'>
					    	<div class='form-group'>
					        	<label>Year Exp</label>
					  	    	<select class='form-control' data-stripe="exp-year">
						             <option value='2016'>2016</option>
						             <option value='2017'>2017</option>
						             <option value='2018'>2018</option>
						             <option value='2019'>2019</option>
						             <option value='2020'>2020</option>
						             <option value='2021'>2021</option>
						             <option value='2022'>2022</option>
						             <option value='2023'>2023</option>
						             <option value='2024'>2024</option>
						             <option value='2025'>2025</option>
						             <option value='2026'>2026</option>
						             <option value='2027'>2027</option>
					        	</select>
					  	  	</div>
					  	</div>
	    				<input type='hidden' data-stripe='currency' value='usd'/>
	    				<div class='form-group'>
	    					<label class='control-label'>Save Method
	    						<input type='checkbox' ng-model='save_method'>
	    					</label>
	    				</div>
					</form>
				</div>
			</div>
		</div>
		<div class='col-xs-12'>
			<div ng-show='current.step == "package"'>
				<button class='btn btn-oj btn-lg pull-right' type='button' ng-click='to_detail(contest)'>Fill in Details</button>
			</div>
			<div ng-show='current.step == "detail"'>
				<button class='btn btn-oj btn-lg pull-left' type='button' ng-click='set_step("package")'>Change Package</button>
				<button class='btn btn-oj btn-lg pull-right' type='button' ng-click='submit_contest(contest)'>Create Contest</button>
			</div>
			<div ng-show='current.step == "payment"'>
				<button class='btn btn-oj btn-lg pull-left' type='button' ng-click='set_step("detail")'>Edit Contest</button>
				<button ng-show='!adding_payment' class='btn btn-oj btn-lg pull-right' type='button' ng-click='old_payment()'>Pay</button>
				<button ng-show='adding_payment' ng-disabled='form_disabled' class='btn btn-oj btn-lg pull-right' type='button' ng-click='new_payment()'>Pay</button>
			</div>
			<div ng-show='current.step == "done"'>
				<div class='text-center'><a class='btn btn-lg btn-oj' href='#/contest/{{contest.id}}'>See Your Contest Now</a></div>
				<div class='text-center'><a class='btn btn-lg btn-oj' ng-click='reload()'>Launch Another Contest</a></div>
				<div class='text-center'><a class='btn btn-lg btn-oj' href='#/dashboard'>Visit Your Dashboard</a></div>
			</div>
		</div>
	</div>
</div>

<script>
fbq('track', 'PageView');
</script>


<style>
	.payment-method-container {
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 0px;
		padding-right: 0px;
	}
	.payment-method-card {
		padding: 10px;
	}
	.default_method {
		border: 1px solid #00aaff;
		border-radius: 5px;
	}
	.payment-method-card:hover {
		background-color: #f2f2f2;
	}
	.payment-method-actions {
		margin:auto;
		position: absolute;
		right: 20px;
		top:50%;
	}
</style>
