
<div class="col-xs-12 col-sm-4 col-sm-offset-4 content-padding">
    <div  ng-show='!forgot'>
        <h3 class='text-center'>Login</h3>
        <div>
            <a href="index.php/auth/facebook">
                <img class='img-responsive' height='45px' style='border-radius: 5px;' src="public/img/img-facebook.png">
            </a>
        </div>
        <h4 class='text-center'>or</h4>
        <form class='form' ng-submit="log_in(identity, password)">
            <div class='form-group'>
                <input class='form-control' ng-model='identity' placeholder='Email'>
            </div>
            <div class='form-group'>
                <input class='form-control' ng-model='password' placeholder='Password' type='password'>
            </div>
          
            <button class='col-xs-12 btn btn-oj btn-lg' type='submit'>Login</button>
            <a href='#/register'>Don't have an account? Sign up here!</a>
            <a class='pull-right' ng-click='forgot = true'>Forgot Password?</a>
        </form>
    </div>
    <form ng-show='forgot' class='form' ng-submit="forgot_pass(identity)">
        <h3 class='text-center'>Forgot Password</h3>
        <div class='form-group'>
            <input class='form-control' ng-model='identity' placeholder="Enter your email">
        </div>             
        <button class='col-xs-12 btn btn-oj btn-lg' type='submit'>Send me an email</button>
        <a href='#/register'>Don't have an account? Sign up here!</a>
        <a class='pull-right' ng-click='forgot = false'>I remember it!</a>
    </form>
</div>

<script>
fbq('track', 'PageView');
</script>