.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

public/api/*/application/config/*/*.php
public/api/*/application/logs
public/api/*/application/phinx.yml
public/api/*/application/cache

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
api/*/application/vendor/
application/vendor/*
application/phinx.yml
application/tests/build/*

public/app.js
public/app.min.js
public/config.js

phinx.yml

node_modules

repo.php
vendor/*
uploads/
public/img/subs/*
Dockerfile
# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

# Test

.deploy_args.php
sftp-config.json
