<div class='container'>
    <div class='row content-padding'>
        <ul class="list-style-form-nav">
            <li class='active'><a href="#basics" class='scrolling'>Account Basics</a></li>
            <li ng-show='user.type=="member"'><a href="#mprofile" class='scrolling'>Account</a></li>
            <li ng-show='user.type == "company"'><a href="#cprofile" class='scrolling'>Account</a></li>
            <li ng-show='user.type == "company"'><a href="#sprofile" class='scrolling'>Plan</a></li>
            <!--<li ng-show='user.type == "company"'><a href="#bprofile" class='scrolling'>Billing</a></li>-->
        </ul>
        <div class='col-sm-12 col-md-7 list-style-form-wrap'>
            <div class='text-center alert alert-danger' ng-if='user.type == "member" && !user.is_active'>Email isn't verified <a href ng-click='resend()'>click here to resend verification email!</a></div>
            <form class='form' ng-submit='change_pass(pass)'>
                <ul class='list-style-form form-horizontal' id='basics'>
                    <li class='section-title' style="padding-left:10px !important;">
                        <h2>Account Basics</h2>
                    </li>
                    <li>
                        <label class='col-sm-4 control-label' style='text-align: left;'>Old Password</label>
                        <div class='col-sm-8' style="padding-bottom:10px;">
                            <input type='password' class='form-control' placeholder='Old Password' ng-model='pass.old'>
                        </div>
                    </li>
                    <li>
                        <label class='col-sm-4 control-label' style='text-align: left;'>New Password</label>
                        <div class='col-sm-8' style="padding-bottom:10px;">
                            <input type='password' class='form-control' placeholder='New Password' ng-model='pass.new'>
                        </div>
                    </li>
                    <li>
                        <label class='col-sm-4 control-label' style='text-align: left;'>Confirm New Password</label>
                        <div class='col-sm-8' style="padding-bottom:10px;">
                            <input type='password' class='form-control' placeholder='Confirm New Password' ng-model='pass.new_confirm'>
                        </div>
                    </li>
                    <li class='text-right' style="padding:10 10 20 !important;">
                        <button class='btn btn-oj' type='submit'>Change Your Password</button>
                    </li>
                </ul>
            </form>
            <form class='form' ng-if='user.type == "company"' ng-submit='update_profile(profile)'>
                <ul class='list-style-form form-horizontal' id='cprofile'>
                    <li class='section-title' style="padding-left:10px !important;">
                        <h2>Profile</h2>
                    </li>
                    <li>
                        <label class='col-sm-4 control-label' style='text-align: left;'>Company Name</label>
                        <div class="col-sm-8" style="padding-bottom:10px;">
                            <input class='form-control' ng-model='profile.company_name' placeholder='Company Name' type='text'>
                        </div>
                    </li>
                    <li>
                        <label class='col-sm-4 control-label' style='text-align: left;'>Company Email</label>
                        <div class="col-sm-8" style="padding-bottom:10px;">
                            <input class='form-control' ng-model='profile.company_email' placeholder='Company Email' type='text'>
                        </div>
                    </li>
                    <li>
                        <label class='col-sm-4 control-label' style='text-align: left;'>Company Summary</label>
                        <div class="col-sm-8" style="padding-bottom:10px;">
                            <textarea class='form-control' ng-model='profile.summary' placeholder='Company summary' type='text'></textarea>
                            <p>{{profile.summary.length}} of 180 characters</p>
                        </div>
                    </li>
                    <!--<li>
                        <label class='col-sm-4 control-label' style='text-align: left;'>Company Description</label>
                        <div class="col-sm-8" style="padding-bottom:10px;">
                            <textarea class='form-control' ng-model='profile.mission' placeholder='Company description' type='text'></textarea>
                        </div>
                    </li>-->
                    <li>
                        <label class='col-sm-4 control-label' style='text-align: left;'>How Your Company is Different</label>
                        <div class="col-sm-8" style="padding-bottom:10px;">
                            <textarea class='form-control' ng-model='profile.different' placeholder='Additional Info' type='text'></textarea>
                        </div>
                    </li>
                    <li>
                        <label class='col-sm-4 control-label' style='text-align: left;'>Company Logo</label>
                        <div class="col-sm-8" style="padding-bottom:10px;">
                            <input type='file' ng-file-select='select_file($files)'>
                            <img class='img-responsive' ng-if='profile.logo_url' src='{{profile.logo_url}}' style='max-width: 120px;height: auto;margin-top: 10px;'>
                        </div>
                    </li>
                    <li>
                        <label class='col-sm-4 control-label' style='text-align: left;'>Company Website</label>
                        <div class="col-sm-8" style="padding-bottom:10px;">
                            <input class='form-control' ng-model='profile.company_url' placeholder='Company Website' type='text'>
                        </div>
                    </li>
                    <li>
                        <label class='col-sm-4 control-label' style='text-align: left;'>Company Facebook Page</label>
                        <div class="col-sm-8" style="padding-bottom:10px;">
                            <input class='form-control' ng-model='profile.facebook_url' placeholder='Facebook Page' type='text'>
                        </div>
                    </li>
                    <li>
                        <label class='col-sm-4 control-label' style='text-align: left;'>Company Twitter Handle</label>
                        <div class="col-sm-8" style="padding-bottom:10px;">
                            <input class='form-control' ng-model='profile.twitter_handle' placeholder='Your Twitter Handle' type='text'>
                        </div>
                    </li>
                    <li class='text-right' style="padding:10 10 20 !important;">
                        <button class='btn btn-oj' type='submit'>Save</button>
                    </li>
                </ul>
            </form>
            <div class='form' ng-if='user.type == "company"'>
                <ul class='list-style-form form-horizontal' id='sprofile'>
                    <li class='section-title'style="padding-left:10px !important;">
                        <h2>Current Plan</h2>
                    </li>
                    <li>

                            <div class="form-group">
                                <div class="pricing-tables attached">
                                    <div class="row">
                                        <div class="col-sm-4 col-md-4 subscription-div" ng-class="{'now-level':user.subscription.now_level=='10','next-level':user.subscription.next_level=='10'}" ng-hide="subscription_type == 'launch' && user.subscription.now_level>='10'">
                                            <div class="plan first" style="padding-bottom:5px;">
                                                <div class="head">
                                                    <h2>Standard</h2>
                                                </div>
                                                <div class="price">
                                                    <!--<h3 style="font-size:34;text-decoration:line-through;">$120</h3>-->
                                                    <h3><span class="symbol">$</span>39</h3>
                                                    <h4>per month</h4>
                                                    <p class="text-center" style="font-weight:bold;font-size:14px;">For individuals just starting advertising.</p>
                                                    <p class="text-center" style="font-weight: 300;font-size:10px;margin-bottom:0;">(Cancel Anytime)</p>
                                                </div>
                                                <center>
                                                    <hr style="margin: 0 !important;width:75%;">
                                                </center>
                                                <ul class="item-list" style="text-align:left;padding-top:0px;padding-bottom:0px;">
                                                    <li style="font-weight:bold;border-top:none;">Standard Includes:</li>
                                                    <li>Access To Audience-Generated Campaigns</li>
                                                    <li>Facebook And Instagram Ads</li>
                                                    <li>Age, Interest, And Gender Creative Targeting</li>
                                                    <li>Up To $50 In Testing</li>
                                                </ul>
                                                <ul class="item-list">
                                                    <center><hr style="margin: 0 !important;width:75%;"></center>
                                                    <li style="padding-top:10px !important;text-align:center;padding-bottom:10px;">Money Back Guarantee</li>
                                                </ul>
                                                <button type="button" class="btn btn-wj btn-lg sign-up-btn" ng-click='click_subscription("10",more_action)'>Select</button>
                                                <p class="more-p now-level-p">Current Plan</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-4 subscription-div" ng-class="{'now-level':user.subscription.now_level=='20','next-level':user.subscription.next_level=='20'}" ng-hide="subscription_type == 'launch' && user.subscription.now_level>='20'">
                                            <div class="plan recommended" style="padding-bottom:5px;">
                                                <!-- style="height:635px;"-->
                                                <div class="head" style="background:#f7a000;">
                                                    <h2>Premium</h2>
                                                </div>
                                                <div class="price" style="border-top:none;">
                                                    <!--style="margin-top:80px;"-->
                                                    <!--<h3 style="font-size:34;text-decoration:line-through;">$300</h3>-->
                                                    <h3><span class="symbol">$</span>119</h3>
                                                    <h4>per month</h4>
                                                    <p class="text-center" style="font-weight:bold;font-size:14px;">For teams looking to explore new marketing perspectives.</p>
                                                    <p class="text-center" style="font-weight: 300;font-size:10px;margin-bottom:0;">(Cancel Anytime)</p>
                                                </div>
                                                <center>
                                                    <hr style="margin: 0 !important;width:75%;">
                                                </center>
                                                <ul class="item-list" style="text-align:left;padding-top:0px;padding-bottom:0px;">
                                                    <li style="font-weight:bold;border-top:none;">Everything In Standard And:</li>
                                                    <li>Twitter Ads</li>
                                                    <li>Creator Location Targeting</li>
                                                    <li>Up To $500 In Testing</li>
                                                </ul>
                                                <ul class="item-list">
                                                    <center><hr style="margin: 0 !important;width:75%;"></center>
                                                    <li style="padding-top:10px !important;text-align:center;padding-bottom:10px;">Money Back Guarantee</li>
                                                </ul>
                                                <button type="button" class="btn btn-wj btn-lg sign-up-btn" ng-click='click_subscription("20",more_action)'>Select</button>
                                                <p class="more-p now-level-p">Current Plan</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-4 subscription-div" ng-class="{'now-level':user.subscription.now_level=='30','next-level':user.subscription.next_level=='30'}" ng-hide="subscription_type == 'launch' && user.subscription.now_level>='30'">
                                            <div class="plan last" style="padding-bottom:5px;">
                                                <!-- style="height:618px;"-->
                                                <div class="head" style="background:#f72200;">
                                                    <h2>Platinum</h2>
                                                </div>
                                                <div class="price">
                                                    <!-- style="margin-top: 121px;"-->
                                                    <!--<h3 style="font-size:34;text-decoration:line-through;">$299</h3>-->
                                                    <h3><span class="symbol">$</span>299</h3>
                                                    <h4>per month</h4>
                                                    <p class="text-center" style="font-weight:bold;font-size:14px;">For departments looking looking to expand and accelerate new audiences.</p>
                                                    <p class="text-center" style="font-weight: 300;font-size:10px;margin-bottom:0;">(Cancel Anytime)</p>
                                                </div>
                                                <center>
                                                    <hr style="margin: 0 !important;width:75%;">
                                                </center>
                                                <ul class="item-list" style="text-align:left;padding-top:0px;padding-bottom:0px;">
                                                    <li style="font-weight:bold;border-top:none;">Everything In Premium And:</li>
                                                    <li>Google, Bing, and LinkedIn Ads</li>
                                                    <li>Behavior And Occupation Targeting</li>
                                                    <li>Up To $5,000 In Testing</li>
                                                </ul>
                                                <ul class="item-list">
                                                    <center><hr style="margin: 0 !important;width:75%;"></center>
                                                    <li style="padding-top:10px !important;text-align:center;padding-bottom:10px;">Money Back Guarantee</li>
                                                </ul>
                                                <button type="button" class="btn btn-wj btn-lg sign-up-btn" ng-click='click_subscription("30",more_action)'>Select</button>
                                                <p class="more-p now-level-p">Current Plan</p>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <!-- row-->
                                </div>
                                <!-- pricing-tables -->
                            </div>

                    </li>
                </ul>
            </div>
            <!--<div class='form' ng-if='user.type == "company"'>
                <ul class='list-style-form form-horizontal' id='bprofile'>
                    <li class='section-title'style="padding-left:10px !important;">
                        <h2>Billing</h2>
                    </li>
                    <li>
                        <div class="col-md-6">
                            <div ng-hide="user.subscription.now_level > '0'">
                                <h4 class="text-center">It looks like you don't have plan yet.</h4>
                                <h5 class="text-center">Get Started by choosing one in the Plan section above.</h5>
                            </div>
                            <div ng-show="user.subscription.now_level >'0'">
                                    <div class='payment-method-container'>
                                        <div class='row'>
                                            <h4 class="text-center">Your saved payment method:</h4>
                                            <div ng-class='{"highlight_payment" : payment.id == payment_obj.passing_method}' class='col-xs-12 col-sm-4 col-sm-offset-4 payment-method-card' ng-repeat='payment in payments'>
                                                <h5>
                                      <img height='20' ng-if='payment.brand == "Visa"' src="public/img/visa-card.gif" />
                                      <img height='20' ng-if='payment.brand == "MasterCard"' src="public/img/mastercard.gif" />
                                      <img height='20' ng-if='payment.brand == "American Express"' src="public/img/american-express.gif" />
                                      <img height='20' ng-if='payment.brand == "Discover"' src="public/img/discover-card.jpg" />
                                      &nbsp;&nbsp;&nbsp;********{{payment.last4}}
                                    </h5>
                                                <span><strong>Expires &nbsp;&nbsp;{{payment.exp_month}}/{{payment.exp_year}}</strong></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="user.subscription.now_level >'0'" class='text-center' style="padding-bottom:5px;">
                                <button class='btn btn-oj' ng-click='add_new = true'>Update Payment Method</button>
                            </div>
                        <div ng-show='add_new'>
                            <div class='text-center' ng-show='payments.length > 0'>
                                <button class='btn btn-oj' ng-click='add_new = false' style="margin-bottom:10px;">Use a saved method</button>
                            </div>
                            <form class='form row' method="POST" id="payment-form-global">
                                <div class='payment-empty-card'>
                                    <div class="card-group">
                                        <input class='form-control' placeholder='Enter your Card Number' type="text" size="20" data-stripe="number" />
                                    </div>
                                    <div class="card-group">
                                        <input class='form-control' placeholder='CVC' type="text" size="4" data-stripe="cvc" />
                                    </div>
                                    <div class="card-group">
                                        <select class='form-control' data-stripe="exp-month">
                                            <option value='01'>01</option>
                                            <option value='02'>02</option>
                                            <option value='03'>03</option>
                                            <option value='04'>04</option>
                                            <option value='05'>05</option>
                                            <option value='06'>06</option>
                                            <option value='07'>07</option>
                                            <option value='08'>08</option>
                                            <option value='09'>09</option>
                                            <option value='10'>10</option>
                                            <option value='11'>11</option>
                                            <option value='12'>12</option>
                                        </select>
                                    </div>
                                    <div class='card-group'>
                                        <select class='form-control' data-stripe="exp-year">
                                            <option value='2016'>2016</option>
                                            <option value='2017'>2017</option>
                                            <option value='2018'>2018</option>
                                            <option value='2019'>2019</option>
                                            <option value='2020'>2020</option>
                                            <option value='2021'>2021</option>
                                            <option value='2022'>2022</option>
                                            <option value='2023'>2023</option>
                                            <option value='2024'>2024</option>
                                            <option value='2025'>2025</option>
                                            <option value='2026'>2026</option>
                                            <option value='2027'>2027</option>
                                        </select>
                                    </div>
                                </div>
                                <input type='hidden' data-stripe='currency' value='usd' />
                                <div class='form-group checkbox'>
                                    <div class='text-center'>
                                        <button class='btn btn-secondary btn-sm'>Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>
                    <li ng-show="user.subscription.now_level >'0'">
                        <div style="padding-bottom:20px;padding-left:20px;">
                            <h4>Billing History:</h4>
                            <h5>Billing history should go here (download link)</h5>
                        </div>
                    </li>
                    <li ng-show="user.subscription.now_level >'0'">
                        <div style="padding-bottom:20px;padding-left:20px;">
                            <p>We'll be sad to see you go, but you can</p>
                            <button class="btn btn-oj btn-md btn-secondary" ng-click="click_subscription('0')">Cancel your subscription here.</button>
                        </div>
                    </li>
                </ul>
            </div>-->
            <form class='form' ng-submit='update_profile(profile)' ng-if='user.type=="member"'>
                <ul class='list-style-form form-horizontal' id='mprofile'>
                    <li class='section-title'>
                        <h2>Profile</h2>
                    </li>
                    <li>
                        <label class='col-sm-4 control-label' style='text-align: left;'>Name</label>
                        <div class="col-sm-8">
                            <div class='col-xs-6' style='padding-left:0;'>
                                <input class='form-control' ng-model='profile.first_name' placeholder='First Name' type='text'>
                            </div>
                            <div class='col-xs-6' style='padding-right:0;'>
                                <input class='form-control' ng-model='profile.last_name' placeholder='Last Name' type='text'>
                            </div>
                        </div>
                    </li>
                    <li>
                        <label class='col-sm-4 control-label' style='text-align: left;'>Age</label>
                        <div class='col-sm-8'>
                            <input class='form-control' ng-model='profile.age' placeholder="Age" type='text'>
                        </div>
                    </li>
                    <li>
                        <label class='col-sm-4 control-label' style='text-align: left;'>Gender</label>
                        <div class='col-sm-8 radio'>
                            <label class='btn'>
                                <input type='radio' ng-model='profile.gender' value='1'>Male</label>
                            <label class='btn'>
                                <input type='radio' ng-model='profile.gender' value='2'>Female</label>
                        </div>
                    </li>
                    <li>
                        <label class='col-sm-4 control-label' style='text-align: left;'>State</label>
                        <div class='col-sm-8'>
                            <select class='form-control' ng-model='profile.state'>
                                <option value=''>State</option>
                                <option value='{{key}}' ng-repeat='(key, value) in states'>{{value}}</option>
                            </select>
                        </div>
                    </li>
                    <li>
                        <label class='col-sm-4 control-label' style='text-align: left;'>Interest</label>
                        <div class='col-sm-8'>
                            <select class='form-control interest-selection-profile-view' ng-model='profile.interests' multiple="multiple">
                                <option value='{{key}}' ng-repeat='(key, value) in industries'>{{value}}</option>
                            </select>
                        </div>
                    </li>
                    <li>
                        <label class='col-sm-4 control-label' style='text-align: left;'>Profile Picture</label>
                        <div class='col-sm-8'>
                            <input type='file' ng-file-select='select_file($files,"avatar_url")'>
                            <img class='img-responsive' ng-if='profile.avatar_url' src='{{profile.avatar_url}}' style='max-width: 120px;height: auto;margin-top: 10px;'>
                        </div>
                    </li>
                    <li class='text-right'>
                        <button class='btn btn-oj' type='submit'>Update Your Info</button>
                    </li>
                </ul>
            </form>
            <div>
            </div>
        </div>
    </div>
    <script>
    fbq('track', 'PageView');
    </script>
    <script type="text/javascript">
    $(function() {
        setTimeout(function() {
            $(".interest-selection-profile-view").select2({
                placeholder: "Add interest"
            });
        }, 1000);
    });
    </script>
    <script>
    $(function() {
        var lastId,
            slideMenu = $(".list-style-form-nav"),
            topMenu = $(".navbar-fixed-top"),
            topMenuHeight = topMenu.outerHeight() + 15,
            menuItems = slideMenu.find('a');
        $("a.scrolling").click(function(e) {
            var href = $(this).attr("href"),
                offsetTop = href === "#" ? 0 : $(href).offset().top - topMenuHeight;
            $('html, body').stop().animate({
                scrollTop: offsetTop
            }, 300);
            e.preventDefault();
        });
        $(window).on('scroll', function() {
            $('.list-style-form').each(function() {
                if ($(window).scrollTop() >= $(this).offset().top - topMenuHeight) {
                    var id = $(this).attr('id');
                    $('.list-style-form-nav a').parent().removeClass('active');
                    $('.list-style-form-nav a[href="#' + id + '"]').parent().addClass('active');
                }
            });
        });
    });
    </script>
    <style>
    .list-style-form li {
        overflow:hidden;
        border-top: none !important;
        padding: 0 !important;
    }
    </style>
