<div class="col-sm-12">
    <div class="form-group">
        <div class="pricing-tables attached">
            <div class="row">
                <div class="col-sm-4 col-md-4 subscription-div" ng-class="{'now-level':user.subscription.now_level=='10','next-level':user.subscription.next_level=='10'}" ng-hide="subscription_type == 'launch' && user.subscription.now_level>='10'">
                    <div class="plan first">
                        <div class="head">
                            <h2>Standard</h2>
                        </div>
                        <div class="price">
                            <!--<h3 style="font-size:34;text-decoration:line-through;">$120</h3>-->
                            <h3><span class="symbol">$</span>39</h3>
                            <h4>per month</h4>
                            <p class="text-center" style="font-weight:bold;font-size:18px;">For individuals just starting advertising.</p>
                            <p class="text-center" style="font-weight: 300;font-size:12px;margin-bottom:0;">(Cancel Anytime)</p>
                        </div>
                        <center>
                            <hr style="margin: 0 !important;width:75%;">
                        </center>
                        <ul class="item-list" style="text-align:left;padding-left:40px;padding-top:0px;padding-bottom:0px;">
                            <li style="font-weight:bold;">Standard Includes:</li>
                            <li>Access To Audience-Generated Campaigns</li>
                            <li>Facebook And Instagram Ads</li>
                            <li>Age, Interest, And Gender Creative Targeting</li>
                            <li>Up To $50 In Testing</li>
                        </ul>
                        <ul class="item-list" style="padding-top:0px;">
                            <center>
                                <hr style="margin: 0 !important;width:75%;">
                            </center>
                            <li style="padding-top:10px !important;text-align:center;">Money Back Guarantee</li>
                        </ul>
                        <button type="button" class="btn btn-wj btn-lg sign-up-btn" ng-click='click_subscription("10",more_action)'>Select & Launch</button>
                        <p class="more-p now-level-p">Current Plan</p>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 subscription-div" ng-class="{'now-level':user.subscription.now_level=='20','next-level':user.subscription.next_level=='20'}" ng-hide="subscription_type == 'launch' && user.subscription.now_level>='20'">
                    <div class="plan recommended">
                        <!-- style="height:635px;"-->
                        <div class="head" style="background:#f7a000;">
                            <h2>Premium</h2>
                        </div>
                        <div class="price" style="border-top:none;">
                            <!--style="margin-top:80px;"-->
                            <!--<h3 style="font-size:34;text-decoration:line-through;">$300</h3>-->
                            <h3><span class="symbol">$</span>119</h3>
                            <h4>per month</h4>
                            <p class="text-center" style="font-weight:bold;font-size:18px;">For teams looking to explore new marketing perspectives.</p>
                            <p class="text-center" style="font-weight: 300;font-size:12px;margin-bottom:0;">(Cancel Anytime)</p>
                        </div>
                        <center>
                            <hr style="margin: 0 !important;width:75%;">
                        </center>
                        <ul class="item-list" style="text-align:left;padding-left:40px;padding-top:0px;padding-bottom:0px;">
                            <li style="font-weight:bold;">Everything In Standard And:</li>
                            <li>Twitter Ads</li>
                            <li>Creator Location Targeting</li>
                            <li>Up To $500 In Testing</li>
                        </ul>
                        <ul class="item-list" style="padding-top:0px;">
                            <center>
                                <hr style="margin: 0 !important;width:75%;">
                            </center>
                            <li style="padding-top:10px !important;text-align:center;">Money Back Guarantee</li>
                        </ul>
                        <button type="button" class="btn btn-wj btn-lg sign-up-btn" ng-click='click_subscription("20",more_action)'>Select & Launch</button>
                        <p class="more-p now-level-p">Current Plan</p>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 subscription-div" ng-class="{'now-level':user.subscription.now_level=='30','next-level':user.subscription.next_level=='30'}" ng-hide="subscription_type == 'launch' && user.subscription.now_level>='30'">
                    <div class="plan last">
                        <!-- style="height:618px;"-->
                        <div class="head" style="background:#f72200;">
                            <h2>Platinum</h2>
                        </div>
                        <div class="price">
                            <!-- style="margin-top: 121px;"-->
                            <!--<h3 style="font-size:34;text-decoration:line-through;">$299</h3>-->
                            <h3><span class="symbol">$</span>299</h3>
                            <h4>per month</h4>
                            <p class="text-center" style="font-weight:bold;font-size:18px;">For departments looking looking to expand and accelerate new audiences.</p>
                            <p class="text-center" style="font-weight: 300;font-size:12px;margin-bottom:0;">(Cancel Anytime)</p>
                        </div>
                        <center>
                            <hr style="margin: 0 !important;width:75%;">
                        </center>
                        <ul class="item-list" style="text-align:left;padding-left:40px;padding-top:0px;padding-bottom:0px;">
                            <li style="font-weight:bold;">Everything In Premium And:</li>
                            <li>Google, Bing, and LinkedIn Ads</li>
                            <li>Behavior And Occupation Targeting</li>
                            <li>Up To $5,000 In Testing</li>
                        </ul>
                        <ul class="item-list" style="padding-top:0px;">
                            <center>
                                <hr style="margin: 0 !important;width:75%;">
                            </center>
                            <li style="padding-top:10px !important;text-align:center;">Money Back Guarantee</li>
                        </ul>
                        <button type="button" class="btn btn-wj btn-lg sign-up-btn" ng-click='click_subscription("30",more_action)'>Select & Launch</button>
                        <p class="more-p now-level-p">Current Plan</p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- row-->
        </div>
        <!-- pricing-tables -->
    </div>
</div>
<style>
.list-style-form li {
    overflow: hidden;
    border-top: none !important;
    padding: 0 !important;
}
