<div class='row content-padding'>
  <div class='col-xs-12'><h3 class='text-center'>For Writers</h3></div>
  <uib-accordion class='col-sm-6 col-xs-12 content-padding'>
      <uib-accordion-group heading="What is Tappyn?">
        	Tappyn pays you to write short ads based on stuff you like. It works like a contest but only 49 other entries are allowed per contest. Each ad only takes 90 seconds to make and winners are awarded cash immediately after they are chosen. You can also get rewarded if others like your submission and upvote it.
      </uib-accordion-group>
      <uib-accordion-group heading="What is an ad contest?">
        Contests are launched when companies need ads their audiences love. That's where you come in.
      </uib-accordion-group>
      <uib-accordion-group heading="How do I join the party?">
       Sign in so that we can know what kind of contests you'll like and start writing away.
      </uib-accordion-group>
      <uib-accordion-group heading="When does each party end?">
        You have 7 days from the time the contests launches to when it closes.
      </uib-accordion-group>
      <uib-accordion-group heading="What do I do with the ad brief?">
        You use your imagination to create something YOU'd love to see. 
      </uib-accordion-group>
      <uib-accordion-group heading="How do I find contests I like?">
        Tell us a little bit about you and we'll propose some options. You can also segment contests by industry.
      </uib-accordion-group>
      <uib-accordion-group heading="What is an ad handover?">
        When a company chooses a submission, that winner will immediately be notified and paid before the company receives your chosen advertisement.
      </uib-accordion-group>
       <uib-accordion-group heading="What is a payout and how do I request one?">
       A payout is when you've won cash and you want to move it from our site to your pocket.
      </uib-accordion-group>
      <uib-accordion-group heading="What payment methods are available?">
       Our default payout method is integrated into your account! Just input your account info, and your winnings can be directly deposited into the account of your choosing. If you’re an international user, just contact us through squad@tappyn.com or on the website, and we’ll arrange a PayPal payout method.
      </uib-accordion-group>
      <uib-accordion-group heading="How do I know I'll get paid?">
        A winner is guaranteed for every contest! On the off chance that a company doesn’t choose a submission within 48 hours, the submission with the most votes will be paid $50, so it’s important to share your submission with your friends to gain more votes.
      </uib-accordion-group>
      <uib-accordion-group heading="When do I sign the Copyright Transfer Agreement?">
        If you're like us, we’re not a fan of paperwork, so we’ve saved you some time and have included it in our Terms of Service that are agreed to during your sign-up. We’ve taken care of the legal process, so when you win, you only have to focus on what you’re going to do with your winnings!
      </uib-accordion-group>
   </uib-accordion>   
    <uib-accordion class='col-sm-6 col-xs-12 content-padding'>
      <uib-accordion-group heading="What is the upvoting system used for?">
        The voting system is used to gain Tappyn points (which can then be used for exclusive contests), increase the spotlight on your submission for companies to see, and help choose a winning submission in the case when a company doesn’t choose a submission within 48 hours of the contests ending.
      </uib-accordion-group>
      <uib-accordion-group heading="Why is my ad not getting upvoted?">
        Feel free to share your own submission, so you’ll get a little help from your friends. Or maybe you had a rough morning. Maybe you're not in your prime on a Tuesday. No sweat - there's plenty of room for multiple at bats. 
      </uib-accordion-group>
      <uib-accordion-group heading='Do up-votes influence the winning submission?'>
       The more up-votes that your submission has can make it jump out to each company when they’re analyzing all of the submissions. It’s ultimately up to the company that is hosting the contest to decide on the winning ad, but gathering up-votes from sharing and other users can significantly increase your chances of being chosen, and on the rare occasion where a company doesn’t choose a submission within 48 hours, the submission with the highest votes will be paid!
      </uib-accordion-group>
      <uib-accordion-group heading="What are Tappyn Points and how do I use them?">
         Tappyn Points can be redeemed for exclusive access to contests. The system is not live just yet, but you can start gaining points now, and we'll notify you as soon as your points can be redeemed!
      </uib-accordion-group>
      <uib-accordion-group heading='How do I get Tappyn Points?'>
          You can increase your Tappyn points by submitting to a contest, up-voting other submissions that you like, sharing your own submission, and of course, winning a contest. Winning a contest will earn you the most points, but you can still earn tons of points by up-voting other submissions that you like too!
      </uib-accordion-group>
      <uib-accordion-group heading='Why should I share my submission?'>
          Bring your own squad on board, and boost your submission to the top voted spot!
      </uib-accordion-group>
      <uib-accordion-group heading="What does the number 50 mean?">
        Only 50 submissions per contest. It keeps your chances of winning high and anymore than that isn't as easy on the eyes.
      </uib-accordion-group>
      <uib-accordion-group heading="How will I know if I win?">
        You'll get a killer e-mail and it will show up on your account dashboard.
      </uib-accordion-group>
      <uib-accordion-group heading="How many contests can I enter?">
        As many as you can handle. 
      </uib-accordion-group>
      <uib-accordion-group heading="How many times can I win?">
       Well that depends on how good you are :D
      </uib-accordion-group>
      <uib-accordion-group heading="How do I contact someone?">
        Hit us up at squad@tappyn.com
      </uib-accordion-group>
  </uib-accordion>
  <div class='col-xs-12'><h3 class='text-center'>For Companies</h3></div>
  <uib-accordion class='col-sm-6 col-xs-12 content-padding'>
      <uib-accordion-group heading="What is Tappyn?">
        Tappyn gives you an ad your audience loves. How do we know your audiences lvoes it? They write it and then vote on their favorites. You also receive in-depth exposure to our entire base, as well as further exposure from users sharing their submissions about your company. 
      </uib-accordion-group>
      <uib-accordion-group heading="How many ads will I get to choose from?">
        You'll pick your favorite of 50 ads.
      </uib-accordion-group>
      <uib-accordion-group heading="How long do contests take?">
       Contests take 7 days from start to finish.
      </uib-accordion-group>
      <uib-accordion-group heading="When do I pay for the ad contest?">
        As soon as you launch your contest.
      </uib-accordion-group>
      <uib-accordion-group heading="Can I extend my ad contest?">
        Not at this time. Keep an eye out for future opporutunties to do this however.
      </uib-accordion-group>
  </uib-accordion>
  <uib-accordion class='col-sm-6 col-xs-12 content-padding'>
      <uib-accordion-group heading="How do I edit my contest?">
        Log into your account and simply hit edit contest.
      </uib-accordion-group>
      <uib-accordion-group heading="How do I choose a winner?">
        From your dashboard, click on the contest that has recently closed and press choose winner underneath your favorite ad.
      </uib-accordion-group>
      <uib-accordion-group heading="What is the ad handover and how does it work?">
       This is where you and the writer sign the Ad Transfer Agreement and you own the ad outright.
      </uib-accordion-group>
      <uib-accordion-group heading="How long do I have to pick a winner?">
        You have 3 days from when the contest closes to choose a winner. Otherwise, we'll pick the one with the highest upvotes.
      </uib-accordion-group>
      <uib-accordion-group heading="Can I create more than one contest?">
        Absolutely.
      </uib-accordion-group>
  </uib-accordion>
</div>

<script>
fbq('track', 'PageView');
window.Intercom('update');
</script>