<uib-accordion class='col-sm-6 col-xs-12 content-padding'>
	<h3 class='text-center'>Getting Started</h3>
    <uib-accordion-group heading="What is Tappyn?">
      	Tappyn is a web platform where business can launch contests for short advertisements written by their target audience. After a company tells us what kind of ad it needs and who they’re looking for, we expose their contest to our users that meet their demographic requirements. Our users then submit a two sentence ad. After 7 days, the company views the submissions and awards the winner $50 cash. Not a bad ROI for a few minutes of creativity.
    </uib-accordion-group>
    <uib-accordion-group heading="What is a contest?">
      A contest is a request by an organization for digital ads written by their target audience. Each submission takes 90 seconds and puts you in a position to win $50 cash.
    </uib-accordion-group>
    <uib-accordion-group heading="How many submissions can I submit?">
      You can only submit once per contest.
    </uib-accordion-group>
    <uib-accordion-group heading="How will I know if I win?">
      We announce all of the winners via e-mail, but you will also be notified in your account.
    </uib-accordion-group>
    <uib-accordion-group heading="How do I get started as a writer?">
      Find a contest you like and submit!
    </uib-accordion-group>
    <uib-accordion-group heading="How many contests can I enter?">
      You can enter any contest you see.
    </uib-accordion-group>
    <uib-accordion-group heading="How many times can I win?">
      There is no limit to how many times you can win. Only how much creativity you have.
    </uib-accordion-group>
    <uib-accordion-group heading="How do I contact customer support?">
      Send us a message under the contact us tab!
    </uib-accordion-group>
</uib-accordion>

<uib-accordion class='col-sm-6 col-xs-12 content-padding'>
	<h3 class='text-center'>Launching your own Contest</h3>
    <uib-accordion-group heading="Where do I start?">
      Check out our launch tab to get started or click <a href='#/launch'>here</a>!
    </uib-accordion-group>
    <uib-accordion-group heading="What are the different Ad Packages?">
      Your company can either choose between Facebook, Twitter, Google, or General Ad Packages. Click the Launch tab in the navigation to find out more about each package!
    </uib-accordion-group>
    <uib-accordion-group heading="How many submissions will my company receive?">
      At the end of your contest, you’re guaranteed 50 personalized submissions from your target market.
    </uib-accordion-group>
    <uib-accordion-group heading="How long are the contests?">
      Each contest lasts 7 days. You can launch multiple contests at the same time too!
    </uib-accordion-group>
    <uib-accordion-group heading="How does payment work at the contests closing?">
      You can pay for your contest with either Paypal or credit card via Stripe!
    </uib-accordion-group>
    <uib-accordion-group heading="Can I create more than one contest?">
      Of course you can! Launch multiple contests at the same time and complete the ultimate ad package for your company.
    </uib-accordion-group>
</uib-accordion>