
<script type="text/ng-template" id="group-template.html">
    <div class="panel tp-faq">
        <div class="panel-heading">
            <h4 class="panel-title">
          <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
            <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
              {{heading}}
            </span>
          </a>
        </h4>
        </div>
        <div class="panel-collapse collapse" uib-collapse="!isOpen">
            <div class="panel-body" ng-transclude></div>
        </div>
    </div>
</script>
<div class=container-fluid>
	<section class="love-raw" style="background:#fff;padding-top:0px;">
	<div class="row">
	 <div class="col-xs-12" style="background:#EBEEF0;padding-bottom:10px;padding-top:50px;">
		 <div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<h2 class="pull-left price-head">FAQ</h2>
		 </div>
	 </div>

 </div>
 </section>

        <div class='row'>
            <div class="col-xs-12 launch-page-box">

                        <div class="row">
                            <uib-accordion class='col-xs-12 col-sm-6 col-sm-offset-3'>
                                <div class="col-xs-12">
                                <h3 style="font-size:40px;">Getting Started</h3>
                                <div class="col-xs-12 col-sm-6">
                                <h4 style="font-size:18px;font-weight:600;">New To Fabel?</h4>
                                <uib-accordion-group heading="What is Fabel?" template-url="group-template.html">
                                    Fabel is the world's leading platform to understand your customers, powered by people just like them.
                                    <br><br>
                                    Businesses and startups everywhere use our service to find a message their audience loves, so they can grow their business online.
                                    <br><br>
                                    Creative people in your target demographic all over the US compete with their peers in messaging campaigns to improve their skills and discover cool new businesses.
                                    <br><br>
                                    Here are some of the reasons why our customers love running messaging campaigns:
                                    <br><br>
                                    – Messaging campaigns are ideal for clients who don't have access to focus groups or the resources for surveys. Campaigns alllow clients to see ideas from and work with many different creatives at once.
                                    <br><br>
                                    - Messaging campaigns let clients see perspectives on how potential customers view their business, rather than spending thousands of dollars on an irrelevant message.
                                    <br><br>
                                    - Messaging campaigns are quick. The average campaign lasts a week at the end of which the client walks away with a finished message ready to use. The creators have great new messages to add to their portfolios - and they've won some money too.
                                    <br><br>
                                    - If clients aren't satisfied with messages submitted to their campaigns, we offer a 100% money back guarantee.
                                </uib-accordion-group>
                                <uib-accordion-group heading="What is a campaign?" template-url="group-template.html">
                                    A campaign is a request from clients to creators in their target demographic to create the most relevant message for your brief.
                                </uib-accordion-group>
                                <uib-accordion-group heading="100% Money Back Guarantee? Really?" template-url="group-template.html">
                                    We offer a 100% money back guarantee within 30 days of payment on all campaigns.
                                    <br><br>
                                    Not happy with the messages? No worries!
                                </uib-accordion-group>
                                <uib-accordion-group heading="How many messages will I get?" template-url="group-template.html">
                                    We guarantee 30 messages for every campaign.
                                </uib-accordion-group>
                                <uib-accordion-group heading="How do I get started as a creator on Fabel?" template-url="group-template.html">
                                    It's easy to set yourself up on Fabel. Just create a profile and then search for campaigns that interest you.
                                    <br><br>
                                    You're free to create for any campaigns you like - there's no charge for creators.
                                </uib-accordion-group>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                            <h4 style="font-size:18px;font-weight:600;">Launching A Campaign</h4>
                            <uib-accordion-group heading="How do I create a compelling campaign?" template-url="group-template.html">
                                Writing an on-point brief is the first key to success when runnign a messaging campaign. An effective breif gives creators everything they need to know to exceed your expectations.
                            </uib-accordion-group>
                            <uib-accordion-group heading="Which package should I choose?" template-url="group-template.html">
                                Think about how much experience you have briefing and working with creators and how targeted your messaging must be. The more you put into your campaign, the more you'll get out.
                            </uib-accordion-group>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                        <h4 style="font-size:18px;font-weight:600;">Entering A Campaign</h4>
                        <uib-accordion-group heading="How do I create for a campaign?" template-url="group-template.html">
                            After logging in, simply go to the create tab and click the button, 'Submit.' Once you've entered into the campaign, you're all set.
                        </uib-accordion-group>
                        <uib-accordion-group heading="Am I allowed to use stock images?" template-url="group-template.html">
                            Do NOT submit stock images or stock art. Clients wouldn't be happy if they are legally sued over copyright issues arising from your work - and you'll be liable for any costs and damages they incur.
                        </uib-accordion-group>
                        <uib-accordion-group heading="How many campaigns can I enter?" template-url="group-template.html">
                            Create messages for as many campaigns that interest you! We've had users get paid for multiple campaigns in a week, so we recommend that you create messages for all of them.
                        </uib-accordion-group>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                    <h4 style="font-size:18px;font-weight:600;">Pricing And Payment</h4>
                    <uib-accordion-group heading="When do I pay for the message?" template-url="group-template.html">
                        At Fabel, you pay for your messaging campaign up front. This assures creators that you're able to pay for your final message.
                        <br><br>
                        When you input your credit card or PayPal details (ELV, SOFORT or iDEAL for Europe) and click the Pay & launch campaign button, you’ll be charged the price of your campaign immediately.
                    </uib-accordion-group>
                    <uib-accordion-group heading="What payment methods do you take?" template-url="group-template.html">
                        You can pay for your campaign using:
                        <br><br>
                        Visa
                        <br><br>
                        MasterCard
                        <br><br>
                        American Express
                        <br><br>
                        Discover
                        <br><br>
                        PayPal
                        <br><br>
                        SOFORT, iDEAL, ELV (region specific)
                    </uib-accordion-group>
                </div>
                            </div>
                            </uib-accordion>
                        </div>
                        <div class="row">
                            <uib-accordion class='col-xs-12 col-sm-6 col-sm-offset-3'>
                                <div class="col-xs-12">
                                <h3 style="font-size:40px;">Businesses</h3>
                                <div class="col-xs-12 col-sm-6">
                                <h4 style="font-size:18px;font-weight:600;">How Campaigns Work</h4>
                                <uib-accordion-group heading="How long do campaigns take and what's involved?" template-url="group-template.html">
                                    Campaigns will usually run for 7 days. A customer can end a campaign at any time by selecting their favorite, but if they don't, the contest will run in 3 stages:
                                    <br><br>
                                    Creative: The first 4 days of the contest are the Creative. During this stage, the campaign is open to all eligible creators, and listed on our campaign listings page. This is the creators chance to show off their skills, and the campaign holder’s chance to see how creator are interpreting their brief.
                                    <br><br>
                                    Testing: At the end of the Creative, the campaign holder will have up to 2 days to edit and select the messages they'd like to test.
                                    <br><br>
                                    Selected: After testing ends, the campaign holder has up to 1 week to review and select their favorite messages to own.
                                </uib-accordion-group>
                                <uib-accordion-group heading="What is testing?" template-url="group-template.html">
                                    Testing is the second stage of your campaign and it begins as soon as you click 'Start' from your dashboard. We take the messages you've selected and run them as advertisements on other channels using the same targeting you gave us for your campaign.
                                    <br><br>
                                    We'll see how the messages compare to one another and then show you the rankings of each numbered 1 - 30.
                                </uib-accordion-group>
                                <uib-accordion-group heading="What does each different status mean?" template-url="group-template.html">
                                    You can see the campaign status that your message was submitted to right in your dashboard. Here's a breakdown of what they mean...
                                    <br><br>
                                    -Live: This means that a campaign hasn't ended yet, and more messages are in the process of being created. Once a campaign reaches its cap of 30 messages or time runs out, it will be ready to start testing.
                                    <br><br>
                                    -Pending Testing: The campaign has ended and we're about to start testing your messages in real time on a live platform.
                                    <br><br>
                                    -Testing: Selected messages are tested for approximately 24 hours so both you and the company hosting the campaign can see how they perform.
                                    <br><br>
                                    -Pending Selection: Testing has been completed, and you should be able to see the CTR (Click Through Rate) that your message generated in your dashboard.
                                    <br><br>
                                    -Complete: This final status means that the campaign has ended, testing is done, and the company that hosted the campaign has purchased their favorite messages.
                                </uib-accordion-group>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                            <h4 style="font-size:18px;font-weight:600;">Managing Your Campaign</h4>
                            <uib-accordion-group heading="How do I edit my messages?" template-url="group-template.html">
                                You'll see a small pencil icon on each message card from your dashboard where you can edit the message.
                            </uib-accordion-group>
                            <uib-accordion-group heading="Can I e-mail the creators in my campaign?" template-url="group-template.html">
                            We're still working on building a messaging feature to our platform so keep your eyes peeled.
                            </uib-accordion-group>
                            <uib-accordion-group heading="How long do campaigns last?" template-url="group-template.html">
                                Campaigns last 7 days from start to finish. If they reach 30 messages before this time period, we'll keep your campaign on our site for another 24 hours to extend your company's exposure to our members.
                            </uib-accordion-group>
                            <uib-accordion-group heading="When do I pay for the campaign?" template-url="group-template.html">
                                As soon as you launch your campaign.
                            </uib-accordion-group>
                            <uib-accordion-group heading="Can I extend my campaign?" template-url="group-template.html">
                                Not at this time. Keep an eye out for future opporutunties to do this however.
                            </uib-accordion-group>
                            <uib-accordion-group heading="Can I create more than one campaign?" template-url="group-template.html">
                                Absolutely. As each campaign is tailored for a specific social media platform, having different campaigns active can drastically expand your messages reach.
                            </uib-accordion-group>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                        <h4 style="font-size:18px;font-weight:600;">Testing</h4>
                        <uib-accordion-group heading="What is a Fabel campaign?" template-url="group-template.html">
                            Fabel crowdsources digital messages from your target audience. These are messages your audience is guaranteed to love because it was created by them. Launching a campaign on Fabel also gives you exposure to potential customers in itself. We're building a future where you never have to create another message again.
                        </uib-accordion-group>
                        <uib-accordion-group heading="How many messages will I get to choose from?" template-url="group-template.html">
                            At the end of your campaign, you'll have 30 personalized messages, and you'll recieve all rights to your favorite ones!
                        </uib-accordion-group>
                        <uib-accordion-group heading="How long do campaigns last?" template-url="group-template.html">
                            Campaigns last 7 days from start to finish. If they reach 30 messages before this time period, we'll keep your campaign on our site for another 24 hours to extend your company's exposure to our members.
                        </uib-accordion-group>
                        <uib-accordion-group heading="When do I pay for the campaign?" template-url="group-template.html">
                            As soon as you launch your campaign.
                        </uib-accordion-group>
                        <uib-accordion-group heading="Can I extend my campaign?" template-url="group-template.html">
                            Not at this time. Keep an eye out for future opporutunties to do this however.
                        </uib-accordion-group>
                        <uib-accordion-group heading="Can I create more than one campaign?" template-url="group-template.html">
                            Absolutely. As each campaign is tailored for a specific social media platform, having different campaigns active can drastically expand your messages reach.
                        </uib-accordion-group>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                    <h4 style="font-size:18px;font-weight:600;">Choosing Your Favorites</h4>
                    <uib-accordion-group heading="What is a Fabel campaign?" template-url="group-template.html">
                        Fabel crowdsources digital messages from your target audience. These are messages your audience is guaranteed to love because it was created by them. Launching a campaign on Fabel also gives you exposure to potential customers in itself. We're building a future where you never have to create another message again.
                    </uib-accordion-group>
                    <uib-accordion-group heading="How many messages will I get to choose from?" template-url="group-template.html">
                        At the end of your campaign, you'll have 30 personalized messages, and you'll recieve all rights to your favorite ones!
                    </uib-accordion-group>
                    <uib-accordion-group heading="How long do campaigns last?" template-url="group-template.html">
                        Campaigns last 7 days from start to finish. If they reach 30 messages before this time period, we'll keep your campaign on our site for another 24 hours to extend your company's exposure to our members.
                    </uib-accordion-group>
                    <uib-accordion-group heading="When do I pay for the campaign?" template-url="group-template.html">
                        As soon as you launch your campaign.
                    </uib-accordion-group>
                    <uib-accordion-group heading="Can I extend my campaign?" template-url="group-template.html">
                        Not at this time. Keep an eye out for future opporutunties to do this however.
                    </uib-accordion-group>
                    <uib-accordion-group heading="Can I create more than one campaign?" template-url="group-template.html">
                        Absolutely. As each campaign is tailored for a specific social media platform, having different campaigns active can drastically expand your messages reach.
                    </uib-accordion-group>
                </div>
                            </div>
                            </uib-accordion>
                        </div>

                        <div class="row">
                            <uib-accordion class='col-xs-12 col-sm-6 col-sm-offset-3'>
                                <div class="col-xs-12">
                                <h3 style="font-size:40px;">Creators</h3>
                                <div class="col-xs-12 col-sm-6">
                                <h4 style="font-size:18px;font-weight:600;">Campaign Basics</h4>
                                <uib-accordion-group heading="What is Fabel?" template-url="group-template.html">
                                    Fabel is a place to create authentic messages for people like you. Businesses looking for messages and branding will launch a campaign, and you'll have the opportunity to create an message for them based on your personal experiences. Most messages only ask for a sentence or two, but some ask you to select a photo you think would perform well. Messages on Fabel only require a few minutes to make, and you'll earn $20-$40 for every ad that a company purchases.
                                </uib-accordion-group>
                                <uib-accordion-group heading="What is a campaign?" template-url="group-template.html">
                                    Campaigns are hosted by cool, new companies willing to pay an immediate $20-$40 for digital messages created by you. They are capped at 30 messages submissions and end after 7 days or if they reach their cap limit first. At the close of the campaign, the hosting company chooses the messages that they love, and the creators of those messages are instantly paid. Other members of Fabel can up-vote your copy, bringing it to the top of the campaign feed for the company to see. Submit to as many campaigns as you'd like!
                                </uib-accordion-group>
                                <uib-accordion-group heading="What does a purchased message mean?" template-url="group-template.html">
                                    When an message gets purchased, the creator of that message gets immediately paid!
                                </uib-accordion-group>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                            <h4 style="font-size:18px;font-weight:600;">Testing</h4>
                            <uib-accordion-group heading="What is a Fabel campaign?" template-url="group-template.html">
                                Fabel crowdsources digital messages from your target audience. These are messages your audience is guaranteed to love because it was created by them. Launching a campaign on Fabel also gives you exposure to potential customers in itself. We're building a future where you never have to create another message again.
                            </uib-accordion-group>
                            <uib-accordion-group heading="How many messages will I get to choose from?" template-url="group-template.html">
                                At the end of your campaign, you'll have 30 personalized messages, and you'll recieve all rights to your favorite ones!
                            </uib-accordion-group>
                            <uib-accordion-group heading="How long do campaigns last?" template-url="group-template.html">
                                Campaigns last 7 days from start to finish. If they reach 30 messages before this time period, we'll keep your campaign on our site for another 24 hours to extend your company's exposure to our members.
                            </uib-accordion-group>
                            <uib-accordion-group heading="When do I pay for the campaign?" template-url="group-template.html">
                                As soon as you launch your campaign.
                            </uib-accordion-group>
                            <uib-accordion-group heading="Can I extend my campaign?" template-url="group-template.html">
                                Not at this time. Keep an eye out for future opporutunties to do this however.
                            </uib-accordion-group>
                            <uib-accordion-group heading="Can I create more than one campaign?" template-url="group-template.html">
                                Absolutely. As each campaign is tailored for a specific social media platform, having different campaigns active can drastically expand your messages reach.
                            </uib-accordion-group>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                        <h4 style="font-size:18px;font-weight:600;">After A Campaign Ends</h4>
                        <uib-accordion-group heading="What is a Fabel campaign?" template-url="group-template.html">
                            Fabel crowdsources digital messages from your target audience. These are messages your audience is guaranteed to love because it was created by them. Launching a campaign on Fabel also gives you exposure to potential customers in itself. We're building a future where you never have to create another message again.
                        </uib-accordion-group>
                        <uib-accordion-group heading="How many messages will I get to choose from?" template-url="group-template.html">
                            At the end of your campaign, you'll have 30 personalized messages, and you'll recieve all rights to your favorite ones!
                        </uib-accordion-group>
                        <uib-accordion-group heading="How long do campaigns last?" template-url="group-template.html">
                            Campaigns last 7 days from start to finish. If they reach 30 messages before this time period, we'll keep your campaign on our site for another 24 hours to extend your company's exposure to our members.
                        </uib-accordion-group>
                        <uib-accordion-group heading="When do I pay for the campaign?" template-url="group-template.html">
                            As soon as you launch your campaign.
                        </uib-accordion-group>
                        <uib-accordion-group heading="Can I extend my campaign?" template-url="group-template.html">
                            Not at this time. Keep an eye out for future opporutunties to do this however.
                        </uib-accordion-group>
                        <uib-accordion-group heading="Can I create more than one campaign?" template-url="group-template.html">
                            Absolutely. As each campaign is tailored for a specific social media platform, having different campaigns active can drastically expand your messages reach.
                        </uib-accordion-group>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                    <h4 style="font-size:18px;font-weight:600;">Profile</h4>
                    <uib-accordion-group heading="What is a Fabel campaign?" template-url="group-template.html">
                        Fabel crowdsources digital messages from your target audience. These are messages your audience is guaranteed to love because it was created by them. Launching a campaign on Fabel also gives you exposure to potential customers in itself. We're building a future where you never have to create another message again.
                    </uib-accordion-group>
                    <uib-accordion-group heading="How many messages will I get to choose from?" template-url="group-template.html">
                        At the end of your campaign, you'll have 30 personalized messages, and you'll recieve all rights to your favorite ones!
                    </uib-accordion-group>
                    <uib-accordion-group heading="How long do campaigns last?" template-url="group-template.html">
                        Campaigns last 7 days from start to finish. If they reach 30 messages before this time period, we'll keep your campaign on our site for another 24 hours to extend your company's exposure to our members.
                    </uib-accordion-group>
                    <uib-accordion-group heading="When do I pay for the campaign?" template-url="group-template.html">
                        As soon as you launch your campaign.
                    </uib-accordion-group>
                    <uib-accordion-group heading="Can I extend my campaign?" template-url="group-template.html">
                        Not at this time. Keep an eye out for future opporutunties to do this however.
                    </uib-accordion-group>
                    <uib-accordion-group heading="Can I create more than one campaign?" template-url="group-template.html">
                        Absolutely. As each campaign is tailored for a specific social media platform, having different campaigns active can drastically expand your messages reach.
                    </uib-accordion-group>
                </div>
                <div class="col-xs-12 col-sm-6">
                <h4 style="font-size:18px;font-weight:600;">Payouts</h4>
                <uib-accordion-group heading="What is a Fabel campaign?" template-url="group-template.html">
                    Fabel crowdsources digital messages from your target audience. These are messages your audience is guaranteed to love because it was created by them. Launching a campaign on Fabel also gives you exposure to potential customers in itself. We're building a future where you never have to create another message again.
                </uib-accordion-group>
                <uib-accordion-group heading="How many messages will I get to choose from?" template-url="group-template.html">
                    At the end of your campaign, you'll have 30 personalized messages, and you'll recieve all rights to your favorite ones!
                </uib-accordion-group>
                <uib-accordion-group heading="How long do campaigns last?" template-url="group-template.html">
                    Campaigns last 7 days from start to finish. If they reach 30 messages before this time period, we'll keep your campaign on our site for another 24 hours to extend your company's exposure to our members.
                </uib-accordion-group>
                <uib-accordion-group heading="When do I pay for the campaign?" template-url="group-template.html">
                    As soon as you launch your campaign.
                </uib-accordion-group>
                <uib-accordion-group heading="Can I extend my campaign?" template-url="group-template.html">
                    Not at this time. Keep an eye out for future opporutunties to do this however.
                </uib-accordion-group>
                <uib-accordion-group heading="Can I create more than one campaign?" template-url="group-template.html">
                    Absolutely. As each campaign is tailored for a specific social media platform, having different campaigns active can drastically expand your messages reach.
                </uib-accordion-group>
            </div>
                            </div>
                            </uib-accordion>
                        </div>

                        <div class="row">
                            <uib-accordion class='col-xs-12 col-sm-6 col-sm-offset-3'>
                                <div class="col-xs-12">
                                <h3 style="font-size:40px;">General</h3>
                                <div class="col-xs-12 col-sm-6">
                                <h4 style="font-size:18px;font-weight:600;">Account Management</h4>
                                <uib-accordion-group heading="What is Fabel?" template-url="group-template.html">
                                    Fabel is a place to create authentic messages for people like you. Businesses looking for messages and branding will launch a campaign, and you'll have the opportunity to create an message for them based on your personal experiences. Most messages only ask for a sentence or two, but some ask you to select a photo you think would perform well. Messages on Fabel only require a few minutes to make, and you'll earn $20-$40 for every ad that a company purchases.
                                </uib-accordion-group>
                            </div>
                        </div>
                    </uib-accordion>
                </div>
            </div>
<style>
.tp-faq .panel-title a:focus {
    color: #019F6E;
}

.tp-faq .panel-title a:hover {
    color: #019F6E;
}

.nav>li>a {
    color: #333;
}
</style>
