<script type="text/ng-template" id="group-template.html">
  <div class="panel tp-faq">
    <div class="panel-heading">
      <h4 class="panel-title">
          <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
            <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
              {{heading}}
            </span>
          </a>
        </h4>
    </div>
    <div class="panel-collapse collapse" uib-collapse="!isOpen">
      <div class="panel-body" ng-transclude></div>
    </div>
  </div>
</script>

<div class="container">
  <div class='content-padding'>
  <h2 class='text-center' style='font-weight:300;'>Frequently Asked Questions</h2>
  <div class='row'>
    <div class="col-xs-12 launch-page-box">

      <uib-tabset active="active">
        <uib-tab index="0" heading="Members" style="font-size:18px;">
          <div class="row">
          <uib-accordion class='col-sm-4 col-xs-12'>
              <h3>About Fabel</h3>
              <uib-accordion-group heading="What is Fabel?" template-url="group-template.html">
                Fabel is a place to create authentic ads for people like you. Businesses looking for ads will launch a campaign, and you'll have the opportunity to create an ad for them based on your personal experiences. Most ads only ask for a sentence or two, but some ask you to select a photo you think would perform well. Ads on Fabel only require a few minutes to make, and you'll earn $20-$50 for every ad that a company purchases.
              </uib-accordion-group>
              <uib-accordion-group heading="What is a campaign?" template-url="group-template.html">
                Campaigns are hosted by cool, new companies willing to pay an immediate $20-$50 for digital ads created by you. They are capped at 30 ad submissions and end after 7 days or if they reach their cap limit first. At the close of the campaign, the hosting company
                chooses the ads that they love, and the creators of those ads are instantly paid. Other members of Fabel can up-vote your copy, bringing it to the top of the campaign feed for the company to see. Submit to as many campaigns as you'd
                like!
              </uib-accordion-group>
              <uib-accordion-group heading="What does a purchased ad mean?" template-url="group-template.html">
                When an ad gets purchased, the creator of that ad gets immediately paid!
              </uib-accordion-group>
          </uib-accordion>
            <uib-accordion class='col-sm-4 col-xs-12'>
              <h3>Entering A Campaign</h3>
              <uib-accordion-group heading="How do I join?" template-url="group-template.html">
                It's 100% free to join Fabel. Either sign in with your email or through Facebook. If you choose the email sign up option, you'll immediately be sent a verification link. Once you're verified, you're ready to go! Be sure to read our
                <a
                    href="/guide">helpful copywriting guide</a> before creating your first ad.
              </uib-accordion-group>
              <uib-accordion-group heading="What kind of photos can I upload?" template-url="group-template.html">
                You can only use photos that you own legally or are free to use under Creative Commons Zero. We have partnered with Unsplash & Pixelbay to supply photos that match these criteria.<br>
                Photos found on Google or other stock image sites are strictly forbidden as they are copyrighted material. If found, we will be forced to delete your ad as well as potentially suspend your account. We take copyright extremely seriously.<br>
                You're also welcome to use your own personal photos, but we'd advise you to make sure they are extremely high quality photographs.
              </uib-accordion-group>
              <uib-accordion-group heading="How do I use a company's ad brief in a campaign?" template-url="group-template.html">
                On the left side of every campaign, an informational ad brief can be found which gives you important insight into creating the right copy for an ad. For every campaign, a company will provide you with an image that they want to use for their ads, and it's up to you to write the perfect caption. Personalized copies are almost always purchased before generic ones, so be sure to read about the company and what makes
                them different. Also, pay special attention to what they are looking for in an ad. Companies often explain in detail what type of ad they are more likely to love. It also won't hurt to check out their website, which is linked in the brief,
                to get a comprehensive sense of their branding. Remember, personalized ads almost always get purchased!
              </uib-accordion-group>
              <uib-accordion-group heading="How can I improve my chances of a company buying my ad?" template-url="group-template.html">
                First, under no circumstance should you submit work that isn't owned by you. They'll be removed immediately by our moderators. Second, read our <a href="/guide">helpful copywriting guide</a>!
                You'll thank us later.
              </uib-accordion-group>
              <uib-accordion-group heading="When do the campaigns end?" template-url="group-template.html">
                Campaigns end either 7 days after they are launched or when 30 ads have been submitted.
              </uib-accordion-group>
              <uib-accordion-group heading="What is an ad handover?" template-url="group-template.html">
                When a company chooses a copy for their image, the creator of that work will immediately be notified and paid. After the transaction has been successful, the creator of that copy automatically transfers the rights to use that ad (both the photo and the copy). Only ads
                that are purchased go through an ad handover, and if your ad wasn't chosen this time, you keep all rights to your copy.
              </uib-accordion-group>
              <uib-accordion-group heading="What does the number 30 mean?" template-url="group-template.html">
                All campaigns are capped at 30 ads. This keeps the chances of your ad being purchased high, and anymore ads than that isn't as easy on the eyes.
              </uib-accordion-group>
              <uib-accordion-group heading="How many campaigns can I create ads for?" template-url="group-template.html">
                Create ads for as many campaigns that interest you! We've had users get paid for more multiple campaigns in a week, so we recommend that you create ads for all of them.
              </uib-accordion-group>
              <uib-accordion-group heading="How many times can I sell different ads?" template-url="group-template.html">
                That depends on how good you are :D There's no limit on how many campaigns you can win!
              </uib-accordion-group>
              <uib-accordion-group heading="What if a company doesn't choose an ad?" template-url="group-template.html">
                If a campaign ends, and a company decides to not purchase at least one ad, Fabel will personally purchase the ad with the most likes. Be sure to share your ad, so your friends and family can like it!
              </uib-accordion-group>
            </uib-accordion>
            <uib-accordion class='col-sm-4 col-xs-12'>
              <h3>Payment</h3>
              <uib-accordion-group heading="What is a payout and how do I request one?" template-url="group-template.html">
                When your ad is purchased by a company, you'll be instantly notified, and you'll be paid $20-$50 by that company. You can claim your winnings either through our secure Stripe system in your account or via PayPal. It's as easy as that!
              </uib-accordion-group>
              <uib-accordion-group heading="Does Fabel take any fees from my ad?" template-url="group-template.html">
                Fabel is actually the only marketplace where we won't ever take any fees or commission for your copy. You keep 100% of the money you earn. It's as simple as that.
              </uib-accordion-group>
              <uib-accordion-group heading="What payment methods are available?" template-url="group-template.html">
                Stripe secure payments is 100% safe and is integrated into your account! Just input your account info, and your winnings can be directly deposited into the account of your choosing. If you’re an international user or would prefer to not use our integrated
                system, just contact us through squad@tappyn.com or on the website, and we’ll arrange a PayPal payout method.
              </uib-accordion-group>
              <uib-accordion-group heading="How do I know I'll get paid?" template-url="group-template.html">
                A winner is guaranteed for every campaign! On the off chance that a company doesn’t choose a winning ad within 3 days, the submission with the most votes will recieve the $20-$50 payout, so it’s important to make sure you're submitting an awesome ad that
                other members of Fabel will praise.
              </uib-accordion-group>
              <uib-accordion-group heading="When do I sign the Copyright Transfer Agreement?" template-url="group-template.html">
                If you're like us, we’re not a fan of paperwork, so we’ve saved you some time and have included it in our Terms of Service that every member must agree to during the sign up process. We’ve taken care of the legal process, so when you win, you only have
                to focus on what you’re going to do with your winnings!
              </uib-accordion-group>
              <uib-accordion-group heading="How will I know if I win?" template-url="group-template.html">
                You'll immediately get a killer e-mail from us, and it will also show up on your account dashboard.
              </uib-accordion-group>
            </uib-accordion>
            <uib-accordion class='col-sm-4 col-xs-12'>
              <h3>Dashboard</h3>
              <uib-accordion-group heading="What do the different ad statuses mean?" template-url="group-template.html">
              You can see the campaign status that your ad was submitted to right in your dashboard. Here's a breakdown of what they mean...<br>
              -Live: This means that a campaign hasn't ended yet, and more ads are in the process of being created. Once a campaign reaches its cap of 30 ads or time runs out, it will be ready to start testing.<br>
              -Pending Testing: The campaign has ended and we're about to start testing your ads in real time on a live platform.<br>
              -Testing: Selected ads are tested for approximately 24 hours so both you and the company hosting the campaign can see how they perform.<br>
              -Pending Selection: Testing has been completed, and you should be able to see the CTR (Click Through Rate) that your ad generated in your dashboard.<br>
              -Complete: This final status means that the campaign has ended, testing is done, and the company that hosted the campaign has purchased their favorite ads. <br>
              </uib-accordion-group>
            </uib-accordion>
          </div>
        </uib-tab>

        <uib-tab index="$index + 1" heading="Businesses" class='row' style="font-size:18px;">
          <uib-accordion class='col-sm-4 col-xs-12'>
            <h3>How Campaigns Work</h3>
            <uib-accordion-group heading="What is Fabel?" template-url="group-template.html">
              Fabel crowdsources digital ads from your target audience. These are ads your audience is guaranteed to love because it was created by them. Launching a campaign on Fabel also gives you exposure to potential customers in itself. We're building a future
              where you never have to create another ad again.
            </uib-accordion-group>
            <uib-accordion-group heading="How many ads will I get to choose from?" template-url="group-template.html">
              At the end of your campaign, you'll have 30 personalized ads, and you'll recieve all rights to your favorite ones!
            </uib-accordion-group>
            <uib-accordion-group heading="How long do campaigns last?" template-url="group-template.html">
              Campaigns last 7 days from start to finish. If they reach 30 ads before this time period, we'll keep your campaign on our site for another 24 hours to extend your company's exposure to our members.
            </uib-accordion-group>
            <uib-accordion-group heading="When do I pay for the ad campaign?" template-url="group-template.html">
              As soon as you launch your campaign.
            </uib-accordion-group>
            <uib-accordion-group heading="Can I extend my ad campaign?" template-url="group-template.html">
              Not at this time. Keep an eye out for future opporutunties to do this however.
            </uib-accordion-group>
            <uib-accordion-group heading="Can I create more than one campaign?" template-url="group-template.html">
              Absolutely. As each campaign is tailored for a specific social media platform, having different campaigns active can drastically expand your advertising reach.
            </uib-accordion-group>
          </uib-accordion>

          <uib-accordion class='col-sm-4 col-xs-12'>
            <h3>Managing Your Campaign</h3>
            <uib-accordion-group heading="How do I edit my campaign?" template-url="group-template.html">
              Log into your account, and simply hit edit campaign in your dashboard. Contact us if you have any questions at all during this process.
            </uib-accordion-group>
          </uib-accordion>

          <uib-accordion class='col-sm-4 col-xs-12'>
            <h3>Choosing A Winner</h3>
            <uib-accordion-group heading="How do I choose a winner?" template-url="group-template.html">
              From your dashboard, click on the campaign that has recently closed and press "Choose Winner" underneath your favorite ad.
            </uib-accordion-group>
            <uib-accordion-group heading="What is the ad handover and how does it work?" template-url="group-template.html">
              This is where you and the writer sign the Ad Transfer Agreement, which is automatically executed when you choose a winning ad. After the transaction has occured,you own all rights to that advertisement.
            </uib-accordion-group>
            <uib-accordion-group heading="How long do I have to choose ads?" template-url="group-template.html">
              You have 3 days from when the campaign closes to choose a winner. Otherwise, we'll pick the one with the highest up-votes to complete your campaign.
            </uib-accordion-group>
          </uib-accordion>

        </uib-tab>
      </uib-tabset>
      </div>
    </div>
  </div>
</div>

<style>
.nav-tabs>li.active>a {
  color: #019F6E;
}

.nav-tabs>li.active>a:hover {
  color: #019F6E;
}

.nav>li>a {
  color: #333;
}

</style>
