<div class='container'>
	<div ng-show='contests'>
		<div class='row content-padding'>
			<div class='contests-heading'>
				<div class='col-xs-12'>
					<h2 class='text-center' style='color:#333;font-weight:300;'>Here are a few campaigns we think you'll like.</h2>
					<h4 class='text-center' style='color:#333;font-weight:300;'>Remember, the best ad is one drawn from your own personal experiences.</h4>
						<div class="col-xs-3" style="float:left;font-size: 12px;">
   						<div style="padding: 10px 10px 0px 10px;float:center; font-size:12px;">
                    <p style="font-size:14px;">Looking for more?<br>Add new interests in your <a style="color:FF5C00;" href="/profile">profile</a>.</p>
								<br>Add new interests in your <a href=/profile style=color:FF5C00>profile</a>.</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 visible-lg visible-md">
				<div ng-repeat="contest in contests" ng-if=first_fourth($index)>
					<div ng-include src="'templates/contests.html'"></div>
				</div>
			</div>
			<div class="col-md-3 visible-lg visible-md">
				<div ng-repeat="contest in contests" ng-if=second_fourth($index)>
					<div ng-include src="'templates/contests.html'"></div>
				</div>
			</div>
			<div class="col-md-3 visible-lg visible-md">
				<div ng-repeat="contest in contests" ng-if=third_fourth($index)>
					<div ng-include src="'templates/contests.html'"></div>
				</div>
			</div>
			<div class="col-md-3 visible-lg visible-md">
				<div ng-repeat="contest in contests" ng-if=fourth_fourth($index)>
					<div ng-include src="'templates/contests.html'"></div>
				</div>
			</div>
			<div class="col-sm-4 visible-sm">
				<div ng-repeat="contest in contests" ng-if=first_third($index)>
					<div ng-include src="'templates/contests.html'"></div>
				</div>
			</div>
			<div class="col-sm-4 visible-sm">
				<div ng-repeat="contest in contests" ng-if=second_third($index)>
					<div ng-include src="'templates/contests.html'"></div>
				</div>
			</div>
			<div class="col-sm-4 visible-sm">
				<div ng-repeat="contest in contests" ng-if=third_third($index)>
					<div ng-include src="'templates/contests.html'"></div>
				</div>
			</div>
			<div class="col-xs-12 visible-xs">
				<div ng-repeat="contest in contests">
					<div ng-include src="'templates/contests.html'"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	fbq("track", "PageView"), window.Intercom("update"), ga("set", "contentGroup2", "<Browse Contests>"), ga("send", "pageview")
</script>
