<div class='container'>
    <div class='row content-padding'>
        <div class='row' style='padding-top:10px'>
            <div class='col-xs-12'>
                <div class='panel' style='margin-bottom:0;'>
                    <div class='panel-body'>
                        <div class='col-sm-4 col-xs-12' style='padding-top:5px;'>
                            <h3 style='margin-top:0px;'><img ng-if='!contest.company.logo_url' style='height:auto;' width='50px' src="public/img/contest-default.jpg">
						<img ng-if='contest.company.logo_url' style='height:auto;' width='50px' src="{{contest.company.logo_url}}">{{contest.company.name}}</h3>
                        </div>
                        <div class='col-sm-4 col-xs-12' style='padding-top:30px;'>
                            <div style='width:100%'>
                                <uib-progressbar value='contest.submission_count' max='30' type="warning"></uib-progressbar>
                                <p class="progress-meter-text text-center" style='margin:0px;'>{{contest.submission_count | number}} of 50 entries total</p>
                            </div>
                        </div>
                        <div class='col-sm-1 col-xs-6'>
                            <h1 class='text-right' style='color:#ff6c00'>$50</h1>
                        </div>
                        <div class='col-sm-3 col-xs-6 text-right'>
                            <h4 style='margin:0px;margin-top:20px;'>
			            	Ended {{contest.stop_time | untilFilter}} ago
						</h4>
                            <h4>{{contest.views}} Views</h4>
                            <h4 style='margin:0px;'>{{contest.platform | capitalize}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='row content-padding'>
            <div class='col-sm-4 col-sm-offset-4 col-xs-12' ng-if='!contest.payout'>
                <div class="contest-box row">
                    <div class='col-xs-12 text-center'>
                        <h3>The company is still choosing the winner for this campaign.</h3>
                        <h4>Check back soon!</h4>
                    </div>
                </div>
            </div>
            <div class='col-sm-4 col-sm-offset-4 col-xs-12' ng-if='contest.payout'>
                <div class="contest-box row">
                    <div class='contest-image'>
                        <img ng-src='{{winner.attachment}}'>
                    </div>
                    <div class='contest-company text-left'>
                        <div class='avatar'>
                            <img ng-if='!submission.contest.company.logo_url' src="favicon.ico">
                            <img ng-if='submission.contest.company.logo_url' src="{{submission.contest.company.logo_url}}">
                        </div>
                        <span class='company-name'>from {{contest.company.name}} &#8226; {{contest.platform | capitalize}}</span>
                    </div>
                    <div class='contest-entry text-left'>
                        <h3>{{winner.headline}}</h3>
                        <h4>{{winner.text}}</h4>
                    </div>
                    <div class='contest-winner text-left'>
                        <div class='avatar'>
                            <img ng-src='{{winner.avatar_url}}' src='public/img/avatar.png' alt=''>
                        </div>
                        <h5 class='winner-name'> {{winner.first_name}} {{winner.last_name | firstChar}}.</h5>
                        <span class='winner-tag'>Winner</span>
                        <span class='contest-reward'>${{contest.prize}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
