<div class='container-fluid'>
    <div class='row'>
        <div class='col-xs-12' style='padding-top:20px;'>
            <a href="/dashboard" class='btn btn-oj btn-secondary pull-left'>Back</a>
        </div>
        <div class='col-xs-12' style='padding-top:10px;'>
            <div class='launch-page-box'>
                <div class='col-xs-12 col-sm-4 text-center vertical-center'>
                    <h3 style='margin-top:0px;'>
                        <img ng-if='!contest.company.logo_url' style='height:auto;' width='50px' src="public/img/contest-default.jpg">
                        <img ng-if='contest.company.logo_url' style='height:auto;' width='50px' ng-src="{{contest.company.logo_url}}">
                        {{contest.company.name}}
                    </h3>
                </div>
                <div class='col-sm-5 col-xs-12 vertical-center col-sm-offset-4'>
                    <div style='width:100%;padding-top:15px;'>
                        <uib-progressbar style='margin-bottom:5px;' value='contest.submission_count' max='contest.submission_limit' type="warning"></uib-progressbar>
                        <p class="progress-meter-text text-center" style='margin:0px;'>{{(contest.submission_limit | number) - (contest.submission_count | number)}} of {{contest.submission_limit}} entries remaining</p>
                    </div>
                </div>
                <div class='col-sm-3 col-xs-12 text-right col-sm-offset-9'>
                    <h4 style='font-size:15;'><strong>{{contest.platform | capitalize}}</strong></h4>
                    <h4 style='font-size:15;'><span class='glyphicon glyphicon-time'></span> <span>{{contest.stop_time | untilFilter}} left</span></h4>
                    <h4 style='font-size:15;'><span class='glyphicon glyphicon-eye-open'></span> <span>{{contest.views}} views</span></h4>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class='row content-padding'>
        <div class='col-xs-12 col-md-5'>
            <div class='launch-page-box launch-preview' style="border:1px solid #019F6E;border-radius:6px;">
                <form class='form' ng-submit='edit(contest)'>
                    <div class='row'>
                        <h3 class="text-center">Edit Your Campaign Details Here</h3>
                    </div>
                    <div class='col-xs-12 form-group'>
                        <label class='control-label'>Summary of product or service</label>
                        <textarea class='form-control' rows='4' ng-model='contest.summary' placeholder='Enter your short summary here' maxlength="250"></textarea>
                    </div>
                    <div class='col-xs-12 form-group'>
                        <label class='control-label'>Describe what makes you different (and better) than your competition.</label>
                        <textarea class='form-control' row='4' ng-model='contest.different' placeholder='i.e., For every good purchase we donate the same industrial part to a developing country.' maxlength="250"></textarea>
                    </div>
                    <div class="col-xs-12 form-group">
                        <label class='control-label'>Copy Direction</label>
                        <div class="form-group">
                            <textarea class='form-control' ng-model='contest.additional_info' placeholder="Enter a short description of what type of copies you'd like to receive."></textarea>
                        </div>
                    </div>
                    <div class='col-xs-12 text-center' style="padding-bottom:10px;">
                        <button class='btn btn-oj pull-right' type='submit'>Save</button>
                    </div>
                </form>
            </div>
        </div>
        <div class='col-md-4 col-xs-12'>
            <div class='launch-page-box'>
                <div ng-show='user && user.type=="company"'>
                    <div class='submish-overlay'></div>
                    <div class='alert alert-danger text-center submish-panel'>
                        You can’t create an ad for your own campaign.
                    </div>
                </div>
                <div class='col-xs-12'>
                    <form class='form'>
                        <div class='form-group'>
                            <h4 class='control-label'><strong>Image</strong></h4>
                            <div class='contest-image'>
                                <div class="docs-preview" ng-class='{"preview-ig" : contest.platform == "instagram", "preview-fb" : contest.platform != "instagram"}'>
                                    <div class="img-preview">
                                        <img class="contest-img-preview" ng-src="{{contest.attachment}}" ng-if="contest.use_attachment == 1">
                                        <img id="upload_contest" ng-src="{{contest.attachment}}" ng-if="contest.use_attachment != 1" src='public/img/placeholder.png'>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                            </div>
                        </div>
                        <div class='form-group'>
                            <h4 class='control-label'><strong>Headline</strong></h4>
                            <input class='form-control' maxlength="{{form_limit.headline.limit}}" ng-model='submit.headline' placeholder='{{form_limit.headline.placeholder}}' type='text'>
                            <div class='input-count'><span ng-if='!submit.headline'>0</span><span ng-if='submit.headline'>{{submit.headline.length}}</span> of {{form_limit.headline.limit}} characters</div>
                        </div>
                        <div class='form-group'>
                            <h4 class='control-label'><strong>Ad Text</strong></h4>
                            <textarea class='form-control' maxlength="{{form_limit.text.limit}}" ng-model='submit.text' rows='3' placeholder='{{form_limit.text.placeholder}}'></textarea>
                            <div class='input-count'><span ng-if='!submit.text'>0</span><span ng-if='submit.text'>{{submit.text.length}}</span> of {{form_limit.text.limit}} characters</div>
                        </div>
                        <div ng-show='form_limit.line_1' class='form-group'>
                            <label class='control-label'>Line One</label>
                            <input class='form-control' maxlength="{{form_limit.line_1.limit}}" ng-model='submit.link_explanation' placeholder='{{form_limit.line_1.placeholder}}' type='text'>
                            <div class='input-count'><span ng-if='!submit.link_explanation'>0</span><span ng-if='submit.link_explanation'>{{submit.link_explanation.length}}</span> of {{form_limit.line_1.limit}} characters</div>
                        </div>
                        <div ng-show='form_limit.line_2' class='form-group'>
                            <label class='control-label'>Line Two</label>
                            <input class='form-control' maxlength="{{form_limit.line_2.limit}}" ng-model='submit.text' placeholder='{{form_limit.line_2.placeholder}}' type='text'>
                            <div class='input-count'><span ng-if='!submit.text'>0</span><span ng-if='submit.text'>{{submit.text.length}}</span> of {{form_limit.line_2.limit}} characters</div>
                        </div>
                        <div ng-show='form_limit.card_title' class='form-group'>
                            <label class='control-label'>Card Title</label>
                            <input class='form-control' maxlength="{{form_limit.card_title.limit}}" ng-model='submit.link_explanation' placeholder='{{form_limit.card_title.placeholder}}' type='text'>
                            <div class='input-count'><span ng-if='!submit.link_explanation'>0</span><span ng-if='submit.link_explanation'>{{submit.link_explanation.length}}</span> of {{form_limit.card_title.limit}} characters</div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="contest-box" ng-hide='contest.user_has_submitted || (contest.submission_count >= contest.submission_limit)'>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header" style="border-bottom: 1px solid #019F6E;">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title text-center" id="myModalLabel">Quick Reference Guide</h4>
                            </div>
                            <div class="modal-body row">
                                <div class="container-fluid bd-example-row">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="col-xs-6">
                                                <h4 class="col-xs-12 text-center">Do</h4>
                                            </div>
                                            <div class="col-xs-6">
                                                <h4 class="col-xs-12 text-center">Don't</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="check col-xs-6">
                                                <ul class="col-xs-12">
                                                    <li>Carefully read "What we're looking for".</li>
                                                    <li>Draw from your personal experiences</li>
                                                    <li>Talk like you're talking to a friend.</li>
                                                    <li>Use specific references.</li>
                                                    <li>Be original.</li>
                                                    <li>Proofread!</li>
                                                </ul>
                                            </div>
                                            <div class="check col-xs-6">
                                                <ul class="col-xs-12">
                                                    <li>Don't use exclamation points!</li>
                                                    <li>Don't use CAPS lock.</li>
                                                    <li>Don't sound like a salesman.</li>
                                                    <li>Don't focus on rhyming or puns.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-primary" onclick="location.href = 'https://tappyn.com/guide';" style="background-color:#019F6E;border-color:#019F6E;">Our complete copywriting guide</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contest-box">
                <div class='contest-image'>
                    <div class="docs-preview" ng-class='{"preview-ig" : contest.platform == "instagram", "preview-fb" : contest.platform != "instagram"}'>
                        <div class="img-preview">
                            <img class="contest-img-preview" ng-src="{{contest.attachment}}" ng-if="contest.use_attachment == 1">
                            <img id="upload_contest" ng-src="{{contest.attachment}}" ng-if="contest.use_attachment != 1" src='public/img/placeholder.png'>
                        </div>
                    </div>
                </div>
                <div class='contest-company text-left'>
                    <div class='avatar'>
                        <img ng-if='!contest.company.logo_url' src="favicon.ico">
                        <img ng-if='contest.company.logo_url' src="{{contest.company.logo_url}}">
                    </div>
                    <span class='company-name'>from {{contest.company.name}} &#8226; {{contest.platform | capitalize}}</span>
                </div>
                <div class='contest-entry text-left' ng-show='form_limit.line_1 || form_limit.card_title'>
                    <h3 ng-if='submit.headline.length == 0 && form_limit.card_title'>Headline will be shown here.</h3>
                    <h3 ng-if='submit.headline.length > 0'>{{submit.headline}}</h3>
                    <h4 ng-if='submit.text.length == 0 && form_limit.line_1'>Your ad text will be shown here</h4>
                    <h4 ng-if='submit.text.length > 0'>{{submit.link_explanation}}<br></h4>
                    <div class='contest-upvotes disable-click'>
                        <span class='glyphicon glyphicon-heart'></span> 0
                    </div>
                </div>
                <div class='contest-entry text-left'>
                    <h3 ng-if='submit.headline.length == 0 && form_limit.headline'>Headline will be shown here.</h3>
                    <h3 ng-if='submit.headline.length > 0'>{{submit.headline}}</h3>
                    <h4 ng-if='submit.text.length == 0 && form_limit.text'>Your ad text will be shown here<br></h4>
                    <h4 ng-if='submit.text.length > 0'>{{submit.text}}</h4>
                    <div class='contest-upvotes disable-click'>
                        <span class='glyphicon glyphicon-heart'></span> 12
                    </div>
                </div>
                <div class='contest-winner text-left'>
                    <div class='avatar'>
                        <img src='public/img/avatar.png' alt=''>
                    </div>
                    <h5 class='winner-name'>{{user.first_name}} {{user.last_name | firstChar}}.</h5>
                </div>
            </div>
        </div>
    </div>
    <hr style="border-top:2px solid #DEDEDE; margin:20px 0 40px 0 !important;">
</div>
</div>
<script type="text/javascript">
$(function() {
    $(".location-selection-edit-view").select2({
        placeholder: "Add Locations"
    });
});
</script>
