<div class='container-fluid'>
    <div class='row'>
        <div class='col-xs-12' style='padding-top:20px;'>
            <div class='launch-page-box'>
                <div class='col-xs-12 col-sm-4 text-center vertical-center'>
                    <h3 style='margin-top:0px;'>
                        <img ng-if='!contest.company.logo_url' style='height:auto;' width='50px' src="public/img/contest-default.jpg">
                        <img ng-if='contest.company.logo_url' style='height:auto;' width='50px' ng-src="{{contest.company.logo_url}}">
                        {{contest.company.name}}
                    </h3>
                    <a href="/dashboard" class='btn btn-oj btn-secondary pull-left'>Back</a>
                </div>
                <div class='col-sm-5 col-xs-12 vertical-center col-sm-offset-4'>
                    <div style='width:100%;padding-top:15px;'>
                        <uib-progressbar style='margin-bottom:5px;' value='contest.submission_count' max='contest.submission_limit' type="warning"></uib-progressbar>
                        <p class="progress-meter-text text-center" style='margin:0px;'>{{(contest.submission_limit | number) - (contest.submission_count | number)}} of {{contest.submission_limit}} entries remaining</p>
                    </div>
                </div>
                <div class='col-sm-3 col-xs-12 text-right col-sm-offset-9'>
                    <h2 style='color:#ff5c00;margin-top: 10px;'>${{contest.prize}}</h2>
                    <h4 style='font-size:15;'><strong>{{contest.platform | capitalize}}</strong></h4>
                    <h4 style='font-size:15;'><span class='glyphicon glyphicon-time'></span> <span>{{contest.stop_time | untilFilter}} left</span></h4>
                    <h4 style='font-size:15;'><span class='glyphicon glyphicon-eye-open'></span> <span>{{contest.views}} views</span></h4>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class='row content-padding'>
        <div class='col-xs-12 col-md-5'>
            <div class='launch-page-box launch-preview'>
                <form class='form' ng-submit='edit(contest)'>
                    <div class='row'>
                        <div class="col-xs-12 form-group">
                            <label class='control-label'>Age</label>
                            <div class="form-group">
                                <div class='pull-left'>
                                    <select class='form-control' ng-model='contest.min_age' ng-options='number as number for number in ages' type='text'>
                                        <option value=''>Min Age</option>
                                    </select>
                                </div>
                                <h4 class='text-center pull-left' style='padding: 0 10px;'> - </h4>
                                <div class='pull-left'>
                                    <select class='form-control' ng-model='contest.max_age' ng-options='number as number for number in ages' type='text'>
                                        <option value=''>Max Age</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 form-group">
                            <label class="ontrol-label">Gender</label>
                            <div class="form-group">
                                <div class="btn-group-sm" data-toggle="buttons" style="padding-top: 5px;">
                                    <label class="btn" ng-click="contest.gender = 0" ng-class="{'btn-oj' : contest.gender == 0, 'btn-outliner' : contest.gender != 0}">
                                        <input type='radio' ng-model="contest.gender" value="0"> All Genders
                                    </label>
                                    <label class="btn" ng-click="contest.gender = 1" ng-class="{'btn-oj' : contest.gender == 1, 'btn-outliner' : contest.gender != 1}">
                                        <input type="radio" ng-model="contest.gender" value="1"> Men
                                    </label>
                                    <label class="btn" ng-click="contest.gender = 2" ng-class="{'btn-oj' : contest.gender == 2, 'btn-outliner' : contest.gender != 2}">
                                        <input type="radio" ng-model="contest.gender" value="2"> Women
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--
                    <div class="row">
                    <div class="form-group col-xs-12 col-sm-6" style="padding-left: 0;">
                    <label class='text-left target-label' style="padding-top:0px;">Detailed Targeting</label>

                    <select class='form-control interest-selection-launch-view' ng-model='contest.industry' multiple="multiple" style='width: 100%;'>
                      <option ng-repeat="(_key,_value) in industries" ng-value="_key">{{_value}}</option>
                    </select>
                    </div>
                    <div class='form-group col-xs-12 col-sm-6'>
                    <label class='text-left target-label' style="padding-top:1px;">Locations</label>

                    <select select2 ng-model="contest.location" class='form-control location-selection-launch-view' multiple="multiple" style="width:100%;">
                      <option ng-repeat="(_key,_value) in locations" ng-value="_key">{{_value}}</option>
                    </select>
                  </div>
                  </div>
              -->
                    <div class="col-xs-12 form-group">
                        <label class='control-label'>Copy Direction</label>
                        <div class="form-group">
                            <textarea class='form-control' ng-model='contest.additional_info' placeholder="Enter a short description of what type of copies you'd like to receive."></textarea>
                        </div>
                    </div>
                    <div class='col-xs-12 form-group'>
                        <label class='control-label'>Summary of product or service</label>
                        <textarea class='form-control' rows='4' ng-model='contest.summary' placeholder='Enter your short summary here' maxlength="250"></textarea>
                    </div>
                    <div class='col-xs-12 form-group'>
                        <label class='control-label'>Describe what makes you different (and better) than your competition.</label>
                        <textarea class='form-control' row='4' ng-model='contest.different' placeholder='i.e., For every good purchase we donate the same industrial part to a developing country.' maxlength="250"></textarea>
                    </div>
                    <!--<div class="col-xs-12" ng-if="contest.use_attachment == 1">
                        <label class='control-label'>Ad Creative</label>
                        <div class="form-group">
                            <input custom-on-change="image_cropper" id="contest-photo" type="file" accept="image/*" />
                            <div class="docs-preview" ng-class='{"preview-ig" : contest.platform == "instagram", "preview-fb" : contest.platform != "instagram", "preview-tw" : contest.platform == "twitter"}'>
                                <div class="img-preview"><img id="contest-img-edit" class="contest-img-edit" ng-src="{{contest.attachment}}"></div>
                            </div>
                        </div>
                    </div>-->
                    <div class='col-xs-12 text-center'>
                        <button class='btn btn-oj pull-right' type='submit'>Save</button>
                    </div>
                </form>
            </div>
        </div>
    <div class='col-md-4 col-xs-12'>
        <div class='launch-page-box'>
            <div ng-show='(contest.submission_count >= contest.submission_limit) &&  !contest.user_has_submitted'>
                <div class='alert alert-success text-center'>
                    This campaign has hit its cap of 30 ads, but check out other cool campaigns <a href="/contests">Here</a>. Also, don't forget to add more interests to your <a href="/profile">Profile</a> to see more campaigns!
                </div>
            </div>
            <div ng-show='!user'>
                <div class='submish-overlay'></div>
                <div class='alert alert-danger text-center submish-panel'>
                    <a href ng-click='open_login("default", "")'>Log in</a> or <a href ng-click='open_register("default", "", "2")'>sign up</a> to enter this campaign.
                </div>
            </div>
            <div ng-show='user && user.type=="company"'>
                <div class='submish-overlay'></div>
                <div class='alert alert-danger text-center submish-panel'>
                    You can’t create an ad for your own campaign.
                </div>
            </div>
            <div ng-show='user && !user.is_active'>
                <div class='submish-overlay'></div>
                <div class='alert alert-danger text-center submish-panel'>
                    Only verified members of Tappyn can submit to campaigns. Check your email to verify your account, or go to your <a href='#/profile'>profile</a> to re-send the email!
                </div>
            </div>
            <div ng-show='user && user.is_active && contest.user_has_submitted'>
                <div class='alert alert-success text-center'>
                    You have already created an ad for this campaign. Check out how your ad is doing!
                </div>
            </div>
            <div class='col-xs-12'>
                <form class='form' ng-hide='contest.user_has_submitted || (contest.submission_count >= contest.submission_limit)'>
                    <div ng-show='form_limit.photo || contest.use_attachment == 1' class='form-group'>
                        <h4 class='control-label'><strong>Image</strong></h4>
                        <div ng-show="!cropper_box">
                            <p style="font-size:12px;margin-bottom:0px;">Find free-to-use photos in seconds at <a style="color: #fb5e1f;" href="https://unsplash.com/" target="_blank">Unsplash</a> or <a style="color: #fb5e1f;" href="https://pixabay.com/" target="_blank">Pixabay</a>.</p>
                            <p style="font-size:12px;">Photos from other sources will be removed. <a style="color: #fb5e1f;" href="https://tappyn.com/faq" target="_blank">Learn More</a></p>
                        </div>
                        <div ng-hide='!cropper_box'>
                            <img id="upload_contest" ng-src="{{contest.attachment}}" src='public/img/placeholder.png'>
                        </div>
                        <input type='file' id='fileInput' name="file" class="inputfile" accept="image/*" />
                        <label for="fileInput" style='font-size: 14px;margin-top: 20px;border: 2px dashed #ccc;background-color: white;color:#aaa;text-align:center;margin: 10px 0;padding:20px; width: 100%;' ng-click='show_cropper()' ng-show='!cropper_box'>
                            <span style='font-weight:bold;color:#ff6c00;'>Choose from your computer</span>
                            <br>
                            <span>Download a free for use image on Unsplash or Pixabay above!</span>
                            <br>
                            <span>JPG, PGN, BMP &#8226; 50MB file limit</span>
                            <br>
                            <span>At least 102 pixels &#8226; 16:9 aspect ratio</span>
                        </label>
                        <div class="col-xs-12">
                        </div>
                    </div>
                    <div ng-show='form_limit.headline' class='form-group'>
                        <h4 class='control-label'><strong>Headline</strong></h4>
                        <input class='form-control' maxlength="{{form_limit.headline.limit}}" ng-model='submit.headline' placeholder='{{form_limit.headline.placeholder}}' type='text'>
                        <div class='input-count'><span ng-if='!submit.headline'>0</span><span ng-if='submit.headline'>{{submit.headline.length}}</span> of {{form_limit.headline.limit}} characters</div>
                    </div>
                    <div ng-show='form_limit.text' class='form-group'>
                        <h4 class='control-label'><strong>Ad Text</strong></h4>
                        <textarea class='form-control' maxlength="{{form_limit.text.limit}}" ng-model='submit.text' rows='3' placeholder='{{form_limit.text.placeholder}}'></textarea>
                        <div class='input-count'><span ng-if='!submit.text'>0</span><span ng-if='submit.text'>{{submit.text.length}}</span> of {{form_limit.text.limit}} characters</div>
                    </div>
                    <div ng-show='form_limit.line_1' class='form-group'>
                        <label class='control-label'>Line One</label>
                        <input class='form-control' maxlength="{{form_limit.line_1.limit}}" ng-model='submit.link_explanation' placeholder='{{form_limit.line_1.placeholder}}' type='text'>
                        <div class='input-count'><span ng-if='!submit.link_explanation'>0</span><span ng-if='submit.link_explanation'>{{submit.link_explanation.length}}</span> of {{form_limit.line_1.limit}} characters</div>
                    </div>
                    <div ng-show='form_limit.line_2' class='form-group'>
                        <label class='control-label'>Line Two</label>
                        <input class='form-control' maxlength="{{form_limit.line_2.limit}}" ng-model='submit.text' placeholder='{{form_limit.line_2.placeholder}}' type='text'>
                        <div class='input-count'><span ng-if='!submit.text'>0</span><span ng-if='submit.text'>{{submit.text.length}}</span> of {{form_limit.line_2.limit}} characters</div>
                    </div>
                    <div ng-show='form_limit.card_title' class='form-group'>
                        <label class='control-label'>Card Title</label>
                        <input class='form-control' maxlength="{{form_limit.card_title.limit}}" ng-model='submit.link_explanation' placeholder='{{form_limit.card_title.placeholder}}' type='text'>
                        <div class='input-count'><span ng-if='!submit.link_explanation'>0</span><span ng-if='submit.link_explanation'>{{submit.link_explanation.length}}</span> of {{form_limit.card_title.limit}} characters</div>
                    </div>
                    <div class='text-center'>
                        <button class='btn btn-oj' style='margin-top:5px;margin-bottom:5px;' ng-click='submit_to(contest.id, submit)'>Tappyn</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-3">
        <div class="contest-box">
            <div style='float:left;padding:30px 10px 10px 30px;'>
                <img width='20px' height='20px' ng-src='public/img/lightbulb.png'>
            </div>
            <div style='padding: 20px 20px 10px 70px;'>
                <p><strong>How to:<a data-toggle="modal" href="#myModal" class="hoverclass" style="cursor:pointer;"><br>Write a high performing copy.</a></strong></p>
            </div>
        </div>
    </div>
</div>

</div>
<script type="text/javascript">
$(function() {
    $(".location-selection-edit-view").select2({
        placeholder: "Add Locations"
    });
});
</script>
