
<div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <form class='form' ng-submit="log_in(identity, password)">
        <div class='form-group'>
            <input class='form-control' ng-model='identity' placeholder='Email'>
        </div>
        <div class='form-group'>
            <input class='form-control' ng-model='password' placeholder='Password' type='password'>
        </div>
      
        <button class='btn btn-oj' type='submit'>Login</button>
        <p><a href="forgot_password">Forgot Password</a></p>
    </form>
    <div>
        <a href="auth/facebook">
            <img class='img-responsive' height='45px' style='border-radius: 5px;' src="public/img/img-facebook.png">
        </a>
    </div>
</div>