<div class='container-fluid'>
	<section class="testimonials">
        <div class="row">
        	<div class='container'>
        	<div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <div class="hero-content">
                	<h2 class='text-center'>Getting started</h2>
                </div>
            </div>
            </div>
        </div>
    </section>
    <section class="how-it-works">
        <div class="row content-padding">
        	<div class='container'>
        		<div class='col-sm-6 col-xs-12 col-sm-offset-3'>
   		     		<p>Your ad can be anything that you want to create and share with others. It could be a personal experience, a funny hypothetical, or a clever caption... pretty much anything you dream up can find a home at Tappyn. Just keep your ad focus on the problem the company is trying to solve, with a relatable message, and you'll be good.</p>

		        	<div style='padding:20px; border-radius:5px; border:1px solid #333'> 
		        	<p>Every Tappyn ad should have the following : </p>
		        	<p>&#8226; An image you feel relates to the problem and audience you are connecting with.</p>
		        	<p>&#8226; A copy that clear explains the benefit of the company hosting the contest.</p>

		        	<p>Let's go through each of these in more detail!</p>
		        	</div>
	        	</div>
        	</div>
        </div>
    </section>
    <section class="testimonials">
        <div class="row">
        	<div class='container'>
        	<div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <div class="hero-content">
                	<h2 class='text-center'>Your Photograph</h2>
                </div>
            </div>
            </div>
        </div>
    </section>
    <section class="how-it-works">
        <div class="row content-padding">
        	<div class='container'>
	        	 <div class='col-xs-12 col-sm-6 col-sm-offset-3'>
	        	 <p>Imagine a situation where this company comes in handy to you personally. What actions are you taking? What setting are you in? And how is your problem solved by this company? Your photo is a chance to tell the world a story : who are you, what problem you face, and why this company matters.</p>
	        	 </div>
	        	 <div class='col-xs-12 col-sm-6'>
	        	 <div style='padding:20px; border-radius:5px; border:1px solid #333'>
	        	 <h4>Wondering how to get started? Here are some basic questions you should answer : </h4>
	        	 <p><strong>Who should this photo connect with?</strong></p>
	        	 <p>Understand who the company is planning on showing the ad to and what that person is like.</p>
	        	 
	        	 <p><strong>What problem does this person face?</strong></p>
	        	 <p>Think about the specific problems this person faces in their everyday life.</p>
	        	 
	        	 <p><strong>What situations exist where they face this problem?</strong></p>
	        	 <p>Imagine a situation where you have needed this specific solution and re-create that environment.</p>
	        	 
	        	 <p><strong>What does it look like when this problem is solved?</strong></p>
	        	 <p>Think about what experiences you can have now that you know this company exists.</p>
	        	 
	        	 <p><strong>How can I put personality into it?</strong></p>	
	        	 <p>Throw a little of what makes you unique in there, too. Show the world something only you have.</p>
	        	 </div>
	        	 </div>
	        	 <div class='col-xs-12 col-sm-6'>
	        	 	<div style='padding:20px; border-radius:5px; border:1px solid #333'>
	        	 	<p><strong>The Best Photographs</strong></p>
	        	 	<ul>
	        	 		<li>Show people using the product instead of just the product.</li>
	        	 		<li>Keep it simple. If you drove past the image at 60mph, would you understand it?</li>
	        	 		<li>Stand out from the crowd. You're competing against a newsfeed, so your photo should grab people's attention.</li>	
	        	 	</ul>
	        	 	</div>
	        	 </div>
        	</div>
        </div>
    </section>
    <section class="testimonials">
        <div class="row">
        	<div class='container'>
        	<div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <div class="hero-content">
                	<h2 class='text-center'>Your Copy</h2>
                </div>
            </div>
            </div>
        </div>
    </section>
    <section class="how-it-works">
        <div class="row content-padding">
        	<div class='container'>
	        	 <div class='col-xs-12 col-sm-6 col-sm-offset-3'>
		        	 <p>Why do people respond to ads? To start, they catch their eye and speak to them directly. But they also want to have their problem solved - and copies let them know exactly what companies are offering.</p>
		        	 <p>Some copies are simple. If you're selling the first iPod, for example, you could say "A thousand songs in your pocket". Other copies - like a hangover prevention supplement - are more involved in the creation process.</p>
		        	 </div>
		        	 <div class='col-xs-12 col-sm-6'>
		        	 <div style='padding:20px; border-radius:5px; border:1px solid #333'>
		        	 <h4>Wondering how to get started? Here are some basic questions you should answer : </h4>
		        	 <p><strong>What is different and original about this company?</strong></p>
		        	 <p>Understand the features or offerings that make this company unique.</p>
		        	 
		        	 <p><strong>What problem does this person face?</strong></p>
		        	 <p>Think about why someone should pick this company over the 1,000 others.</p>
		        	 
		        	 <p><strong>How can I make this company the most interesting in the world?</strong></p>
		        	 <p>Express your confidence and passion about this company.</p>
		        	 
		        	 <p><strong>Why should anyone care?</strong></p>
		        	 <p>Show you empathize with exactly what this audience is going through.</p>
		        	 
		        	 <p><strong>How can I put personality into it?</strong></p>	
		        	 <p>Throw a little of what makes you unique in there, too. Show the world something only you have.</p>
		        	 </div>
		        	 </div>
		        	 <div class='col-xs-12 col-sm-6'>
		        	 	<div style='padding:20px; border-radius:5px; border:1px solid #333'>
		        	 	<p><strong>The Best Copies</strong></p>
		        	 	<ul>
		        	 		<li>Show supreme confidence in their product.</li>
		        	 		<li>Embody passion and fun about their product.</li>
		        	 		<li>Say more by saying less.</li>
		        	 		<li>Laser focus on the audience.</li>	
		        	 	</ul>
		        	 	</div>
		        </div>
        	</div>
        </div>
    </section>
</div>

<style>
strong{
	font-size: 1.15em;
}
</style>