<div class='wrapper'>
    <div class='modal_actions col-sm-12' ng-show="root_modal.now == 'ctr_show'">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom: 1px solid #019F6E;">
                <div ng-click='set_model()' class="close">&times;</div>
                <h4 class="modal-title text-center" id="myModalLabelnew">This is your ad's CTR.</h4>
            </div>
            <div ng-show="user.type == 'company'" class="modal-body-sub text-center">
                <p>The <strong>Click Through Rate</strong> (CTR) is a measure of how relatable an ad is to a particular audience. This is the primary metric that we use to define the effectiveness of an advertisement.
                    <br>
                </p>
            </div>
            <div ng-hide="user.type =='company'" class="modal-body-sub text-center">
                <p>The <strong>Click Through Rate</strong> (CTR) is a measure of how relatable an ad is to a particular audience. We test businesses' favorite ads and we show them the CTR of each. This is one of the primary ways they decide which ads to purchase. (The higher the better!)</p>
                <br>
                <p>Don't see a CTR here? No worries, CTR's are only created after the 24 hour testing period has finished after a campaign's closing, so be sure to check back!</p>
                <br>
            </div>
                <div class="modal-footer-sub text-right">
                <p  ng-hide="user.type =='company'" class="text-center">Looking for more? Check out our complete ad creation guide <a style="cursor:pointer;" href="/guide" target="_blank">here</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Start Old AB Modal-->
<div class='wrapper'>
    <div class='modal_actions col-sm-12' ng-show="root_modal.now == 'confirm_ab'">
        <div class="payment_modal">
            <div class="modal_top text-center">
                <div class='close_circle' ng-click='set_model()'>x</div>
                <h3><strong>A/B Testing</strong></h3>
                <h4 ng-if="winner_contest.submission_ids.length > 1">You’ve selected {{winner_contest.submission_ids.length}} ads.</h4>
                <h4 ng-if="winner_contest.submission_ids.length == 1">You’ve selected {{winner_contest.submission_ids.length}} ad.</h4>
            </div>
            <div class="modal_bot">
                <div class="form-group">
                    <div ng-hide="payment_obj.re_ab">
                        <p class="text-center" style="font-size:18px; font-weight:bold;">The first $15 in testing is on us.</p>
                        <div class="col-xs-8">
                            <label for="ab-aday" class="control-label">How much would you like to spend?</label>
                        </div>
                    </div>
                    <div ng-show="payment_obj.re_ab">
                        <p class="text-center" style="font-size:18px; font-weight:bold;">Re-test as many ads as you'd like.</p>
                        <div class="col-xs-8">
                            <label for="ab-aday" class="control-label">How much would you like to spend?</label>
                        </div>
                    </div>
                    <div class="input-group col-xs-4" style="padding-top:5px;">
                        <div class="input-group-addon">$</div>
                        <input type="number" ng-model="payment_obj.ab_aday" id="ab-aday" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <p class="col-xs-12" style="font-size:12px;">
                      <small>
                        All traffic is linked directly to your website.
                        Each test will last approximately 24 hours.
                        We recommend a budget of $50 to receive significant results.
                      </small>
                    </p>
                    <button ng-click="open_payment(winner_contest,'ab')" class="btn btn-oj col-xs-6 col-xs-offset-3">Continue</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End OLD AB MODAL-->
<div class='wrapper'>
    <div class='modal_actions col-sm-12' ng-show="root_modal.now == 'learn'" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center" style="border-bottom: 1px solid #019F6E;">
                <div class="close" ng-click="set_model()" aria-hidden="true">&times;</div>
                <h4 class="modal-title">How do I choose the best ad?</h4>
                </div>
                <div class="modal-body-sub">
                <p>
                    Before you select an ad to own, you need to decide what makes a great ad.
                </p>
                <p>
                    CTR, Clicks, Spent, CPC, Cost Per Conversion, Conversion Rate...Facebook and other platforms offer so many metrics that it can be overwhelming. Also, sometimes, they can be contradictory. Unless you're an expert, we suggest that you pick one single metric that you'll use to judge your tests.
                </p>
                <p>
                    For most of our campaigns, we suggest using the Click Through Rate (CTR). It's straightforward and one of the most impactful for the growth of your business. If you care more about volume of traffic instead of traffic quality, however, Cost Per Click might be a better metric for you.
                </p>
                </div>
                <div class="modal-footer-sub text-right">
                </div>
            </div>
        </div>
    </div>
</div>
<div class='wrapper'>
    <div class='modal_actions col-sm-12' ng-show="root_modal.now == 'confirm_select'">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center" style="border-bottom: 1px solid #019F6E;">
                    <div ng-click='set_model()' class="close">&times;</div>
                    <h3><strong>Select Ownership</strong></h3>
                </div>
                <div class="modal-body-sub text-center">
                    <h4>Are you sure you want to select this ad to own?</h4>
                </div>
                <div class="modal-footer-sub text-right" style="border-top:none;">
                    <button type="button" ng-click='before_open_payment(winner_contest,"purchase")' class="btn btn-oj">Confirm</button>
                </div>
            </div>
    </div>
  </div>
</div>
<div class='row'>
    <div class='' style='background: white; margin-bottom: 40px; padding: 40px 0;overflow:hidden;'>
        <div class='col-xs-12' ng-if='user.type == "company"'>
            <div class='col-xs-12'>
                <div class="round-avatar"><img ng-src="{{dash.profile.logo_url}}" alt=""></div>
                <!--<h4 class='text-center'><span ng-bind="dash.contests.length"></span> Campaigns</h4>-->
                <h2 class='text-center' style='font-weight: bold;'>{{user.first_name | capitalize}}</h2>
                <div class="col-xs-12 col-sm-10 text-right">
                </div>
            </div>
        </div>
        <div class='col-xs-12 col-sm-10 col-sm-offset-1' ng-if='user.type == "member"' style='margin-top:10px;'>
    <div class='col-xs-12'>
        <a href='/profile' class='btn btn-oj pull-right' style='margin-right:5px;margin-bottom:10px;'>Edit Profile</a>
    </div>
    <div class='col-xs-12'>
        <h2 class='text-center'>{{user.first_name | capitalize}}</h2>
    </div>
    <div class='col-xs-12' style='margin-bottom:-25px;'>
        <hr style='border-color:#eee'>
    </div>
    <div class='col-xs-6 col-sm-6' ng-class='{"dash-black" : type != "all", "dash-oj" : type == "all"}' ng-click='grab_dash("all")'>
        <h3 class='text-center' style='margin-bottom:-20px;'>{{totals.submissions}}</h3>
        <h3 class='text-center' style="margin-bottom:5px;">Ads</h3>
    </div>
    <div class='col-xs-6 col-sm-6' ng-class='{"dash-black" : type != "winning", "dash-oj" : type == "winning"}' ng-click='grab_dash("winning")'>
        <h3 class='text-center' style='margin-bottom:-20px;'>{{totals.won}}</h3>
        <h3 class='text-center' style="margin-bottom:5px;">Purchased</h3>
    </div>
</div>
</div>
    <div class='container'>
        <div class='row' ng-if='user.type == "member"'>
            <div class="text-left" ng-show="member_filter" style="padding-bottom:20px;padding-left:20px;">
                <span ng-repeat="(_filter,_count) in member_filter">
                    <span class="dash-stat" ng-click="set_member_filter(_filter)">{{_filter | capUnderscore}} <span style="color:#777;font-size:14px;">({{_count}})</span></span>
                </span>
                <!--<a href="/faq" target="_blank">
                  <span class="glyphicon glyphicon-question-sign" style="font-size: 16px;top: -10px;color: #333;"></span>
              </a>-->
            </div>
            <div class='col-sm-4 hidden-xs'>
                <div ng-if='first_third($index)' class="contest-box row" ng-repeat='submission in dash2'>
                    <div ng-include src="'templates/submits/dashsubmit.html'"></div>
                </div>
            </div>
            <div class='col-sm-4 hidden-xs'>
                <div ng-if='second_third($index)' class="contest-box row" ng-repeat='submission in dash2'>
                    <div ng-include src="'templates/submits/dashsubmit.html'"></div>
                </div>
            </div>
            <div class='col-sm-4 hidden-xs'>
                <div ng-if='third_third($index)' class="contest-box row" ng-repeat='submission in dash2'>
                    <div ng-include src="'templates/submits/dashsubmit.html'"></div>
                </div>
            </div>
            <div class='col-xs-12 visible-xs'>
                <div ng-if="show_submission(submission)" class="contest-box row" ng-repeat='submission in dash2'>
                    <div ng-include src="'templates/submits/dashsubmit.html'"></div>
                </div>
            </div>
        </div>
        <div class='row' ng-if='user.type == "company"'>
            <table ng-show='view == "table"' class='table table-hover' style='border-radius:5px;background:#fff;'>
                <thead>
                    <tr>
                        <td style='cursor:pointer' ng-click='predicate="platform";reverse=!reverse'>Campaign <span class="glyphicon glyphicon-sort" style="font-size:10px;"></span></td>
                        <td style='cursor:pointer' ng-click='predicate="status";reverse=!reverse'>Status <span class="glyphicon glyphicon-sort" style="font-size:10px;"></span></td>
                        <td style='cursor:pointer' ng-click='predicate="submission_count";reverse=!reverse'>Ads <span class="glyphicon glyphicon-sort" style="font-size:10px;"></span></td>
                    </tr>
                </thead>
                <tr ng-repeat='contest in dash.contests | filter : {status : type} | orderBy : predicate : reverse'>
                    <td>
                        <span ng-if='contest.status != "Complete" && contest.status != "draft"' style='color:#019F6E;cursor:default;'>{{contest.platform | capitalize}} - {{contest.objective | capUnderscore}}</span>
                        <span ng-if='contest.status == "Complete"' style='color:#019F6E;cursor:default;'>{{contest.platform | capitalize}} - {{contest.objective | capUnderscore}}</span>
                        <span ng-if='contest.status == "draft"' style='color:#019F6E;cursor:default;'>{{contest.platform | capitalize}} - {{contest.objective | capUnderscore}}</span>
                        <br>
                        <small>
                          <span ng-if='contest.status != "draft"' style="cursor:default;">{{contest.start_time | dashDate}} - </span>
                          <span ng-if='contest.status == "draft"' style="cursor:default;">No start : Draft - </span>
                          <span ng-if='contest.status != "draft"' style="cursor:default;">{{contest.stop_time | dashDate}}</span>
                          <span ng-if='contest.status == "draft"' style="cursor:default;">No stop : Draft</span>
                      </small>
                    </td>
                    <td style="cursor:default;">{{contest.status | capUnderscore}}</td>
                    <td style="cursor:default;">{{contest.submission_count | number}}/{{contest.submission_limit}}</td>
                    <td>
                        <a class='btn btn-oj btn-lg pull-right' ng-if='contest.status != "Complete" && contest.status != "draft"' ng-click='choosing_winner(contest)' style='margin-right: 10px;'>View Campaign</a>
                        <a class='btn btn-oj btn-lg pull-right' ng-if='contest.status == "Complete"' ng-click='view_pcp(contest.id)' style='margin-right: 10px;'>View Campaign</a>
                        <a class='btn btn-oj btn-lg pull-right' ng-if='contest.status == "draft"' href='/launch/{{contest.id}}' style='margin-right: 10px;'>View Campaign</a>
                    </td>
                </tr>
            </table>
            <div class="winner-contest" ng-show='view == "winner"'>
                <div class='col-xs-12'>
                    <div class="row" style='margin-bottom:20px;'>
                        <div class="col-xs-6" style="margin-top:10px;">
                            <button class='btn btn-oj btn-secondary' ng-click='back_table()'><span class="glyphicon glyphicon-arrow-left"></span> Back</button>
                            <span ng-show="winner_contest.status == 'pending_testing'">
                                <button id="selectall" class='btn btn-dash btn-oj btn-secondary' ng-click='Toggleselect_all()' style='margin-right: 10px;'>De-select All</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div ng-if="submissions.length">
                    <div class='col-sm-4 hidden-xs'>
                        <div ng-if='first_third($index)' class="contest-box row" ng-repeat='submission in submissions'>
                            <div ng-include src="'templates/submits/companysubmits.html?123'"></div>
                        </div>
                    </div>
                    <div class='col-sm-4 hidden-xs'>
                        <div ng-if='second_third($index)' class="contest-box row" ng-repeat='submission in submissions'>
                            <div ng-include src="'templates/submits/companysubmits.html?123'"></div>
                        </div>
                    </div>
                    <div class='col-sm-4 hidden-xs'>
                        <div ng-if='third_third($index)' class="contest-box row" ng-repeat='submission in submissions'>
                            <div ng-include src="'templates/submits/companysubmits.html?123'"></div>
                        </div>
                    </div>
                    <div class='col-xs-12 visible-xs'>
                        <div class="contest-box row" ng-repeat='submission in submissions'>
                            <div ng-include src="'templates/submits/companysubmits.html?123'"></div>
                        </div>
                    </div>
                </div>
                <div ng-show="submissions.length == 0" class='text-center'>
                    <span ng-show="winner_contest.status =='draft'">
                    <h4 style="font-size:22px;">After you launch your campaign, this is where your ads will appear.</h4>
                </span>
                    <span ng-show="winner_contest.status =='live'">
                    <h4 style="font-size:22px;">Your campaign is currently live. As soon as it starts receiving ads, you'll see them here.</h4>
                </span>
                </div>
            </div>
            <div ng-hide="view == 'table'" class='launch-page-overlaybox launch-page-box' style="height:70px;">
                <div class="container">
                    <div class='row'>
                        <div ng-show="winner_contest.status == 'testing'">
                            <!--<a class='btn btn-oj btn-lg pull-right' href="mailto:alek@tappyn.com?Subject=Hey%20there!"target=_top>Questions?</a>-->
                        </div>
                        <div ng-show="winner_contest.status == 'live' && view != 'pcp'">
                            <a class='btn btn-oj btn-lg pull-right' href='/edit/{{winner_contest.id}}'>Edit Campaign</a>
                        </div>
                        <div ng-show="winner_contest.status == 'draft'">
                            <a ng-if='winner_contest.paid == "0"' class='btn btn-oj btn-lg pull-right' ng-click="open_payment(winner_contest,'launch')">Launch Now <span class="glyphicon glyphicon-flash"></span></a>
                            <a class='btn btn-oj btn-secondary btn-lg pull-right' href='/launch/{{winner_contest.id}}'>Edit Campaign</a>
                        </div>
                        <div ng-show="view == 'pcp' && !winner_contest.status == 'draft'">
                        </div>
                        <div ng-show="winner_contest.status == 'pending_testing'">
                            <button class='btn btn-oj btn-lg pull-right' type='button' ng-click="before_open_payment(winner_contest,'confirm_ab')">Continue <span class="glyphicon glyphicon-share-alt" style="padding-bottom:8px;"></span></button>
                        </div>
                        <div ng-show="winner_contest.status == 'pending_selection' && view != 'pcp'">
                            <button class='btn btn-oj btn-lg pull-right' type='button' ng-click='before_open_payment(winner_contest,"confirm_selection")'>Select <span class="glyphicon glyphicon-shopping-cart"></span></button>
                            <button class='btn btn-oj btn-secondary btn-dash btn-lg pull-right' type='button' ng-click="before_open_payment(winner_contest,'confirm_re_ab')">Re-test Ads <span class="glyphicon glyphicon-share-alt"></span></button>
                        </div>
                        <div class='text-left' ng-show="winner_contest.status == 'draft'">
                            <h4 class='text-left' style='color:#333'>
                            <span style='font-weight:300;font-size:22;position:relative;top:10px;'>
                              <strong>Start receiving ads by launching your campaign.</strong>
                            </span>
                          </h4>
                        </div>
                        <div class='text-left' ng-show="winner_contest.status == 'live' && view != 'pcp'">
                            <h4 class='text-left' style='color:#333'>
                            <span style='font-weight:300;font-size:22;position:relative;top:10px;'>
                              <strong>Once you receive 30 ads, we'll begin testing. It shouldn't take more than a few days.</strong>
                            </span>
                          </h4>
                        </div>
                        <div class='text-left' ng-show="winner_contest.status == 'pending_testing' && view != 'pcp'">
                            <h4 class='text-left' style='color:#333'>
                            <span style='font-weight:300;font-size:22;position:relative;top:10px;'>
                              <strong>Please review, edit, and de-select ads that you'd like to omit from testing.</strong>
                            </span>
                          </h4>
                        </div>
                        <div class='text-left' ng-show="winner_contest.status == 'testing'">
                            <h4 class='text-left' style='color:#333'>
                            <span style='font-weight:300;font-size:22;position:relative;top:10px;'>
                              <strong>Your ads are currently being tested. Please check back in 24 hours for results.</strong>
                            </span>
                          </h4>
                        </div>
                        <div class='text-left' ng-show="winner_contest.status == 'pending_selection' && view != 'pcp'">
                            <h4 class='text-left' style='color:#333'>
                            <span style='font-weight:300;font-size:22;position:relative;top:10px;'>
                                <strong>Please choose your favorite ad. Learn more about our metrics <span ng-click="showlearn()" style="cursor:pointer;color:#019F6E;">here</a>.</strong>
                            </span>
                          </h4>
                        </div>
                        <div class='text-left' ng-show="view == 'pcp' && winner_contest.status != 'draft'">
                            <h4 class='text-left' style='color:#333'>
                            <span style='font-weight:300;font-size:22;position:relative;top:10px;'>
                              <strong>Congratulations! You now own an ad your audience will love. Start growing your business by using it!</strong>
                            </span>
                          </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show='view == "pcp"'>
                <div class='col-xs-12 col-sm-8 col-sm-offset-2'>
                    <button class='btn btn-oj btn-secondary' style="margin-bottom:30px;" ng-click='back_table()'><span class="glyphicon glyphicon-arrow-left"></span> Back</button>
                    <div class='contest-box row' style="padding:10px;">


                        <div class="contest-image">
                            <img ng-src='{{winner.winner.attachment}}'>
                        </div>
                        <div class='contest-company text-left'>
                            <span class='company-name'>from {{user.first_name}} &#8226; {{winner.contest.platform | capitalize}}</span>
                        </div>
                        <div class='contest-entry text-left'>
                            <h3 ng-show='winner.winner.headline'>{{winner.winner.headline}}</h3>
                            <h4 ng-show='winner.winner.link_explanation'>{{winner.winner.link_explanation}}<br></h4>
                            <h4 ng-show='winner.winner.text'>{{winner.winner.text}}</h4>
                            <div class='contest-upvotes disable-click'>
                                <span class='glyphicon glyphicon-heart'></span> {{winner.winner.votes | number}}
                            </div>
                        </div>
                        <div class='contest-winner text-left'>
                            <div class='avatar'>
                                <img ng-src='{{winner.winner.avatar_url}}' src='public/img/avatar.png' alt=''>
                            </div>
                            <h5 class='winner-name'> {{winner.winner.first_name}} {{winner.winner.last_name | firstChar}}.</h5>
                            <!--<span data-toggle="modal" href="#myModalcompany" class='contest-ctr ' ng-if='!submission.ctr ' ng-bind="(submission.ctr)?submission.ctr:'-'" style="cursor:help;"></span>-->
                            <div ng-if="submission.test_result.impressions">
                                <span ng-click="showctr()" ng-bind="submission.test_result.ctr + '%'" class='contest-ctr ' ng-if='submission.test_result.ctr ' style="cursor:help;"></span>
                                <span ng-click="showctr()" ng-bind="submission.test_result.ctr" class='contest-ctr ' ng-if='!submission.test_result.ctr ' style="cursor:help;">-</span>
                            </div>
                            <div ng-if="!submission.test_result.impressions">
                            <span ng-click="showctr()" class='contest-ctr ' ng-if='submission.ctr ' style="cursor:help;">{{winner.winner.ctr}}%</span>
                            <span ng-click="showctr()" class='contest-ctr ' ng-if='!submission.ctr ' style="cursor:help;">-</span>
                            </div>
                            <div ng-if="submission.test_result.impressions" class="contest-test-result col-xs-12 text-center">
                                <span uib-tooltip="Views" class="test-impressions" ng-bind="submission.test_result.impressions | number"></span>
                                <span uib-tooltip="Cost Per Click" class="test-cost_per_result" ng-bind="'$' + submission.test_result.cost_per_result"></span>
                                <span uib-tooltip="Total Clicks" class="test-results" ng-bind="submission.test_result.results"></span>
                            </div>
                        </div>
                        <div class='col-xs-12 col-sm-6'>
                            <h3>{{winner.contest.platform | capitalize}}</h3>
                            <h4>
                            <span ng-switch on="winner.contest.gender">
                              <span ng-switch-when="1">Men</span>
                              <span ng-switch-when="2">Women</span>
                              <span ng-switch-default>Men and Women</span>
                            </span>
                            {{winner.contest.min_age}} to {{winner.contest.max_age}}
                            </h4>
                            <h4 ng-repeat="_industry in winner.contest.industry">{{industries[_industry]}}</h4>
                            <h5>Started {{contest.start_time | dashDate}}</h5>
                            <h5>Ended {{contest.stop_time | dashDate}}</h5>
                            <br>
                            <div class='col-xs-12' ng-switch on='winner.contest.platform'>
                                <a ng-switch-when='facebook' class='btn btn-oj col-xs-8 col-xs-offset-2 text-center' target='_blank' href='https://business.facebook.com'>Launch Facebook Campaign</a>
                                <a ng-switch-when='instagram' class='btn btn-oj col-xs-8 col-xs-offset-2 text-center' target='_blank' href='https://business.facebook.com'>Launch Instagram Campaign</a>
                                <a ng-switch-when='twitter' class='btn btn-oj col-xs-8 col-xs-offset-2 text-center' target='_blank' href='https://ads.twitter.com'>Launch Twitter Campaign</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
fbq('track', 'PageView');
window.Intercom('update');
</script>
<style>

@media (min-width: 768px) .modal-content {
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .5);
    box-shadow: 0 1px 5px rgba(0, 0, 0, .5);
}

.modal-header {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.modal-content {
    background-color: #f4f7f9;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.modal-body-sub {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.modal-footer-sub {
    border-top: none;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-top: 30px;
}

.checkbox-container input[type="checkbox"]:hover + label span:hover {
    color: #ff5e00;
    border: 2px solid #ff5e00;
}
</style>
