<div class='row'>
<div class='col-xs-12 col-sm-10 col-sm-offset-1 text-center'>
	<h2 class='text-center'>Privacy Policy</h2>

	<p>Tappyn is committed to protecting the privacy of our users and we want to provide a safe and secure user experience. This Privacy Policy describes how Tappyn collects and uses the information we obtain when you use the Tappyn Service. It also describes the choices available to you regarding our use of your Personal Information and how you can access and manage that information. This Privacy Policy is part of and is governed by our Terms of Service which you accept in order to transact with us. Your acceptance of this Privacy Policy includes your consent to our use of cookies and other similar technologies as described in this document. To note, our site may include links to other web sites whose privacy practices may differ from those of Tappyn. Because the use of your information is governed by their privacy policies, we encourage you to read each policy carefully. We are not responsible for the policies or practices of any third party website or service.</p>

	<h3 class='text-center' class='text-center'>Information We Collect</h3>
	<p>Information You Provide to Us. “Personal Information” means information that alone or in combination with other information may be used to readily identify, contact, or locate you. The Personal Information we collect will be different depending on your activities on theTappyn Service. 
	<br>
	For example, to register to create Contests on our service, we will collect your company name, email address, age and gender, as well as payment information. If you register using a sign-in service or a social media platform such as Facebook, we will collect the information needed to authenticate your account and any other information the platform provides in that process. 
	<br>
	If you register to create an advertisement or win a contest, we collect your name, email address, age and gender, payment information; we may also collect additional Personal Information as needed to send you and the applicable tax authorities an income tax reporting statement. By participating in a Contest, you will also be supplying us with your words, ideas, concepts, scripts, pictures, videos, or other information that you choose to submit. We may aggregate these submissions with other submissions to analyze the data for our internal review. On select Contests, we may also make your submissions available for public voting on our website.
	<br>
	Automated Technologies. “Site Information” means information received and recorded on our server logs from your browser, including your IP address, browser type, the date and time of the use, the pages you visit, the page you came from and go to when leaving the Tappyn Service, your operating system and information about your mobile device. We may combine this automatically collected log information with other information we collect about you. In addition, we also automatically collect Site Information when you access or use the Tappyn Service. We (and our vendors) collect that information using cookies, pixel tags, 
	embedded web links, and similar technologies. Users can control the use of cookies at the individual browser level. If you reject cookies, you may still use our site, but your ability to use some features or areas of our service may be limited.</p>

	<h3 class='text-center'>Forums</h3>
	<p>The Tappyn Service may offer publicly accessible community forums or blogs. You should be aware that any information you provide in these areas may be read, collected, and used by others who access them. In some cases, we may not be able to remove your Personal Information, in which case we will let you know if we are unable to do so and why.</p>

	<h3 class='text-center'>Social Media Widgets</h3>
	<p>The Tappyn Service may include social media features, such as the Facebook like button and share buttons. These features may collect your IP address, which page you are visiting on our site, and may set a cookie to enable the features to function properly. Certain social media features are hosted by the applicable provider (e.g. Facebook). Your interactions with these features are governed by the privacy policy of the company providing the features.</p>

	<h3 class='text-center'>Single Sign On</h3>
	<p>You can log into the Tappyn Service using sign-in services such as Facebook Connect or an Open ID provider. These services will authenticate your identity and provide you the option to share certain Personal Information with us such as your name and email address to pre-populate our sign up form. Services like Facebook Connect give you the option to post information about your activities on the Tappyn Service to your profile page to share with others within your network.</p>

	<h3 class='text-center'>Manage Your Information</h3>
	<p>If you would like to update or modify any Personal Information you have provided to us, you can do so in the account settings tab of your dashboard or by contacting us. For your protection, we will require some proof of your identity to obtain any Personal Information hosted on our site. Additionally, you may deactivate your account by contacting us. At your request, we will remove your Personal Information, provided we have no outstanding business or other obligation requiring such information.</p>

	<h3 class='text-center'>Children's Privacy</h3>
	<p>We do not knowingly collect, maintain, or use Personal Information from children under 13 years of age without parental consent, and no part of the Tappyn Service is directed to children under the age of 13.</p>

	<h3 class='text-center'>Data Retention</h3>
	<p>We will retain your information for as long as your account is active or as needed to provide you services. We will retain and use your information as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements.</p>

	<h3 class='text-center'>Security</h3>
	<p>The security of your Personal Information is important to us and we take reasonable steps to ensure that it is treated accordingly. However, we cannot ensure the security of any information provided to us. We do not accept liability for unintentional disclosure.You agree that we may communicate with you electronically regarding security, privacy, and administrative issues relating to your use of the Tappyn Service. If we learn of a security system breach, we may attempt to notify you electronically by posting a notice on the Tappyn Service or by sending an email to you. </p>

	<h3 class='text-center'>Notification of Privacy Policy Changes</h3>
	<p>Tappyn may periodically make changes to this Privacy Policy that will be posted on our website (tappyn.com) or communicated to you through other reasonable means (e.g. email or mobile alerts). We encourage you to periodically review this page for the latest information on our privacy practices.</p>

	<h3>Contact Information</h3>
	<p>Tappyn</p>
	<p>206 Waterman Street</p>
	<p>Providence, RI, 02915</p>
	<p>Customer support:  support@tappyn.com</p>
	<p>Telephone: 401.369.4997</p>
	<p>Updated February 9th, 2016</p>
</div>
</div>

<script>
fbq('track', 'PageView');
window.Intercom('update');
</script>