<div class='container-fluid'>
    <div class='row'>
    	<section class="hero-banner">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <div class="hero-content row">
                    <div class='col-xs-12'><h1 class='text-left' style='font-size:50;'>Get your ads from your audience,<br> not agencies.</h1></div>
                    <div class='col-xs-12 text-left' style='color:#fff;'>
                        <h4>Crowdsource your digital ads directly from<br/>your target audience.</h4>
                        <p style="padding-left:20px;"><span class='glyphicon glyphicon-ok circle-it'></span> 3,245 ads created.</p>
                        <p style="padding-left:20px;"><span class='glyphicon glyphicon-ok  circle-it'></span> 100% Money Back Guarantee.</p>
                        <div class='text-center'><a class='btn btn-wj btn-lg get_started' style='padding-left: 50px;padding-right: 50px' href="/launch">Get Started Now</a></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="how-it-works">
            <div class="row">
                <div class='container'>
                <h2 style='color:#333;font-size:25;text-align:center;'>Goodbye guessing. Goodbye split testing. Hello effortless advertising.</h2>
                <h3 style='color:#333;font-size:18;text-align:center;'>From image to copy, from split tests to audience targeting, from Facebook to Twitter,<br/>Tappyn connects you with you target audience to seamlessly create and test 30 high performing digital ads,<br/>giving you the perspective audiences love.</h3>
                <div class="features-box text-center">
                    <div class="col-xs-12 col-sm-4 text-center">
                      <img width='200px' height='125px;' src="public/img/advertising1.png" style="margin-top:50px;">
                      <h3 style='color:#333;font-size:25;'>Effortlessly create.</h3>
                      <p style='color:#333;font-size:18;text-align:center;'>Streamline the copywriting and creative construction process by letting our users handle it end to end. Sit back, and watch 30 unique ads roll in.</p>
                    </div>
                    <div class="col-xs-12 col-sm-4 text-center">
                      <img width='200px' height='125px;' src="public/img/advertising4.png" style="margin-top:50px;">
                      <h3 style='color:#333;font-size:25;'>Connect Easier</h3>
                      <p style='color:#333;font-size:18;text-align:center;'>Simply tell us your audience and the media format you'd like, and we'll channel your campaign to our users who meet those demographics. They'll learn about your company like it was their own.</p>
                    </div>
                    <div class="col-xs-12 col-sm-4 text-center">
                        <img width='200px' height='125px;' src="public/img/advertising3.png" style="margin-top:50px;">
                        <h3 style='color:#333;font-size:25;'>Sell Smarter</h3>
                        <p style='color:#333;font-size:18;text-align:center;'>Easily see and understand the click through rates (CTRs) of each ad and how they stack up against each other as we split test them for you.</p>
                    </div>

                </div>
                </div>
            </div>
        </section>
        <section class="love-raw">
           <div class='container'>
               <div class="row">
                <h2 style='font-size:25;font-weight:bold;margin-bottom:20px;' class='text-left'>Connect with potential customers.<br/>See incredible results.</h2>
                <div class="container">
                    <div class='features-box'>
                      <div class='col-sm-3'>
                          <img class='img-responsive' src="https://s3-us-west-2.amazonaws.com/tappyn/example1.jpg">
                      </div>
                      <div class='col-sm-3'>
                          <img class='img-responsive' src="https://s3-us-west-2.amazonaws.com/tappyn/example8.jpg">
                      </div>
                      <div class='col-sm-3'>
                          <img class='img-responsive' src="https://s3-us-west-2.amazonaws.com/tappyn/example3.jpg">
                      </div>
                      <div class='col-sm-3'>
                          <img class='img-responsive' src="https://s3-us-west-2.amazonaws.com/tappyn/example5.jpg">
                      </div>
                    </div>
                </div>
                <div class='col-xs-12 text-center'><a class='btn btn-wj btn-lg get_started' style='padding-left: 50px;padding-right: 50px;margin-top:-40px;' href="/launch">Get Started Now</a></div>
            </div>
          </div>
        </section>
        <section class="how-it-works" style='padding-bottom:20px;'>
          <div class='row content-padding'>
                <div class='container'>
                      <h2 style='font-size:25;font-weight:bold;margin-bottom:20px;' class='text-center'>Over 3,000 Tappyn ads have been made for businesses across America.<br/>We're proud to be a part of their success.</h2>
                        <br/>
                   <div class='col-sm-4 col-xs-12 text-center' style='color:#333;'>
                          <div class='testi-back'>
                            <center><img width='169px;' height='169px;' src="https://s3-us-west-2.amazonaws.com/tappyn/OBI.jpg" class="img-responsive"></center>
                              <h3 style='color:#333;font-weight:300;font-size:18;'>"Marketers that launch social advertising campaigns with consumer generated photos have seen up to a 50% increase in CTR over brand images, leading to a 5x return in advertising spend."</h3>
                              <div style='padding-top:15px;' class='text-center'><img width='200px' src='public/img/olapic.svg'></div>
                          </div>
                      </div>
                      <div class='col-sm-4 col-xs-12 text-center' style='color:#333;'>
                          <div class='testi-back'>
                            <center><img width='169px;' height='169px;' src="https://s3-us-west-2.amazonaws.com/tappyn/sophie.jpg" class="img-responsive"></center>
                              <h3 style='color:#333;font-weight:300;font-size:18;'>"92% of consumers say they trust recommendations from friends and family   above all other forms of advertising."</h3>
                              <div style='padding-top:15px;' class='text-center'><img width='200px' src='public/img/nielsen.png'></div>
                          </div>
                      </div>
                      <div class='col-sm-4 col-xs-12 text-center' style='color:#333;'>
                      <div class='testi-back'>
                            <center><img width='169px;' height='169px;' src="https://s3-us-west-2.amazonaws.com/tappyn/phuong.jpg" class="img-responsive"></center>
                              <h3 style='color:#333;font-weight:300;font-size:18;'>"I was completely lost when it came to making an ad for a 35 year old woman who likes fitness. After using Tappyn, I never worry about creating ads again - I can focus on what matters most : my product."</h3>
                          <div style='padding-top:15px;' class='text-center'><img width='250px' src='public/img/fitgenie.png'></div>
                          </div>
                    </div>
              </div>
            </div>
        </section>
        <section class="love-raw" style='padding-top:0px;height:auto;'>
            <div class='row content-padding'>
                <div class='container'>
                    <h2 style='font-size:25;font-weight:bold;margin-bottom:20px;' class='text-left'>Our pricing is a flat $99 per campaign launched.</h2>
                    <br/>
                     <div class="col-xs-12 text-center" style='color:#333;'>

                        <h4 style='color:#333;font-weight:bold;font-size: 22;'>With each campaign, you'll recieve:</h4>
                      </div>
                        <br/>
                        <div class="col-xs-12 text-left" style='color:#333;'>
                        <ul class="value-list">
                          <li class="value-list">30 ads created by your target audience in the format of your choice.</li>
                          <li class="value-list">400+ campaign impressions from your target audience.</li>
                          <li class="value-list">The ability to download and impliment your favorite ad.</li>
                          <li class="value-list">30 individual split tests comparing the effectiveness of each ad.</li>
                        </ul>
                        <br/>
                        <br/>
                        </div>

                        <div class='col-xs-12 text-center'><a class='btn btn-wj btn-lg get_started' style='padding-left: 50px;padding-right: 50px' href="/launch">Get Started Now</a></div>
                  </div>
            </div>
        </section>

    	<section class="how-it-works" style='padding-top:0px;height:auto;'>
    		<div class='row content-padding text-center'>
              <div class='col-xs-4 col-xs-offset-2'>
                <img width='450px;' height='300px;' src="https://s3-us-west-2.amazonaws.com/tappyn/painting.jpg" class="img-responsive">
              </div>
              <div class='col-xs-4'>
                <h2 style='font-size:25;font-weight:bold;margin-bottom:40px;' class='text-left'>Questions?</h2>
                <h4 style='color:#333;font-weight:bold;font-size:18;' class='text-left'>The founders of Tappyn, Austin and Alek, are here to help you never have to make another ad again. Check out our <a href="https://tappyn.com/faq">FAQ</a>, send us an
<a href="mailto:squad@tappyn.com?Subject=Hey%20there!" target="_top">email</a>, or fill out our <a href="https://tappyn.com/contact_us">Contact Us</a> form.</h4>
              </div>
        	    <div class='col-xs-4'>
                <h4 style='color:#333;font-weight:bold;font-size:18;' class='text-left'>P.S. - The photo to the left has no connection to customer service whatsoever. We're just really into painting outside.</h4>
              </div>
    	  </div>
    	</section>

    </div>
</div>

<script>
fbq('track', 'ViewContent');
window.Intercom('update');

$(".get_started").click(function(){
    ga('send', {
        hitType: 'event',
        eventCategory: 'Company Click',
        eventAction: 'Company Launch',
        eventLabel: 'Company clicked to launch'
    });
    fbq('track', 'AddToCart');
});
</script>

<style>
.circle-it{
    padding:5px;
    border:solid 1px #fff;
    border-radius: 20px;
}
.circle-it-black{
    padding:2px;
    border:solid 1px #333;
    border-radius: 10px;
}
.testi-back{
    background:#CCC;
    border-radius:6px;
    padding:15px;
}


</style>
