<div class=container-fluid>
    <div class=row>
        <section class=hero-banner>
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <div class="row hero-content">
                    <div class=col-xs-12>
                        <h1 class=text-left style=font-size:50>Ads your audience loves.<br>Delivered to your inbox.</h1></div>
                    <div class="col-xs-12 text-left" style=color:#fff>
                        <h4 class="hidden-xs hidden-sm" style="padding-bottom:10px;">Tappyn makes selling easier by crowdsourcing<br>your ads from your target audience.</h4>
                        <h4 class="hidden-xs hidden-sm" style="padding-bottom:10px;">3,234 ads created.</h4>
                        <h4 class="hidden-xs hidden-sm" style="padding-bottom:10px;">An ad you love or your money back. Guaranteed.</h4>
                                <div class="text-left"><a href=/launch class="btn btn-lg btn-wj get_started" style=padding-left:50px;padding-right:50px>Get Started</a></div>
                    </div>
                </div>
            </div>
        </section>
        <section class=how-it-works style="padding-bottom:0;">
            <div class=row>
                <div class=container>
                    <center><h2 style="color:#333;font-size:25;text-align:center;line-height:1.3;">Tappyn is the easiest way to advertise online. No more guessing or split tests.<br>We deliver an ad your audience loves directly to your inbox.</h2></center>
                    <!--<h3 style=color:#333;font-size:18;text-align:center></h3>-->
                    <div class="text-center features-box" style="padding-top:30px;">
                        <div class="text-center col-xs-12 col-sm-4" style="border-right: 1px solid #EBEFF2;height:50%;">
                          <a href="/launch"><img src="https://s3-us-west-2.amazonaws.com/tappyn/Facebook-3.jpg" width=150px height=301px; style="margin-top:10px;margin-bottom:20px;">
                            <h3 class="phonelink" style=color:#333;font-size:24>Facebook</h3></a>

                            </div>
                        <div class="text-center col-xs-12 col-sm-4" style="border-right: 1px solid #EBEFF2;height:50%;">
                          <a href="/launch"><img src="https://s3-us-west-2.amazonaws.com/tappyn/Instagram-2.jpg" width=150px height=301px; style="margin-top:10px;margin-bottom:20px;">
                            <h3 class="phonelink" style=color:#333;font-size:24>Instagram</h3></a>

                            </div>
                        <div class="text-center col-xs-12 col-sm-4">
                          <a href="/launch"><img src="https://s3-us-west-2.amazonaws.com/tappyn/Twitter_ad.jpg" width=150px height=301px; style="margin-top:10px;margin-bottom:20px;">
                            <h3 class="phonelink" style=color:#333;font-size:24>Twitter</h3></a>

                            </div>
                    </div>
                </div>
                <div class="text-center col-xs-12" style="padding-top:30px;padding-bottom:50px;"><a href=/launch class="btn btn-lg btn-wj get_started">Get Started</a></div>
<center><hr style="color: #EBEFF2;width:75%;"></center>
            </div>

        </section>

        <section class="love-raw" style="background:#fff;">
            <div class='container'>
                    <div class="row">
                        <h2 style="font-size:25;font-weight:700;margin-bottom:10px;" class="text-left">Ask your audience.<br>See incredible results.</h2>
                        <h4 style="font-size:16;font-weight:500;margin-bottom:20px;" class="text-left">Creators draw from their own personal experiences to give you a relatable, custom ad.<br>We'll even test them to show you how good they are.<br>You pick your favorites.</h4>
                <div class='col-sm-4 col-xs-12 text-center'>
                    <center><img src="https://s3-us-west-2.amazonaws.com/tappyn/CPNEW11.jpg" class="img-responsive"></center>
                </div>
                <div class='col-sm-4 col-xs-12 text-center'>
                    <center><img src="https://s3-us-west-2.amazonaws.com/tappyn/CPNEW2.jpg" class="img-responsive"></center>
                </div>
                <div class='col-sm-4 col-xs-12 text-center'>
                    <center><img src="https://s3-us-west-2.amazonaws.com/tappyn/CPNEW33.jpg" class="img-responsive"></center>
                </div>
                <div class="text-center col-xs-12" style="padding-top:20px;">
                  <p class="text-left" style="font-size:12px;"><small>*Percentage values represent the Click Through Rate (CTR)<br>that each ad has generated.</small></p>
                  <h2 style="font-size:46;font-weight:700;margin-bottom:10px;" class="text-center">2.45%</h2>
                  <h4 style="font-size:16;font-weight:700;margin-bottom:20px;" class="text-center">Average Click Through Rate (CTR) of Tapped ads.</h4>
                  <center><hr style="color: #EBEFF2;width:50%;"></center>
                </div>
              </div>
            </div>
        </section>
        <section class=how-it-works>
            <div class=row>
              <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <div class="col-sm-12 col-md-6">
                  <h3 class="text-center" style="color:#FF5E00;padding-bottom:10px;font-size:22px;">3,000 authentic ads created.</h3>
                  <center><hr style="border-top: 2px solid #FF5E00;width: 50%;margin: 0 !important;padding-bottom: 10px;"></center>
                  <div class="col-sm-8 col-sm-offset-2">
                  <h4 class="text-center">Everyone needs better ads. And no wonder -- it can turn customers into marketers.</h4>
                  <center style="padding-top:30px;"><a href="/launch" class="btn btn-lg btn-wj get_started" style="padding-right:77px;padding-left:77px;">Get Started</a></center>
                </div>
                </div>
                <div class="col-sm-12 col-md-6">
                  <h3 class="text-center" style="color:#FF5E00;padding-bottom:10px;font-size:22px;">2,168 talented creators.</h3>
                  <center><hr style="border-top: 2px solid #FF5E00;width: 50%;margin: 0 !important;padding-bottom: 10px;"></center>
                  <div class="col-sm-8 col-sm-offset-2">
                  <h4 class="text-center">Tappyn is filled with authentic creators on a mission to make ads more relatable.</h4>
                  <center style="padding-top:30px;"><a ng-show='!user' ng-click='open_register("default", "", "2")' class="btn btn-lg btn-wj get_started" style="padding-right:50px;padding-left:50px;">Become A Creator</a>
                  <a ng-show='user' href="/contests" class="btn btn-lg btn-wj get_started" style="padding-right:50px;padding-left:50px;">Become A Creator</a></center>
                </div>
              </div>
                  <!--<h2 style="font-size:32;font-weight:700;margin-bottom:20px;padding-top:20px;" class="text-center">How does Tappyn Work?</h2>
                  <center><hr style="margin: 15px auto 55px auto; width: 60vw; border-color:#FF5E00;"></center>
                    <div class="text-center features-box" style="">
                            <div class="text-center col-xs-12 col-sm-4">
                              <center><div class="text-center numberCircle" style="margin-bottom:20px;">1</div></center>
                            <h3 style="color:#333;font-size:20;margin:5px;font-weight:bold;">Describe</h3>
                            <img src="https://s3-us-west-2.amazonaws.com/tappyn/step1.jpg" width=250px; height=149px; style="margin:0 0 5px;">
                            <center><p style="color:#333;font-size:14;text-align:center;width:70%;">Tell us about your audience, your ad, and your business.</p></center>
                            </div>
                            <div class="text-center col-xs-12 col-sm-4">
                              <center><div class="text-center numberCircle" style="margin-bottom:20px;">2</div></center>
                            <h3 style="color:#333;font-size:20;margin:5px;font-weight:bold;">Test</h3>
                            <img src="https://s3-us-west-2.amazonaws.com/tappyn/step2.jpg" width=250px; height=149px; style="margin:0 0 5px;">
                            <center><p style="color:#333;font-size:14;text-align:center;width:70%;">Recieve 30 unique ads for your campaign. You can choose which ones you want to test or we'll automatically test all of them for you.</p></center>
                            </div>
                        <div class="text-center col-xs-12 col-sm-4">
                          <center><div class="text-center numberCircle" style="margin-bottom:20px;">3</div></center>
                            <h3 style="color:#333;font-size:20;margin:5px;font-weight:bold;">Download</h3>
                            <img src="https://s3-us-west-2.amazonaws.com/tappyn/step3.jpg" width=250px; height=149px; style="margin:0 0 5px;">
                            <center><p style="color:#333;font-size:14;text-align:center;width:70%;">The results of all of the tested ads will be sent directly to you, so you don't even have to lift a finger.</p></center>
                            </div>
                    </div>-->
                  </div>
            </div>
        </section>
        <section class="love-raw" style="padding-top:0;height:auto;background:#F2F2F2;">
          <center><img src="https://s3-us-west-2.amazonaws.com/tappyn/bannernews.jpg" class="img-responsive" style="padding-right:100px;padding-left:100px;padding-top:20px;"></center>
        </section>
        <section class=love-raw style="padding-top:0;height:auto;background:#fff;">
            <div class="row content-padding">
                <div class="container" style="background-color:#F9F9F9;border-radius:6px;width:70%;padding-bottom:30px;position:relative;">
                    <h2 style="font-size:25;font-weight:700;padding-top:30px;" class=text-center>Our pricing is a flat fee for each compaign:</h2>
                    <h2 style="font-size:32;font-weight:bold;padding-top:10px;" class=text-center>$59.99</h2>
                    <!--<center><h3 style="font-size:14;margin-bottom:40px;width:75%;" class="text-center">So how do we make money?<br>In two ways. First, when your campaign is finished and you decide to split test your ads against each other, we usually deduct a small commission. In addition, when you decide to purchase the copyright to an ad, we charge a flat rate (100% of the cost goes to the creator of the ad).</h2></center>-->
                    <br>

                    <div class="container" style="background-color:#fff;border-radius:6px;width:70%;position:relative;">
                    <!--<center><img src="public/img/zero.png" width=75px; height=75px; class="overlay"></center>-->
                    <div class="text-center col-xs-12" style=color:#333>
                        <h4 style="color:#333;font-weight:700;font-size:22;padding-top:40px;">Included Services:</h4>
                      </div>
                    <br>
                    <div class="col-xs-12 text-left" style=color:#333>
                        <ul class=value-list>
                            <li class=value-list>30 Unique Copies Written By Your Target Demographic.
                                <li class=value-list>1 Copyright
                                    <li class=value-list>Audience Targeting.
                                      <li class=value-list>Testing And Delivery.
                                      </ul>


                                      <!--<hr>

                                          <h4 style="color:#333;font-weight:700;font-size:22;text-align:center;">Premium Services:</h4>



                                      <ul class=value-list>
                                        <li class=value-list>Split testing fee (2.5%).
                                          <li class=value-list>Copyright of ads ($49.99 per ad).</ul>
                                          </div>
                        <br>-->
                        <br>


                <div class="text-center col-xs-12" style="padding-top:20px;padding-bottom:20px;"><a href=/launch class="btn btn-lg btn-wj get_started">Get Started</a></div>
                <p class="text-center" style="font-size:14px;padding-top:10px;">100% Money Back Guarantee</p>
</div>
              </div>
          </div>

        </section>
        <section class=how-it-works style=padding-bottom:20px>
            <div class="row content-padding">
                <div class=container>
                    <h2 style=font-size:25;font-weight:700;margin-bottom:20px class=text-center>Over 3,000 Tappyn ads have been made for businesses across America.<br>We're proud to be a part of their success.</h2>
                    <br>
                    <div class="text-center col-xs-12 col-sm-4" style=color:#333>
                        <div class=testi-back>
                            <center><img src=https://s3-us-west-2.amazonaws.com/tappyn/phuong.jpg width=169px; height=169px; class=img-responsive></center>
                            <h3 style=color:#333;font-weight:300;font-size:18>"Marketers that launch social advertising campaigns with consumer generated photos have seen up to a 50% increase in CTR over brand images, leading to a 5x return in advertising spend."</h3>
                            <div class=text-center style=padding-top:15px><img src=public/img/olapic.svg width=200px></div>
                        </div>
                    </div>
                    <div class="text-center col-xs-12 col-sm-4" style=color:#333>
                        <div class=testi-back>
                            <center><img src=https://s3-us-west-2.amazonaws.com/tappyn/sophie.jpg width=169px; height=169px; class=img-responsive></center>
                            <h3 style=color:#333;font-weight:300;font-size:18>"92% of consumers say they trust recommendations from friends and family above all other forms of advertising."</h3>
                            <div class=text-center style=padding-top:15px><img src=public/img/nielsen.png width=200px></div>
                        </div>
                    </div>
                    <div class="text-center col-xs-12 col-sm-4" style=color:#333>
                        <div class=testi-back>
                            <center><img src=https://s3-us-west-2.amazonaws.com/tappyn/OBI.jpg width=169px; height=169px; class=img-responsive></center>
                            <h3 style=color:#333;font-weight:300;font-size:18>"I was completely lost when it came to making an ad for a 35 year old woman who likes fitness. After using Tappyn, I never worry about creating ads again - I can focus on what matters most : my product."</h3>
                            <div class=text-center style=padding-top:15px><img src=public/img/fitgenie.png width=250px></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="love-raw" style="padding-top:0;height:auto;background:#fff;">
            <div class="text-center content-padding row">
                <div class="col-xs-12 col-sm-4 col-sm-offset-2"><img src=https://s3-us-west-2.amazonaws.com/tappyn/painting.jpg width=450px; height=300px; class=img-responsive style=border-radius:6px></div>
                <div class="col-xs-12 col-sm-4">
                    <h2 style=font-size:25;font-weight:700;margin-bottom:40px class=text-left>Questions?</h2>
                    <h4 class=text-left style=color:#333;font-weight:700;font-size:18>The founders of Tappyn, Austin and Alek, are here to help make ads less annoying by letting you create the ads you want to see. Say goodbye to generic ads and say hello to messages that matter. Check out our <a href=https://tappyn.com/faq>FAQ</a>, send us an <a href="mailto:squad@tappyn.com?Subject=Hey%20there!"target=_top>email</a>, or fill out our <a href=https://tappyn.com/contact_us>Contact Us</a> form.</h4></div>
                <div class="col-xs-12 col-sm-4">
                    <h4 class=text-left style=color:#333;font-weight:700;font-size:18>P.S. - The photo to the left has no connection to customer service whatsoever. We're just really into painting outside.</h4></div>
            </div>
        </section>
    </div>
</div>
<script>
    fbq("track", "ViewContent"), window.Intercom("update"), $(".get_started").click(function() {
        ga("send", {
            hitType: "event",
            eventCategory: "Company Click",
            eventAction: "Company Launch",
            eventLabel: "Company clicked to launch"
        }), fbq("track", "AddToCart")
    })
</script>
<style>
    .circle-it {
        padding: 5px;
        border: solid 1px #fff;
        border-radius: 20px
    }
.h3.phonelink a:hover {
  text-decoration: none;
}
    .circle-it-black {
        padding: 2px;
        border: solid 1px #333;
        border-radius: 10px
    }

    .testi-back {
        background: #CCC;
        border-radius: 6px;
        padding: 15px
    }

    li.value-list:before {
        content: "\e067";
        font-family: 'Glyphicons Halflings';
        font-size: 12px;
        float: left;
        margin-top: 4px;
        margin-left: -17px
    }
    .container-new {
    margin-right: auto;
    background-color: #F9F9F9;
    border-radius: 6px;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 70%;
    height:100%;
}
.container-inside {
margin-right: auto;
background-color: #fff;
border-radius: 6px;
margin-left: auto;
padding-left: 15px;
padding-right: 15px;
width:70%;
height: 60%;
}
.overlay {
  position: absolute;
  right: 25%;
  bottom: 95%;
}
@media only screen and (min-width: 768px) {
.overlay {
  position: absolute;
  right: 45%;
  bottom: 91%;
}
}
.numberCircle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    font-size: 20px;
    width: 40px;
    height: 40px;
    padding: 4px;

    background: rgba(255, 94, 0, 0.52);
    border: 2px solid #FF5E00;
    color: #fff;
    text-align: center;
  }

</style>
