<div class=container-fluid>
    <div class=row>
        <section class=hero-banner>
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <div class="row hero-content">
                    <div class=col-xs-12>
                        <h1 class=text-left style=font-size:50>Choose ads from your audience,<br>not agencies.</h1></div>
                    <div class="col-xs-12 text-left" style=color:#fff>
                        <h4 class=hidden-xs>Tappyn makes ads better by crowdsourcing them<br>directly from your target audience.</h4>
                                <div class="text-left" style="padding-top:50px;"><a href=/launch class="btn btn-lg btn-wj get_started" style=padding-left:50px;padding-right:50px>Try It Free</a></div>
                    </div>
                </div>
            </div>
        </section>
        <section class=how-it-works>
            <div class=row>
                <div class=container>
                    <center><h2 style="color:#333;font-size:25;text-align:center;line-height:1.3;">Tappyn is the easiest way to find an ad your audience loves.<br>Say goodbye to split tests and stress.<br>We crowdsource your digital ads directly from your target audience.</h2></center>
                    <!--<h3 style=color:#333;font-size:18;text-align:center></h3>-->
                    <div class="text-center features-box">
                        <div class="text-center col-xs-12 col-sm-4"><img src="https://s3-us-west-2.amazonaws.com/tappyn/cpiconnew3.jpg" width=125px height=125px; style="margin-top:50px;margin-bottom:0px;">
                            <h3 style=color:#333;font-size:24>Sell More</h3>
                            <p style=color:#333;font-size:16;text-align:center>Drive more results from your existing ads without increasing ad spend or acquisition costs.</p>
                            </div>
                        <div class="text-center col-xs-12 col-sm-4"><img src="https://s3-us-west-2.amazonaws.com/tappyn/cpiconnew2.jpg" width=125px height=125px; style="margin-top:50px;margin-bottom:0px;">
                            <h3 style=color:#333;font-size:24>Spend Less</h3>
                            <p style=color:#333;font-size:16;text-align:center>Save on any future split testing costs and poor performing ads by first launching a Tappyn campaign.</p>
                            </div>
                        <div class="text-center col-xs-12 col-sm-4"><img src="https://s3-us-west-2.amazonaws.com/tappyn/cpiconnew1.jpg" width=125px height=125px; style="margin-top:50px;margin-bottom:0px;">
                            <h3 style=color:#333;font-size:24>Connect Easier</h3>
                            <p style=color:#333;font-size:16;text-align:center>Discover the most valuable perspectives on how to connect with your audience.</p>
                            </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="love-raw">
            <div class='container'>
                    <div class="row">
                        <h2 style="font-size:25;font-weight:700;margin-bottom:20px;" class="text-left">Let your audience handle your marketing.<br>See incredible results.</h2>
                <div class='col-sm-3 col-xs-12 text-center'>
                    <center><img src="https://s3-us-west-2.amazonaws.com/tappyn/cptest1.jpg" class="img-responsive"></center>
                </div>
                <div class='col-sm-3 col-xs-12 text-center'>
                    <center><img src="https://s3-us-west-2.amazonaws.com/tappyn/hptesti1.jpg" class="img-responsive"></center>
                </div>
                <div class='col-sm-3 col-xs-12 text-center'>
                    <center><img src="https://s3-us-west-2.amazonaws.com/tappyn/hptesti2.jpg" class="img-responsive"></center>
                </div>
                <div class='col-sm-3 col-xs-12 text-center'>
                    <center><img src="https://s3-us-west-2.amazonaws.com/tappyn/hptesti4.jpg" class="img-responsive"></center>
                </div>
                <div class="text-center col-xs-12" style="padding-top:20px;">
                  <p class="text-left" style="font-size:12px;"><small>*Percentage values represent the Click Through Rate (CTR)<br>that each ad has generated.</small></p>
                  <a href=/launch class="btn btn-lg btn-wj get_started">Launch Free Campaign</a>
                </div>
              </div>
            </div>
        </section>
        <section class=how-it-works>
            <div class=row>
                <div class=container>
                  <h2 style="font-size:32;font-weight:700;margin-bottom:20px;padding-top:20px;" class="text-center">How does Tappyn Work?</h2>
                  <center><hr style="margin: 15px auto 55px auto; width: 60vw; border-color:#FF5E00;"></center>
                    <div class="text-center features-box" style="">
                            <div class="text-center col-xs-12 col-sm-4">
                              <center><div class="text-center numberCircle" style="margin-bottom:20px;">1</div></center>
                            <h3 style="color:#333;font-size:20;margin:5px;font-weight:bold;">Describe</h3>
                            <img src="https://s3-us-west-2.amazonaws.com/tappyn/step1.jpg" width=250px; height=149px; style="margin:0 0 5px;">
                            <center><p style="color:#333;font-size:14;text-align:center;width:70%;">Tell us about your audience, your ad, and your business.</p></center>
                            </div>
                            <div class="text-center col-xs-12 col-sm-4">
                              <center><div class="text-center numberCircle" style="margin-bottom:20px;">2</div></center>
                            <h3 style="color:#333;font-size:20;margin:5px;font-weight:bold;">Test</h3>
                            <img src="https://s3-us-west-2.amazonaws.com/tappyn/step2.jpg" width=250px; height=149px; style="margin:0 0 5px;">
                            <center><p style="color:#333;font-size:14;text-align:center;width:70%;">Recieve 30 ads for your campaign, and let us know how much you'd like to spend testing them.</p></center>
                            </div>
                        <div class="text-center col-xs-12 col-sm-4">
                          <center><div class="text-center numberCircle" style="margin-bottom:20px;">3</div></center>
                            <h3 style="color:#333;font-size:20;margin:5px;font-weight:bold;">Purchase</h3>
                            <img src="https://s3-us-west-2.amazonaws.com/tappyn/step3.jpg" width=250px; height=149px; style="margin:0 0 5px;">
                            <center><p style="color:#333;font-size:14;text-align:center;width:70%;">Check out the results of each ad, and decide which ads to purchase.</p></center>
                            </div>
                    </div>
                </div>
            </div>
        </section>
        <section class=love-raw style=padding-top:0;height:auto>
            <div class="row content-padding">
                <div class="container" style="background-color:#F9F9F9;border-radius:6px;width:70%;padding-bottom:30px;position:relative;">
                    <h2 style="font-size:25;font-weight:700;padding-top:30px;" class=text-center>Our core campaigns are <u>free</u> to run.</h2>
                    <center><h3 style="font-size:14;margin-bottom:40px;width:75%;" class="text-center">So how do we make money?<br>In two ways. First, when your campaign is finished and you decide to split test your ads against each other, we usually deduct a small commission. In addition, when you decide to purchase the copyright to an ad, we charge a flat rate (100% of the cost goes to the creator of the ad).</h2></center>
                    <br>
              <div class="pricing-tables attached">
                     <div class="row">
                       <div class="col-sm-4 col-md-4">

                        <div class="plan first">

                           <div class="head">
                             <h2>Free</h2>
                             <p class="text-center" style="font-weight: bold;">All of these great features:</p>
                           </div>
                           <h4 class="text-center" style="font-size:16px;"><strong>Free Includes</strong></h4>

                           <ul class="item-list">
                                <li><strong>1</strong> campaign/mo.</li>

                                <li>Age, Gender, and Interest targeting.</li>
                                <li>Up to <strong>$50</strong> in A/B testing per campaign. </li>
                                <li><strong>$49</strong> ad purchase price.</li>

                                <li>Customer Support</li>

                           </ul>

                           <div class="price">
                             <h3><span class="symbol">$</span>0</h3>
                             <h4>per month</h4>

                           </div>

                           <button type="button" class="btn btn-wj btn-lg">Sign Up</button>

                        </div>


                       </div>


                       <div class="col-sm-4 col-md-4 ">

                         <div class="plan recommended" style="height:540px;">

                           <div class="head">
                             <h2>Standard</h2>
                           </div>
                           <h4 class="text-center" style="font-size:16px;"><strong>Standard Includes</strong></h4>
                           <p class="text-center" style="font-weight: bold;">Everything in Free and:</p>
                           <ul class="item-list">
                             <li>Up to <strong>5</strong> campaign/mo.</li>

                             <li>Location targeting.</li>
                             <li>Up to <strong>$100</strong> in A/B testing per campaign. </li>

                           </ul>

                           <div class="price" style="margin-top:80px;">
                             <h3><span class="symbol">$</span>49</h3>
                             <h4>per month</h4>
                           </div>

                           <button type="button" class="btn btn-wj btn-lg">Sign Up</button>

                        </div>

                       </div>


                       <div class="col-sm-4 col-md-4  ">
                                    <div class="plan last" style="height:523px;">

                           <div class="head">
                             <h2>Premium</h2>
                             <p class="text-center" style="font-weight: bold;">Everything in Standard and:</p>
                           </div>
                           <h4 class="text-center" style="font-size:16px;"><strong>Premium Includes</strong></h4>

                           <ul class="item-list">
                             <li><strong>Unlimited</strong> campaign/mo.</li>
                             <li>Up to <strong>$500</strong> in A/B testing per campaign. </li>
                           </ul>

                           <div class="price" style="margin-top: 121px;">
                             <h3><span class="symbol">$</span>249</h3>
                             <h4>per month</h4>
                           </div>

                           <button type="button" class="btn btn-wj btn-lg">Sign Up</button>

                        </div>

                       </div>

                     </div> <!-- row-->

                   </div> <!-- pricing-tables -->
               </div> <!-- container -->
          </div> <!-- row -->

        </section>
        <section class=how-it-works style=padding-bottom:20px>
            <div class="row content-padding">
                <div class=container>
                    <h2 style=font-size:25;font-weight:700;margin-bottom:20px class=text-center>Over 3,000 Tappyn ads have been made for businesses across America.<br>We're proud to be a part of their success.</h2>
                    <br>
                    <div class="text-center col-xs-12 col-sm-4" style=color:#333>
                        <div class=testi-back>
                            <center><img src=https://s3-us-west-2.amazonaws.com/tappyn/phuong.jpg width=169px; height=169px; class=img-responsive></center>
                            <h3 style=color:#333;font-weight:300;font-size:18>"Marketers that launch social advertising campaigns with consumer generated photos have seen up to a 50% increase in CTR over brand images, leading to a 5x return in advertising spend."</h3>
                            <div class=text-center style=padding-top:15px><img src=public/img/olapic.svg width=200px></div>
                        </div>
                    </div>
                    <div class="text-center col-xs-12 col-sm-4" style=color:#333>
                        <div class=testi-back>
                            <center><img src=https://s3-us-west-2.amazonaws.com/tappyn/sophie.jpg width=169px; height=169px; class=img-responsive></center>
                            <h3 style=color:#333;font-weight:300;font-size:18>"92% of consumers say they trust recommendations from friends and family above all other forms of advertising."</h3>
                            <div class=text-center style=padding-top:15px><img src=public/img/nielsen.png width=200px></div>
                        </div>
                    </div>
                    <div class="text-center col-xs-12 col-sm-4" style=color:#333>
                        <div class=testi-back>
                            <center><img src=https://s3-us-west-2.amazonaws.com/tappyn/OBI.jpg width=169px; height=169px; class=img-responsive></center>
                            <h3 style=color:#333;font-weight:300;font-size:18>"I was completely lost when it came to making an ad for a 35 year old woman who likes fitness. After using Tappyn, I never worry about creating ads again - I can focus on what matters most : my product."</h3>
                            <div class=text-center style=padding-top:15px><img src=public/img/fitgenie.png width=250px></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="love-raw" style=padding-top:0;height:auto>
            <div class="text-center content-padding row">
                <div class="col-xs-12 col-sm-4 col-sm-offset-2"><img src=https://s3-us-west-2.amazonaws.com/tappyn/painting.jpg width=450px; height=300px; class=img-responsive style=border-radius:6px></div>
                <div class="col-xs-12 col-sm-4">
                    <h2 style=font-size:25;font-weight:700;margin-bottom:40px class=text-left>Questions?</h2>
                    <h4 class=text-left style=color:#333;font-weight:700;font-size:18>The founders of Tappyn, Austin and Alek, are here to help make ads less annoying by letting you create the ads you want to see. Say goodbye to generic ads and say hello to messages that matter. Check out our <a href=https://tappyn.com/faq>FAQ</a>, send us an <a href="mailto:squad@tappyn.com?Subject=Hey%20there!"target=_top>email</a>, or fill out our <a href=https://tappyn.com/contact_us>Contact Us</a> form.</h4></div>
                <div class="col-xs-12 col-sm-4">
                    <h4 class=text-left style=color:#333;font-weight:700;font-size:18>P.S. - The photo to the left has no connection to customer service whatsoever. We're just really into painting outside.</h4></div>
            </div>
        </section>
    </div>
</div>
<script>
    fbq("track", "ViewContent"), window.Intercom("update"), $(".get_started").click(function() {
        ga("send", {
            hitType: "event",
            eventCategory: "Company Click",
            eventAction: "Company Launch",
            eventLabel: "Company clicked to launch"
        }), fbq("track", "AddToCart")
    })
</script>
<style>
    .circle-it {
        padding: 5px;
        border: solid 1px #fff;
        border-radius: 20px
    }

    .circle-it-black {
        padding: 2px;
        border: solid 1px #333;
        border-radius: 10px
    }

    .testi-back {
        background: #CCC;
        border-radius: 6px;
        padding: 15px
    }

    li.value-list:before {
        content: "\e067";
        font-family: 'Glyphicons Halflings';
        font-size: 12px;
        float: left;
        margin-top: 4px;
        margin-left: -17px
    }
    .container-new {
    margin-right: auto;
    background-color: #F9F9F9;
    border-radius: 6px;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 70%;
    height:100%;
}
.container-inside {
margin-right: auto;
background-color: #fff;
border-radius: 6px;
margin-left: auto;
padding-left: 15px;
padding-right: 15px;
width:70%;
height: 60%;
}
.overlay {
  position: absolute;
  right: 25%;
  bottom: 95%;
}
@media only screen and (min-width: 768px) {
.overlay {
  position: absolute;
  right: 45%;
  bottom: 91%;
}
}
.numberCircle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    font-size: 20px;
    width: 40px;
    height: 40px;
    padding: 4px;

    background: rgba(255, 94, 0, 0.52);
    border: 2px solid #FF5E00;
    color: #fff;
    text-align: center;
  }

</style>
