<div class='row'>
	<div class='col-xs-12' style='padding-top:10px'>
		<div class='panel'>
			<div class='panel-body'>		
				<div class='col-sm-3 col-xs-12' style='padding-top:10px;'>
					<h3>{{contest.title}}</h3>
					<div>
	                	<a class='btn btn-default btn-sm' href="#/contest/{{contest.id}}">Brief</a>
	                	<a class='btn btn-oj btn-sm' href="#/submissions/{{contest.id}}">Submissions</a>
	                </div>
				</div>
				<div class='col-sm-3 col-xs-12' style='padding-top:10px;'>
					<h3>Sharing</h3>
					<h4 style='margin:0px;'>Coming soon!</h4>
				</div>
				<div class='col-sm-3 col-xs-12'  style='padding-top:30px;'>
					<div style='width:100%'>
	                	<uib-progressbar value='contest.submission_count' max='50' type="warning"></uib-progressbar>                
		                <p class="progress-meter-text text-center" style='margin:0px;'>{{50 - (contest.submission_count | number)}} of 50 entries remaining</p>
		            </div>
		        </div>
	           <div class='col-sm-1 col-xs-6 text-right'>
		        	<h1 style='color:#ff6c00'>$50</h1>
		        </div>
		        <div class='col-sm-2 col-xs-6 text-right'>
					<h4 style='margin:0px;margin-top:20px;'>
		            	Ends in {{contest.stop_time | untilFilter}}
					</h4>
					<h4>{{contest.views}} Views</h4>
					<h4 style='margin:0px;'>{{contest.platform | capitalize}}</h4>
				</div>	
			</div>
		</div>
	</div>
</div>
<div class='col-xs-12'> <hr style='border: 2px #ff6c00 solid'> </div>
<div class='row' style='padding-bottom:10px;'>
	<div class='col-sm-4 col-xs-12' ng-repeat='submission in submissions'>
		<div class="contest-box" style='min-height:300px; max-height:300px;'>
			<div class='col-xs-12'>
					<h3>{{submission.headline}}</h3>
					<div class="contest-content">
					    <span>{{submission.text}}</span>
					</div>
					<h5 class='text-right' style='color:#ff6c00;'>- {{submission.owner.first_name}} {{submission.owner.last_name | firstChar}}.</h5>
			</div>
            <div class="contest-info">
                <h5>
                	<span class='duration' style='position: absolute;left: 3px;bottom: 0;'>
                		{{submission.created_at | legibleDate}}
                	</span>
                	<div style='width:100px;height:40px;position:absolute;right:0px;bottom:0px;border-top:1px #ff6c00 solid;border-left:1px #ff6c00 solid;border-radius:2px;'>
                		<h4 style='padding-left:5px;' class='text-left'>{{submission.votes | number}}</h4>
	                	<img ng-if='!submission.user_may_vote' style='width:30px;height:30px;position:absolute;right:3px;bottom:2px;' src='public/img/filled.png'>
	                	<img ng-click='upvote(submission)' ng-if='submission.user_may_vote' style='width:30px;height:30px;position:absolute;right:3px;bottom:2px;' src='{{submission.heart}}' ng-init='submission.heart = "public/img/empty.png"' ng-mouseover='submission.heart = "public/img/filled.png"' ng-mouseleave='submission.heart = "public/img/empty.png"'>
	                </div>
               	</h5>
            </div>
        <!-- Generate a select as winner button if campaign is over and user owns contest -->
		<button ng-disabled='' ng-if='contest.owner == user.id || user.is_admin' ng-click='choose_winner(submission.id)' class='btn btn-oj btn-lg'>Choose Winner</button>
    </div>
	<h3 class='text-center' ng-if='submissions.length == 0'>This contest has no submissions yet, you could be the first!</h3>
</div>

<script>
fbq('track', 'PageView');
window.Intercom('update');
</script>