<div class='modal_actions col-xs-12'>
    <div class='modal_inner col-xs-12 col-sm-9 col-md-9 col-lg-7 text-center'>
        <img src="public/img/TappynLogo2.png" width='70' style='margin-bottom:5px;'>
        <form class='form' ng-submit='save_agegen(up_age, up_gen,up_interest)'>
            <h3 class='text-center'>Please provide your age, gender and interest so we can show you campaigns that you'd love!</h3>
            <div class='form-group col-xs-6' style='margin-top:14px;'>
                <input class='form-control' ng-model='up_age' type='text' placeholder="Your Age">
            </div>
            <div class='form-group col-xs-6 radio'>
                <label class='btn'>
                    <input type='radio' value='1' ng-model='up_gen'>Male</label>
                <label class='btn'>
                    <input type='radio' ng-model='up_gen' value='2'>Female</label>
            </div>
            <div class='interests-flexbox col-xs-12'>
                <div ng-repeat="(key,value) in industries" ng-class="{'interest-img-checked':up_interest.indexOf(key) != -1}">
                    <span class="glyphicon glyphicon-ok" ng-if='up_interest.indexOf(key) != -1'></span>
                    <img class="interest-img" ng-src='public/img/interests/{{key}}.jpg' alt='{{value}}' ng-click="add_interest_image(key)">
                </div>
            </div>
            <div class='col-xs-12'>
            <button class='btn btn-oj col-xs-12' type='submit'>Submit</button>
          </div>
        </form>
    </div>
</div>
<script type="text/javascript">
$(function() {
    $(".interest-selection-provide").select2({
        placeholder: "Add interests"
    });
    setTimeout(function() {
        $(".interest-selection-provide").trigger('change');
    }, 1000);
});
</script>
