<header>
    <div class="col-xs-2">
        <div class="logo">
    <span ng-hide='user.type == "company"'><a href="/home">
        <img src="public/img/beta_logo.png" width='200' style="padding-top:10px;">
    </a></span>
    <span ng-show='user.type == "company"'><a href="/for_companies">
        <img src="public/img/beta_logo.png" width='200' style="padding-top:10px;">
    </a></span>
</div>
    </div>
    <div class="col-xs-10">
        <nav class='hidden-xs' id='top-scroll'>
            <ul>
                <li ng-if='user' style='float:right;' uib-dropdown>
                    <a href uib-dropdown-toggle>{{user.first_name}}&nbsp;
                            <span ng-if='!user.is_active' uib-tooltip="Your account isn't verified, check your email to verify" tooltip-placement='bottom' class='glyphicon glyphicon-exclamation-sign' style='color:#f00;'></span>
                            <span class="caret"></span></a>
                    <ul uib-dropdown-menu role="menu">

                        <li ng-hide='user.type == "company"' role='menuitem'><a href="/payment">Payment</a></li>
                        <li role='menuitem'><a href="/profile">My Profile</a></li>
                        <li role='menuitem'><a ng-click='log_out()'>Log out</a></li>
                    </ul>
                </li>
                <li ng-if='!user' style='cursor:pointer' class='pull-right'><a ng-click='open_login("default", "")'>Login</a></li>
                <!--<li ng-if='!user' style='cursor:pointer' class='pull-right'><a ng-click='open_register("default", "", "2")'>Sign Up</a></li>-->
            </ul>
        </nav>
        <nav class='visible-xs'>
            <ul>
                <li style='float:right;' uib-dropdown>
                    <a href uib-dropdown-toggle> Menu <span class="caret"></span></a>
                    <ul uib-dropdown-menu role='menu'>
                        <li ng-if='!user' class='pull-right'><a ng-click='open_login("default", "")'>Login</a></li>
                        <!--<li ng-if='!user' class='pull-right'><a ng-click='open_register("default", "", "2")'>Sign Up</a></li>-->
                        
                        <li ng-hide='!user && user.type == "company"'><a href="/payment">Payment</a></li>
                        <li ng-hide='!user'><a href="/profile">My Profile</a></li>
                        <li ng-hide='!user'><a ng-click='log_out()'>Log out</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>
