<div ng-show='notification_show' class='modal_note'>
	<div class="notif-top">
		<div class="notif-tab-wrap">
			<div class='notif-tab notif-tab-left' ng-init='tab_filter = "account"' ng-click='tab_filter = "account"' ng-class='{"notif-active" : tab_filter == "account"}'>
				Payouts
				<span class='notifications_count' ng-if='(notifications | filter : section == "account").length > 0'><strong>{{(notifications | filter : section == "account").length}}</strong></span>
			</div>
			<div class='notif-tab' ng-click='tab_filter = "votes"' ng-class='{"notif-active" : tab_filter == "votes"}'>
				Ads
				<span class='notifications_count' ng-if='(notifications | filter : section == "votes").length > 0'><strong>{{(notifications | filter : section == "votes").length}}</strong></span>
			</div>
			<div class='notif-tab notif-tab-right' ng-click='tab_filter = "contests"' ng-class='{"notif-active" : tab_filter == "contests"}'>
				Campaigns
				<span class='notifications_count' ng-if='(notifications | filter : section == "contests").length > 0'><strong>{{(notifications | filter : section == "contests").length}}</strong></span>
			</div>
		</div>

	</div>
	<button class='noti-dismiss' ng-click='read_all()' ng-if='notifications.length!=0'>Dismiss All</button>

	<div class="noti-scroll">

	<div class='alert alert-warning notification text-center' style='margin:0;' ng-if='notifications.length==0'>You're all caught up!</div>
	<div class='notification' ng-repeat='notification in notifications | filter : {section : tab_filter}' ng-if='notifications.length > 0'>
		<div class='noti-type' ng-switch on='notification.type'>
			<span ng-switch-when='submission_received_vote' class='glyphicon glyphicon-thumbs-up glyphicon-oj glyph-lg'></span>
			<span ng-switch-when='new_contest_launched' class='glyphicon glyphicon-fire glyphicon-oj glyph-lg'></span>
			<span ng-switch-when='submission_confirmed' class='glyphicon glyphicon-check glyphicon-oj glyph-lg'></span>
			<span ng-switch-when='submission_chosen' class='glyphicon glyphicon-usd glyphicon-oj glyph-lg'></span>
			<span ng-switch-when='winner_chosen' class='glyphicon glyphicon-off glyphicon-oj glyph-lg'></span>
			<span ng-switch-default class='glyphicon glyphicon-info-sign glyphicon-oj glyph-lg'></span>
		</div>
		<div class='noti-content' ng-bind-html="notification.message"></div>
		<span class='glyphicon glyphicon-remove glyphicon-oj remove-glyph cursor' class='pull-right' ng-click='read_notification(notification, $index)'></span>
	</div>

</div>
</div>

<style>
.remove-glyph {
	position: absolute;
	top:10px;
	right: 10px;
}
.glyphicon-oj {
	color: #717171;
}
.glyph-lg {
	font-size:1.4em;
}
.cursor {
	cursor:pointer;
}
.a-label {
	font-size: 0.7em;
}
</style>
