<div class='modal_actions col-sm-12'>
    <div ng-class="{payment_modal_new: payment_obj.h4 == 'Standard Subscription' || payment_obj.h4 == 'Premium Subscription' || payment_obj.h4 == 'Platinum Subscription', payment_modal: payment_obj.h4 != 'Standard Subscription' || payment_obj.h4 != 'Premium Subscription' || payment_obj.h4 != 'Platinum Subscription'}">
        <div class="modal_top text-center">
            <div class='close_circle' ng-click='set_model()'>x</div>
            <div ng-show="payment_obj.h4 == 'Standard Subscription' || payment_obj.h4 == 'Premium Subscription' || payment_obj.h4 == 'Platinum Subscription'">
                <h3><strong>Credit Card Details</strong></h3>
            </div>
            <h4>{{payment_obj.h4}}</h4>
        </div>
        <div class="modal_bot">
            <div class="voucher-group row" ng-show='payment_obj.voucher_visible'>
                <p class='col-xs-12' ng-show='reduction'><strong class='pull-left'>Voucher Discount</strong><span class='pull-right'>-{{reduction | currency}}</span></p>
                <!--<p class='col-xs-12' ng-show='reduction' style="padding-top:5px;padding-bottom:10px;"><span class="alert alert-success">Your first month is on us. We hope you enjoy it!</span></p>-->
                <form class='form' ng-submit='get_price("check_voucher")'>
                    <div class='form-group col-sm-7 col-xs-12' style='padding-left: 0;'>
                        <input class='form-control' ng-model='payment_obj.voucher_code' type='text' placeholder='Voucher Code'>
                    </div>
                    <button class='btn btn-oj col-sm-5 col-xs-12' type='submit'>Check Voucher</button>
                </form>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div ng-show="payment_obj.price != 0.00 && payment_obj.h4 == 'A/B Testing Payment'" class="col-md-6">
                        <hr style="margin:0 0 5 !important">

                        <ul class="col-md-12">
                            <li class="pull-left" ng-hide="payment_obj.re_ab">24 Hour Testing<span class="pull-right">$15.00 (Included)</span></li>
                            <li class="pull-left" ng-hide="!payment_obj.re_ab">Additional Testing Budget<span class="pull-right">{{payment_obj.ab_aday | currency}}</span></li>
                            <li class="pull-left" ng-hide="payment_obj.re_ab">Additional Testing Budget<span class="pull-right">{{payment_obj.ab_aday - 15 | currency}}</span></li>
                        </ul>
                        <div class="col-xs-12" style="padding:10px 0 20px;border-top:2px solid #e6e6e6;">
                            <p ng-hide="payment_obj.re_ab" class="inline-block" style="display: inline;font-weight:bold;font-size:18px;">Total <span class="pull-right inline" style="display:inline;font-weight:bold;">{{payment_obj.price | currency}}</span></p>
                            <p ng-hide="!payment_obj.re_ab" class="inline-block" style="display: inline;font-weight:bold;font-size:18px;">Total <span class="pull-right inline" style="display:inline;font-weight:bold;">{{payment_obj.ab_aday | currency}}</span></p>
                        </div>
                    </div>
                    <div class="col-md-6" ng-if='payment_obj.price != 0.00 && payment_obj.h4 == "A/B Testing Payment"' style="padding-top:30px;">
                        <div ng-show='!add_new'>
                            <div ng-show='payments.length > 0'>
                                <div class='payment-method-container'>
                                    <div class='row'>
                                        <div ng-class='{"highlight_payment" : payment.id == payment_obj.passing_method}' class='col-xs-12 col-sm-4 col-sm-offset-4 payment-method-card' ng-repeat='payment in payments' ng-click='select_current(payment.id)'>
                                            <h5>
                                  <img height='20' ng-if='payment.brand == "Visa"' src="public/img/visa-card.gif" />
                                  <img height='20' ng-if='payment.brand == "MasterCard"' src="public/img/mastercard.gif" />
                                  <img height='20' ng-if='payment.brand == "American Express"' src="public/img/american-express.gif" />
                                  <img height='20' ng-if='payment.brand == "Discover"' src="public/img/discover-card.jpg" />
                                  &nbsp;&nbsp;&nbsp;********{{payment.last4}}
                                </h5>
                                            <span><strong>Expires &nbsp;&nbsp;{{payment.exp_month}}/{{payment.exp_year}}</strong></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='alert alert-warning' ng-show='payments.length < 1'>You don't have any saved payment methods</div>
                            <div style="padding-top:10px; padding-bottom:20px;">
                                <button class='btn btn-lg btn-oj purchase-pixel' ng-click='pay_payment("old")'>Pay {{payment_obj.price | currency}}</button>
                                <img class='img-responsive' src='public/img/truste.png' style='max-width: 100px; height: auto; margin: 10px auto; display: inline-block;'>
                            </div>
                            <div class='text-center'>
                                <button class='btn btn-oj' ng-click='add_new = true'>Add Payment Method</button>
                            </div>
                        </div>
                        <div ng-show='add_new'>
                            <div class='text-center' ng-show='payments.length > 0'>
                                <button class='btn btn-oj' ng-click='add_new = false' style="margin-bottom:10px;">Use a saved method</button>
                            </div>
                            <form class='form row' method="POST" id="payment-form-global">
                                <div class='payment-empty-card'>
                                    <div class="card-group">
                                        <input class='form-control' placeholder='Enter your Card Number' type="text" size="20" data-stripe="number" />
                                    </div>
                                    <div class="card-group">
                                        <input class='form-control' placeholder='CVC' type="text" size="4" data-stripe="cvc" />
                                    </div>
                                    <div class="card-group">
                                        <select class='form-control' data-stripe="exp-month">
                                            <option value='01'>01</option>
                                            <option value='02'>02</option>
                                            <option value='03'>03</option>
                                            <option value='04'>04</option>
                                            <option value='05'>05</option>
                                            <option value='06'>06</option>
                                            <option value='07'>07</option>
                                            <option value='08'>08</option>
                                            <option value='09'>09</option>
                                            <option value='10'>10</option>
                                            <option value='11'>11</option>
                                            <option value='12'>12</option>
                                        </select>
                                    </div>
                                    <div class='card-group'>
                                        <select class='form-control' data-stripe="exp-year">
                                            <option value='2016'>2016</option>
                                            <option value='2017'>2017</option>
                                            <option value='2018'>2018</option>
                                            <option value='2019'>2019</option>
                                            <option value='2020'>2020</option>
                                            <option value='2021'>2021</option>
                                            <option value='2022'>2022</option>
                                            <option value='2023'>2023</option>
                                            <option value='2024'>2024</option>
                                            <option value='2025'>2025</option>
                                            <option value='2026'>2026</option>
                                            <option value='2027'>2027</option>
                                        </select>
                                    </div>
                                </div>
                                <input type='hidden' data-stripe='currency' value='usd' />
                                <div class='form-group checkbox'>
                                    <label class='control-label' style='font-size: 14px;'>
                                        <input type='checkbox' ng-model='payment_obj.save_method'> Save Method
                                    </label>
                                    <div class='pull-right' data-toggle="buttons">
                                        <label class='btn btn-link' style='color: #06883F; padding: 0;' ng-click="payment_obj.voucher_visible = 1">
                                            <input type='radio' name="reg" value='1' ng-model='payment_obj.voucher_visible'>I have a voucher!
                                        </label>
                                    </div>
                                </div>
                                <div>
                                    <button class='btn btn-lg btn-oj col-xs-12 purchase-pixel' ng-click='pay_payment("new")'>Pay {{payment_obj.price | currency}}</button>
                                    <img class='img-responsive' src='public/img/truste.png' style='max-width: 100px; height: auto; margin: 10px auto; display: inline-block;'>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-xs-12" ng-if='payment_obj.price != 0.00 && payment_obj.h4 != "A/B Testing Payment"'>
                        <div ng-show='!add_new'>
                            <div ng-show='payments.length > 0'>
                                <div class='payment-method-container'>
                                    <div class='row'>
                                        <div ng-class='{"highlight_payment" : payment.id == payment_obj.passing_method}' class='col-xs-12 col-sm-4 col-sm-offset-4 payment-method-card' ng-repeat='payment in payments' ng-click='select_current(payment.id)'>
                                            <h5>
                                  <img height='20' ng-if='payment.brand == "Visa"' src="public/img/visa-card.gif" />
                                  <img height='20' ng-if='payment.brand == "MasterCard"' src="public/img/mastercard.gif" />
                                  <img height='20' ng-if='payment.brand == "American Express"' src="public/img/american-express.gif" />
                                  <img height='20' ng-if='payment.brand == "Discover"' src="public/img/discover-card.jpg" />
                                  &nbsp;&nbsp;&nbsp;********{{payment.last4}}
                                </h5>
                                            <span><strong>Expires &nbsp;&nbsp;{{payment.exp_month}}/{{payment.exp_year}}</strong></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='alert alert-warning' ng-show='payments.length < 1'>You don't have any saved payment methods</div>
                            <div style="padding-top:10px; padding-bottom:20px;">
                                <button class='btn btn-lg btn-oj purchase-pixel' ng-click='pay_payment("old")'>Pay {{payment_obj.price | currency}}</button>
                                <img class='img-responsive' src='public/img/truste.png' style='max-width: 100px; height: auto; margin: 10px auto; display: inline-block;'>
                            </div>
                            <div class='text-center'>
                                <button class='btn btn-oj' ng-click='add_new = true'>Add Payment Method</button>
                            </div>
                        </div>
                        <div ng-show='add_new'>
                            <div class='text-center' ng-show='payments.length > 0'>
                                <button class='btn btn-oj' ng-click='add_new = false' style="margin-bottom:10px;">Use a saved method</button>
                            </div>
                            <form class='form row' method="POST" id="payment-form-global">
                                <div class='payment-empty-card'>
                                    <div class="card-group">
                                        <input class='form-control' placeholder='Enter your Card Number' type="text" size="20" data-stripe="number" />
                                    </div>
                                    <div class="card-group">
                                        <input class='form-control' placeholder='CVC' type="text" size="4" data-stripe="cvc" />
                                    </div>
                                    <div class="card-group">
                                        <select class='form-control' data-stripe="exp-month">
                                            <option value='01'>01</option>
                                            <option value='02'>02</option>
                                            <option value='03'>03</option>
                                            <option value='04'>04</option>
                                            <option value='05'>05</option>
                                            <option value='06'>06</option>
                                            <option value='07'>07</option>
                                            <option value='08'>08</option>
                                            <option value='09'>09</option>
                                            <option value='10'>10</option>
                                            <option value='11'>11</option>
                                            <option value='12'>12</option>
                                        </select>
                                    </div>
                                    <div class='card-group'>
                                        <select class='form-control' data-stripe="exp-year">
                                            <option value='2016'>2016</option>
                                            <option value='2017'>2017</option>
                                            <option value='2018'>2018</option>
                                            <option value='2019'>2019</option>
                                            <option value='2020'>2020</option>
                                            <option value='2021'>2021</option>
                                            <option value='2022'>2022</option>
                                            <option value='2023'>2023</option>
                                            <option value='2024'>2024</option>
                                            <option value='2025'>2025</option>
                                            <option value='2026'>2026</option>
                                            <option value='2027'>2027</option>
                                        </select>
                                    </div>
                                </div>
                                <input type='hidden' data-stripe='currency' value='usd' />
                                <div class='form-group checkbox'>
                                    <label class='control-label' style='font-size: 14px;'>
                                        <input type='checkbox' ng-model='payment_obj.save_method'> Save Method
                                    </label>
                                    <div class='pull-right' data-toggle="buttons">
                                        <label class='btn btn-link' style='color: #06883F; padding: 0;' ng-click="payment_obj.voucher_visible = 1">
                                            <input type='radio' name="reg" value='1' ng-model='payment_obj.voucher_visible'>I have a voucher!
                                        </label>
                                    </div>
                                </div>
                                <div>
                                    <button class='btn btn-lg btn-oj col-xs-6 col-xs-offset-3 purchase-pixel' ng-click='pay_payment("new")'>Pay {{payment_obj.price | currency}}</button>
                                    <img class='img-responsive' src='public/img/truste.png' style='max-width: 100px; height: auto; margin: 10px auto; display: inline-block;'>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div ng-if='payment_obj.price == 0.00 && payment_obj.h4 != "A/B Testing Payment"' class='text-center'>
                        <!--<h4>No need for payment, this campaign is on us!</h4>-->
                        <button class='btn btn-oj col-xs-12 purchase-pixel' ng-click='pay_payment("voucher_payment")'>Continue</button>
                    </div>
                    <div ng-if='payment_obj.price == 0.00 && payment_obj.h4 == "A/B Testing Payment"' class='text-center'>
                        <!--<h4>No need for payment, this campaign is on us!</h4>-->
                        <h4><strong>We'll begin testing your ads immediately!</strong></h4>
                        <button class='btn btn-oj col-xs-12 purchase-pixel' ng-click='pay_payment("voucher_payment")'>Continue</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
li.value-list:before {
    content: "\e067";
    font-family: 'Glyphicons Halflings';
    font-size: 12px;
    float: left;
    margin-top: 4px;
    margin-left: -17px
}
</style>
