<a href="/{{contest.link}}/{{contest.id}}" style='cursor:pointer;text-decoration:none;'>
	<div class="submission-box">
	    <div class="ad-company-info">
	        <div>
	            <span class='contest-price'>
	                $50
	            </span>
	        </div>
	        <div style='width: 100%;margin-top:35px;'>
	            <div class='contest-audience'>
	              	<span ng-if='contest.summary'>{{contest.summary}}</span>
	            </div>
	        </div>
	        <div>
	            <h5 class='text-left' style='margin-left:5px;'><img style='margin-right:5px;' class='pull-left' ng-src='public/img/{{contest.industry}}.png' width='20px' height='20px'>{{industries[contest.industry]}}</h5>
	            <h5 class='text-left' style='margin-left:5px;'><img style='margin-right:5px;' class='pull-left' src="public/img/clock.png" height='20px' width='20px'>
	            	{{contest.stop_time | untilFilter}}
	            	<span ng-if='contest.status == "ended"'>Ago</span>
	            	<span ng-if='contest.status == "active"'>Left</span>
	            </h5>
	            <uib-progressbar value='contest.submission_count' max='contest.submission_limit' type="warning" style='margin-bottom:0;'></uib-progressbar>
	            <p uib-tooltip="Number of ads" class="progress-meter-text" style='margin:0px;'>{{contest.submission_count}}/{{contest.submission_limit}}</p>
	        </div>
	    </div>
	</div>
</a>
