<div class='modal_actions col-xs-12'>
	<div class='modal_inner col-xs-12 col-sm-7 col-md-5 col-lg-4 text-center'>
		<div ng-hide='signing_in.type == "must"'  class='close_circle' ng-click='close_login()'>x</div>
		<img src="public/img/beta_logo.png" width='120' style='margin-bottom:20px;'>
	    <div ng-show='!forgot'>
				<div class="col-xs-10 col-xs-offset-1">
	        <div src="public/img/TappynLogo2.png" width='120' style='margin-bottom:5px;'>
	            <a href ng-click='fb_login()'>
	                <center>
										<img class='img-responsive' height='45px' style="border-radius: 5px; margin-bottom: 10px;max-width: 100%;" src="public/img/img-facebook.png">
									</center>
	            </a>
	        </div>
				</div>
					<br>
	        <form class='form' ng-submit="log_in(identity, password)">
	            <center>
								<div class='form-group' style='5px;max-width:60%;'>
	                <input class='form-control' ng-model='identity' placeholder='Email'>
	              </div>
						  </center>
	            <center>
								<div class='form-group' style='max-width:60%;'>
	                <input class='form-control' ng-model='password' placeholder='Password' type='password'>
	            </div>
						 </center>

	            <button class='col-xs-6 col-xs-offset-3 btn btn-oj btn-lg' style='max-width:60%;' type='submit'>Login</button>
	            <div class='modal_link'>
		            <a class='pull-left' ng-click="open_register(&quot;default&quot;, &quot;&quot;, &quot;2&quot;)">Don't have an account?</a>
		            <a class='pull-right' ng-click='forgot = true'>Forgot Password?</a>
		        </div>
	        </form>
	    </div>
	    <form ng-show='forgot' class='form' ng-submit="forgot_pass(identity)">
	        <h3 class='text-center'>Forgot Password</h3>
	        <div class='form-group'>
	            <input class='form-control' ng-model='identity' placeholder="Enter your email">
	        </div>
	        <button class='col-xs-12 btn btn-oj btn-lg' type='submit'>Send me an email</button>
	        <div class='modal_link'>
		        <a class='pull-left' ng-click='login_to_register()'>Don't have an account?</a>
		        <a class='pull-right' ng-click='forgot = false'>I remember it!</a>
		    </div>
	    </form>
	</div>
</div>
