body {
    background-color: #ebeef0 !important;
}
.content {
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    color: #31373d;
}
.container-fluid {
    padding-top: 15px;
    padding-bottom: 15px;
}
.inner-content {
    margin-top: 15px;
}

.a-label {
    font-size: 0.7em;
}
.sort_header {
    cursor:pointer;
}
.payout-table-row {
    border-bottom: 1px solid #ebeef0;
}

.toggle-container-centering {
    text-align:center;
    vertical-align:center;
}

.toggle-container {
    border-radius: 15px;
    height: 20px;
    width: 35px;
    padding: 1px;
}

.toggle-on {
    background-color: #ff5c00;
}
.toggle-off {
    background-color: #ffcfb3;
    padding-left: 16px;
}

.toggle-ball {
    height:18px;
    border-radius: 9px;
    background-color: white;
    width: 18px;
}
