/* faq */

.tp-faq {
    border: 1px solid #e6e6e6;
}

.tp-faq .panel-heading {
    padding: 0;
}

.tp-faq .panel-title a {
    display: block;
    padding: 10px 15px;
    outline: 0;
    text-decoration: none !important;
}

.tp-faq.panel-open .panel-heading {
    background-color: #e6e6e6;
    color: #ff5c00;
}

.tp-faq.panel-open .panel-heading a {}


/* notification */

.notifications-container {
    position: relative;
}

.notifications_count {
    display: block;
    background-color: #ff5c00;
    color: white;
    position: absolute;
    /*top: 10;
  right: 35;*/
    top: -20px;
    right: -11px;
    text-align: center;
    padding: 0;
    line-height: 20PX;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 12px;
}

.modal_note {
    /*position: fixed;*/
    background: #fff;
    color: #333;
    /**z-index: 100000000 !important;**/
    top: 30px;
    right: -10px;
    opacity: 1;
    /*border-left: 1px solid #333;*/
    position: absolute;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.25);
    -webkit-transform: translateZ(0);
    background: #fff;
    border-radius: 6px;
    overflow: hidden;
    height: auto;
    width: 331px;
}

.modal_note.ng-hide {
    /*right: -50;*/
    top: -50px;
    opacity: 0;
}

.modal_note.ng-hide-add.ng-hide-add-active,
.modal_note.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition: all linear .5;
    transition: all linear 0.5s;
}


/*.notif-tab-left {
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: #ff5c00;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.notif-tab-right {
    border-width: 1px 1px 1px 0px;
    border-style: solid;
    border-color: #ff5c00;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}*/

.notif-top {
    padding: 10px;
    border-bottom: 1px solid #d1d1d1;
}

.notif-tab-wrap {
    border: 1px solid #cecece;
    border-radius: 6px;
    overflow: hidden;
}

.notif-tab {
    height: 30px;
    background: #fff;
    color: #ff5c00;
    cursor: pointer;
    text-align: center;
    font-size: 12px;
    line-height: 30px;
    background-color: #f7f7f7;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f0f0f0));
    background-image: -webkit-linear-gradient(#fff, #f0f0f0);
    background-image: linear-gradient(#fff, #f0f0f0);
    border-left: 1px solid #cecece;
    color: #333;
    width: 33.33%;
    float: left;
}

.notif-tab:first-child {
    border-left: 0;
}

.notif-tab:hover {
    background: #ddd;
}

.notif-active {
    background: #ddd;
}

.notification {
    /*border: 1px solid #ff5c00;
    border-radius: 5px;
    margin-top: 5px;
    padding-top: 10px;*/
    background: #f5f5f5;
    border-bottom: 1px solid #e7e7e7;
    /*color: #666;*/
    padding: 10px;
    color: #333;
    position: relative;
}

.notification:hover {
    background: #eee;
}

.noti-type {
    float: left;
    padding: 0 10px;
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
}

.noti-type .glyphicon-oj {
    color: #ff5c00;
}

.noti-content {
    padding-left: 50px;
    padding-right: 25px;
}

.noti-dismiss {
    border: 0;
    border-bottom: 1px solid #d1d1d1;
    color: #5f5f5f;
    font-weight: bold;
    height: 40px;
    width: 100%;
    background: white;
    line-height: 40px;
    padding: 0;
    font-size: 14px;
}

.noti-dismiss:hover {
    background-color: #f1f1f1;
    color: #333;
}

.noti-scroll {
    overflow: hidden;
    overflow-y: scroll;
    max-height: 320px;
}

.interests-flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.interests-flexbox> div {
    width: 22%;
    margin: 5px 1.5%;
    -webkit-box-shadow: 0 0px 7px 0px rgba(0, 0, 0, 0.22);
    box-shadow: 0 0px 7px 0px rgba(0, 0, 0, 0.22);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    pointer-events: auto;
    cursor: pointer;
}

.interests-flexbox img {
    max-width: 100%;
    height: auto;
}

.interests-flexbox .interest-img-checked:before {
    content: "";
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #ff6c00;
    border-radius: 6px;
    pointer-events: none;
}

.interests-flexbox .glyphicon {
    display: inline-block;
    position: absolute;
    right: 15px;
    bottom: 10px;
    pointer-events: none;
    top: auto;
    color: white;
    background-color: #ff6c00;
    border-radius: 50%;
    padding: 10px;
}


/* edit profile */

.list-style-form-nav {
    background: #fff;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    border-radius: 6px;
    position: fixed;
    padding: 0;
    width: 236px;
    display: none;
}

@media (min-width: 992px) {
    .list-style-form-nav {
        display: block;
    }
    .list-style-form-wrap {
        margin: 0 0 0 256px;
    }
}

.list-style-form-nav li {
    border-bottom: 1px solid #dfdfdf;
    cursor: pointer;
    min-height: 18px;
    padding: 14px 20px 10px;
}

.list-style-form-nav li a {
    color: #999;
    display: block;
}

.list-style-form-nav li.active a {
    color: #555;
}

.list-style-form-nav li:first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.list-style-form-nav li.active {
    background-color: #f0f0f0;
    font-weight: bold;
}

.list-style-form {
    margin: 0;
    padding: 0;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    border-radius: 6px;
    margin-bottom: 14px;
}

.list-style-form li {
    overflow: hidden;
    border-top: 1px solid #dfdfdf;
    padding: 15px 21px 15px 27px;
}

.contest-img-edit {
    max-width: 100%;
    height: auto;
}

.img-preview > .contest-img-preview {
    width: 100%;
    height: 100%;
}


/* image-preview */

#upload_contest,
#preview_image,
.cropper-container {
    max-width: 100%;
    width: 100%;
}

.img-preview {
    width: 100%;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.img-preview> img {
    max-width: 100%;
}

.docs-preview {
    position: relative;
    padding-top: 25px;
    height: 0;
}

.docs-preview.preview-fb {
    padding-bottom: 52.35%;
}

.docs-preview.preview-ig {
    padding-bottom: 100%;
}

.docs-preview.preview-tw {
    padding-bottom: 50%;
}

.docs-preview .img-preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* avatar */

.round-avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px auto;
}

.round-avatar img {
    max-width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    position: relative;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
}


/* dashboard */

.checkbox-container input[type="checkbox"] {
    display: none;
}

.checkbox-container input[type="checkbox"] + label span {
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 21px;
    vertical-align: middle;
    border: 2px solid #aaa;
    border-radius: 2px;
    cursor: pointer;
    color: #aaa;
}

.checkbox-container input[type="checkbox"]:hover + label span:hover {
    color: #555;
    border: 2px solid #555;
}

.checkbox-container input[type="checkbox"]:checked + label span {
    color: #ff6c00;
    border: 2px solid #ff6c00;
}

#ab-aday::-webkit-inner-spin-button,
#ab-aday::-webkit-outer-spin-button,
#ab-days::-webkit-inner-spin-button,
#ab-days::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.payment-method-card {
    border: 1px solid #CCC;
}

.checkbox-container input[type="checkbox"]:checked + label span {
    color: #ff6c00;
    border: 2px solid #ff6c00;
    height: 50px;
    width: 50px;
    padding-top: 10px;
}

.checkbox-container input[type="checkbox"] + label span {
    display: inline-block;
    width: 25px;
    width: 50px;
    line-height: 21px;
    vertical-align: middle;
    height: 50px;
    padding-top: 10px;
    border: 2px solid #aaa;
    border-radius: 2px;
    cursor: pointer;
    color: #aaa;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:100,400,300,600,700);

/*

Author: Rashid Shafique | rmughal@gmail.com

*/

.main-title {
    text-align: center;
}

.pricing-tables {
    padding: 20px;
}

.pricing-tables h1 {
    font-size: 48px;
}

.pricing-tables .plan.first {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.pricing-tables .plan.last {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.pricing-tables .plan.recommended {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.pricing-tables .plan.recommended .head {
    margin-bottom: 20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.pricing-tables.attached .col-sm-4,
.pricing-tables.attached .col-md-4,
.pricing-tables.attached .col-sm-3,
.pricing-tables.attached .col-md-3 {
    padding-left: 0;
    padding-right: 0;
}

.pricing-tables.attached .plan {
    border-radius: 0;
}

.pricing-tables.attached .plan .head {
    border-radius: 0;
}

.pricing-tables.attached .plan.recommended {
    border-radius: 4px;
}

.pricing-tables.attached .plan.recommended .head {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.pricing-tables.attached .plan.last {
    border-bottom-right-radius: 4px;
}

.pricing-tables.attached .plan.last .head {
    border-top-right-radius: 4px;
}

.pricing-tables.attached .plan.first {
    border-bottom-left-radius: 4px;
}

.pricing-tables.attached .plan.first .head {
    border-top-left-radius: 4px;
}

.plan {
    box-shadow: 0 2px 2px rgba(10, 10, 10, 0.06);
    min-height: 100px;
    background: #fff;
    border-radius: 4px;
    margin: 20px 0;
    padding-bottom: 25px;
    text-align: center;
}

.plan .head {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 12px 16px;
    background: #ff5c00;
    color: #fff;
}

.plan .head h1,
.plan .head h2,
.plan .head h3 {
    padding: 0;
    margin: 0;
    font-weight: 100;
}

.plan .price {
    border-top: 1px solid #eee;
    margin: 0 auto 30px auto;
    width: 80%;
}

.plan .price h3 {
    font-size: 82px;
    vertical-align: top;
    line-height: 1;
}

.plan .price h3 span {
    font-size: 38px;
    vertical-align: top;
    position: relative;
    margin: 6px 0 0 -7px;
    display: inline-block;
}

.plan .price h4 {
    color: #aaa;
    font-size: 14px;
}

.plan .btn {
    padding: 10px 30px;
    text-transform: uppercase;
    font-weight: 500;
}

.plan ul {
    list-style-type: none;
    padding: 20px;
    margin-top: 2px;
}

.plan ul li {
    line-height: 22px;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 200;
}

.plan ul li a {
    text-decoration: underline;
    color: #e6e9ed;
}

.plan ul li:last-child {
    border-bottom: none;
}

.plan ul strong {
    font-weight: 700;
}

.plan.recommended {
    margin-top: 6px;
    box-shadow: 0 0 22px rgba(10, 10, 10, 0.42);
    position: relative;
    z-index: 99;
    border-radius: 4px;
}

.plan.recommended .head {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: #ff5c00;
}

.plan.recommended .btn {
    margin-bottom: 10px;
}

.subscription-div.now-level.next-level .sign-up-btn,
.subscription-div .more-p {
    display: none;
}

.subscription-div.now-level .more-p.now-level-p,
.subscription-div.next-level .more-p.next-level-p {
    display: block;
}


/* launch page */

.launch-page-btn.package-highlight {
    border: 2px solid #ff6c00;
}

.launch-page-btn {
    background: #fff;
    position: relative;
    padding: 15px 30px;
    border: 1px solid #E0E0E0;
    word-wrap: break-word;
    -webkit-box-shadow: 0 0px 5px -2px rgba(0, 0, 0, 0.22);
    box-shadow: 0 0px 5px -2px rgba(0, 0, 0, 0.22);
    border-radius: 6px;
    overflow: hidden;
    border: 2px solid #ffffff;
    float: left;
    /*white-space: nowrap;*/
    margin: 0 2% 20px 0;
}

.launch-page-btn img {
    float: left;
    margin-right: 10px;
    max-height: 20px;
    width: auto;
}

.launch-page-btn h4 {
    float: left;
    margin: 0;
    font-weight: bold;
    /*font-size: 22px;*/
    /*white-space: nowrap;*/
}

.launch-page-btn p {
    float: left;
    margin-top: 10px;
}

.contest-test-result {
    position: absolute;
    right: 26px;
    bottom: 0;
    cursor:default;
}

.contest-test-result span {
    margin-left: 35px;
    font-size: 16px;
}

@media screen and (min-width: 768px) {
    .launch-page-btn {
        max-width: 48%;
    }
}
