.contest-company .avatar img,
.contest-winner .avatar img {
    max-height: 100%;
}

.interests .interest-img {
    max-width: 40px;
}

.interests .interest-img-checked {
    opacity: 0.5;
}
.interests-flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.interests-flexbox > div {
    width: 25%;
}
.interests-flexbox img {
    max-width: 100%;
    height: auto;
}
