.container-fluid {
    padding: 0px;
}

.row {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

small {
    color: #8E8E8E;
    font-size: 100%;
}

#nav-icon4 {
    width: 31px;
    height: 31px;
    position: relative;
    float: right;
    display: none;
    border: 2px solid #FF5E00;
    border-radius: 2px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.platform-image-container img {
    max-height: 100%;
    max-width: 100%;
}

#nav-icon4 span {
    display: block;
    position: absolute;
    height: 2px;
    width: 21px;
    background: #FF5E00;
    border-radius: 2px;
    opacity: 1;
    left: 12%;
    margin: 7px 0 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}


/* Mobile Navbar Styling */

#mobile-navbar {
    position: fixed;
    right: 0;
    height: 100%;
    background: white;
    width: 45%;
    z-index: 1000000;
    color: black;
}

#mobile-navbar ul {
    list-style-type: none;
    padding-top: 25px;
    text-align: center;
    padding-left: 0;
}

#mobile-navbar ul li {
    height: 65px;
}

#mobile-navbar ul li a {
    text-decoration: none;
}

#nav-icon4 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
    top: 5px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
    top: 10px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -2px;
    left: 6px;
}

#nav-icon4.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 13px;
    left: 6px;
}

input[type='text']:focus,
textarea:focus {
    border: 1px solid #ff5e00 !important;
}

header {
    height: 75px;
    padding: 10px 0;
    background: #fff;
    border-bottom: 1px solid #CCC;
}

.header-row {
    overflow: hidden;
}

header .logo {
    float: left;
}

header .logo a {
    display: block;
}

header nav {
    width: 100%;
}

header nav ul {
    padding-top: 15px;
    list-style: none;
}

header nav ul li a {
    text-decoration: none !important;
    color: #333;
}

header nav ul li a:hover {
    color: #ff5e00;
    border-bottom: 1px solid #ff5e00;
}

header nav ul li.login-li {
    float: right;
    margin: -5px 0 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    font-size: 14px;
    padding: 0 26px;
}

header nav ul li .btn:hover {
    color: #ff5c00;
}

.btn-oj {
    background: #FF5E00;
    color: #fff;
    font-weight: 400;
}

.btn-oj:hover {
    background: #ed5700;
    color: #fff;
}

.btn-white {
    background: #fff;
    color: #ff5c00;
    font-weight: 400;
}

.btn-white:hover {
    background: #eee;
    color: #ff5c00;
}

.btn-wj {
    background: #ff5c00;
    color: #fff;
    font-weight: 400;
    border: 1px solid #fff;
}

.btn-wj:hover {
    background: #fff;
    color: #ff5c00;
    border: 1px solid #ff5c00;
}

.btn-outliner {
    background: #fff;
    color: #ff5c00;
    font-weight: 400;
    border: 1px solid #ff5c00;
}

.btn-outliner:hover {
    background: #ff5c00;
    color: #fff;
    border: 1px solid transparent;
}

.radio .btn:focus,
.radio .btn:active {
    box-shadow: none;
}

.btn:focus,
.btn.focus {
    color: #fff;
}

.btn.btn-outliner:focus,
.btn.btn-outliner.focus {
    color: #ff5c00;
}

.btn-xl,
.btn-group-xl>.btn {
    padding: 15px 22px;
    font-size: 22px;
    line-height: 1.5;
    border-radius: 8px;
}

.content-padding {
    padding-top: 20px;
    padding-bottom: 20px;
}

.progress-bar-warning {
    background-color: #ff5e00;
}

header .btn-login {
    font-size: 14px;
    line-height: 14px;
}

ul.value-list {
    display: table;
    margin: 0 auto;
    font-size: 16px;
}

li {
    display: block;
}

li.value-list:before {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e067";
    font-family: 'Glyphicons Halflings';
    font-size: 12px;
    float: left;
    margin-top: 4px;
    margin-left: -17px;
    color: ##333;
}


/*** Hero Banner CSS Starts Here ***/

.hero-banner {
    background-image: url('https://s3-us-west-2.amazonaws.com/tappyn/cphome2.jpg');
    background-size: cover;
    background-color: #EEEEEE;
    height: 400px;
    overflow: hidden;
    background-position: left
}

@media (min-width: 641px) and (max-width: 1024px) {
    .testimonials {
        background: url('https://s3-us-west-2.amazonaws.com/tappyn/cphome2.jpg') no-repeat;
        background-size: cover;
    }
}

@media (min-width: 1025px) and (max-width: 1500px) {
    .testimonials {
        background: url('https://s3-us-west-2.amazonaws.com/tappyn/cphome2.jpg') no-repeat;
        background-size: cover;
    }
}

@media (min-width: 1501px) {
    .testimonials {
        background: url('https://s3-us-west-2.amazonaws.com/tappyn/cphome2.jpg') no-repeat;
        background-size: cover;
    }
}

.hero-banner2 {
    height: 380px;
}

.hero-banner .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.65);
}

.hero-content {
    vertical-align: middle;
    z-index: 2;
    position: relative;
    top: 15;
}

.hero-content h2 {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: 300;
    font-size: 37px;
}

.hero-content h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 50;
    color: #fff;
}

.hero-content h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 28;
    color: #fff;
}

.hero-content .btn-banner {
    font-size: 18px;
    line-height: 50px;
}


/** How it works **/

.how-it-works {
    padding-bottom: 50px;
    background-color: #fff;
}

.title {
    padding: 0 0 32px;
    margin: 0 0 45px;
    font-weight: 300;
    text-align: center;
    font-size: 42px;
    line-height: 28px;
    position: relative;
}

.title:after {
    content: '';
    height: 1px;
    transform: translateX(-50%);
    background: #FF7220;
    width: 68px;
    position: absolute;
    left: 50%;
    bottom: 0;
}

.features-box {
    padding-top: 10px;
    overflow: hidden;
}

.features-box img {
    display: inline-block;
    margin: 0 0 25px;
}

.features-box h3 {
    font-size: 30px;
    margin: 0 0 20px;
    font-weight: 300;
    line-height: 24px;
    color: #ff5c00;
}

.features-box p {
    color: #333;
    font-size: 18px;
}


/** Contests **/

.contests {
    padding: 20px 0;
}

.contest-box-header {
    background-color: black;
    color: white;
    width: 100%;
}

.contest-box {
    background: #fff;
    position: relative;
    margin: 0 0 20px;
    border: 1px solid #E0E0E0;
    word-wrap: break-word;
    -webkit-box-shadow: 0 0px 5px -2px rgba(0, 0, 0, 0.22);
    box-shadow: 0 0px 5px -2px rgba(0, 0, 0, 0.22);
    border-radius: 6px;
    overflow: hidden;
}

.submission-owner-title {
    text-align: right;
    color: #FF5E00;
    margin: 0px;
}

.contest-entry,
.contest-winner,
.contest-company {
    padding: 10px 20px;
}

.contest-winner {
    position: relative;
}

.contest-image img {
    min-width: 100%;
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #E7E7E7;
}

.contest-image .contest-share {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 0 12px 0 10px;
    font-weight: bold;
}

.contest-image .contest-share span {
    margin-right: 5px;
}

.contest-image .contest-share-socials {
    position: absolute;
    white-space: nowrap;
    left: 0;
    /*top: 48px;*/
    top: 100%;
    display: none;
}

.contest-image .addthis_sharing_toolbox {
    margin-top: 10px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.25);
    -webkit-transform: translateZ(0);
    background: #fff;
    padding: 10px;
}

.contest-image .addthis_sharing_toolbox:before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid white;
    top: -7px;
    left: 10px;
}

.contest-image .at-share-btn {
    border-radius: 50%;
    max-width: 30px !important;
    max-height: 30px !important;
}

.contest-image .at-icon-wrapper {
    line-height: 30px !important;
    height: 30px !important;
    width: 30px !important;
    padding: 5px;
}

.contest-image .contest-share:hover .contest-share-socials {
    display: block;
}

.contest-image .contest-upvotes-action {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 35px;
    height: 35px;
}

.contest-image .contest-share:hover,
.contest-image .contest-upvotes-action:hover {
    border: 1px solid rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.contest-image .contest-upvotes-action span {
    line-height: 35px;
}

.contest-image .contest-upvotes-action,
.contest-image .contest-share {
    display: none;
    line-height: 35px;
    text-align: center;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #5f5f5f;
    cursor: pointer;
}

.contest-image:hover .contest-upvotes-action,
.contest-image:hover .contest-share {
    display: block;
}

.contest-entry h3 {
    font-weight: bold;
    margin: 0 0 10px 0;
    font-size: 20px;
    line-height: 130%;
    color: #444;
}

.contest-entry h4 {
    margin: 0 0 10px 0;
    font-size: 18px;
    line-height: 130%;
    color: #333;
}

.contest-company .company-name {
    line-height: 25px;
    margin-top: 10px;
    color: #aaa;
}

.contest-company .avatar {
    width: 25px;
    height: 25px;
    float: left;
    margin-right: 10px;
}

.contest-upvotes {
    cursor: pointer;
    color: #aaa;
    display: inline-block;
}

.contest-upvotes.disable-click {
    cursor: default;
}

.contest-upvotes:not(.disable-click):hover {
    color: #717171;
}

.contest-winner {
    border-top: 1px solid #E7E7E7;
    display: inline-block;
    width: 100%;
}

.contest-winner .winner-name {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 30px;
    font-size: 18px;
    color: #555;
}

.contest-winner .winner-tag {
    background-color: #FF5E00;
    color: white;
    padding: 0 15px;
    font-size: 12px;
    line-height: 22px;
    display: inline-block;
}

.contest-winner .avatar {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    overflow: hidden;
    float: left;
    margin-right: 20px;
    /*margin-bottom: 10px;*/
}

.contest-company .avatar img,
.contest-winner .avatar img {
    max-width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    position: relative;
}

.contest-reward,
.contest-ctr {
    font-size: 34px;
    position: absolute;
    bottom: 15px;
    right: 20px;
}

.contest-winner-select {
    border-top: 1px solid #E7E7E7;
    padding: 20px 0;
}

.contest-box .price {
    position: absolute;
    width: 42px;
    height: 40px;
    font-size: 18px;
    line-height: 45px;
    text-align: center;
    right: 20px;
    background: #FF5E00;
    color: #fff;
    top: 0;
    z-index: 2;
}

.contest-box .price:before {
    border-left: 1.5em solid transparent;
    border-top: 0.8em solid #FF5E00;
    content: "";
    height: 0;
    z-index: 1;
    right: 0;
    position: absolute;
    bottom: -14px;
    width: 0;
}

.contest-box .price:after {
    border-right: 1.5em solid transparent;
    border-top: 0.8em solid #FF5E00;
    content: "";
    height: 0;
    z-index: 1;
    left: 0;
    position: absolute;
    bottom: -14px;
    width: 0;
}


/*.contest-box h3 {
    font-size: 22px;
    font-weight: 300;
    margin:  0 0 12px;
    line-height:  22px;
    color: #FF5E00;
}
.contest-box h4 {
    font-weight: 300;
    margin:  0 0 12px;
    line-height:  22px;
    color: #FF5E00;
}*/

.contest-box h1 {
    font-size: 2em;
    margin: 0.67em 0;
    color: #FF5E00;
    margin-bottom: -25px;
}

.contest-box h3 a {
    color: #FF5E00;
    text-decoration: none;
}

.contest-box h3 a:hover {
    text-decoration: underline;
}

.duration {
    color: #7E7E7E;
    font-size: 12px;
    font-weight: 400;
    float: left;
}

.contest-box .contest-content {
    color: #333;
}

.contest-box .contest-info {
    color: #FF5E00;
    text-align: right;
    padding-top: 25px;
}

.contest-box .contest-info h5,
.contest-box .contest-info h3 {
    margin: 0;
}

.contest-button {
    text-align: center;
    overflow: hidden;
    margin-bottom: 10px;
}

.contest-button .btn-contest {
    font-size: 18px;
    font-weight: 400;
    padding: 0;
    width: 300px;
    height: 50px;
    line-height: 50px;
}


/** Raw Love **/

.love-raw {
    text-align: center;
    padding: 15px 0;
    background: #E7E7E7;
}


/*.love-raw h3 {
    color: #8899AA;
    font-size:  20px;
    font-weight: 300;
}*/

.love-raw .features-box {
    margin: 0 0 45px;
}


/** Raw Info **/

.raw-info {
    padding: 50px 0;
    overflow: hidden;
    background: #CCC;
}

.raw-info h2 {
    font-family: 'Roboto', sans-serif;
    color: #333;
    line-height: 28px;
    font-weight: 100;
    text-align: center;
    margin: 0 0 50px;
    font-size: 28px;
}

.completions {
    text-align: center;
    overflow: hidden;
    margin: 0 -0.9375rem 40px -0.9375rem;
    padding: 0 0 40px;
    background: url(seperator.png) no-repeat 50% 100%;
}

.completions h3 {
    margin: 0;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

.completions h3 strong {
    font-size: 36px;
    display: block;
}

.payout {
    text-align: center;
}

.payout h3 {
    color: #fff;
    font-size: 28px;
    font-weight: 300;
    margin: 0 0 30px;
}

.payout h3 strong {
    display: block;
    font-size: 36px;
}

.boxes {
    overflow: hidden;
}

.box-width {
    text-align: center;
}

.box-width img {
    display: inline-block;
    border: 2px solid #fff;
    margin: 0 0 28px;
    border-radius: 100%;
}

.box-width h3 {
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    margin: 0 0 20px;
    line-height: 20px;
}

.box-width p {
    margin: 0 0 30px;
    color: #fff;
}

.box-width a {
    display: inline-block;
    background: #fff;
    border-radius: 4px;
    text-decoration: none;
    color: #FF5E00;
    font-weight: 400;
    width: 300px;
    height: 50px;
    line-height: 50px;
}

.right {
    float: right;
}


/** Past Companies **/

.past-companies {
    padding: 50px 0;
    text-align: center;
}

.past-companies img {
    width: 80%;
    display: inline-block;
}


/** Newsletter **/

.newsletter {
    background: #8899AA;
    text-align: center;
    padding: 50px 0;
}

.newsletter h2 {
    color: #fff;
    margin: 0 0 20px;
    font-size: 28px;
    line-height: 28px;
    font-weight: 300;
}

.newsletter h3 {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 40px;
}

.div-center {
    margin: 0 auto;
}

.newsletter input[type="text"] {
    border: 1px solid #DCDCDC;
    background: #fff;
    display: inline-block;
    margin: 0 5px 0 0;
    border-radius: 4px;
    width: 360px;
    padding: 10px 5px;
}

.newsletter input[type="submit"] {
    background: #FF5E00;
    display: inline-block;
    color: #fff;
    border: none;
    width: 130px;
    border-radius: 4px;
    padding: 12px 5px;
}


/** Footer **/

footer {
    background: #2B2B2B;
    font-size: 12px;
    padding: 50px 0;
}

.footer-nav {
    list-style: none;
}

.footer-nav li a {
    color: #8E8E8E;
    text-decoration: none;
}

.footer-nav li a:hover {
    text-decoration: underline;
}

.socials {
    padding: 0;
    list-style: none;
    margin: 0 0 15px;
}

.socials li {
    float: left;
    padding: 0 0 0 16px;
}

.socials li a {
    display: block;
    opacity: 0.5;
    transition: all .2s ease-in;
}

.socials li a:hover {
    opacity: 1;
}

.copyrights {
    color: #8E8E8E;
}


/** Inner Pages **/

.inner-body {
    background: #F9F9F9;
}

.innerpage {
    min-height: 100%;
    background-color: #EBEEF0;
}


/** Your Work **/

.inner-title {
    margin: 0;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    color: #2B2B2B;
}

.tabs-box {
    margin: 0 0 20%;
}

.company-edit .tabs-box {
    margin: -30px 0 0;
    position: relative;
    z-index: 1;
}

.tabs-box .tabs {
    margin: 0 0 35px;
}

.tabs-box .tabs-title {
    padding: 0 10px 0 0;
}

.tabs-box .tabs-title > a {
    background: #fff;
    border-radius: 4px;
    min-width: 125px;
    text-align: center;
    text-decoration: none;
    color: #646464;
    font-weight: 400;
    height: 35px;
    padding: 0 15px;
    line-height: 35px;
}

.tabs-box .tabs-title > a:hover {
    background: #8E8E8E;
    color: #fff;
}

.tabs-box .tabs-title > a:focus,
.tabs-title > a[aria-selected="true"] {
    background: #FF5E00;
    color: #fff;
}

.tabs-box .tabs-content {
    background: none;
    border: none;
    padding: 0;
}

.tabs-box .tabs-panel {
    padding: 0;
}

.margin-minus {
    margin: 0 -0.9375rem;
    overflow: hidden;
}

.submission-box {
    background: #fff;
    padding: 10px;
    margin: 10px 0 20px;
    border-radius: 6px;
    border: 1px solid #ff5c00;
}

.min-height {
    min-height: 350px;
}

.submission-box .ad-company-info h5 {
    text-align: left;
}

.submission-box:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.submission-box .submission-title {
    color: #FF5E00;
    margin: 0 0 20px;
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
}

.google-ad-view {
    padding: 0 0 15px;
    position: relative;
    margin: 0 0 15px;
}

.google-ad-view:after {
    content: "";
    position: absolute;
    left: -15px;
    bottom: 0;
    height: 2px;
    width: 107%;
    background: #F9F9F9;
}

.google-ad-view h4 {
    margin: 0;
    color: #0E1EAB;
    font-weight: 400;
}

.google-ad-view h4 a {
    color: #0E1EAB;
    text-decoration: none;
}

.google-ad-view h4 a:hover {
    text-decoration: underline;
}

.google-ad-view .website {
    color: #29865E;
    display: block;
    font-style: normal;
    margin: 0 0 6px;
}

.google-ad-view p {
    margin: 0;
    color: #393128;
    font-size: 16px;
    line-height: 19px;
}

.google-ad-view p.desc-margin {
    margin: 0 0 10px;
}

.ad-company-info {
    overflow: hidden;
}

.ad-company-info h4 {
    margin: 0;
    color: #2B2B2B;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
}

.ad-company-info h5 {
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    color: #333;
}

.ad-company-info .progress-box .progress {
    margin: 0;
}

.ad-company-info .progress-box .progress-meter-text {
    float: right;
    font-size: 12px;
    color: #ff5e00 !important;
    line-height: 12px;
    margin: 2px 0 0;
}

.progress-meter-text {
    color: #ff5e00 !important;
}

.ad-company-info p {
    text-align: center;
    font-size: 14px;
    color: #FF5E00;
}

.time-counter {
    text-align: center;
    overflow: hidden;
    margin: 0 0 5px;
    color: #8e8e8e;
}


/** Login **/

.login-wrap {
    display: table;
    width: 100%;
    height: 600px;
}

.login-page {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

.login-page .inner-title {
    margin: 0 0 57px;
}

.login-buttons {
    text-align: center;
}

.login-buttons span {
    display: block;
    line-height: 14px;
    margin: 0 0 20px;
}

.login-buttons .button-box {
    display: block;
    margin: 0 0 20px;
}

.login-links p {
    color: #AEAEAE;
    font-size: 12px;
}

.login-links p a {
    color: #AEAEAE;
    text-decoration: none;
    display: inline-block;
    margin: 0 5px;
}

.login-links p a:hover {
    text-decoration: underline;
}

.login-page .form-row a {
    float: right;
    color: #ff5e00;
    font-size: 12px;
    text-decoration: underline;
}

.login-page .form-row a:hover {
    text-decoration: none;
}

.login-page .form-row .btn {
    width: 100%;
}

.login-page .button-box img {
    border-radius: 4px;
}


/** Company Account **/

.company-post {
    background: #fff;
    border-radius: 4px;
    margin: 10px 0;
    position: relative;
    padding: 15px;
}

.company-post:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tabs-content .company-post .ad-company-info h5 {
    text-align: left;
    margin: 0 0 8px;
}

.tappyn-text-color {
    color: #FF5E00 !important;
}

.tabs-content .company-post .ad-company-info h5.submission-bg span {
    background: #f9f9f9;
    color: #bcbcbc;
    border: 1px solid #f3f3f3;
    border-radius: 4px;
    padding: 5px;
}

.company-post .ad-company-info h4 {
    font-size: 18px;
    line-height: 18px;
    margin: 0 0 5px;
    text-align: left;
}

.see-submissions {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.see-submissions a {
    color: #848484;
    background: #F7F7F7;
    border: 1px solid #EDEDED;
    padding: 10px 18px;
    text-decoration: none;
    display: inline-block;
}

.see-submissions a:hover {
    color: #fff;
}

.see-submissions a:before {
    background: #FF5E00;
}


/** Brief Step 2 **/

.step2 .inner-title {
    margin: 0 0 25px;
}

.step2 .package-title {
    font-size: 50px;
    line-height: 50px;
    color: #ff5e00;
}

.package-title2 {
    font-size: 50px;
    margin: 0 0 30px;
    line-height: 50px;
    color: #6d6d6d;
}

.step2 h3 {
    font-size: 22px;
    margin: 0 0 60px;
    color: #B0B0B0;
    font-weight: 300;
    text-align: center;
}

.package-box {
    text-align: center;
    background: #fff;
    position: relative;
    border-radius: 4px;
    min-height: 501px;
    margin: 0 0 15px;
    border: 1px solid #EFEFEF;
    padding: 15px;
}

.package-box h4 {
    font-size: 22px;
    color: #8C8C8C;
    font-weight: 400;
    line-height: 22px;
    margin: 0 0 15px;
}

.package-box h5 {
    font-size: 20px;
    line-height: 20px;
    color: #8C8C8C;
    margin: 0 0 10px;
}

.package-box img {
    display: inline-block;
    margin: 0 0 20px;
}

.package-box ul {
    padding: 0;
    margin: 0 0 20px;
    list-style: none;
    text-align: left;
}

.package-box ul li {
    background: url(ico-tick.svg) no-repeat 0 8px;
    color: #848484;
    line-height: 26px;
    padding: 0 0 10px 25px;
}

.package-box .contest-button {
    position: absolute;
    bottom: 4%;
    left: 0;
    width: 100%;
}

.package-box .contest-button a {
    width: 80%;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
}

.opacity2 img {
    opacity: 0.8;
}

.opacity3 img {
    opacity: 0.6;
}

.opacity4 img {
    opacity: 0.5;
}

.package-link {
    overflow: hidden;
    text-align: right;
    padding: 0 15px 3px 0;
}

.package-link a {
    color: #FF5E00;
    border-bottom: 1px solid #FF5E00;
    padding: 0 0 3px;
    text-decoration: none;
}

.package-link a:hover {
    border: none;
}

.package-box:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/** Contact Us **/

.contact-us .inner-title {
    margin: 0 0 50px;
}

.form-row {
    margin: 0 0 20px;
    overflow: hidden;
}

.form-row label {
    display: block;
    color: #9E9E9E;
    margin: 0 0 8px;
}

.form-row label span {
    color: #FF5E00;
}

.form-row input[type="text"],
.form-row input[type="password"],
.form-row input[type="email"],
.form-row textarea,
.form-row select {
    width: 100%;
    border: 1px solid #DCDCDC;
    color: #333;
    border-radius: 4px;
    padding: 8px 10px;
    font-size: 11px !important;
}

.form-row input[type="text"]:focus,
.form-row textarea:focus {
    border: 1px solid #FF5E00;
}

.form-row p {
    text-align: right;
    color: #9C9C9C;
    font-size: 12px;
}

.form-row button,
.form-row input[type="submit"] {
    border: none;
    float: right;
    padding: 12px 60px;
    border: 1px solid #FF5E00;
}


/** Privacy Policy **/

.privacy-policy .inner-title {
    margin: 0 0 40px;
}

.privacy-policy a {
    color: #FF5E00;
    text-decoration: none;
}

.privacy-policy a:hover {
    text-decoration: underline;
}


/*** Faqs **/

.div-row {
    overflow: hidden;
}

.faqs .inner-title {
    margin: 0 0 50px;
}

.faqs-box h3 {
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
    margin: 0 0 15px;
}

.faqs .div-row {
    margin: 0 0 50px;
}


/** Browse Contest **/

.browse-contest .inner-title {
    margin: 0 0 50px;
    padding: 5px 0 0;
}

.contest-sorting {
    float: right;
}

.contest-sorting .select-area {
    line-height: 37px;
}

.select-area {
    font-size: 11px;
    color: #333;
}

.showing-results {
    margin: 0 0 40px;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
}

.company-img {
    margin: 0 0 20px;
}

.company-img img {
    height: auto;
    width: 100%;
}

.browse-contest .ad-company-info h4 {
    margin: 0 0 15px;
    font-weight: 400;
    font-size: 18px;
}

.contest-status-container {
    position: absolute;
    bottom: 0;
    width: 85%;
}

.browse-contest .ad-company-info h4 a {
    color: #2b2b2b;
}

.browse-contest .ad-company-info h4 span {
    float: right;
    color: #ff5e00;
}

.browse-contest .ad-company-info a {
    text-decoration: none;
}


/** Company Brief **/

.contest-brief {
    font-size: 22px;
    line-height: 22px;
    font-weight: 400;
    margin: 0 0 40px;
}

.brief-content h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
}

.brief-content {
    margin-bottom: 15px;
}

.brief-content input[type="text"] {
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    color: #b7b7b7;
    margin: 0 0 15px;
    padding: 8px 10px;
    width: 100%;
}

.brief-content p {
    margin: 0 0 10px;
}

.brief-content p a {
    color: #ff5e00;
    text-decoration: none;
}

.brief-content p a:hover {
    text-decoration: underline;
}

.margin-botton {
    margin-bottom: 50px;
}

.brief-content textarea {
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    color: #b7b7b7;
    height: 146px;
    max-height: 146px;
    max-width: 100%;
    min-height: 146px;
    min-width: 100%;
    padding: 8px 10px;
    width: 100%;
}

.brief-content button {
    border: medium none;
    float: right;
    padding: 12px 60px;
}


/** FB Brief **/

.fb-brief {
    padding: 0 0 20px;
}

.title-box {
    float: left;
}

.innerpage .fb-progress {
    float: left;
    margin: 29px 0 0;
    width: 200px;
}

.contest-info2 {
    float: right;
}

.progress-box2 {
    float: right;
    margin: 73px 73px 0 0;
    text-align: center;
    width: 17%;
}

.share-contest {
    float: right;
    margin: 30px 0 0;
    position: relative;
    z-index: 2;
}

.borderlist
{
    border: 1px solid #333;
    border-radius: 3px;
    padding:5px;
}

.borderlist:hover {
  border: 1px solid #ff5c00;

}

.share-contest ul {
    list-style: none;
    padding: 0;
    overflow: hidden;
    margin: 0;
}

.share-contest ul li {
    float: left;
    color: #ff5e00;
    padding: 0 0 0 15px;
    line-height: 26px;
}

.share-contest2 ul li {
    padding: 0;
}

.share-contest ul li:first-child {
    line-height: 30px;
}

.share-contest2 ul li:first-child a {
    width: auto;
    border: none;
    color: #fff;
    display: block;
    padding: 0 15px;
    text-decoration: none;
    font-size: 12px;
    height: 30px;
    background: #ff5e00;
}

.share-contest2 ul li:first-child a:hover {
    text-decoration: underline;
    background: #ff5e00;
}

.share-contest2 ul li:first-child a img {
    opacity: 1;
    margin: 0 10px 0 0;
}

.share-contest ul li a {
    height: 30px;
    display: inline-block;
    width: 30px;
    text-align: center;
    border: 1px solid #ff5e00;
}

.share-contest ul li a img {
    height: 15px;
    opacity: 0.8;
}

.share-contest ul li a:hover {
    background: #ffceb1;
}

.share-contest ul li a:hover img {
    opacity: 1;
}

.progress-box2 p {
    font-size: 14px;
    color: #bcbcbc;
    margin: 0;
    line-height: 14px;
}

.progress-box2 .progress {
    margin: 0 0 0.5rem;
}

.contest-info2 h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    text-align: right;
    color: #ff5e00;
}

.contest-info2 h4 {
    margin: 0;
    text-align: right;
    color: #b3b2b2;
    font-size: 18px;
    font-weight: 400;
}

.contest-info2 h4 span.clock {
    text-align: center;
}

.contest-info2 h4 span.clock img {
    height: 15px;
}

.contest-info2 h4 img {
    height: 20px;
}

.contest-info2 h4 span {
    width: 22px;
    display: inline-block;
}

.fb-brief .top-heading {
    overflow: hidden;
    margin: 0 0 50px;
}

.company-logo {
    text-align: center;
    margin: 0 0 50px;
}

.ad-desc h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
}

.ad-desc p {
    margin: 0;
    padding: 0 20px 0 0;
}

.ad-desc .div-row {
    margin-bottom: 50px;
}

.ad-header {
    overflow: hidden;
    margin: 0 0 50px;
}

.ad-submission {
    background: #e9eaed;
    padding: 15px;
}

.ad-submission h2 {
    margin: 0 0 20px;
    font-size: 20px;
    font-weight: 400;
}

.user-fields .form-row label {
    float: left;
    margin: 0 20px 0 0;
}

.user-fields .form-row input[type="radio"] {
    margin: 0 0 0 1px;
}

.user-fields,
.ad-fields {
    border-bottom: 1px solid #fff;
    margin: 0 0 20px;
}

.ad-fields .form-row .heading-field {
    color: #3b5998;
    font-size: 18px;
    font-weight: bold;
}

.ad-fields .form-row .content-field {
    color: #6f7279;
}

.ad-fields .form-row p.link,
.ad-view .form-row p.link {
    color: #3b5998;
    margin: 0;
    text-align: left;
    font-size: 16px;
}

.ad-view .form-row h3 {
    margin: 0;
    color: #3b5998;
    font-size: 22px;
    line-height: 22px;
    font-weight: bold;
}

.ad-view .form-row {
    margin: 0 0 10px;
}

.ad-view .form-row p {
    text-align: left;
    color: #5e6169;
    font-size: 16px;
    margin: 0;
}

.padding {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
}

.ad-submission .google-ad-view::after {
    background: none;
}

.ad-submission .google-ad-view h4 {
    font-weight: bold;
    font-size: 18px;
}

.ad-fields .form-row p.green {
    color: #29865e;
}

.age {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    color: #838383;
}

.border {
    border-bottom: 1px solid #ff5e00;
    padding: 0 0 10px;
}


/** Signup **/

.signup-link {
    text-align: left;
    width: 50%;
    margin: 0 auto;
}

.signup-link p {
    font-size: 14px;
}

.signup-link p a {
    color: #ff5e00;
}

.signup .form-row input[type="radio"] {
    margin: 1px 10px 0 1px;
    float: left;
}

.signup .form-row label {
    line-height: 13px;
    margin: 0 0 10px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    color: #ff5e00;
    display: block;
}


/*** Submissions **/

.submission-box {
    position: relative;
}

.orange-ad-view h4 {
    color: #ff5e00;
    font-weight: 400;
    margin: 0 0 10px;
    padding: 0 22% 0 0;
}

.orange-ad-view p {
    margin: 0;
    font-size: 16px;
}

.prize {
    color: #fff;
    float: left;
    font-size: 30px;
    line-height: 30px;
    font-weight: 300;
}

.posted {
    font-size: 14px;
    float: left;
}

.orange-ad-view h6 {
    margin: 0;
    font-size: 12px;
    color: #ff5e00;
    font-weight: 400;
    text-align: right;
}

.orange-ad-view .submitted-by {
    float: right;
    color: #ff5e00;
}

.winner-box {
    opacity: 0;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.8);
    height: 60px;
    position: absolute;
    bottom: -60px;
    transition: all .2s ease-out;
    left: 0;
    width: 100%;
    padding: 15px;
}

.submission-box:hover .winner-box {
    opacity: 1;
    visibility: visible;
    bottom: 0;
}

.winner-box a {
    padding: 0;
    height: 30px;
    float: right;
    width: 30%;
    line-height: 30px;
    text-align: center;
}

.company-edit .top-heading {
    overflow: hidden;
    margin: 0 0 40px;
}

.company-edit .top-heading.margin-top {
    margin: 0;
}


/*** Sub Image ***/

.subpage-image {
    overflow: hidden;
}

.subpage-image .columns {
    height: 100%;
}

.top-sideabar {
    background: #ff5e00;
}

.sub-list {
    padding: 50px 0;
}

.sub-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    color: #fff;
}

.sub-list ul li {
    line-height: 27px;
    padding: 0 0 70px;
}

.sub-list ul li:last-child {
    padding: 0;
}

.sub-list ul li strong {
    display: block;
    text-align: center;
    margin: 0 0 15px;
    font-weight: 300;
    line-height: 40px;
    font-size: 40px;
}

.sub-list ul li span {
    display: block;
    overflow: hidden;
}

.sub-list ul li span img {
    display: inline-block;
    height: 27px;
    margin: 0 15px 0 0;
}

.bg-subpage {
    background: url(img-students.jpg) no-repeat;
    background-size: 100%, auto;
    height: 493px;
    position: relative;
}

.overlay-subpage {
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(255, 94, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 1;
}

.subpage-content {
    position: relative;
    display: table;
    height: 100%;
    width: 100%;
    z-index: 3000;
}

.subpage-content h3 {
    color: #fff;
    font-weight: 300;
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 50px;
    text-align: center;
}

.contest-link-list {
    list-style-type: none;
    padding-left: 0;
}

.contest-link-list li {
    padding-top: 10px;
}

.contest-link-list li a {
    width: 80%;
}

.center-content {
    text-align: center;
}

.facebook-form-wrapper {
    background-color: #cccccc;
    padding: 10px;
    border-radius: 5px;
}

.subpage-content h4 {
    margin: 0;
    color: #fff;
    line-height: 26px;
    font-size: 26px;
    font-style: italic;
    font-weight: 300;
    text-align: center;
}

.inner-table {
    display: table-cell;
    vertical-align: middle;
}

.fb-brief .margin-zero {
    margin: 0 0 20px;
}

.text-limit {
    float: right;
    color: #898989;
    font-size: 12px;
    line-height: 12px;
    margin: 8px 0 0;
}


/*** User account ***/

.won-box {
    background: #ff5e00;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    color: #fff;
    padding: 10px;
}

.won-box h3 {
    color: #fff;
    margin: 0;
    line-height: 18px;
    font-size: 18px;
    font-weight: 400;
}

.won-box h3 span {
    float: right;
}

.won:hover {
    box-shadow: 0 1px 0 3px #ff5e00;
}

.won {
    box-shadow: 0 1px 0 3px #ff5e00;
}


/** How it works for companies **/

.how-it-works-companies {
    overflow: hidden;
    background: #fff;
    padding: 50px 0;
    color: #979797;
    text-align: center;
}

.how-it-works-companies h3 {
    font-weight: 300;
    font-size: 24px;
    color: ##555;
    line-height: 24px;
}


/*** Some info ***/

.some-info {
    overflow: hidden;
    padding: 50px 0;
    text-align: center;
    background: #fff;
}

.some-info h2 {
    font-family: 'Roboto', sans-serif;
    margin: 0 0 8px;
    font-weight: 100;
    color: #ff5e00;
    font-size: 30px;
    line-height: 30px;
}

.some-info h3 {
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 50px;
}

.some-info .row .columns:last-child h3 {
    margin: 0;
}


/** Testimonials **/

.testimonials {
    background-image: url('https://s3-us-west-2.amazonaws.com/tappyn/bannernew.jpg');
    background-size: cover;
    background-color: #EEEEEE;
    height: 400px;
    overflow: hidden;
}

@media (min-width: 641px) and (max-width: 1024px) {
    .testimonials {
        background: url(https://s3-us-west-2.amazonaws.com/tappyn/bannernew.jpg) no-repeat center center;
        background-size: cover;
    }
}

@media (min-width: 1025px) and (max-width: 1500px) {
    .testimonials {
        background: url(https://s3-us-west-2.amazonaws.com/tappyn/bannernew.jpg) no-repeat center center;
        background-size: cover;
    }
}

@media (min-width: 1501px) {
    .testimonials {
        background: url(https://s3-us-west-2.amazonaws.com/tappyn/bannernew.jpg) no-repeat center center;
        background-size: cover;
    }
}

.testimonials h2 {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: 100;
    font-size: 30;
}

.testimonial-img img {
    width: 100%;
    height: auto;
    border: 4px solid #fff;
    border-radius: 100%;
}

.testi-content {
    display: table;
    height: 356px;
    text-align: center;
}

.testi-cell {
    display: table-cell;
    vertical-align: middle;
}

.testi-cell h4 {
    margin: 0 0 20px;
    color: #fff;
    font-weight: 400;
    font-size: 30px;
}

.testi-cell ul {
    background: #e05300;
    text-align: center;
    list-style: none;
    padding: 10px;
    margin: 0 0 20px;
    display: inline-block;
}

.testi-cell ul li {
    display: inline-block;
    color: #fff;
    line-height: 20px;
    padding: 0 4px 0 10px;
    border-left: 1px solid #fff;
}

.testi-cell ul li:first-child {
    border: none;
    padding-left: 3px;
}

.testi-cell h5 {
    color: #fff;
    font-style: italic;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}


/** Steps Box **/

.steps-box {
    overflow: hidden;
}

.step-heading {
    border-bottom: 1px solid #ff5e00;
    margin: 0 0 40px;
}

.step-box2 {
    margin-bottom: 150px;
}

.step-box2 .form-row label {
    float: left;
    margin: 0 15px 0 0;
}

.step-box2 .form-row input[type="radio"] {
    float: left;
    margin: 6px 6px 0 0;
}

.top-box {
    overflow: hidden;
}

.your-work .inner-title {
    margin: 0 0 20px;
}

.pagination-centered {
    overflow: hidden;
}

.login-box > a {
    margin: 8px 4px 0;
    border-bottom: 1px solid #fff;
}

@media screen and (max-width: 1200px) {
    .bg-subpage {
        background-size: auto, 100%;
    }
    .subpage-image .margin-minus {
        margin: 0 -0.9375rem !important;
    }
    .inner-table {
        padding: 0 15px;
    }
}

@media screen and (max-width: 1450px) {
    .slick-arrow {
        top: 108%;
        transform: translateY(-108%);
    }
    .slick-prev {
        left: 16px;
    }
    .slick-next {
        right: 16px;
    }
}

@media screen and (max-width: 1000px) {
    .box-width a {
        width: 100%;
    }
    .package-box {
        min-height: 550px;
    }
}

@media screen and (max-width: 768px) {
    .tabs-box .tabs-title > a {
        padding: 0 12px;
    }
    .brief-content h3 {
        margin: 0 0 12px;
    }
    .margin-minus {
        margin-left: 0;
        margin-right: 0;
    }
    .title-box {
        float: none;
        overflow: hidden;
        margin: 0 0 20px;
    }
    .contest-info2 {
        float: none;
        margin: 0 0 20px;
        overflow: hidden;
    }
    .share-contest {
        float: none;
        margin: 0 0 60px;
        text-align: center;
    }
    .share-contest ul li {
        display: inline-block;
        float: none;
    }
    .contest-info2 h3,
    .contest-info2 h4 {
        text-align: center;
    }
    .top-heading .inner-title {
        text-align: center;
    }
    .innerpage .fb-progress {
        float: none;
        width: 80%;
        margin: 20px auto 0;
    }
    .hero-banner2 {
        height: 500px;
    }
    .ad-company-info img {
        float: none;
        margin: 0 0 30px;
    }
    .see-submissions {
        overflow: hidden;
        text-align: center;
        margin: 0;
        float: none;
    }
    .ad-company-info {
        text-align: center;
    }
    header .column,
    header .columns {
        margin: 0;
    }
    .contest-box .contest-info .submissions {
        margin: 0 0 20px 120px;
    }
    .completions {
        margin: 0 0 40px;
    }
    .completions .column {
        margin: 0 0 40px;
    }
    .newsletter {
        padding: 50px 15px;
    }
    .boxes .column {
        margin: 0 0 50px;
    }
    .contact-us,
    .faqs {
        padding: 0 10px;
    }
    .privacy-policy {
        padding: 0 20px;
    }
    .faqs .div-row {
        margin: 0;
    }
    .accordion {
        margin: 0 0 30px;
    }
    .newsletter input[type="text"] {
        margin: 0 0 20px;
        width: 100%;
    }
}

@media screen and (max-width: 650px) {
    .see-submissions {
        top: 80%;
        right: 50%;
        width: 100%;
        font-size: 13px;
        transform: translateX(50%);
    }
    .tabs-content .company-post .ad-company-info h5,
    .company-post .ad-company-info h4 {
        text-align: center;
    }
    .company-post {
        text-align: center;
        padding: 15px 15px 100px;
    }
    .package-box {
        min-height: 518px;
    }
    .cd-multi-steps.text-top.count li.current > *::before,
    .cd-multi-steps.text-bottom.count li.current > *::before {
        box-shadow: none !important;
    }
    .submissions-page-mobile {
        min-height: 350px;
        max-height: 350px;
    }
}

@media screen and (max-width: 550px) {
    .hero-banner2 {
        height: 500px;
    }
    .hero-content h1 {
        font-size: 34px;
    }
    .hero-content h2 {
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        font-size: 29px;
    }
    .signup-link {
        width: 100%;
    }
    .see-submissions {
        text-align: center;
        overflow: hidden;
        float: none;
    }
    .footer-nav {
        text-align: center;
    }
    .tabs-box .tabs-title > a {
        min-width: 85px;
    }
    .socials {
        float: none;
        text-align: center;
    }
    .copyrights {
        float: none;
        display: block;
        text-align: center;
    }
}

@media screen and (max-width: 550px) {
    .hero-banner2 {
        height: 500px;
    }
    .hero-content h1 {
        font-size: 34px;
    }
    .hero-content h2 {
        font-size: 29px;
    }
    .signup-link {
        width: 100%;
    }
    .see-submissions {
        text-align: center;
        overflow: hidden;
        float: none;
    }
    .footer-nav {
        text-align: center;
    }
    .tabs-box .tabs-title > a {
        min-width: 85px;
    }
    .socials {
        float: none;
        text-align: center;
    }
    .copyrights {
        float: none;
        display: block;
        text-align: center;
    }
    .footer-nav li,
    .socials li {
        float: none;
        padding: 0 10px;
        display: inline-block;
    }
    .testi-cell ul li {
        padding: 0 4px 0 9px;
        font-size: 14px;
    }
}

.message-alert {
    background-color: #1775D3;
    color: #eee;
    border-radius: 5px;
    height: 50px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    opacity: .7;
    padding-top: 1px;
}

.error-alert {
    color: #eee;
    background-color: #BF3F3F;
    border-radius: 5px;
    border: 2px solid #D82626;
    height: 50px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    opacity: .7;
    padding-top: 10px;
}

.hidden_submission {
    display: none;
    height: 0;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.home-industry {
    position: absolute;
    height: 50px;
    left: 70;
    top: 5;
    color: #ff5c00;
    font-weight: 300;
    font-size: 16;
}

.contest-price-home {
    position: absolute;
    width: 42px;
    height: 35px;
    font-size: 16px;
    line-height: 35px;
    text-align: center;
    left: 0;
    background: #FF5E00;
    color: #fff;
    top: 0;
    z-index: 20;
    border-top-left-radius: 5px;
}

.contest-price-home:before {
    border-right: 1.5em solid transparent;
    border-top: 1.75em solid #FF5E00;
    content: "";
    height: 0;
    z-index: 1;
    top: 0;
    position: absolute;
    right: -20px;
    width: 0;
}

.contest-price-home:after {
    border-right: 1.5em solid transparent;
    border-bottom: 1.75em solid #FF5E00;
    content: "";
    height: 0;
    z-index: 1;
    bottom: 0;
    position: absolute;
    right: -20px;
    width: 0;
}

.pagination-container {
    float: right;
}

.pagination-container a {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 10px;
    color: white;
    text-decoration: none;
    background: #FF5E00;
    border: 1px solid #000;
    padding: 5px 8px;
    margin-left: 5px;
}

.pagination-container strong {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 10px;
    color: black;
    text-decoration: none;
    padding: 5px 8px;
    margin-left: 5px;
}

.input-count {
    font-size: .75em;
    text-align: right;
}

.single-submission {
    border-radius: 5px;
    background-color: #fff;
    color: ;
}

.btn-brief {
    border: 1px solid #FF5E00;
    background: transparent;
    color: #FF5E00;
}

.btn-brief:hover {
    color: #fff;
}

.img-example {
    border-top: 1px solid #fff;
    padding-top: 15px;
    padding-bottom: 15px;
}

.contest-audience {
    text-overflow: ellipsis;
    color: #333;
    font-size: 12px;
    text-align: center;
}

nav .dropdown-menu {
    left: -70;
}

.dropdown-menu li {
    padding: 0;
    width: 100%;
}

.dropdown-menu li a:hover {
    border: none;
    background-color: #eee;
}

.launch-page-hover:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.alerter {
    height: 75px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100000001 !important;
    ;
    padding: 5px;
}

.alert-closer {
    float: right;
    padding-right: 15px;
}

.default-alerter {
    background-color: #333;
    opacity: .8;
    color: #fff;
}

.error-alerter {
    background-color: #d00;
    opacity: .6;
    color: #fff;
}

.alerter.ng-hide-add.ng-hide-add-active,
.alerter.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition: all linear 0.5;
    transition: all linear 0.5s;
}

.alerter.ng-hide {
    bottom: -100;
}

.darken {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999999;
    background-color: rgba(0, 0, 0, 0.6);
}

.darken {
    -webkit-transition: all linear 0.6;
    transition: all linear 0.6s;
}

.darken.ng-hide {
    opacity: 0;
}

.modal_actions.ng-hide {
    top: -50;
    opacity: 0;
}

.modal_actions {
    z-index: 100000000 !important;
    position: fixed;
    height: 100%;
    opacity: 1;
    transform-style: preserve-3d;
}

.modal_inner {
    padding: 40px 70px;
    background-color: #fff;
    border-radius: 3px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-height: 90%;
    overflow-y: scroll;
}

.modal_inner .logo img {
    max-width: 100px;
}

.modal_inner .btn {
    margin-bottom: 10px;
}

.modal_inner .btn.btn-link {
    color: #ff5c00;
    font-size: 20px;
    text-decoration: underline;
}

.modal_actions.ng-hide-add.ng-hide-add-active,
.modal_actions.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition: all linear 0.5;
    transition: all linear 0.5s;
}

.interests-flexbox {
    flex-direction: row;
}

.interests-flexbox img {
    width: 25%;
}

.tip-section {
    border: 1px solid #ff5c00;
    border-radius: 5px;
    margin-bottom: 10px;
    opacity: 1;
}

.tip-section.ng-hide {
    opacity: 0;
}

.tip-section.ng-hide-add.ng-hide-add-active,
.tip-section.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition: all linear 0.5;
    transition: all linear 0.5s;
}

.modal_link {
    border-radius: 5px;
    margin-bottom: 5px;
}

.modal_link a {
    color: #ff5e00;
    cursor: pointer;
    text-decoration: none;
}

.close_circle {
    background: #aaa;
    border-radius: 25px;
    font-size: 14px;
    color: #fff;
    height: 20px;
    line-height: 18px;
    width: 20px;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    text-align: center;
}

.package-highlight {
    border: 2px solid #ff6c00;
}

.wrapper {
    position: absolute;
    top: 0;
}

.content-panel {
    background-color: #fff;
    border-radius: 3px;
    padding: 10px 5px 10px 5px;
}

.package-selection {
    opacity: 1;
}

.package-selection.ng-hide {
    opacity: 0;
}

.package-selection.ng-hide-add.ng-hide-add-active,
.package-selection.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition: all linear 0.5;
    transition: all linear 0.5s;
}

.ad-location {
    opacity: 1;
}

.ad-location.ng-hide {
    opacity: 0;
}

.ad-location.ng-hide-add.ng-hide-add-active,
.ad-location.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition: all linear 0.5;
    transition: all linear 0.5s;
}

.contests-heading h2,
.contests-heading h4 {
    font-weight: 200;
    color: #FF5E00;
}

.border-submish {
    border: 1px solid #ff5e00;
}

.tappyn-bars div p {
    color: #fff !important;
}

.highlight_payment {
    border: 2px #ff5c00 solid;
}

.upvote-circle {
    width: 50px;
    height: 50px;
    border: 1px solid #ff5c00;
    border-radius: 40px;
    cursor: pointer;
    float: right;
}

.empty-upvote {
    background-color: #fff;
}

.empty-upvote h4 {
    color: #ff5c00;
}

.filled-upvote {
    background-color: #ff5c00;
}

.filled-upvote h4 {
    color: #fff;
}

.share_logo {
    cursor: pointer;
    opacity: 1;
    background-color: #3B5998;
    color: #fff;
    height: 30px;
    width: 50px;
    border-top-left-radius: 5px;
    text-align: center;
    padding-top: 5px;
}

.share_logo:hover {
    background-color: #355088;
}

.share_logo.ng-hide {
    opacity: 0;
}

.share_logo.ng-hide-add.ng-hide-add-active,
.share_logo.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition: all linear 0.3;
    transition: all linear 0.3s;
}

.personality {
    width: 150x;
    height: 100px;
    margin-bottom: 5px;
    padding: 15px 5px 5px 5px;
    border-radius: 5px;
    border: 1px solid transparent;
}

.personality:hover {
    background: #eee;
}

.personality-highlight {
    border: 1px solid #ff5c00;
}

.modal_note {
    position: fixed;
    height: 100%;
    background: #fff;
    color: #333;
    z-index: 100000000 !important;
    right: 0;
    opacity: 1;
    border-left: 1px solid #333;
}

.modal_note.ng-hide {
    right: -50;
    opacity: 0;
}

.modal_note.ng-hide-add.ng-hide-add-active,
.modal_note.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition: all linear .5;
    transition: all linear 0.5s;
}

.notif-tab-left {
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: #ff5c00;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.notif-tab-right {
    border-width: 1px 1px 1px 0px;
    border-style: solid;
    border-color: #ff5c00;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.notif-tab {
    height: 35px;
    background: #fff;
    color: #ff5c00;
    cursor: pointer;
    text-align: center;
    padding-top: 7px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.notif-tab:hover {
    background: #ddd;
}

.notif-active {
    background: #ddd;
}

.notification {
    border: 1px solid #ff5c00;
    border-radius: 5px;
    margin-top: 5px;
    padding-top: 10px;
}

.notification:hover {
    background: #eee;
}

#faqpayment .panel-heading {
    border: 1px solid #ff5c00;
    background: #fff;
    color: #ff5c00 !important;
}

#faqpayment .panel-body {
    border: 1px solid #ff5c00;
}

.faqpayment .panel-heading {
    border: 1px solid #ff5c00;
    background: #fff;
}

.faqpayment .panel-heading:hover {
    background: #eee;
}

.faqpayment .panel-body {
    border: 1px solid #ff5c00;
}

.faqpayment .panel-title a {
    color: #333;
    font-weight: 500;
}

#faqpayment .panel-body {
    border: 1px solid #ff5c00;
}

.faqpayment .panel-heading {
    border: 1px solid #ff5c00;
    background: #fff;
}

.faqpayment .panel-heading:hover {
    background: #eee;
}

.faqpayment .panel-body {
    border: 1px solid #ff5c00;
}

.faqpayment .panel-title a {
    color: #333;
    font-weight: 500;
}

.dash-black {
    color: #333;
    cursor: pointer;
}

.dash-black:hover {
    color: #ff5c00;
}

.dash-oj {
    color: #ff5c00;
    cursor: pointer;
}

.glyph-lg {
    font-size: 1.6em;
}

.dash-bordered {
    border-left: 1px solid #333;
    border-right: 1px solid #333;
}

.overlay_launch {
    position: fixed;
    bottom: 0;
    background: #fff;
    color: #ff5c00;
    padding: 20px;
}

.interest-overlay {
    position: absolute;
    background: #333;
    opacity: .2;
    cursor: pointer;
    top: 3;
    right: 3;
    bottom: 3;
    left: 3;
}

.interest-overlay:hover {
    opacity: .7;
    -webkit-transition: all linear .3;
    transition: all linear 0.3s;
}

.interest-text {
    position: absolute;
    bottom: 3;
    color: #fff;
    font-size: 15px;
    text-align: center;
    margin: 0;
    padding: 5px 3px 10px 3px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.6);
}

.interest-check {
    position: absolute;
    top: 2px;
    left: 5px;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

.interest-heading {
    font-weight: 300;
    color: #ff5c00;
}

.interest-mobile {
    width: 47%;
    position: relative;
    float: left;
}

.interest-larger {
    width: 24%;
    position: relative;
    float: left;
}

.modal_scrolling {
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    overflox-x: hidden;
}

.login-highlight {
    background: #ff5c00;
    border-radius: 5px;
}

.login-highlight a {
    color: #fff;
}

.login-links {
    width: 33.3%;
    float: left;
}

.submish-overlay {
    position: absolute;
    background: #333;
    opacity: .5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 200;
    border-radius: 3px;
}

.submish-panel {
    z-index: 250;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 45%;
}

.submish-hovering {
    cursor: pointer;
}

.submish-hovering:hover {
    background: #eee;
}

.submission-text {
    font-family: 'Helvetica';
}

.submission-text h4 {
    font-size: 14px;
    text-align: left;
}


/*.masonry-layout {
    display: -ms-flexbox;
    -ms-flex-direction: row;
    -ms-flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.masonry-item {
    width: 33.3%;
  transition: .8s opacity;
}
@supports not (flex-wrap: wrap) {
  .masonry-layout { display: block; }
  .masonry-item {
  display: inline-block;
  vertical-align: top;
  }
}*/


/*can remove once new submission layout is done*/

.contest-price {
    position: absolute;
    width: 50px;
    height: 35px;
    font-size: 16px;
    line-height: 35px;
    text-align: center;
    right: 0px;
    background: #FF5E00;
    color: #fff;
    top: 0;
    z-index: 20;
    border-top-right-radius: 5px;
}

.contest-price:before {
    border-left: 1.5em solid transparent;
    border-top: 1.75em solid #FF5E00;
    content: "";
    height: 0;
    z-index: 1;
    top: 0;
    position: absolute;
    left: -20px;
    width: 0;
}

.contest-price:after {
    border-left: 1.5em solid transparent;
    border-bottom: 1.75em solid #FF5E00;
    content: "";
    height: 0;
    z-index: 1;
    bottom: 0;
    position: absolute;
    left: -20px;
    width: 0;
}


/*can remove once new submission layout is done*/
