<div class='row content-padding'>
	<div class='col-xs-12 col-sm-10 col-sm-offset-1'>
			<div class='col-md-4 col-sm-6 col-xs-12' ng-repeat='submission in submissions'>
				<div class="contest-box submissions-page hidden-xs">
					<div class='col-xs-12'>
							<h3>{{submission.headline}}</h3>
							<div class="contest-content">
							    <span>{{submission.text}}</span>
							</div>
							<h5 class='text-right' style='color:#ff6c00;'>- {{submission.owner.first_name}} {{submission.owner.last_name | firstChar}}.</h5>
					</div>
					<div style='width:100px;height:40px;position:absolute;right:0px;bottom:0px;'>
			    		<h4 style='position:absolute;right:53;font-weight:400;' class='text-right'>{{submission.votes | number}}</h4>
			        	<img ng-if='!submission.user_may_vote' style='width:45px;height:45px;position:absolute;right:3px;bottom:2px;' src='public/img/filled.png'>
			        	<img ng-click='upvote(submission)' ng-if='submission.user_may_vote' style='width:45px;height:45px;position:absolute;right:3px;bottom:2px;' src='{{submission.heart}}' ng-init='submission.heart = "public/img/empty.png"' ng-mouseover='submission.heart = "public/img/filled.png"' ng-mouseleave='submission.heart = "public/img/empty.png"'>
			        </div>
		            <div class="contest-info">
		                <h5>
		                	<span class='duration' style='position: absolute;left: 3px;bottom: 0;'>
		                		{{submission.created_at  | legibleDate}}
		                	</span>
		               	</h5>
		            </div>
		    	</div>
		    	<div class="contest-box submissions-page-mobile visible-xs">
					<div class='col-xs-12'>
							<h3>{{submission.headline}}</h3>
							<div class="contest-content">
							    <span>{{submission.text}}</span>
							</div>
							<h5 class='text-right' style='color:#ff6c00;'>- {{submission.owner.first_name}} {{submission.owner.last_name | firstChar}}.</h5>
					</div>
					<div style='width:100px;height:40px;position:absolute;right:0px;bottom:0px;'>
			    		<h4 style='position:absolute;right:53;font-weight:400;' class='text-right'>{{submission.votes | number}}</h4>
			        	<img ng-if='!submission.user_may_vote' style='width:45px;height:45px;position:absolute;right:3px;bottom:2px;' src='public/img/filled.png'>
			        	<img ng-click='upvote(submission)' ng-if='submission.user_may_vote' style='width:45px;height:45px;position:absolute;right:3px;bottom:2px;' src='{{submission.heart}}' ng-init='submission.heart = "public/img/empty.png"' ng-mouseover='submission.heart = "public/img/filled.png"' ng-mouseleave='submission.heart = "public/img/empty.png"'>
			        </div>
		            <div class="contest-info">
		                <h5>
		                	<span class='duration' style='position: absolute;left: 3px;bottom: 0;'>
		                		{{submission.created_at  | legibleDate}}
		                	</span>
		               	</h5>
		            </div>
		        </div>
				<h3 class='text-center' ng-if='submissions.length == 0 || !submissions'>This contest has no submissions yet, you could be the first!</h3>
			</div>
	</div>
</div>

<script>
fbq('track', 'PageView');
window.Intercom('update');
</script>