<div class='row content-padding'>
	<div class='col-xs-12 col-sm-10 col-sm-offset-1'>
			<div class='col-xs-12 text-center'>
				<h2 style='color:#ff5c00;font-weight: 300;'>Here's what's hot right now</h2>
				<h3 style='color:#ff5c00;font-weight: 300;'>Think you can do better?</h3>
			</div>
			<div class='col-md-4 col-sm-6 col-xs-12' ng-repeat='submission in submissions'>
				<div class="contest-box submissions-page hidden-xs">
					<div class='col-xs-12'>
							<h3>{{submission.headline}}</h3>
							<div class="contest-content">
							    <span>{{submission.text}}</span>
							</div>
							<h5 class='text-right' style='color:#ff6c00;'>- {{submission.owner.first_name}} {{submission.owner.last_name | firstChar}}.</h5>
					</div>
					<div ng-click='upvote(submission)' ng-if='submission.user_may_vote' class='upvote-circle' ng-class='{"empty-upvote" : !submission.hover, "filled-upvote" : submission.hover}' ng-mouseenter='submission.hover = true' ng-mouseleave='submission.hover = false'>
			    		<h4 style='margin-top:10px;font-weight:400;' class='text-center'>{{submission.votes | number}}</h4>
			    	</div>
			    	<div ng-if='!submission.user_may_vote' class='upvote-circle filled-upvote'>
			    		<h4 style='margin-top:10px;font-weight:400;' class='text-center'>{{submission.votes | number}}</h4>
			    	</div>
		            <div class="contest-info">
		                <h5 style='position: absolute;left: 3px;bottom: 0;'>
		                	<a class='text-left' style='color:#ff5e00' href='#/contest/{{submission.contest_id}}'>View Contest</a>
		                	<br>
		                	<span class='duration'>
		                		{{submission.created_at  | legibleDate}}
		                	</span>
		               	</h5>
		            </div>
		    	</div>
		    	<div class="contest-box submissions-page-mobile visible-xs">
					<div class='col-xs-12'>
							<h3>{{submission.headline}}</h3>
							<div class="contest-content">
							    <span>{{submission.text}}</span>
							</div>
							<h5 class='text-right' style='color:#ff6c00;'>- {{submission.owner.first_name}} {{submission.owner.last_name | firstChar}}.</h5>
					</div>
					<div ng-click='upvote(submission)' ng-if='submission.user_may_vote' class='upvote-circle' ng-class='{"empty-upvote" : !submission.hover, "filled-upvote" : submission.hover}' ng-mouseenter='submission.hover = true' ng-mouseleave='submission.hover = false'>
			    		<h4 style='margin-top:10px;font-weight:400;' class='text-center'>{{submission.votes | number}}</h4>
			    	</div>
			    	<div ng-if='!submission.user_may_vote' class='upvote-circle filled-upvote'>
			    		<h4 style='margin-top:10px;font-weight:400;' class='text-center'>{{submission.votes | number}}</h4>
			    	</div>
		            <div class="contest-info">
		                <h5 style='position: absolute;left: 3px;bottom: 0;'>
		                	<a class='text-left' style='color:#ff5e00' href='#/contest/{{submission.contest_id}}'>View Contest</a>
		                	<br>
		                	<span class='duration'>
		                		{{submission.created_at  | legibleDate}}
		                	</span>
		               	</h5>
		            </div>
		        </div>
			</div>
	</div>
</div>

<script>
fbq('track', 'PageView');
window.Intercom('update');
</script>