<div class='container-fluid'>
<!-- Hero Banner -->
    <section class="testimonials">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <div class="hero-content">
                    <h1>Create and sell everyday<br> photos.</h1>
                    <div class='text-center'>
                        <a class='btn btn-wj btn-lg hidden-xs' style='margin-top:15px;padding-left: 50px;padding-right: 50px' href='/contests'><strong>Get Started</strong></a>
                        <a class='btn btn-wj btn-lg visible-xs' style='padding-left: 35px;padding-right: 35px' href='/contests'><strong>Get Started</strong></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="how-it-works">
        <div class="row">
            <h2 style='color:#333;font-size:30;text-align:center;'>For the first time ever, anyone can earn cash from their posts without any pre-determined requirements!</h2>
            <div class="features-box">
                <div class="col-xs-12 col-sm-4">
                    <h3>Create content for cash</h3>
                    <p>When you create content on Tappyn, everything you create is eligible for a $50 to $100 purchase by a brand. So you'll never have to choose between earning a living and living a life.</p>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <h3>Discover brands tailored for you</h3>
                    <p>It's easy to make money helping brands communicate their message. It's even easier when you're the person they are tring to connect with.</p>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <h3>Let us lead the way</h3>
                    <p>Just read the brief and start creating. Each entry will only take a few minutes to create and only 30 entries are allowed per campaign. You'll get helpful tips and tools to help you earn more.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="love-raw">
        <div class="row">
            <div class="features-box">              
                <h2 style='color:#ff5c00;font-size:30;text-align:center;'>Explore. Create. Earn.</h2>
                <h3 style='color:#333;font-size:20;text-align:center;'>Jump in on live campaigns</h3>
                <div class="col-xs-12 col-sm-4">
                    <img width='250px' height='175px;' src="public/img/works1.png">
                    <h3 style='color:#ff5c00;'>Explore</h3>
                    <p>Find companies that are solving problems you have. They’re actually looking for people to communicate their value in an authentic, original way.</p>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <img width='250px' height='175px;' src="public/img/works3.png">
                    <h3 style='color:#ff5c00;'>Create</h3>
                    <p>Chime in with original content and share it with the community. It won’t take more than 2 minutes to create and entries are capped at 30 per campaign. The community decides what’s hot.</p>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <img width='250px' height='175px;' src="public/img/works4.png">
                    <h3 style='color:#ff5c00;'>Earn</h3>
                    <p>At the end of the campaign, the hosting company will select their favorite entry and pay the winner $50 - $100 cash. Not a bad ROI for a few minutes of creativity.</p>
                </div>
                <div class='col-xs-12 text-center' style='margin-top:15px;'><a href='/contests' class='btn btn-oj btn-lg'>Get Started Now</a></div>
            </div>
        </div>
    </section>
    <div class='row'>
        <section class="contests">
            <div class='col-xs-12 col-sm-10 col-sm-offset-1'>
                <div class='col-xs-12'>
                    <h2 class='text-center' style='color:#ff5c00;font-weight:300;margin-bottom:10px;'>Check out some of our past winners!</h2>
                </div>
                <div class='col-sm-4 col-xs-12'>
                    <div class="contest-box">
                        <span class="contest-price-home">$50</span>
                        <span class='home-industry' style='margin-bottom:15px;'><img style='margin-right:5px;' width='15px' height='15px' src='public/img/travel.png'>Travel</span>
                        <div class='row'>    
                            <div class='col-sm-9 col-xs-12' style='margin-top:25px;'>    
                                <h3>Take the road less traveled. We'll show you the way.</h3>
                                <div class="contest-content">
                                    <span>Mr. Arlo is the best way to discover, collect and organize travel plans that fit your personality and budget</span>
                                    <br>
                                    <span>- Melanie B.</span>
                                </div>
                            </div>
                            <div class='col-sm-3 col-xs-12 text-center' style='margin-top:20px;'>
                                <div style='width:60px;height:60px;border:1px solid #ff5c00;border-radius:40px;background:#ff5c00;margin:auto;'>
                                    <h3 style='color:#fff;margin-top:18px;'>150</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
                <div class='col-sm-4 col-xs-12'>                          
                    <div class="contest-box">
                        <span class="contest-price-home">$50</span>
                        <span class='home-industry' style='margin-bottom:15px;'><img style='margin-right:5px;' width='15px' height='15px' src='public/img/food_beverage.png'>Food & Beverage</span>
                        <div class='row'>     
                            <div class='col-sm-9 col-xs-12' style='margin-top:25px;'>    
                                <h3>We believe your morning brew should be as unique as you.</h3>
                                <div class="contest-content">
                                    <span>VegaCoffee brings you coffee from farm to table.</span>
                                    <br>
                                    <span>- Natalie E.</span>
                                </div>
                            </div>
                            <div class='col-sm-3 col-xs-12 text-center' style='margin-top:20px;'>
                                <div style='width:60px;height:60px;border:1px solid #ff5c00;border-radius:40px;background:#ff5c00;margin:auto;'>
                                    <h3 style='color:#fff;margin-top:18px;'>72</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
                 <div class='col-sm-4 col-xs-12'>          
                    <div class="contest-box">
                        <span class="contest-price-home">$50</span>
                        <span class='home-industry' style='margin-bottom:15px;'><img style='margin-right:5px;' width='15px' height='15px' src='public/img/finance_business.png'>Finance & Business</span>
                        <div class='row'>     
                            <div class='col-sm-9 col-xs-12' style='margin-top:25px;'>    
                                <h3>Marketers on demand, to create demand.</h3>
                                <div class="contest-content">
                                    <span>Get your marketing done professionally with Minds for Hire.</span>
                                    <br>
                                    <span>- Phuong N.</span>
                                </div>
                            </div>
                            <div class='col-sm-3 col-xs-12 text-center' style='margin-top:20px;'>
                                <div style='width:60px;height:60px;border:1px solid #ff5c00;border-radius:40px;background:#ff5c00;margin:auto;'>
                                    <h3 style='color:#fff;margin-top:18px;'>105</h3>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </section>
    </div>
</div>
 <script>
fbq('track', 'PageView');
window.Intercom('update');
ga('set', 'contentGroup1', '<Homepage>');
ga('send', 'pageview');
</script>
