<!-- Hero Banner -->
    <section class="hero-banner">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <div class="hero-content">
                <h1>Tappyn lets you earn extra money</h1>
                <h1>creating short ads about what you love</h1>
               	<div class='text-center'><a class='btn btn-oj btn-lg' style='padding-left: 50px;padding-right: 50px' href ng-click='open_register("default", "")'>Join Tappyn</a></div>
            </div>
        </div>
        <div class="overlay"></div>
    </section>
    <section class="how-it-works">
        <div class="row">
            <h2 style='color:#ff5c00;font-size:30;text-align:center;'>Explore. Post. Profit.</h2>
            <h3 style='color:#333;font-size:20;text-align:center;'>Jump in on daily contests based on your interests!</h3>
            <div class="features-box">
                <div class="col-xs-12 col-sm-4">
                    <img width='250px' height='175px;' src="public/img/works1.png">
                    <h3>Explore</h3>
                    <p>Tell us about yourself and find companies that are solving problems people like you face. New companies are joining daily, so contests are always fresh.</p>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <img width='250px' height='175px;' src="public/img/works3.png">
                    <h3>Post</h3>
                    <p>Chime in with a quick ad. It won't take more than 90 seconds. Entries are capped at 30 per contest and the community decides which ads are hot.</p>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <img width='250px' height='175px;' src="public/img/works4.png">
                    <h3>Profit</h3>
                    <p>At the end of the contest, the hosting company will select their favorite entry and pay the winner $50 cash. Not a bad ROI for two sentences.</p>
                </div>
            </div>
        </div>
    </section>
    <div class='row'>
        <section class="contests">
            <div class='col-xs-12 col-sm-10 col-sm-offset-1'>
                <div class='col-xs-12'>
                    <h2 style='color:#ff5c00;font-weight:300;'>Check out some of our past winners!</h2>
                </div>
                <div class='col-sm-4 col-xs-12'>
                    <div class="contest-box">
                        <span class="contest-price-home">$50</span>
                        <span class='home-industry' style='margin-bottom:15px;'><img style='margin-right:5px;' width='15px' height='15px' src='public/img/travel.png'>Travel</span>
                        <div class='row'>    
                            <div class='col-sm-9 col-xs-12' style='margin-top:25px;'>    
                                <h3>Take the road less traveled. We'll show you the way.</h3>
                                <div class="contest-content">
                                    <span>Mr. Arlo is the best way to discover, collect and organize travel plans that fit your personality and budget</span>
                                    <br>
                                    <span>- Melanie B.</span>
                                </div>
                            </div>
                            <div class='col-sm-3 col-xs-12 text-center' style='margin-top:20px;'>
                                <div style='width:75px;height:75px;border:1px solid #ff5c00;border-radius:40px;background:#ff5c00;margin:auto;'>
                                    <h3 style='color:#fff;margin-top:25px;'>150</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
                <div class='col-sm-4 col-xs-12'>                          
                    <div class="contest-box">
                        <span class="contest-price-home">$50</span>
                        <span class='home-industry' style='margin-bottom:15px;'><img style='margin-right:5px;' width='15px' height='15px' src='public/img/food_beverage.png'>Food & Beverage</span>
                        <div class='row'>     
                            <div class='col-sm-9 col-xs-12' style='margin-top:25px;'>    
                                <h3>We believe your morning brew should be as unique as you.</h3>
                                <div class="contest-content">
                                    <span>VegaCoffee brings you coffee from farm to table.</span>
                                    <br>
                                    <span>- Natalie E.</span>
                                </div>
                            </div>
                            <div class='col-sm-3 col-xs-12 text-center' style='margin-top:20px;'>
                                <div style='width:75px;height:75px;border:1px solid #ff5c00;border-radius:40px;background:#ff5c00;margin:auto;'>
                                    <h3 style='color:#fff;margin-top:25px;'>72</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
                 <div class='col-sm-4 col-xs-12'>          
                    <div class="contest-box">
                        <span class="contest-price-home">$50</span>
                        <span class='home-industry' style='margin-bottom:15px;'><img style='margin-right:5px;' width='15px' height='15px' src='public/img/finance_business.png'>Finance & Business</span>
                        <div class='row'>     
                            <div class='col-sm-9 col-xs-12' style='margin-top:25px;'>    
                                <h3>Marketers on demand, to create demand.</h3>
                                <div class="contest-content">
                                    <span>Get your marketing done professionally with Minds for Hire.</span>
                                    <br>
                                    <span>- Phuong N.</span>
                                </div>
                            </div>
                            <div class='col-sm-3 col-xs-12 text-center' style='margin-top:20px;'>
                                <div style='width:75px;height:75px;border:1px solid #ff5c00;border-radius:40px;background:#ff5c00;margin:auto;'>
                                    <h3 style='color:#fff;margin-top:25px;'>105</h3>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </section>
    </div>
    <section class="love-raw">
        <div class="row">
            <div class="features-box">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <h3 style='color:#ff5c00;'>$300+</h3>
                    <p>Amount won every day</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <h3 style='color:#ff5c00;'>$15,350+</h3>
                    <p>Amount our users have won to date</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <h3 style='color:#ff5c00;'>2.4</h3>
                    <p>The average minutes spent per submission</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <h3 style='color:#ff5c00;'>30</h3>
                    <p>The submission cap on all contests</p>
                </div>
                <d
            </div>
        </div>
    </section>
    <!-- Testimonials
    <section class="testimonials">
        <div class="row">
            <div class='col-sm-10 col-sm-offset-1 col-xs-12'>
                <h2>Coolest Live Contests</h2>
                <div class="col-lg-3 col-sm-4 col-xs-12" ng-repeat='contest in contests'>
                    <div ng-include src="'templates/contests.html'"></div>
                </div>
                <div class='col-xs-12 text-center'><a href='#/contests' class='btn btn-white btn-lg'>See Contests</a></div>
            </div>
        </div>
    </section> -->
    <!-- Raw Info -->
    <section class="raw-info">
        <div class='col-sm-8 col-sm-offset-2 col-xs-12'>
            <h2 class='title'>Get personalized contests delivered
            <br><br>to your inbox weekly.</h2>
            <form class='form' ng-submit="mailing_list(email)">
                <div class='col-sm-8'>
                    <div class='form-group'>
                        <input class='form-control input-lg' ng-model='email' placeholder='Enter your email' type='text'>
                    </div>
                </div>
                <div class='col-sm-4'>
                    <button type='submit' class='col-xs-12 btn btn-oj btn-lg'>Tappyn</button>
                </div>
            </form>
            <div class='col-xs-12'><h2 class='text-center'>No Spam. Ever.</h2></div>
        </div>
    </section>

 <script>
fbq('track', 'PageView');
window.Intercom('update');
</script>
