<div class='wrapper'>
	<div ng-show='tips' class='modal_tips col-xs-12 col-sm-3 col-sm-offset-9' style='background:#333;border-radius:3px;padding:10px;color:#fff;'>
	 	<h3>Tip One</h3>
	 	<h3>Tip Two</h3>
	 	<h3>Tip Three</h3>
	</div>
</div>

<div class='row' style='padding-top:10px'>
	<div class='col-xs-12'>
		<div class='panel' style='margin-bottom:0;'>
			<div class='panel-body'>
				<div class='col-sm-4 col-xs-12' style='padding-top:5px;'>
					<h3 style='margin-top:0px;'><img ng-if='!contest.company.logo_url' style='height:auto;' width='50px' src="public/img/contest-default.jpg">
					<img ng-if='contest.company.logo_url' style='height:auto;' width='50px' ng-src="{{contest.company.logo_url}}">{{contest.company.name}}</h3>
					<div>
		            	<button class='btn btn-sm' ng-class='{"btn-oj" : view.brief, "btn-default" : !view.brief}' ng-click='view_brief()'>Brief</button>
		            	<button class='btn btn-sm' ng-class='{"btn-oj" : view.submissions, "btn-default" : !view.submissions}' ng-click='view_submissions()'>Submissions</button>
		            </div>
				</div>
				<div class='col-sm-4 col-xs-12'  style='padding-top:30px;'>
					<div style='width:100%'>
		            	<uib-progressbar value='contest.submission_count' max='50' type="warning"></uib-progressbar>                
		                <p class="progress-meter-text text-center" style='margin:0px;'>{{50 - (contest.submission_count | number)}} of 50 entries remaining</p>
		            </div>
		        </div>
		        <div class='col-sm-2 col-xs-6 text-right'>
		        	<h1 style='color:#ff6c00'>$50</h1>
		        </div>
		        <div class='col-sm-2 col-xs-6 text-right'>
					<h4 style='margin:0px;margin-top:20px;'>
		            	Ends {{contest.stop_time | untilFilter}}
					</h4>
					<h4>{{contest.views}} Views</h4>
					<h4 style='margin:0px;'>{{contest.platform | capitalize}}</h4>
				</div>	
			</div>
		</div>
	</div>
</div>
<div class='col-xs-12'> <hr style='border: 2px #ff6c00 solid'> </div>
<div ng-show='view.brief' class='row' style='padding-bottom:10px;'>
	<div class='col-xs-12 col-sm-8'>
		<div class='panel'>
			<div class='panel-body'>
				<div class='text-center' style='margin-bottom:5px;' ng-init='indexer = 0'>
					<div class='col-sm-4 col-sm-offset-4 col-xs-12' ng-if='contest.additional_images && contest.additional_images.length > 0'>
						<button class='btn btn-oj btn-sm' ng-disabled='indexer == 0' ng-click='indexer = indexer - 1'><</button>
						<img style='height:auto;' width='150px' ng-src="{{contest.additional_images[indexer]}}">
						<button class='btn btn-oj btn-sm' ng-disabled='indexer == 2' ng-click='indexer = indexer + 1'>></button>
					</div>
				</div>
				<div class='row'>
			        <div class='col-xs-12' style='margin-top:15px'>
						<div class='col-sm-3 col-xs-12'><h4 class='text-left' style='margin:0'>Target Market</h4></div>
			    		<div class='col-sm-9 col-xs-12'>
			    			{{contest.audience}}
			    		</div>
			    	</div>
					<div class='col-xs-12' style='margin-top:15px'>	        	
						<div class='col-sm-3 col-xs-12'><h4 class='text-left' style='margin:0'>What Makes Us Different</h4></div>
			    		<div class='col-sm-9 col-xs-12'>
			    			{{contest.different}}
			    		</div>
			    	</div>
			    	<div class='col-xs-12' style='margin-top:15px' ng-if='contest.emotion'>
						<div class='col-sm-3 col-xs-12'><h4 class='text-left' style='margin:0'>Ad Personality</h4></div>
			    		<div class='col-sm-9 col-xs-12'>
			    			<img ng-src='{{emotion_contest.icon}}' style='margin-right:5px;'  height='25px' width='25px'>{{emotion_contest.adj}} 
			    		</div>
			        </div>
			    </div>
		        <div class='col-xs-12 text-center' style='padding-bottom:20px;padding-top:20px;'>
		            <a ng-if='contest.company.company_url' href='{{contest.company.company_url}}' class='btn btn-oj'  target='_blank'>Website</a>
		    	    <a ng-if='contest.company.facebook_url' href='{{contest.company.facebook_url}}' class='btn btn-oj'  target='_blank'>Facebook</a>
		       	</div>
		    </div>
		</div>
	</div>
	<div class='col-sm-4 col-xs-12'>
		<div class='panel'>
			<div class='panel-body'>
				<div ng-show='!user'>	
					<div class='alert alert-danger text-center'>
						<a href ng-click='open_login("default", "")'>Sign in</a> to see if you're eligible to submit to this contest
					</div>
				</div>
				<div ng-show='user && !user.is_active'>	
					<div class='alert alert-danger text-center'>
						Only verified users can submit to contests, check your email to verify your account, or go to your <a href='#/profile'>profile</a> to resend the email!
					</div>
				</div>
				<div ng-show='user && user.is_active && !contest.user_may_submit'>
					<div class='alert alert-danger text-center'>
						You do not meet the requirements to submit to this contest
					</div>
				</div>
				<div ng-show='user && user.is_active && contest.user_has_submitted'>
					<div class='alert alert-success text-center'>
						You have already submitted to this contest, check out how your submission is doing!
					</div>
				</div>
				<div ng-show='user && user.is_active && contest.user_may_submit && !contest.user_has_submitted'>
					<form class='form' ng-submit='submit_to(contest.id, submit)'>
			 			<h4 style='margin:0px;margin-bottom:20px;'>Create your ad here 
			 			<!--<span class='pull-right' ng-mouseenter='show_tips()' ng-mouseleave='hide_tips()'>Need Help?</span> --></h4>	
			            <div ng-show='form_limit.headline' class='form-group'>
				        	<input class='form-control' maxlength="{{form_limit.headline.limit}}" ng-model='submit.headline' placeholder='{{form_limit.headline.placeholder}}' type='text'>
				        	<div class='input-count'><span ng-if='!submit.headline'>0</span><span ng-if='submit.headline'>{{submit.headline.length}}</span> of {{form_limit.headline.limit}} characters</div>
				        </div>
				        <div ng-show='form_limit.text' class='form-group'>
				        	<textarea class='form-control' maxlength="{{form_limit.text.limit}}" ng-model='submit.text' rows='3' placeholder='{{form_limit.text.placeholder}}'></textarea>
				        	<div class='input-count'><span ng-if='!submit.text'>0</span><span ng-if='submit.text'>{{submit.text.length}}</span> of {{form_limit.text.limit}} characters</div>
				        </div>
				        <div ng-show='form_limit.line_1' class='form-group'>
				        <input class='form-control' maxlength="{{form_limit.line_1.limit}}" ng-model='submit.link_explanation' placeholder='{{form_limit.line_1.placeholder}}' type='text'>
				        	<div class='input-count'><span ng-if='!submit.link_explanation'>0</span><span ng-if='submit.link_explanation'>{{submit.link_explanation.length}}</span> of {{form_limit.line_1.limit}} characters</div>
				        </div>
				        <div ng-show='form_limit.line_2' class='form-group'>
				        	<input class='form-control' maxlength="{{form_limit.line_2.limit}}" ng-model='submit.text' placeholder='{{form_limit.line_2.placeholder}}' type='text'>
				        	<div class='input-count'><span ng-if='!submit.text'>0</span><span ng-if='submit.text'>{{submit.text.length}}</span> of {{form_limit.line_2.limit}} characters</div>
				        </div>
				        <div ng-show='form_limit.card_title' class='form-group'>
				        	<input class='form-control' maxlength="{{form_limit.card_title.limit}}" ng-model='submit.link_explanation' placeholder='{{form_limit.card_title.placeholder}}' type='text'>
				        	<div class='input-count'><span ng-if='!submit.link_explanation'>0</span><span ng-if='submit.link_explanation'>{{submit.link_explanation.length}}</span> of {{form_limit.card_title.limit}} characters</div>
				        </div>
			       		<div class='text-right'>
			        		<button class='btn btn-oj' type='submit'>Submit</button>
			      		</div>
					</form>
			        <div ng-if='!emotion_contest && contest.platform != "general"' class='img-example' style='border-radius:3px;border:1px #ff6c00 solid;'>
				        <img class='img-responsive' ng-if="contest.platform == 'facebook'" src='public/img/fb_submish.png'>
				        <img class='img-responsive' ng-if="contest.platform == 'google'" src='public/img/google_submish.png'>
				        <img class='img-responsive' ng-if="contest.platform == 'twitter'" src='public/img/Twitter_submish.png'>
				    </div>
				    <div ng-if='emotion_contest' class='img-example' style='border-radius:3px;border:1px #ff6c00 solid;'>
				    	<img class='img-responsive' ng-src='{{emotion_contest.example}}'>
				    </div>
				</div>
		   </div>
		</div>
	</div>
</div>

<div ng-show='view.submissions' class='row' style='padding-bottom:10px;'>
	<div class='col-sm-4 hidden-xs'>
		<div ng-if='first_third($index)' ng-mouseenter='submission.hovering = true' ng-mouseleave='submission.hovering = false' class="contest-box row" ng-repeat='submission in submissions'>
			<div class='col-xs-12'>
				<h3 ng-show='form_limit.headline'>{{submission.headline}}</h3>
				<div class="contest-content">
					<span ng-show='form_limit.card_title'>{{submission.link_explanation}}</span>
				    <span ng-show='form_limit.text'>{{submission.text}}</span>
				    <span ng-show='form_limit.line_1'>{{submission.link_explanation}}<br></span>
				    <span ng-show='form_limit.line_2'>{{submission.text}}</span>
				</div>
				<h5 class='text-right' style='color:#ff6c00;'>- {{submission.owner.first_name}} {{submission.owner.last_name | firstChar}}.</h5>
			</div>
			<div ng-click='upvote(submission)' ng-if='submission.user_may_vote' class='upvote-circle' ng-class='{"empty-upvote" : !submission.hover, "filled-upvote" : submission.hover}' ng-mouseenter='submission.hover = true' ng-mouseleave='submission.hover = false'>
	    		<h4 style='margin-top:10px;font-weight:400;' class='text-center'>{{submission.votes | number}}</h4>
	    	</div>
	    	<div ng-if='!submission.user_may_vote' class='upvote-circle filled-upvote'>
	    		<h4 style='margin-top:10px;font-weight:400;' class='text-center'>{{submission.votes | number}}</h4>
	    	</div>
	    	<img src='public/img/fb_f.png' uib-tooltip='Click to share this submission' class='pull-right share_logo' ng-show='submission.hovering' ng-click='share(submission)'>
            <div class="contest-info">
                <h5>
                	<span class='duration' style='position: absolute;left: 3px;bottom: 0;'>
                		{{submission.created_at  | legibleDate}}
                	</span>
               	</h5>
            </div>
        	<!-- Generate a select as winner button if campaign is over and user owns contest -->
			<button ng-disabled='contest.status != "ended"' ng-if='contest.owner == user.id || user.is_admin' ng-click='choose_winner(submission.id)' class='btn btn-oj'>Choose Winner</button>
    	</div>
    </div>
    <div class='col-sm-4 hidden-xs'>
		<div ng-if='second_third($index)' ng-mouseenter='submission.hovering = true' ng-mouseleave='submission.hovering = false' class="contest-box row" ng-repeat='submission in submissions'>
			<div class='col-xs-12'>
				<h3 ng-show='form_limit.headline'>{{submission.headline}}</h3>
				<div class="contest-content">
					<span ng-show='form_limit.card_title'>{{submission.link_explanation}}</span>
				    <span ng-show='form_limit.text'>{{submission.text}}</span>
				    <span ng-show='form_limit.line_1'>{{submission.link_explanation}}<br></span>
				    <span ng-show='form_limit.line_2'>{{submission.text}}</span>
				</div>
				<h5 class='text-right' style='color:#ff6c00;'>- {{submission.owner.first_name}} {{submission.owner.last_name | firstChar}}.</h5>
			</div>
			<div ng-click='upvote(submission)' ng-if='submission.user_may_vote' class='upvote-circle' ng-class='{"empty-upvote" : !submission.hover, "filled-upvote" : submission.hover}' ng-mouseenter='submission.hover = true' ng-mouseleave='submission.hover = false'>
	    		<h4 style='margin-top:10px;font-weight:400;' class='text-center'>{{submission.votes | number}}</h4>
	    	</div>
	    	<div ng-if='!submission.user_may_vote' class='upvote-circle filled-upvote'>
	    		<h4 style='margin-top:10px;font-weight:400;' class='text-center'>{{submission.votes | number}}</h4>
	    	</div>
	    	<img src='public/img/fb_f.png' uib-tooltip='Click to share this submission' class='pull-right share_logo' ng-show='submission.hovering' ng-click='share(submission)'>
            <div class="contest-info">
                <h5>
                	<span class='duration' style='position: absolute;left: 3px;bottom: 0;'>
                		{{submission.created_at  | legibleDate}}
                	</span>
               	</h5>
            </div>
        	<!-- Generate a select as winner button if campaign is over and user owns contest -->
			<button ng-disabled='contest.status != "ended"' ng-if='contest.owner == user.id || user.is_admin' ng-click='choose_winner(submission.id)' class='btn btn-oj'>Choose Winner</button>
    	</div>
    </div>
    <div class='col-sm-4 hidden-xs'>
		<div ng-if='third_third($index)' ng-mouseenter='submission.hovering = true' ng-mouseleave='submission.hovering = false' class="contest-box row" ng-repeat='submission in submissions'>
			<div class='col-xs-12'>
				<h3 ng-show='form_limit.headline'>{{submission.headline}}</h3>
				<div class="contest-content">
					<span ng-show='form_limit.card_title'>{{submission.link_explanation}}</span>
				    <span ng-show='form_limit.text'>{{submission.text}}</span>
				    <span ng-show='form_limit.line_1'>{{submission.link_explanation}}<br></span>
				    <span ng-show='form_limit.line_2'>{{submission.text}}</span>
				</div>
				<h5 class='text-right' style='color:#ff6c00;'>- {{submission.owner.first_name}} {{submission.owner.last_name | firstChar}}.</h5>
			</div>
			<div ng-click='upvote(submission)' ng-if='submission.user_may_vote' class='upvote-circle' ng-class='{"empty-upvote" : !submission.hover, "filled-upvote" : submission.hover}' ng-mouseenter='submission.hover = true' ng-mouseleave='submission.hover = false'>
	    		<h4 style='margin-top:10px;font-weight:400;' class='text-center'>{{submission.votes | number}}</h4>
	    	</div>
	    	<div ng-if='!submission.user_may_vote' class='upvote-circle filled-upvote'>
	    		<h4 style='margin-top:10px;font-weight:400;' class='text-center'>{{submission.votes | number}}</h4>
	    	</div>
	    	<img src='public/img/fb_f.png' uib-tooltip='Click to share this submission' class='pull-right share_logo' ng-show='submission.hovering' ng-click='share(submission)'>
            <div class="contest-info">
                <h5>
                	<span class='duration' style='position: absolute;left: 3px;bottom: 0;'>
                		{{submission.created_at  | legibleDate}}
                	</span>
               	</h5>
            </div>
        	<!-- Generate a select as winner button if campaign is over and user owns contest -->
			<button ng-disabled='contest.status != "ended"' ng-if='contest.owner == user.id || user.is_admin' ng-click='choose_winner(submission.id)' class='btn btn-oj'>Choose Winner</button>
		</div>
    </div>
    <div class='col-xs-12 visible-xs'>
    	<div class="contest-box row" ng-repeat='submission in submissions'>
			<div class='col-xs-12'>
				<h3 ng-show='form_limit.headline'>{{submission.headline}}</h3>
				<div class="contest-content">
					<span ng-show='form_limit.card_title'>{{submission.link_explanation}}</span>
				    <span ng-show='form_limit.text'>{{submission.text}}</span>
				    <span ng-show='form_limit.line_1'>{{submission.link_explanation}}<br></span>
				    <span ng-show='form_limit.line_2'>{{submission.text}}</span>
				</div>
				<h5 class='text-right' style='color:#ff6c00;'>- {{submission.owner.first_name}} {{submission.owner.last_name | firstChar}}.</h5>
			</div>
			<div ng-click='upvote(submission)' ng-if='submission.user_may_vote' class='upvote-circle' ng-class='{"empty-upvote" : !submission.hover, "filled-upvote" : submission.hover}' ng-mouseenter='submission.hover = true' ng-mouseleave='submission.hover = false'>
	    		<h4 style='margin-top:10px;font-weight:400;' class='text-center'>{{submission.votes | number}}</h4>
	    	</div>
	    	<div ng-if='!submission.user_may_vote' class='upvote-circle filled-upvote'>
	    		<h4 style='margin-top:10px;font-weight:400;' class='text-center'>{{submission.votes | number}}</h4>
	    	</div>
	    	<img src='public/img/fb_f.png' uib-tooltip='Click to share this submission' class='pull-right share_logo' ng-click='share(submission)'>
            <div class="contest-info">
                <h5>
                	<span class='duration' style='position: absolute;left: 3px;bottom: 0;'>
                		{{submission.created_at  | legibleDate}}
                	</span>
               	</h5>
            </div>
    	</div>
    </div>
	<h3 class='text-center' ng-if='submissions.length == 0 || !submissions'>This contest has no submissions yet, you could be the first!</h3>
</div>

	

<script>
	fbq('track', 'ViewContent');

	$("#sign-up").click(function(){
		fbq('track', 'Lead');
	});
	$("#fb-login").click(function(){
		fbq('track', 'Lead');
	});
</script>