<div class='wrapper'>
	<div ng-show='tips' class='modal_tips col-xs-12 col-sm-3 col-sm-offset-9' style='background:#333;border-radius:3px;padding:10px;color:#fff;'>
	 	<h3>Tip One</h3>
	 	<h3>Tip Two</h3>
	 	<h3>Tip Three</h3>
	</div>
</div>

<div class='row' style='padding-top:10px'>
	<div class='col-xs-12'>
		<div class='panel' style='margin-bottom:0;'>
			<div class='panel-body'>
				<div class='col-sm-3 col-xs-12' style='padding-top:5px;'>
					<h3 style='margin-top:0px;'><img ng-if='!contest.company.logo_url' style='height:auto;' width='50px' src="public/img/contest-default.jpg">
					<img ng-if='contest.company.logo_url' style='height:auto;' width='50px' src="{{contest.company.logo_url}}">{{contest.company.name}}</h3>
					<div>
		            	<button class='btn btn-sm' ng-class='{"btn-oj" : view.brief, "btn-default" : !view.brief}' ng-click='view_brief()'>Brief</button>
		            	<button class='btn btn-sm' ng-class='{"btn-oj" : view.submissions, "btn-default" : !view.submissions}' ng-click='view_submissions()'>Submissions</button>
		            </div>
				</div>
				<div class='col-sm-3 col-xs-12' style='padding-top:10px;'>
					<h3>Sharing</h3>
					<h4 style='margin:0px;'>Coming soon!</h4>
				</div>
				<div class='col-sm-3 col-xs-12'  style='padding-top:30px;'>
					<div style='width:100%'>
		            	<uib-progressbar value='contest.submission_count' max='50' type="warning"></uib-progressbar>                
		                <p class="progress-meter-text text-center" style='margin:0px;'>{{50 - (contest.submission_count | number)}} of 50 entries remaining</p>
		            </div>
		        </div>
		        <div class='col-sm-1 col-xs-6 text-right'>
		        	<h1 style='color:#ff6c00'>$50</h1>
		        </div>
		        <div class='col-sm-2 col-xs-6 text-right'>
					<h4 style='margin:0px;margin-top:20px;'>
		            	Ends in {{contest.stop_time | untilFilter}}
					</h4>
					<h4>{{contest.views}} Views</h4>
					<h4 style='margin:0px;'>{{contest.platform | capitalize}}</h4>
				</div>	
			</div>
		</div>
	</div>
</div>
<div class='col-xs-12'> <hr style='border: 2px #ff6c00 solid'> </div>
<div ng-show='view.brief' class='row' style='padding-bottom:10px;'>
	<div class='col-xs-12 col-sm-8'>
		<div class='panel'>
			<div class='panel-body'>
				<div class='text-center' style='margin-bottom:5px;' ng-init='indexer = 0'>
					<div class='col-sm-4 col-sm-offset-4 col-xs-12' ng-if='contest.additional_images && contest.additional_images.length > 0'>
						<button class='btn btn-oj btn-sm' ng-disabled='indexer == 0' ng-click='indexer = indexer - 1'><</button>
						<img style='height:auto;' width='150px' src="{{contest.additional_images[indexer]}}">
						<button class='btn btn-oj btn-sm' ng-disabled='indexer == 2' ng-click='indexer = indexer + 1'>></button>
					</div>
				</div>
				<div class='row'>
			        <div class='col-xs-12' style='margin-top:15px'>
						<div class='col-sm-3 col-xs-12'><h4 class='text-left' style='margin:0'>Target Market</h4></div>
			    		<div class='col-sm-9 col-xs-12'>
			    			{{contest.audience}}
			    		</div>
			    	</div>
					<div class='col-xs-12' style='margin-top:15px'>	        	
						<div class='col-sm-3 col-xs-12'><h4 class='text-left' style='margin:0'>What Makes Us Different</h4></div>
			    		<div class='col-sm-9 col-xs-12'>
			    			{{contest.different}}
			    		</div>
			    	</div>
			    	<div class='col-xs-12' style='margin-top:15px'>
						<div class='col-sm-3 col-xs-12'><h4 class='text-left' style='margin:0'>Objective</h4></div>
			    		<div class='col-sm-9 col-xs-12'>
			    			{{contest.objective}}
			    		</div>
			        </div>
			    </div>
		        <div class='col-xs-12 text-center' style='padding-bottom:20px;padding-top:20px;'>
		            <a href='{{contest.company.company_url}}' class='btn btn-oj'  target='_blank'>Website</a>
		    	    <a href='{{contest.company.facebook_url}}' class='btn btn-oj'  target='_blank'>Facebook</a>
		       	</div>
		    </div>
		</div>
	</div>
	<div class='col-sm-4 col-xs-12'>
		<div class='panel'>
			<div class='panel-body'>
				<form class='form' ng-submit='submit_to(contest.id, submit)'>
		 			<h4 style='margin:0px;margin-bottom:20px;'>Create your ad here 
		 			<!--<span class='pull-right' ng-mouseenter='show_tips()' ng-mouseleave='hide_tips()'>Need Help?</span> --></h4>	
		            <div ng-show='contest.platform == "google" || contest.platform == "facebook"' class='form-group'>
			        	<input class='form-control' ng-model='submit.headline' placeholder='*Captivating header capturing what makes this business unique' type='text'>
			        	<div class='input-count'>
			        		<span ng-if='!submit.headline'>0</span><span ng-if='submit.headline'>{{submit.headline.length}}</span> of 25 characters</div>
			        </div>
			        <div class='form-group'>
			        	<textarea class='form-control' ng-model='submit.text' rows='3' placeholder='*Tell what the product will do for the customer in a clear, specific way'></textarea>
			        	<div class='input-count'>
			        		<span ng-if='!submit.headline'>0</span><span ng-if='submit.text'>{{submit.text.length}}</span> of 250 characters</div>
			        </div> 
		       		<div class='text-right'>
		        		<button class='btn btn-oj' type='submit'>Submit</button>
		      		</div>
				</form>
		        <div class='img-example' style='border-radius:3px;border:1px #ff6c00 solid;'>
			        <img class='img-responsive' ng-if="contest.platform == 'facebook'" src='public/img/fb_submish.png'>
			        <img class='img-responsive' ng-if="contest.platform == 'google'" src='public/img/google_submish.png'>
			        <img class='img-responsive' ng-if="contest.platform == 'twitter'" src='public/img/Twitter_submish.png'>
			    </div>
		   </div>
		</div>
	</div>
</div>

<div ng-show='view.submissions' class='row' style='padding-bottom:10px;'>
	<div class='col-md-4 col-sm-6 col-xs-12' ng-repeat='submission in submissions'>
		<div class="contest-box submissions-page hidden-xs">
			<div class='col-xs-12'>
					<h3>{{submission.headline}}</h3>
					<div class="contest-content">
					    <span>{{submission.text}}</span>
					</div>
					<h5 class='text-right' style='color:#ff6c00;'>- {{submission.owner.first_name}} {{submission.owner.last_name | firstChar}}.</h5>
			</div>
			<div style='width:100px;height:40px;position:absolute;right:0px;bottom:0px;'>
	    		<h4 style='position:absolute;right:53;font-weight:400;' class='text-right'>{{submission.votes | number}}</h4>
	        	<img ng-if='!submission.user_may_vote' style='width:45px;height:45px;position:absolute;right:3px;bottom:2px;' src='public/img/filled.png'>
	        	<img ng-click='upvote(submission)' ng-if='submission.user_may_vote' style='width:45px;height:45px;position:absolute;right:3px;bottom:2px;' src='{{submission.heart}}' ng-init='submission.heart = "public/img/empty.png"' ng-mouseover='submission.heart = "public/img/filled.png"' ng-mouseleave='submission.heart = "public/img/empty.png"'>
	        </div>
            <div class="contest-info">
                <h5>
                	<span class='duration' style='position: absolute;left: 3px;bottom: 0;'>
                		{{submission.created_at  | legibleDate}}
                	</span>
               	</h5>
            </div>
        	<!-- Generate a select as winner button if campaign is over and user owns contest -->
			<button ng-disabled='' ng-if='contest.owner == user.id || user.is_admin' ng-click='choose_winner(submission.id)' class='btn btn-oj btn-lg'>Choose Winner</button>
    	</div>
    	<div class="contest-box submissions-page-mobile visible-xs">
			<div class='col-xs-12'>
					<h3>{{submission.headline}}</h3>
					<div class="contest-content">
					    <span>{{submission.text}}</span>
					</div>
					<h5 class='text-right' style='color:#ff6c00;'>- {{submission.owner.first_name}} {{submission.owner.last_name | firstChar}}.</h5>
			</div>
			<div style='width:100px;height:40px;position:absolute;right:0px;bottom:0px;'>
	    		<h4 style='position:absolute;right:53;font-weight:400;' class='text-right'>{{submission.votes | number}}</h4>
	        	<img ng-if='!submission.user_may_vote' style='width:45px;height:45px;position:absolute;right:3px;bottom:2px;' src='public/img/filled.png'>
	        	<img ng-click='upvote(submission)' ng-if='submission.user_may_vote' style='width:45px;height:45px;position:absolute;right:3px;bottom:2px;' src='{{submission.heart}}' ng-init='submission.heart = "public/img/empty.png"' ng-mouseover='submission.heart = "public/img/filled.png"' ng-mouseleave='submission.heart = "public/img/empty.png"'>
	        </div>
            <div class="contest-info">
                <h5>
                	<span class='duration' style='position: absolute;left: 3px;bottom: 0;'>
                		{{submission.created_at  | legibleDate}}
                	</span>
               	</h5>
            </div>
    	</div>
		<h3 class='text-center' ng-if='submissions.length == 0 || !submissions'>This contest has no submissions yet, you could be the first!</h3>
	</div>
</div>
	

<script>
	fbq('track', 'ViewContent');

	$("#sign-up").click(function(){
		fbq('track', 'Lead');
	});
	$("#fb-login").click(function(){
		fbq('track', 'Lead');
	});
</script>