<div class='row' style='padding-top:10px'>
	<div class='col-xs-12'>
		<div class='panel' style='margin-bottom:0;'>
			<div class='panel-body'>
				<div class='col-sm-3 col-xs-12' style='padding-top:10px;'>
					<h3>{{contest.title}}</h3>
					<div>
		            	<a class='btn btn-oj btn-sm' href="#/contests/{{contest.id}}" aria-selected='true'>Brief</a>
		            	<a class='btn btn-default btn-sm' href="#/submissions/{{contest.id}}">Submissions</a>
		            </div>
				</div>
				<div class='col-sm-3 col-xs-12' style='padding-top:10px;'>
					<h3>Sharing</h3>
					<h4 style='margin:0px;'>Coming soon!</h4>
				</div>
				<div class='col-sm-3 col-xs-12'  style='padding-top:30px;'>
					<div style='width:100%'>
		            	<uib-progressbar value='contest.submission_count' max='50' type="warning"></uib-progressbar>                
		                <p class="progress-meter-text text-center" style='margin:0px;'>{{50 - (contest.submission_count | number)}} of 50 entries remaining</p>
		            </div>
		        </div>
		        <div class='col-sm-1 col-xs-6 text-right'>
		        	<h1 style='color:#ff6c00'>$50</h1>
		        </div>
		        <div class='col-sm-2 col-xs-6 text-right'>
					<h4 style='margin:0px;margin-top:20px;'>
		            	Ends in {{contest.stop_time | untilFilter}}
					</h4>
					<h4>{{contest.views}} Views</h4>
					<h4 style='margin:0px;'>{{contest.platform | capitalize}}</h4>
				</div>	
			</div>
		</div>
	</div>
</div>
<div class='col-xs-12'> <hr style='border: 2px #ff6c00 solid'> </div>
<div class='row' style='padding-bottom:10px;'>
	<div class='col-xs-12 col-sm-8'>
		<div class='panel'>
			<div class='panel-body'>
				<div class='text-center' style='margin-bottom:5px;'>
					<img ng-if='!contest.company.logo_url' style='height:auto;' width='150px' src="public/img/contest-default.jpg">
					<img ng-if='contest.company.logo_url' style='height:auto;' width='150px' src="{{contest.company.logo_url}}">
				</div>
		        <div style='width:100%'>
					<div class='col-sm-3 col-xs-12'><h4 class='text-left' style='margin:0'>Target Market</h4></div>
		    		<div class='col-sm-9 col-xs-12'>
		    			{{contest.audience}}
		    		</div>
		    	</div>
				<div style='width:100%'>	        	
					<div class='col-sm-3 col-xs-12'><h4 class='text-left' style='margin:0'>What Makes Us Different</h4></div>
		    		<div class='col-sm-9 col-xs-12'>
		    			{{contest.different}}
		    		</div>
		    	</div>
		    	<div style='width:100%'>
					<div class='col-sm-3 col-xs-12'><h4 class='text-left' style='margin:0'>Objective</h4></div>
		    		<div class='col-sm-9 col-xs-12'>
		    			{{contest.objective}}
		    		</div>
		        </div>
		        <div class='col-xs-12 text-center' style='padding-bottom:20px;padding-top:20px;'>
		            <a href='{{contest.company.company_url}}' class='btn btn-oj'  target='_blank'>Website</a>
		    	    <a href='{{contest.company.facebook_url}}' class='btn btn-oj'  target='_blank'>Facebook</a>
		       	</div>
		    </div>
		</div>
	</div>
	<div class='col-sm-4 col-xs-12'>
		<div class='panel'>
			<div class='panel-body'>
				<form class='form' ng-submit='submit_to(contest.id, submit)'>
		 			<h4 style='margin:0px;margin-bottom:20px;'>Create your ad here</h4>	
		            <div ng-show='contest.platform == "google" || contest.platform == "facebook"' class='form-group'>
			        	<input class='form-control' ng-model='submit.headline' placeholder='*Captivating header capturing what makes this business unique' type='text'>
			        	<div class='input-count'>
			        		<span ng-if='!submit.headline'>0</span><span ng-if='submit.headline'>{{submit.headline.length}}</span> of 25 characters</div>
			        </div>
			        <div class='form-group'>
			        	<textarea class='form-control' ng-model='submit.text' rows='3' placeholder='*Tell what the product will do for the customer in a clear, specific way'></textarea>
			        	<div class='input-count'>
			        		<span ng-if='!submit.headline'>0</span><span ng-if='submit.text'>{{submit.text.length}}</span> of 250 characters</div>
			        </div> 
		       		<div class='text-right'>
		        		<button class='btn btn-oj' type='submit'>Submit</button>
		      		</div>
				</form>
		        <div class='img-example' style='border-radius:3px;border:1px #ff6c00 solid;'>
			        <img class='img-responsive' ng-if="contest.platform == 'facebook'" src='public/img/fb_submish.png'>
			        <img class='img-responsive' ng-if="contest.platform == 'google'" src='public/img/google_submish.png'>
			        <img class='img-responsive' ng-if="contest.platform == 'twitter'" src='public/img/Twitter_submish.png'>
			    </div>
		   </div>
		</div>
	</div>
</div>
	

<script>
	fbq('track', 'ViewContent');

	$("#sign-up").click(function(){
		fbq('track', 'Lead');
	});
	$("#fb-login").click(function(){
		fbq('track', 'Lead');
	});
</script>