<div class='wrapper'>
    <div class='modal_actions col-xs-12' ng-show='company_login'>
        <div class='modal_inner col-xs-12 col-sm-7 col-md-5 col-lg-4 text-center'>
            <div class='close_circle' ng-click='close_company_login()'>x</div>
            <img src="public/img/beta_logo.png" width='200' style='margin-bottom:20px;'>
            <div ng-show='!forgot'>
                <form class='form' ng-submit="launch_log_in(identity, password)">
                    <div class='form-group'>
                        <input class='form-control' ng-model='identity' placeholder='Email'>
                    </div>
                    <div class='form-group'>
                        <input class='form-control' ng-model='password' placeholder='Password' type='password'>
                    </div>
                    <button class='col-xs-12 btn btn-oj btn-lg' type='submit'>Login</button>
                    <div class='modal_link'>
                        <a class='pull-right' ng-click='forgot = true'>Forgot Password?</a>
                    </div>
                </form>
            </div>
            <form ng-show='forgot' class='form' ng-submit="forgot_pass(identity)">
                <h3 class='text-center'>Forgot Password</h3>
                <div class='form-group'>
                    <input class='form-control' ng-model='identity' placeholder="Enter your email">
                </div>
                <button class='col-xs-12 btn btn-oj btn-lg' type='submit'>Send me an email</button>
                <div class='modal_link'>
                    <a class='pull-right' ng-click='forgot = false'>I remember it!</a>
                </div>
            </form>
        </div>
    </div>
</div>
<div style='background: white; margin-bottom: 40px; padding: 10px 0;'>
    <div class='container'>
        <div class='col-xs-12 col-sm-6 text-left'>
            <div ng-show='current.step == "tp-prior"' style="padding-top:25px;">
                <h2 style="font-weight:400;">Who is your target audience?</h2>
                <h4>Let's start by identifying who you plan on connecting with.</h4>
            </div>
            <div ng-show='current.step == "detail"' style="padding-top:25px;">
                <h2 style="font-weight:400;">Your brand profile.</h2>
                <h4>Based on how you describe yourself, creators will know what to emphasize.</h4>
            </div>
            <div ng-show='current.step == "preview"' style="padding-top:25px;">
                <h2 style="font-weight:400;">Your campaign preview.</h2>
                <h4>Please read over your details, and make sure everything looks the way you like.</h4>
            </div>
            <div ng-show='current.step == "chose-plan"' style="padding-top:25px;">
                <h2 style="font-weight:400;">You're almost there.</h2>
                <h4>All packages come with a 100% money back guarantee and full copyright ownership of the final ad.</h4>
            </div>
            <div ng-show='current.step == "done"' style="padding-top:25px;">
                <h2 style="font-weight:400;">Congratulations!</h2>
                <h4>We just launched your campaign.</h4>
            </div>
        </div>
        <div ng-show="current.step == 'chose-plan' || current.step == 'preview'" class="hidden-xs col-sm-3">
            <center><span class="glyphicon glyphicon-ok" style="font-size:28px;color:#019f6e;padding-bottom:10px;"></span>
                <p>
                    <small>
                    Fully Refundable.<br>
                    You don't like it?<br>
                    You don't pay for it.<br>
                    Period.
                </small>
                </p>
            </center>
        </div>
        <div ng-show="current.step == 'chose-plan' || current.step == 'preview'" class="hidden-xs col-sm-3" style="border:1px solid #333;border-radius:3px;">
            <h4 class="text-center" style="font-size:16px;color:#333;font-weight:400;">Order Summary</h4>
            <ul style="padding-right:20px;padding-left:5px;">
                <li style="font-size:14px;color:#333;font-weight:300;">Copy (30)<span class="pull-right">$44.99</span></li>
                <li style="font-size:14px;color:#333;font-weight:300;">Testing <span class="pull-right">$15.00</span></li>
                <li ng-show="contest.chosen_creative == false" style="font-size:14px;color:#333;font-weight:300;">Photo (30)<span class="pull-right">$90.00</span></li>
                <hr style="margin: 5 0 5 0 !important;border-top:1px solid #333;">
                <li style="font-size:16px;color:#333;">Order Total:
                    <span ng-if="contest.chosen_creative == true" class="pull-right">$59.99</span>
                    <span ng-if="contest.chosen_creative == false" class="pull-right">$149.99</span>
                </li>
            </ul>
        </div>
        <div class="col-xs-12">
            <uib-progress class='tp-progress-steps'>
                <uib-bar value='steps["tp-prior"].fill' type='{{ current.fill >= steps["tp-prior"].fill ? "warning" : "success" }}'></uib-bar>
                <uib-bar value='steps["detail"].fill' type='{{ current.fill >= steps["detail"].fill ? "warning" : "success" }}'></uib-bar>
                <uib-bar value='steps["preview"].fill' type='{{ current.fill >= steps["preview"].fill ? "warning" : "success" }}'></uib-bar>
                <uib-bar type='{{ current.fill >= steps["done"].fill ? "warning" : "success" }}' style='width:100%!important;'></uib-bar>
            </uib-progress>
        </div>
    </div>
</div>
<div class='container'>
    <div ng-show='current.step == "tp-prior"' id='tp-prior' class="col-xs-12" style="padding-bottom:200px;">
        <div class="row">
            <label uib-tooltip="Select the media platform where your ad will be shown. This also determines the format." class='text-left col-sm-2' style="padding-top:0px;font-size:20px;">Platform
                <span class="glyphicon glyphicon-info-sign hidden-xs hidden-sm" style="font-size:10px;position:relative;top:-10px;"></span>
            </label>
            <div class="col-sm-10">
                <div ng-class='{"package-highlight" : contest.platform == "facebook"}' class='launch-page-btn' ng-click='select_platform("facebook")'>
                    <img src="public/img/ico-facebook.svg">
                    <h4 class='text-center' style="cursor:default;">Facebook</h4>
                </div>
                <div ng-class='{"package-highlight" : contest.platform == "twitter"}' class='launch-page-btn' ng-click='select_platform("twitter")'>
                    <img src="public/img/ico-twitter.svg">
                    <h4 class='text-center' style="cursor:default;">Twitter</h4>
                </div>
                <div ng-class='{"package-highlight" : contest.platform == "instagram"}' class='launch-page-btn' ng-click='select_platform("instagram")'>
                    <img src="public/img/ico-insta.svg">
                    <h4 class='text-center' style="cursor:default;">Instagram</h4>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top:40px;">
            <label uib-tooltip="Define who you'd like to create your ads and who you want to see them." class='text-left col-sm-2' style="padding-top:0px;font-size:20px;cursor:default;">Audience
                <span class="glyphicon glyphicon-info-sign hidden-xs hidden-sm" style="font-size:10px;position:relative;top:-10px;"></span>
            </label>
            <div class="col-sm-10">
                <form class="form-inline ng-pristine ng-valid" role="form">
                    <div class="form-group col-xs-12 col-sm-6 col-md-3" style="padding-left: 0;">
                        <label class='text-left target-label' style="padding-top:0px;">Creator Targeting</label>
                        <!--<h4 style="font-size:14px;"><strong>Define your audience by including interests</strong></h4>-->
                        <select class='form-control interest-selection-launch-view bind-select2' ng-model='contest.industry' multiple="multiple" style='width: 100%;'>
                            <option ng-repeat="(_key,_value) in industries" ng-value="_key">{{_value}}</option>
                        </select>
                    </div>
                    <div class="form-group col-xs-12 col-sm-6 col-md-3">
                        <label ng-init='contest.min_age=18;contest.max_age=45' class='text-left col-xs-12 target-label' style="padding-top:0px;">Age</label>
                        <!--<h4><strong>Select the minimum and maximum age of the people who will find your campaign relevant</strong></h4>-->
                        <div class='pull-left'>
                            <select class='form-control' ng-model='contest.min_age' ng-options='number as number for number in ages' type='text'>
                                <option value=''>Min Age</option>
                            </select>
                        </div>
                        <h4 class='text-center pull-left' style='padding: 0 10px;'> - </h4>
                        <div class='pull-left'>
                            <select class='form-control' ng-model='contest.max_age' ng-options='number as number for number in ages' type='text'>
                                <option value=''>Max Age</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-6 col-md-3" style="padding-left:0;padding-right:0;">
                        <label ng-init='contest.gender = 0' class='text-left target-label'>Gender</label>
                        <!--<h4><strong>Choose "All" unless you only want your campaign to be shown to a specific gender</strong></h4>-->
                        <div class='btn-group-sm' data-toggle="buttons" ng-init='contest.gender = 0'>
                             <label class="btn" ng-click="contest.gender = 0" ng-class='{"btn-jj" : contest.gender == 0, "btn-jh" : contest.gender != 0}' style="cursor:default;">
                                <input type='radio' ng-model='contest.gender' value='0'> All Genders
                            </label>
                            <label class="btn" ng-click="contest.gender = 1" ng-class='{"btn-jj" : contest.gender == 1, "btn-jh" : contest.gender != 1}' style="cursor:default;">
                                <input type='radio' ng-model='contest.gender' value='1'> Men
                            </label>
                            <label class="btn" ng-click="contest.gender = 2" ng-class='{"btn-jj" : contest.gender == 2, "btn-jh" : contest.gender != 2}' style="cursor:default;">
                                <input type='radio' ng-model='contest.gender' value='2'> Women
                            </label>
                        </div>
                    </div>
                    <div class='form-group col-xs-12 col-sm-6 col-md-3'>
                        <label class='text-left target-label' style="padding-top:1px;">Locations</label>
                        <!--<h4 style="font-size:14px;"><strong>Enter one or more states to show your campaign to people in those locations</strong></h4>-->
                        <select ng-init="contest.location = locations[0]" ng-model="contest.location" class='form-control location-selection-launch-view bind-select2' multiple="multiple" style="width:100%;">
                            <option ng-repeat="(_key,_value) in locations" ng-value="_key">{{_value}}</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
        <div class="row" style="padding-top:40px;">
            <label uib-tooltip="Define the type of metric that is most important to you." class='text-left col-sm-2' style="padding-top:0px;font-size:20px;cursor:default;">Priority
                <span class="glyphicon glyphicon-info-sign hidden-xs hidden-sm" style="font-size:10px;position:relative;top:-10px;"></span>
            </label>
            <div class="col-sm-10">
                <div ng-class='{"package-highlight" : contest.objective == "Price"}' class='launch-page-btn' ng-click='select_objective("Price")' style="cursor:default;">
                    <span class="glyphicon glyphicon-search" style="font-size: 20px;position: relative;top: 10;right: 10;color: #8E8E8E;"></span>
                    <h4 class="text-center" style="float:none;display:inline-block;position:relative;left:10px;">Price</h4>
                    <p class="text-center" style="float:none;margin:0px;font-weight:200;position:relative;left:15px;">(Cost Per Click)</p>
                </div>
                <div ng-class='{"package-highlight" : contest.objective == "Quality"}' class='launch-page-btn' ng-click='select_objective("Quality")' style="cursor:default;">
                    <span class="glyphicon glyphicon-globe" style="font-size: 20px;position: relative;top: 10;right: 10;color: #8E8E8E;"></span>
                    <h4 class="text-center" style="float:none;display:inline-block;position:relative;left:10px;">Quality</h4>
                    <p class="text-center" style="float:none;margin:0px;font-weight:200;position:relative;left:10px;">(Click Through Rate)</p>
                </div>
                <div ng-class='{"package-highlight" : contest.objective == "Awareness"}' class='launch-page-btn' ng-click='select_objective("Awareness")' style="cursor:default;">
                    <span class="glyphicon glyphicon-comment" style="font-size: 20px;position: relative;top: 10;right: 10;color: #8E8E8E;"></span>
                    <h4 class="text-center" style="float:none;display:inline-block;"> Awareness</h4>
                    <p class="text-center" style="float:none;margin:0px;font-weight:200;position:relative;left:10px;">(Views)</p>
                </div>
            </div>
        </div>
        <!--<div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-2">
                <p style="font-size:12px;"><small>Learn about campaign priorities <a href="/priority" style="cursor:pointer;" target="_blank">here</a>.</small></p>
            </div>
        </div>-->
        <div class='row' style="padding-top:40px;">
            <div style="padding-bottom:20px;padding-left:10px;">
                <button class="btn-sm btn btn-secondary" ng-click="showOptions = !showOptions">More Options</button>
            </div>
            <div ng-show="showOptions">
                <label uib-tooltip="If there's a specific tone, style, or content you're looking for, let our creators know." class='text-left col-sm-2' style="padding-top:0px;font-size:20px;">Copy Direction
                    <span class="glyphicon glyphicon-info-sign hidden-xs hidden-sm" style="font-size:10px;position:relative;top:-10px;"></span>
                </label>
                <div class="col-sm-10 col-md-5">
                    <div class="form-group">
                        <textarea class='form-control' ng-model='contest.additional_info' placeholder="i.e., Use a sense of humour, and have fun explaining how other alternatives fall short." rows="4" maxlength="250">
                        </textarea>
                        <div class='input-count'><span ng-if='!contest.additional_info'>0</span><span ng-if='contest.additional_info'>{{contest.additional_info.length}}</span> of 250 characters</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div ng-show='current.step == "detail"'>
    <div class='form-forizontal'>
        <div class="row" ng-show='!user'>
            <label class='text-left col-sm-3 control-label' ng-init="contest.additional_info_box=1">Company Profile</label>
            <div class="col-sm-9">
                <div class="form-group">
                    <!--<a class='text-center pull-right' style='color:#333;cursor:pointer;' ng-click='open_company_login()'>Already have an account? Log in now!</a>-->
                    <!--<h4><strong>Create New Business Account</strong></h4>-->
                    <h4>Company Email</h4>
                    <input class='form-control' ng-model='contest.identity' placeholder='Company Email' type='email' style="max-width:50%;">
                </div>
                <div class="form-group">
                    <h4>Password</h4>
                    <input class='form-control' ng-model='contest.password' placeholder='Password' type='password' style="max-width:50%;">
                </div>
                <div class="form-group">
                    <h4>Company Name</h4>
                    <input class='form-control' ng-model='contest.name' placeholder='Company Name' type='text' style="max-width:50%;">
                </div>
                <div class="form-group">
                    <h4>Company Logo</h4>
                    <input ng-file-select='select_logo($files, contest)' type='file' required>
                </div>
                <div class='form-group'>
                    <img class='img-responsive' ng-src='{{contest.logo_url}}' style="max-height:100px;">
                </div>
                <div class="form-group">
                    <h4>Company Website</h4>
                    <input class='form-control' ng-model='contest.company_url' placeholder='This is where traffic will be directed to.' type='text' style="max-width:50%;">
                </div>
            </div>
        </div>
        <div class="row" style="padding-bottom:200px;">
            <label class='text-left col-sm-3 control-label' ng-init="contest.additional_info_box=1">Product/Service</label>
            <div class="col-sm-9">
                <div class="form-group">
                    <h4>Summary of product or service</h4>
                    <textarea class='form-control' rows='4' ng-model='contest.summary' placeholder='i.e., We sell machine parts to corn farmers in the Mid West.' style="max-width:70%;" maxlength="250"></textarea>
                    <div class='input-count' style="max-width:70%;"><span ng-if='!contest.summary'>0</span><span ng-if='contest.summary'>{{contest.summary.length}}</span> of 250 characters</div>
                    <p class='launch-page-message' style="font-size:12px;"><strong>Tip:</strong> This short summary will be the first thing our users will see about your company. The more interesting, the better!</p>
                </div>
                <div class="form-group">
                    <h4>Describe what makes you different (and better) than your competition.</h4>
                    <textarea class='form-control' rows='4' ng-model='contest.different' placeholder='i.e., For every good purchase we donate the same industrial part to a developing country.' style="max-width:70%;" maxlength="250"></textarea>
                    <div class='input-count' style="max-width:70%;"><span ng-if='!contest.different'>0</span><span ng-if='contest.different'>{{contest.different.length}}</span> of 250 characters</div>
                    <p class='launch-page-message' style="font-size:12px;">Tip: Be as clear and definitive as possible to allow for the best ads.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-show='current.step == "preview"'>
    <div class='row'>
        <div class='col-xs-12' style="padding-bottom:200px;">
            <div class="col-xs-8 col-xs-offset-2">
                <div class='launch-page-box launch-preview'>
                    <div class='row row-preview1'>
                        <h3 class='col-sm-3 col-xs-12' style="font-size: 1.17em;font-weight:400;">Target Interest:</h3>
                        <div class="col-sm-9 col-xs-12">
                            <p><span ng-repeat="_interest in contest.industry">{{industries[_interest]}}</span></p>
                        </div>
                    </div>
                    <hr>
                    <div class='row row-preview2'>
                        <h3 class='col-sm-3 col-xs-12' style="font-size: 1.17em;font-weight:400;">Target Audience:</h3>
                        <div class="col-sm-9 col-xs-12">
                            <p>
                                <span>{{contest.min_age}}-{{contest.max_age}}</span>
                                <span ng-switch on="contest.gender">
                                    <span ng-switch-when="1"> Men</span>
                                <span ng-switch-when="2"> Women</span>
                                <span ng-switch-default> Men and Women</span>
                                </span>
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div class='row row-preview2'>
                        <h3 class='col-sm-3 col-xs-12' style="font-size: 1.17em;font-weight:400;">Target Location:</h3>
                        <div class="col-sm-9 col-xs-12">
                            <p>{{contest.location_box.text}}</p>
                            <p><span ng-repeat="_location in contest.location">{{locations[_location]}}</span></p>
                        </div>
                    </div>
                    <hr>
                    <div class='row row-preview2'>
                        <h3 class='col-sm-3 col-xs-12' style="font-size: 1.17em;font-weight:400;">Platform:</h3>
                        <div class="col-sm-9 col-xs-12">
                            <p>{{contest.platform}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class='row row-preview2'>
                        <h3 class='col-sm-3 col-xs-12' style="font-size: 1.17em;font-weight:400;">Priority:</h3>
                        <div class="col-sm-9 col-xs-12">
                            <p>{{contest.objective}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class='row row-preview2'>
                        <h3 class='col-sm-3 col-xs-12' style="font-size: 1.17em;font-weight:400;">Ad Photo:</h3>
                        <div class="col-sm-9 col-xs-12">
                            <div ng-show="contest.photo">
                                <div class="docs-preview" ng-class='{"preview-ig" : contest.platform == "instagram", "preview-fb" : contest.platform != "instagram", "preview-tw" : contest.platform == "twitter"}'>
                                    <div class="img-preview">
                                        <img ng-if="contest.photo && contest.photo!='use_attachment'" ng-src="{{contest.photo}}">
                                        <img ng-if="contest.photo && contest.photo=='use_attachment'" ng-src="{{contest.attachment}}">
                                    </div>
                                </div>
                            </div>
                            <p ng-hide="contest.photo">
                                Included in campaign
                            </p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-show='current.step == "chose-plan"' style="padding-bottom:120px;">
    <div class='col-xs-12 col-sm-8 col-sm-offset-1 text-center'>
        <table class="table table-condensed" style='border-radius:5px;'>
            <thead>
                <tr>
                    <td class="text-center" style="font-size:22px;background:#EBEEF0;max-width:50px;"></td>
                    <td class="text-center" style="font-size:22px;background:#EBEEF0;max-width:100px;"></td>
                    <td class="text-center" style="font-size:22px;background:#EBEEF0;max-width:100px;">
                        <center>
                            <img src="https://s3-us-west-2.amazonaws.com/tappyn/rec.jpg" width=150px height=35px; style="display:block;margin-bottom:0px;" alt="Fabel Recommended">
                        </center>
                    </td>
                    <td class="text-center" style="font-size:22px;background:#EBEEF0;max-width:100px;"></td>
                </tr>
                <tr>
                    <td class="text-left" style="font-size:22px;background:#EBEEF0;max-width:50px;"></td>
                    <td class="text-left" style="font-size:22px;background:#06883F;color:#fff;font-weight:300;width:200px;">Basic</td>
                    <td class="text-left" style="font-size:22px;background:#019F6E;color:#fff;font-weight:300;width:200px;">Premium</td>
                    <td class="text-left" style="font-size:22px;background:#018880;color:#fff;font-weight:300;width:200px;">Platinum</td>
                </tr>
            </thead>
            <tr>
                <td class="text-center" style="background:#EBEEF0;color:#333;width:200px;">
                </td>
                <td style="background:#06883F;color:#fff;width:200px;">
                    <p>
                        <span style="font-size:16px;font-weight:300;">Creative copies on a budget</span>
                        <br>
                        <center>
                        <span style="font-size:32px;font-weight:300;">$59</span>
                        </center>
                    </p>
                </td>
                <td style="background:#019F6E;color:#fff;width:200px;">
                    <p>
                        <span style="font-size:16px;font-weight:300;">High conversion rates</span>
                        <br>
                        <center>
                        <span style="font-size:32px;font-weight:300;">$149</span>
                        </center>
                    </p>
                </td>
                <td style="background:#018880;color:#fff;width:200px;">
                    <p>
                        <span style="font-size:16px;font-weight:300;">Expert level conversion rates</span>
                        <br>
                        <center>
                        <span style="font-size:32px;font-weight:300;">$519</span>
                        </center>
                    </p>
                </td>
            </tr>
            <tr>
                <td class="text-right" style="background:#EBEEF0;color:#333;max-width:50px;">
                    <label uib-tooltip="Every package includes the ability to target our creator base to source advertisements from specific demographics.">
                        <p style="display:inline;">Creator Targeting</p>
                        <span class="glyphicon glyphicon-info-sign hidden-xs hidden-sm" style="font-size:10px;position:relative;"></span>
                    </label>
                </td>
                <td class="text-center" style="background:#06A54B;color:#fff;max-width:100px;"><span class="glyphicon glyphicon-ok" style="font-size:22px;color:#fff;"></span></td>
                <td class="text-center" style="background:#01BA7F;color:#fff;max-width:100px;"><span class="glyphicon glyphicon-ok" style="font-size:22px;color:#fff;"></span></td>
                <td class="text-center" style="background:#01A398;color:#fff;max-width:100px;"><span class="glyphicon glyphicon-ok" style="font-size:22px;color:#fff;"></span></td>
            </tr>
            <tr>
                <td class="text-right" style="background:#EBEEF0;color:#333;max-width:50px;">
                    <label uib-tooltip="Never worry how an advertisement will perform again. We test the ones you like to show real results. $15 is included in each package, but you have the option to increase this amount if you like.">
                        <p style="display:inline;">A/B Testing ($15 Included)</p>
                        <span class="glyphicon glyphicon-info-sign hidden-xs hidden-sm" style="font-size:10px;position:relative;"></span>
                    </label>
                </td>
                <td class="text-center" style="background:#06883F;color:#fff;max-width:100px;"><span class="glyphicon glyphicon-ok" style="font-size:22px;color:#fff;"></span></td>
                <td class="text-center" style="background:#019F6E;color:#fff;max-width:100px;"><span class="glyphicon glyphicon-ok" style="font-size:22px;color:#fff;"></span></td>
                <td class="text-center" style="background:#018880;color:#fff;max-width:100px;"><span class="glyphicon glyphicon-ok" style="font-size:22px;color:#fff;"></span></td>
            </tr>
            <tr>
                <td class="text-right" style="background:#EBEEF0;color:#333;max-width:50px;">
                    <label uib-tooltip="Receive original, authentic copies from the people you plan on connecting with based on the most compelling aspects of your business. ">
                        <p style="display:inline;">Copies (30)</p>
                        <span class="glyphicon glyphicon-info-sign hidden-xs hidden-sm" style="font-size:10px;position:relative;"></span>
                    </label>
                </td>
                <td class="text-center" style="background:#06A54B;color:#fff;max-width:100px;"><span class="glyphicon glyphicon-ok" style="font-size:22px;color:#fff;"></span></td>
                <td class="text-center" style="background:#01BA7F;color:#fff;max-width:100px;"><span class="glyphicon glyphicon-ok" style="font-size:22px;color:#fff;"></span></td>
                <td class="text-center" style="background:#01A398;color:#fff;max-width:100px;"><span class="glyphicon glyphicon-ok" style="font-size:22px;color:#fff;"></span></td>
            </tr>
            <tr>
                <td class="text-right" style="background:#EBEEF0;color:#333;max-width:50px;">
                    <label uib-tooltip="Receive original, authentic photos from the people you plan on connecting with based on what they would respond to.">
                        <p style="display:inline;">Photos (30)</p>
                        <span class="glyphicon glyphicon-info-sign hidden-xs hidden-sm" style="font-size:10px;position:relative;"></span>
                    </label>
                </td>
                <td class="text-center" style="background:#06883F;color:#fff;max-width:100px;"></td>
                <td class="text-center" style="background:#019F6E;color:#fff;max-width:100px;"><span class="glyphicon glyphicon-ok" style="font-size:22px;color:#fff;"></span></td>
                <td class="text-center" style="background:#018880;color:#fff;max-width:100px;"><span class="glyphicon glyphicon-ok" style="font-size:22px;color:#fff;"></span></td>
            </tr>
            <tr>
                <td class="text-right" style="background:#EBEEF0;color:#333;max-width:50px;">
                    <label uib-tooltip="Receive original, authentic videos from the people you plan on connecting with based on situations where they would encounter your businesss.">
                        <p style="display:inline;">Videos (30)</p>
                        <span class="glyphicon glyphicon-info-sign hidden-xs hidden-sm" style="font-size:10px;position:relative;"></span>
                    </label>
                </td>
                <td class="text-center" style="background:#06A54B;color:#fff;max-width:100px;"></td>
                <td class="text-center" style="background:#01BA7F;color:#fff;max-width:100px;"></td>
                <td class="text-center" style="background:#01A398;color:#fff;max-width:100px;"><span class="glyphicon glyphicon-ok" style="font-size:22px;color:#fff;"></span></td>
            </tr>
            <tr>
                <td class="text-right" style="background:#EBEEF0;color:#333;max-width:125px;">
                    <label uib-tooltip="If you're not 100% satisfied with your purchase, contact us and we're happy to refund you in full.">
                        <p style="display:inline;">100% Money Back<br>Guarantee</p>
                        <span class="glyphicon glyphicon-info-sign hidden-xs hidden-sm" style="font-size:10px;position:relative;"></span>
                    </label>
                </td>
                <td class="text-center" style="background:#06883F;color:#fff;max-width:100px;"><span class="glyphicon glyphicon-ok" style="font-size:22px;color:#fff;"></span></td>
                <td class="text-center" style="background:#019F6E;color:#fff;max-width:100px;"><span class="glyphicon glyphicon-ok" style="font-size:22px;color:#fff;"></span></td>
                <td class="text-center" style="background:#018880;color:#fff;max-width:100px;"><span class="glyphicon glyphicon-ok" style="font-size:22px;color:#fff;"></span></td>
            </tr>
            <tr>
                <td class="text-center" style="background:#EBEEF0;"></td>
                <td class="text-center hidden-xs hidden-sm" style="background:#EBEEF0;max-width:100px;">
                    <center>
                        <button ng-hide="contest.chosen_creative == true" class='btn btn-first btn-lg sign-up-btn' ng-click="set_creative(true)" style="float:none;padding-right:50px;padding-left:50px;">Select</button>
                        <button ng-show="contest.chosen_creative == true" class='btn btn-secondary btn-lg sign-up-btn' ng-click="set_creative(true)" style="float:none;padding-right:50px;padding-left:50px;">Selected</button>
                    </center>
                </td>
                <td class="text-center hidden-md hidden-lg" style="background:#EBEEF0;max-width:100px;">
                    <center>
                        <button ng-hide="contest.chosen_creative == true" class='btn btn-first btn-md sign-up-btn' ng-click="set_creative(true)" style="float:none;">Select</button>
                        <button ng-show="contest.chosen_creative == true" class='btn btn-secondary btn-md sign-up-btn' ng-click="set_creative(true)" style="float:none;">Selected</button>
                    </center>
                </td>
                <td class="text-center hidden-xs hidden-sm" style="background:#EBEEF0;max-width:100px;">
                    <center>
                        <button ng-hide="contest.chosen_creative == false" class='btn btn-wj btn-lg sign-up-btn' ng-click='contest.chosen_creative = false' style="float:none;padding-right:50px;padding-left:50px;">Select</button>
                        <button ng-show="contest.chosen_creative == false" class='btn btn-secondary btn-lg sign-up-btn' ng-click='contest.chosen_creative = false' style="float:none;padding-right:50px;padding-left:50px;">Selected</button>
                    </center>
                </td>
                <td class="text-center hidden-md hidden-lg" style="background:#EBEEF0;max-width:100px;">
                    <center>
                        <button ng-hide="contest.chosen_creative == false" class='btn btn-wj btn-md sign-up-btn' ng-click='contest.chosen_creative = false' style="float:none;">Select</button>
                        <button ng-show="contest.chosen_creative == false" class='btn btn-secondary btn-md sign-up-btn' ng-click='contest.chosen_creative = false' style="float:none;">Selected</button>
                    </center>
                </td>
                <td class="text-center hidden-xs hidden-sm" style="background:#EBEEF0;max-width:100px;">
                    <center>
                        <button class='btn btn-last btn-lg sign-up-btn' ng-click='choose_video(true)' style="float:none;padding-right:50px;padding-left:50px;">Select</button>
                    </center>
                </td>
                <td class="text-center hidden-md hidden-lg" style="background:#EBEEF0;max-width:100px;">
                    <center>
                        <button class='btn btn-last btn-md sign-up-btn' ng-click='choose_video(true)' style="float:none;">Select</button>
                    </center>
                </td>
            </tr>
        </table>
        <div id="bottom" style="padding-bottom:300px;">
            <div class="col-xs-12 col-sm-9 col-sm-offset-3 text-left" ng-show="contest.chosen_creative == true">
                <div class="form-group" ng-init="contest.attachment = ''">
                    <h4 style="font-size:14px;"><strong>Choose the photo you're planning on using with your ad.</strong></h4>
                    <p style="font-size:12px;"><small>Learn about effective creatives <a href="/guide" style="cursor:pointer;" target="_blank">here</a>.</small></p>
                    <input custom-on-change="image_cropper" id="contest-photo" type="file" accept="image/*" />
                </div>
                <div class="row form-group" ng-show="new_img">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                        <div class="docs-preview" ng-class='{"preview-ig" : contest.platform == "instagram", "preview-fb" : contest.platform != "instagram", "preview-tw" : contest.platform == "twitter"}'>
                            <img ng-show="contest.photo || contest.use_attachment" id="upload_contest" ng-src="{{contest.attachment}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-show='current.step == "done"'>
    <div class="row">
        <div class='col-xs-12 text-center' style='padding-top:10px;'>
            <h3>You can easily keep track of your new campaign in your account dashboard.</h3>
            <h4>We'll notify you as soon as your ads are ready for testing!</h4>
            <div class="addthis_toolbox" addthis:url="https://fabel.us/contest/{{contest.id}}" addthis:title="{{user.first_name}}" addthis:description="Check out our new campaign on Fabel!" addthis:media="{{contest.attachment_url}}" addthis:attachment="{{contest.attachment_url}}">
                <a class="addthis_button_facebook">Share via Facebook</a>
                <a class="addthis_button_email">Share via Email</a>
            </div>
        </div>
    </div>
</div>
<div class='launch-page-overlaybox launch-page-box'>
    <div class="container">
        <div class='row'>
            <div ng-show='current.step == "tp-prior"'>
                <button class='btn btn-oj btn-lg pull-right' type='button' ng-click="set_step('detail')">Continue</button>
            </div>
            <div ng-show='current.step == "detail"'>
                <button class='btn btn-oj btn-lg pull-right' type='button' ng-click='set_step("chose-plan")'>Save & Continue</button>
                <button class='btn btn-oj btn-lg pull-right btn-secondary' type='button' ng-click='set_step("tp-prior")'>Back</button>
                <!--<button class='btn btn-oj btn-lg pull-right btn-secondary' type='button' ng-click='submit_contest(contest, false)' ng-hide='!user'>Save</button>-->
            </div>
            <div ng-show='current.step == "chose-plan"'>
                <button class='btn btn-oj btn-lg pull-right' type='button' ng-click='set_step("preview")'>Continue</button>
                <button class='btn btn-oj btn-lg pull-right btn-secondary' type='button' ng-click='set_step("detail")'>Back</button>
            </div>
            <div ng-show='current.step == "preview"'>
                <button class='btn btn-oj btn-lg pull-right' type='button' ng-click="submit_contest(contest, 'launch')">Launch</button>
                <!--<button class='btn btn-oj btn-lg pull-right' type='button' ng-click="submit_contest(contest, 'draft')">Save & Dashboard</button>-->
                <button class='btn btn-oj btn-lg pull-right btn-secondary' type='button' ng-click='set_step("chose-plan")'>Back</button>
            </div>
            <div ng-show='current.step == "done"'>
                <div class='col-xs-12 col-sm-6'>
                    <div class='text-center'><a class='btn btn-lg btn-oj' href='/edit/{{contest.id}}'>Edit Your Campaign</a></div>
                </div>
                <div class='col-xs-12 col-sm-6'>
                    <div class='text-center'><a class='btn btn-lg btn-oj' href='/dashboard'>Visit Your Dashboard</a></div>
                </div>
            </div>
            <div class='text-left' ng-show='current.step == "preview"'>
                <h4 class='text-left' style='color:#333'>
                    <img class='img-responsive' src='public/img/truste.png' style='max-width: 100px; height: auto; margin: 10px 20px; display: inline-block;'>
                        <span class='glyphicon glyphicon-ok circle-it-oj' style="float:none;"></span>
                            <span style='font-weight:300;font-size:22;top:10px;'>
                                 81% of consumers ignore ads they find irrelevant.
                            </span>
                </h4>
            </div>
            <div class='text-left' ng-show='current.step == "detail"'>
                <h4 class='text-left' style='color:#333'>
                        <span class='glyphicon glyphicon-ok circle-it-oj'></span>
                            <span style='font-weight:300;font-size:22;top:10px;position:relative;'>
                                  You'll only have to do this once.
                            </span>
                </h4>
            </div>
            <div class='text-left' ng-show='current.step == "chose-plan"'>
                <h4 class='text-left' style='color:#333'>
                        <span class='glyphicon glyphicon-ok circle-it-oj'></span>
                            <span style='font-weight:300;font-size:22;top:10px;position:relative;'>
                              100% Money Back Guarantee
                            </span>
                </h4>
            </div>
            <div class='text-left' ng-show='current.step == "tp-prior"'>
                <h4 class='text-left' style='color:#333'>
                      <span class='glyphicon glyphicon-ok circle-it-oj'></span>
                        <span style='font-weight:300;font-size:22;top:10px;position:relative;'>
                              People are 23% more likely to enjoy ads they find relevant.
                        </span>
                </h4>
            </div>
        </div>
    </div>
</div>
<script>
fbq('track', 'PageView');
</script>
<script type="text/javascript">
$(function() {
    $(".location-selection-launch-view").select2({
        placeholder: "Add Locations",
    });
    $(".interest-selection-launch-view").select2({
        placeholder: "Add interest",
        maximumSelectionLength: 1
    });
});
</script>
<style>
.btn:focus {
    color: #019F6E;
}

.target-label {
    font-size: 16px;
    font-weight: 400;
}

.payment .form-control {
    margin: 0;
    border-radius: 0;
}

li.value-list:before {
    content: "\e067";
    font-family: 'Glyphicons Halflings';
    font-size: 12px;
    float: left;
    margin-top: 4px;
    margin-left: -17px
}

.table>tbody>tr>td {
    padding: 5px !important;
    border-top: none;
}

.table>thead>tr>td {
    border-top: none;
}

.payment-method-container {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
}

.payment-method-card {
    padding: 10px;
}

.default_method {
    border: 1px solid #00aaff;
    border-radius: 5px;
}

.payment-method-card:hover {
    background-color: #f2f2f2;
}

.btn-sel {
    background: #fff;
    color: #019F6E;
    border: 1px solid #019F6E
}

.btn-sel:hover {
    color: #019F6E;
}

.btn-sel:focus {
    color: #019F6E !important;
}

.payment-method-actions {
    margin: auto;
    position: absolute;
    right: 20px;
    top: 50%;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile+ label {
    font-size: 1.25em;
    font-weight: 500;
    color: white;
    background-color: #019F6E;
    display: inline-block;
    cursor: pointer;
    padding: 7px 14px;
    border-radius: 5px;
    border: 1px solid transparent;
}

.inputfile+ label:hover {
    background-color: red;
}

.circle-it-oj {
    padding: 10px;
    border: solid 1px #019F6E;
    border-radius: 30px;
    background: #019F6E;
    color: #fff;
    float: left;
    margin-right: 20px;
}

.control-label {
    font-weight: 400;
    font-size: 20px;
    text-align: right !important;
}

.radio label {
    cursor: auto;
}

.row-preview1 {
    margin-bottom: -40px;
}

.row-preview2 {
    margin-bottom: -40px;
    margin-top: -40px;
}

.addthis_toolbox {
    margin-top: 40px;
}

.addthis_button_facebook .at-icon-wrapper,
.addthis_button_email .at-icon-wrapper {
    display: none;
}

.addthis_button_facebook {
    background-color: #3b5998;
    color: white;
    padding: 10px 30px;
    font-size: 18px;
}

.addthis_button_facebook:hover,
.addthis_button_email:hover {
    color: white;
    text-decoration: none;
}

.addthis_button_email {
    background-color: #848484;
    color: white;
    padding: 10px 30px;
    font-size: 18px;
}

.addthis_button_facebook,
.addthis_button_email {
    margin: 0 10px;
}
</style>
