<div class='container-fluid'>
          <div class="row content-padding">
                  <div class='container' style='background-color:#fff;'>
                          <div class='col-xs-12 col-sm-8 col-sm-offset-2 text-center'>
        	                <h2 style="font-size:28;font-weight:300;margin-bottom:10px;line-height:1.3;" class="text-center">Choose The Right Advertising Priority</h2>
                         <p>As your business grows, your advertising goals change. First, your campaigns may focus on building
                         <p class="text-left">As your business grows, your advertising goals change. First, your campaigns may focus on building
                           awareness and acquiring new customers, and, later, you may encourage people to make a purchase or
                           sign up for an event. At each point, you'll select a campaign advertising focus that matches each
                           campaign goal.</p>
                           <br>
                           <h3 style="font-size:22px;font-weight:300;margin-bottom:20px;line-height:1.3;" class="text-center">I want to affordably find new customers.</h3>
                           <p>Businesses want to find out who might be interested in their new product offerings, while also being cost effective.
                           <p class="text-left">Businesses want to find out who might be interested in their new product offerings, while also being cost effective.
                           This is measured by cost per click (CPC).</p>
                           <br>
                           <h3 style="font-size:22px;font-weight:300;margin-bottom:20px;line-height:1.3;" class="text-center">I want to drive sales with current customers.</h3>
                           <p>Increasing the number of people in a specific audience that click on your ad is an important way to drive
                           <p class="text-left">Increasing the number of people in a specific audience that click on your ad is an important way to drive
                           more sales without increasing advertising costs. This is measured by the click through rate (CTR).</p>
                           <br>
                           <h3 style="font-size:22px;font-weight:300;margin-bottom:20px;line-height:1.3;" class="text-center">I want more people to be aware of my business.</h3>
                           <p>Increasing brand awareness is about telling people about what makes your business valuable. This is
                           <p class="text-left">Increasing brand awareness is about telling people about what makes your business valuable. This is
                           measured by the number of views your ad receives.</p>
                           <br>
                          </div>
                  </div>
         </div>
</div>
