<div class='container-fluid'>
    <div class="row content-padding">
        <div class='container' style='background-color:#fff;border:#eee solid 1px;border-radius:5px;'>
            <div class='col-xs-12 col-sm-8 col-sm-offset-2 text-center'>
                <h2>Writing a Copy</h2>
                <p>You don't have to be a novelist to write effective text for a submission. Following a few simple tips can help make your text more effective and consistent in your submissions. More importantly, if you do nothing else, spellcheck.</p>
            </div>
            <div class='col-xs-12'>
                <hr style='border-color:#333'>
            </div>
            <div class='col-xs-12 text-center'>
                <h3>1. Tone of Voice</h3></div>
            <div class='col-xs-12 col-sm-4 text-center'>
                <img src='public/img/copy1.jpeg' class='img-responsive'>
                <p class='text-center'><strong>High-end Restaurant</strong></p>
            </div>
            <div class='col-xs-12 col-sm-4 text-center'>
                <img src='public/img/copy2.jpg' class='img-responsive'>
                <p class='text-center'><strong>Sports-themed Restaurant</strong></p>
            </div>
            <div class='col-xs-12 col-sm-4 text-center'>
                <img src='public/img/copy3.jpg' class='img-responsive'>
                <p class='text-center'><strong>Family-friendly Restaurant</strong></p>
            </div>
            <div class='col-xs-12 col-sm-8 col-sm-offset-2  text-center'>
                <p>Start by considering your tone of voice, which can simple be a reflection of your individual personality. Is it funny? All business? Adventurous? Every person has their own identity and the more authentic you are, the more effective your
                    submissions are likely to be. Be yourself and consistent.</p>
            </div>
            <div class='col-xs-12'>
                <hr style='border-color:#333'>
            </div>
            <div class='col-xs-12 text-center'>
                <h3>2. Stick to What's Important</h3></div>
            <div class='col-xs-12 col-sm-6 text-center'>
                <img src='public/img/copy4.jpg'>
                <p class='text-center'><strong>Probably Too Long</strong></p>
            </div>
            <div class='col-xs-12 col-sm-6 text-center'>
                <img src='public/img/copy5.jpg'>
                <p class='text-center'><strong>Probably Just Right</strong></p>
            </div>
            <div class='col-xs-12 col-sm-8 col-sm-offset-2 '>
                <p class='text-center'>Remember, people scroll through feeds quickly, so the chances they're going to stop and read a novel are slim. Stick to the important information and pay attention to the character count limit. Try to get the good stuff in before the text
                    is truncated. And if you have a specific action you want, ask for it. Visit our website. Call for a free quote. Install our app. Etc.</p>
            </div>
            <div class='col-xs-12'>
                <hr style='border-color:#333'>
            </div>
            <div class='col-xs-12 text-center'>
                <h3>3. Write with yourself in mind</h3></div>
            <div class='col-xs-12 col-sm-4 text-center'>
                <img src='public/img/copy6.jpg' class='img-responsive'>
                <p class='text-center'><strong>What motivates you?</strong></p>
            </div>
            <div class='col-xs-12 col-sm-4 text-center'>
                <img src='public/img/copy7.jpg' class='img-responsive'>
                <p class='text-center'><strong>Address their concerns (like prices)</strong></p>
            </div>
            <div class='col-xs-12 col-sm-4 text-center'>
                <img src='public/img/copy8.jpg' class='img-responsive'>
                <p class='text-center'><strong>Entertain them</strong></p>
            </div>
            <div class='col-xs-12 col-sm-8 col-sm-offset-2 '>
                <p class='text-center'>Consider talking about things in terms of your own mindset and what might appeal to people like you emotionally. People spend most of their time thinking about their own lives, so put yourself in their shoes and think "what would make
                    me like this business?"</p>
            </div>
        </div>
    </div>
</div>

<style>
    p {
        font-size: 1.15em;
    }

    strong {
        font-size: 1.15em;
    }
</style>
