<div class='container-fluid'>
          <div class="row content-padding">
        	<div class='container' style='background-color:#fff;border:#eee solid 1px;border-radius:5px;'>
        		<div class='col-xs-12 col-sm-8 col-sm-offset-2 text-center'>
                    <h2>Choosing Images</h2>
          <p>Before you get started, be 100% sure that you own all rights to the photo that you're including in your ad. Photos that aren't original (this includes free for use photos and stock images) will be removed. <br/> <br/>Now that that's out of the way, let's get to the guide. Images are the first thing people will notice about your submission. So take time choosing and curating the image you submit. This is how people will see the business. That doesn't mean you need to be a professional with a $1000 camera. The following are a few tips to help.</p>
     </div>
     <div class='col-xs-12'><hr style='border-color:#333'></div>
     <div class='col-xs-12 text-center'><h3>1. Pick an Interesting Subject</h3></div>
     <div class='col-xs-12 col-sm-4 text-center'>
          <img src='public/img/photo1.jpg' class='img-responsive'>
          <p class='text-center'><strong>Consider Arrangements</strong></p>
     </div>
     <div class='col-xs-12 col-sm-4 text-center'>
          <img src='public/img/photo2.jpg' class='img-responsive'>
          <p class='text-center'><strong>People Love People</strong></p>
     </div>
     <div class='col-xs-12 col-sm-4 text-center'>
          <img src='public/img/photo3.jpg' class='img-responsive'>
          <p class='text-center'><strong>Put Your Best On Display</strong></p>
     </div>
     <div class='col-xs-12 col-sm-8 col-sm-offset-2  text-center'>
          <p>Remember your photo will be competing with pictures of babies and someone's fancy dinner. Focus on things about the business that make it stand out. The people. The environment. The products. Try to pick an image that will grab your audience's attention as they scroll through the respective social platform. Also, don't post pictures of cats, unless the campaign is for a cat business.</p>
     </div>
     <div class='col-xs-12'><hr style='border-color:#333'></div>
     <div class='col-xs-12 text-center'><h3>2. Shoot for Quality</h3></div>
     <div class='col-xs-12 col-sm-4 text-center'>
          <img src='public/img/photo4.jpg' class='img-responsive'>
          <p class='text-center'><strong>Don't use clip art. Please.</strong></p>
     </div>
     <div class='col-xs-12 col-sm-4 text-center'>
          <img src='public/img/photo5.jpg' class='img-responsive'>
          <p class='text-center'><strong>Don't use low resolution, pixelated photos.</strong></p>
     </div>
     <div class='col-xs-12 col-sm-4 text-center'>
          <img src='public/img/photo6.jpg' class='img-responsive'>
          <p class='text-center'><strong>Do your best to take high-res, well lit photos.</strong></p>
     </div>
     <div class='col-xs-12 col-sm-8 col-sm-offset-2 '>
          <p class='text-center'>This mainly means to avoid three things: low resolution (which leads to pixelation), blurry photos, and clip or stock art. You can do this by taking photos with your smart phone of things that aren't moving (that includes your hands while you take the photo), in well-lit places. It also means paying attention to the size of the photo specified by the ad you're building (square vs. rectangle).</p>
     </div>
   <div class='col-xs-12'><hr style='border-color:#333'></div>
   <div class='col-xs-12 text-center'><h3>3. Some DIY Photography Tips</h3></div>
   <div class='col-xs-12 col-sm-4 text-center'>
          <img src='public/img/photo7.jpg' class='img-responsive'>
          <p class='text-center'><strong>Smartphones take great photos.</strong></p>
     </div>
     <div class='col-xs-12 col-sm-4 text-center'>
          <img src='public/img/photo8.jpg' class='img-responsive'>
          <p class='text-center'><strong>Pay attention to angle and lighting.</strong></p>
     </div>
     <div class='col-xs-12 col-sm-4 text-center'>
          <img src='public/img/photo9.jpg' class='img-responsive'>
          <p class='text-center'><strong>Don't be afraid to use apps and filters.</strong></p>
     </div>
     <div class='col-xs-12 col-sm-8 col-sm-offset-2 '>
          <p class='text-center'>You can take great photos on your smartphone. Take the time to set up your shot. Make sure there's proper light and that you don't have a lot of things crowding your frame. Try using a photo app that offers filters. They take an average photo and make it feel more professional.</p>
     </div>
</div>
</div>
<div class="row content-padding">
<div class='container' style='background-color:#fff;border:#eee solid 1px;border-radius:5px;'>
<div class='col-xs-12 col-sm-8 col-sm-offset-2 text-center'>
        			<h2>Writing a Copy</h2>
   		     		<p>You don't have to be a novelist to write effective text for a submission. Following a few simple tips can help make your text more effective and consistent in your submissions. More importantly, if you do nothing else, spellcheck.</p>
   		     	</div>
   		     	<div class='col-xs-12'><hr style='border-color:#333'></div>
   		     	<div class='col-xs-12 text-center'><h3>1. Tone of Voice</h3></div>
   		     	<div class='col-xs-12 col-sm-4 text-center'>
   		     		<img src='public/img/copy1.jpeg' class='img-responsive'>
   		     		<p class='text-center'><strong>High-end Restaurant</strong></p>
   		     	</div>
   		     	<div class='col-xs-12 col-sm-4 text-center'>
   		     		<img src='public/img/copy2.jpg' class='img-responsive'>
   		     		<p class='text-center'><strong>Sports-themed Restaurant</strong></p>
   		     	</div>
   		     	<div class='col-xs-12 col-sm-4 text-center'>
   		     		<img src='public/img/copy3.jpg' class='img-responsive'>
   		     		<p class='text-center'><strong>Family-friendly Restaurant</strong></p>
   		     	</div>
   		     	<div class='col-xs-12 col-sm-8 col-sm-offset-2  text-center'>
   		     		<p>Start by considering your tone of voice, which can simple be a reflection of your individual personality. Is it funny? All business? Adventurous? Every person has their own identity and the more authentic you are, the more effective your submissions are likely to be. Be yourself and consistent.</p>
   		     	</div>
   		     	<div class='col-xs-12'><hr style='border-color:#333'></div>
   		     	<div class='col-xs-12 text-center'><h3>2. Stick to What's Important</h3></div>
 				<div class='col-xs-12 col-sm-6 text-center'>
   		     		<img src='public/img/copy4.jpg'>
   		     		<p class='text-center'><strong>Probably Too Long</strong></p>
   		     	</div>
   		     	<div class='col-xs-12 col-sm-6 text-center'>
   		     		<img src='public/img/copy5.jpg'>
   		     		<p class='text-center'><strong>Probably Just Right</strong></p>
   		     	</div>
   		     	<div class='col-xs-12 col-sm-8 col-sm-offset-2 '>
   		     		<p class='text-center'>Remember, people scroll through feeds quickly, so the chances they're going to stop and read a novel are slim. Stick to the important information and pay attention to the character count limit. Try to get the good stuff in before the text is truncated. And if you have a specific action you want, ask for it. Visit our website. Call for a free quote. Install our app. Etc.</p>
   		     	</div>
		        <div class='col-xs-12'><hr style='border-color:#333'></div>
		        <div class='col-xs-12 text-center'><h3>3. Write with yourself in mind</h3></div>
		        <div class='col-xs-12 col-sm-4 text-center'>
   		     		<img src='public/img/copy6.jpg' class='img-responsive'>
   		     		<p class='text-center'><strong>What motivates you?</strong></p>
   		     	</div>
   		     	<div class='col-xs-12 col-sm-4 text-center'>
   		     		<img src='public/img/copy7.jpg' class='img-responsive'>
   		     		<p class='text-center'><strong>Address their concerns (like prices)</strong></p>
   		     	</div>
   		     	<div class='col-xs-12 col-sm-4 text-center'>
   		     		<img src='public/img/copy8.jpg' class='img-responsive'>
   		     		<p class='text-center'><strong>Entertain them</strong></p>
   		     	</div>
   		     	<div class='col-xs-12 col-sm-8 col-sm-offset-2 '>
   		     		<p class='text-center'>Consider talking about things in terms of your own mindset and what might appeal to people like you emotionally. People spend most of their time thinking about their own lives, so put yourself in their shoes and think "what would make me like this business?"</p>
   		     	</div>
        	</div>
        </div>
</div>

<style>
p{
	font-size:1.15em;
}
strong{
	font-size: 1.15em;
}
</style>
