<div class='container-fluid'>
<!-- Hero Banner -->
      <section class="love-raw">
         <div class="row">
            <div class="col-xs-12">
               <h1 style='color:#333;font-size:46;font-weight:400;text-align:center;line-height:130%;'>Select your package.</h1>
               <h3 style='color:#333;font-size:20;font-weight:300;text-align:center;line-height:130%;'>Different businesses have different needs.<br>All packages come with full copyright ownership of the final ad and a 100% Money Back Guarantee.</h3>
            </div>
            <div class='col-xs-12 col-sm-8 col-sm-offset-1 text-center' style="padding-top:25px;">
                  <table class="table table-condensed" style='border-radius:5px;'>
                      <thead>
                          <tr>
                              <td class="text-center" style="font-size:22px;background:#E7E7E7;width:200px;"></td>
                              <td class="text-center" style="font-size:22px;background:#E7E7E7;width:200px;">
                                 <img href="#" src="https://s3-us-west-2.amazonaws.com/tappyn/pac11.jpg" alt="Fabel Package">
                              </td>
                              <td class="text-center" style="font-size:22px;background:#E7E7E7;width:200px;">
                                 <img href="#" src="https://s3-us-west-2.amazonaws.com/tappyn/pac2.jpg" alt="Fabel Package">
                              </td>
                              <td class="text-center" style="font-size:22px;background:#E7E7E7;width:200px;">
                                 <img href="#" src="https://s3-us-west-2.amazonaws.com/tappyn/pac3.jpg" alt="Fabel Package">
                              </td>
                          </tr>
                          <tr>
                              <td class="text-center" style="font-size:22px;background:#E7E7E7;max-width:50px;"></td>
                              <td class="text-center" style="font-size:22px;background:#06883F;color:#fff;font-weight:300;width:200px;">Basic</td>
                              <td class="text-center" style="font-size:22px;background:#019F6E;color:#fff;font-weight:300;width:200px;">Premium</td>
                              <td class="text-center" style="font-size:22px;background:#018880;color:#fff;font-weight:300;width:200px;">Platinum</td>
                          </tr>
                      </thead>
                      <tr>
                          <td class="text-center" style="background:#E7E7E7;color:#333;width:200px;">
                          </td>
                          <td class="text-center" style="background:#06883F;color:#fff;width:200px;">
                              <p>
                                  <!--<span style="font-size:22px;font-weight:300;text-decoration:line-through;">$120</span>
                                  <br>-->
                                  <span style="font-size:32px;font-weight:300;">$59</span>
                              </p>
                          </td>
                          <td class="text-center" style="background:#019F6E;color:#fff;width:200px;">
                              <p>
                                  <!--<span style="font-size:22px;font-weight:300;text-decoration:line-through;">$300</span>
                                  <br>-->
                                  <span style="font-size:32px;font-weight:300;">$149</span>
                              </p>
                          </td>
                          <td class="text-center" style="background:#018880;color:#fff;width:200px;">
                              <p>
                                  <!--<span style="font-size:22px;font-weight:300;text-decoration:line-through;">$1,020</span>
                                  <br>-->
                                  <span style="font-size:32px;font-weight:300;">$519</span>
                              </p>
                          </td>
                      </tr>
                      <tr>
                          <td class="text-right" style="background:#E7E7E7;color:#333;width:200px;">
                              <p>Creator Targeting</p>
                          </td>
                          <td class="text-center" style="background:#06A54B;color:#fff;width:200px;"><span class="glyphicon glyphicon-ok" style="font-size:22px;color:#fff;"></span></td>
                          <td class="text-center" style="background:#01BA7F;color:#fff;width:200px;"><span class="glyphicon glyphicon-ok" style="font-size:22px;color:#fff;"></span></td>
                          <td class="text-center" style="background:#01A398;color:#fff;width:200px;"><span class="glyphicon glyphicon-ok" style="font-size:22px;color:#fff;"></span></td>
                      </tr>
                      <tr>
                          <td class="text-right" style="background:#E7E7E7;color:#333;width:200px;">
                              <p>A/B Testing ($15 Included)</p>
                          </td>
                          <td class="text-center" style="background:#06883F;color:#fff;width:200px;"><span class="glyphicon glyphicon-ok" style="font-size:22px;color:#fff;"></span></td>
                          <td class="text-center" style="background:#019F6E;color:#fff;width:200px;"><span class="glyphicon glyphicon-ok" style="font-size:22px;color:#fff;"></span></td>
                          <td class="text-center" style="background:#018880;color:#fff;width:200px;"><span class="glyphicon glyphicon-ok" style="font-size:22px;color:#fff;"></span></td>
                      </tr>
                      <tr>
                          <td class="text-right" style="background:#E7E7E7;color:#333;width:200px;">
                              <p>Copies (30)</p>
                          </td>
                          <td class="text-center" style="background:#06A54B;color:#fff;width:200px;"><span class="glyphicon glyphicon-ok" style="font-size:22px;color:#fff;"></span></td>
                          <td class="text-center" style="background:#01BA7F;color:#fff;width:200px;"><span class="glyphicon glyphicon-ok" style="font-size:22px;color:#fff;"></span></td>
                          <td class="text-center" style="background:#01A398;color:#fff;width:200px;"><span class="glyphicon glyphicon-ok" style="font-size:22px;color:#fff;"></span></td>
                      </tr>
                      <tr>
                          <td class="text-right" style="background:#E7E7E7;color:#333;width:200px;">
                              <p>Photos (30)</p>
                          </td>
                          <td class="text-center" style="background:#06883F;color:#fff;width:200px;"></td>
                          <td class="text-center" style="background:#019F6E;color:#fff;width:200px;"><span class="glyphicon glyphicon-ok" style="font-size:22px;color:#fff;"></span></td>
                          <td class="text-center" style="background:#018880;color:#fff;width:200px;"><span class="glyphicon glyphicon-ok" style="font-size:22px;color:#fff;"></span></td>
                      </tr>
                      <tr>
                          <td class="text-right" style="background:#E7E7E7;color:#333;max-width:50px;">
                              <p>Videos (30)</p>
                          </td>
                          <td class="text-center" style="background:#06A54B;color:#fff;width:200px;"></td>
                          <td class="text-center" style="background:#01BA7F;color:#fff;width:200px;"></td>
                          <td class="text-center" style="background:#01A398;color:#fff;width:200px;"><span class="glyphicon glyphicon-ok" style="font-size:22px;color:#fff;"></span></td>
                      </tr>
                      <tr>
                          <td class="text-right" style="background:#E7E7E7;color:#333;max-width:125px;">
                              <p>100% Money Back Guarantee</p>
                          </td>
                          <td class="text-center" style="background:#06883F;color:#fff;width:200px;"><span class="glyphicon glyphicon-ok" style="font-size:22px;color:#fff;"></span></td>
                          <td class="text-center" style="background:#019F6E;color:#fff;width:200px;"><span class="glyphicon glyphicon-ok" style="font-size:22px;color:#fff;"></span></td>
                          <td class="text-center" style="background:#018880;color:#fff;width:200px;"><span class="glyphicon glyphicon-ok" style="font-size:22px;color:#fff;"></span></td>
                      </tr>
                  </table>
          </div>
           </div>
   </section>
</div>
<style>
.table>tbody>tr>td {
     padding: 10px !important;
     border-top: none;
}
.table>thead>tr>td {
     border-top: none;
}
</style>
