<div class='container-fluid'>
<!-- Hero Banner -->
      <section class="love-raw" style="background:#fff;padding-top:0px;">
            <div class="row">
         <div class="col-xs-12" style="background:#EBEEF0;padding-bottom:10px;">
               <div class="col-xs-12 col-sm-8 col-sm-offset-2">
              <h2 class="pull-left price-head">Pricing</h2>
           </div>
         </div>
   <div class='col-xs-12 col-sm-8 col-sm-offset-2 text-center' style="padding-top:50px;">
      <table class="table table-condensed" style='border-radius:5px;'>
            <thead>
                <tr>
                    <td class="text-center" style="background:#fff;color:#333;max-width:50px;">
                    </td>
                    <td class="text-left top-box-left" style="font-size:32px;font-weight:600;width:200px;">Written</td>
                    <td class="text-left" style="font-size:22px;background:#fff;max-width:50px;"></td>
                    <td class="text-left top-box-mid" style="font-size:32px;font-weight:600;width:200px;">Visual</td>
                    <td class="text-left" style="font-size:22px;background:#fff;max-width:50px;"></td>
                    <td class="text-left top-box-right" style="font-size:32px;font-weight:600;width:200px;">Video</td>
                </tr>
            </thead>
            <tr>
                <td class="text-center" style="background:#fff;color:#333;max-width:50px;">
                </td>
                <td class="mid-box-left" style="width:200px;">
                    <p>
                        <span style="font-size:16px;font-weight:300;color:#777;">Just getting started.</span>
                    </p>
                </td>
                <td class="text-center" style="background:#fff;color:#333;max-width:500px;">
                </td>
                <td class="mid-box-mid" style="width:200px;">
                    <p>
                        <span style="font-size:16px;font-weight:300;color:#777;">Developing a new audience.<br></span>
                    </p>
                </td>
                <td class="text-center" style="background:#fff;color:#333;max-width:50px;">
                </td>
                <td class="mid-box-right" style="width:200px;">
                    <p>
                        <span style="font-size:16px;font-weight:300;color:#777;">Accelerating multiple audiences.</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td class="text-center" style="background:#fff;color:#333;max-width:50px;">
                </td>
                <td class="bot-box-left" style="width:200px;">
                    <p>
                        <span class="pull-right" style="font-size:32px;font-weight:600;padding-right:10px;">$99</span>
                    </p>
                </td>
                <td class="text-center" style="background:#fff;color:#333;max-width:50px;">
                </td>
                <td class="bot-box-mid" style="width:200px;">
                    <p>
                        <span class="pull-right" style="font-size:32px;font-weight:600;padding-right:10px;">$199</span>
                    </p>
                </td>
                <td class="text-center" style="background:#fff;color:#333;max-width:50px;">
                </td>
                <td class="bot-box-right" style="width:200px;">
                    <p>
                        <span class="pull-right" style="font-size:32px;font-weight:600;padding-right:10px;">$899</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td class="text-right" style="background:#fff;color:#333;max-width:50px;width:1%;">
                <span uib-tooltip="Receive original, authentic messages from the people you plan on connecting with based on what they would respond to." class="glyphicon glyphicon-info-sign" style="color: #ccc;font-size: 12px;position: relative;top: 10px;"></span>
                </td>
                <td style="background:#fff;color:#333;max-width:100px;font-size:18px;border-bottom: 1px solid #ccc;">Expect 30 messages</td>
                <td class="text-right" style="background:#fff;color:#333;max-width:50px;"></td>
                <td style="background:#fff;color:#333;max-width:100px;font-size:18px;border-bottom: 1px solid #ccc;">Expect 30 messages and images</td>
                <td class="text-right" style="background:#fff;color:#333;max-width:50px;"></td>
                <td style="background:#fff;color:#333;max-width:100px;font-size:18px;border-bottom: 1px solid #ccc;">Expect 30 videos</td>
            </tr>
            <tr>
                <td class="text-right" style="background:#fff;color:#333;max-width:50px;width:1%;">
                <span uib-tooltip="Every package includes the ability to target our creator base to source messages from specific demographics." class="glyphicon glyphicon-info-sign" style="color: #ccc;font-size: 12px;position: relative;top: 10px;"></span>
                </td>
                <td style="background:#fff;color:#333;max-width:100px;font-size:18px;border-bottom: 1px solid #ccc;">Basic creator targeting</td>
                <td class="text-right" style="background:#fff;color:#333;max-width:50px;"></td>
                <td style="background:#fff;color:#333;max-width:100px;font-size:18px;border-bottom: 1px solid #ccc;">Deeper creator targeting</td>
                <td class="text-right" style="background:#fff;color:#333;max-width:50px;"></td>
                <td style="background:#fff;color:#333;max-width:100px;font-size:18px;border-bottom: 1px solid #ccc;">Expert creator targeting</td>
            </tr>
            <tr>

                <td class="text-right" style="background:#fff;color:#333;max-width:50px;width:1%;">
                <span uib-tooltip="Never worry how your message will perform again. We test the ones you like to show real results." class="glyphicon glyphicon-info-sign" style="color: #ccc;font-size: 12px;position: relative;top: 10px;"></span>
                </td>
                <td style="background:#fff;color:#333;max-width:100px;font-size:18px;border-bottom: 1px solid #ccc;">Testing</td>
                <td class="text-right" style="background:#ffff;color:#333;max-width:50px;width:10%;"></td>
                <td style="background:#fff;color:#333;max-width:100px;font-size:18px;border-bottom: 1px solid #ccc;">Larger testing</td>
                <td class="text-right" style="background:#fff;color:#333;max-width:50px;width:10%;"></td>
                <td style="background:#fff;color:#333;max-width:100px;font-size:18px;border-bottom: 1px solid #ccc;">Machine learning testing</td>
            </tr>
            <tr>
                <td class="text-right" style="background:#fff;color:#333;max-width:50px;width:1%;">
                <span uib-tooltip="If you're not 100% satisfied with your purchase, contact us and we're happy to refund you in full." class="glyphicon glyphicon-info-sign" style="color: #ccc;font-size: 12px;position: relative;top: 10px;"></span>
                </td>
                <td style="background:#fff;color:#333;max-width:100px;font-size:18px;">Money back guarantee</td>
                <td class="text-right" style="background:#fff;color:#333;max-width:50px;"></td>
                <td style="background:#fff;color:#333;max-width:100px;font-size:18px;">Money back guarantee</td>
                <td class="text-right" style="background:#fff;color:#333;max-width:50px;"></td>
                <td style="background:#fff;color:#333;max-width:100px;font-size:18px;">Money back guarantee</td>
            </tr>
        </table>

          </div>
           </div>
           <div class="col-xs-12" style="background:#fff;">
           <div class="pull-left col-xs-12 col-sm-4 col-sm-offset-1" style="padding-top:30px;padding-bottom:50px;background:#fff;">
             <h4 style="text-align:left;padding-bottom:25px;font-size:16px;line-height:1.6em;">All packages come with a 100% Money Back Guarantee and full copyright ownership of the final message. All packages include the payout for your creators and all fees and commissions.
             </h4>
             <a href=/launch class="btn btn-lg btn-wj get_started" style="padding-right:50px;padding-left:50px;pull-left">Get Started</a>
           <a href=/contact_us class="btn btn-lg btn-secondary get_started" style="padding-right:50px;padding-left:50px;pull-right">Questions?</a>
        </div>
     </div>
   </section>
</div>
<style>
.table>tbody>tr>td {
     padding: 10px !important;
     border-top: none;
}
.table>thead>tr>td {
     border-top: none;
}
</style>
