<div class='row'>
<div class='col-xs-12 col-sm-10 col-sm-offset-1 text-center'>
<h2>Terms of Service</h2>
<p>
Tappyn’s service is located at tappyn.com and is operated by Tappyn, LLC and its 
subsidiaries (collectively, “Tappyn”). The Tappyn Service provides companies with the 
ability to launch contests for short advertisements created by their audience. 
We offer the Tappyn Service subject to the following Terms of Service, specifically including 
Tappyn’s privacy policy. If you do not agree to these Terms of Service, you are not 
authorized to use the Tappyn’s Service. To note, these Terms of Service apply to all of our 
products and services. We may revise these Terms of Use at any time without prior notice 
by updating this page and such revisions will be effective upon posting to this page. Please 
check this page periodically for any changes. Your continued use of this Website following 
the posting of any revisions to these Terms of Use will mean you accept those changes. We 
reserve the right to alter, suspend or discontinue any aspect of the Website, including your 
access to it. Unless explicitly stated, any new features will be subject to these Terms of Use</p>

<h3>Information You Provide</h3>
Certain features of the Tappyn Service require registration. If 

you choose to register, you agree to provide and maintain accurate, current and complete 

information about yourself. Registration data and personal information about you are 

governed by our Privacy Policy.

<h3>Member Account, Password and Security</h3>

You are responsible for maintaining the 

confidentiality of your password and account, if any, and are fully responsible for any and all 

activities that occur under your password or account. Please immediately notify Tappyn of 

any unauthorized use of your password or account or any other breach of security.

<h3>Contests</h3>

Any Contests or similar promotion (collectively, “Contests”) made available 

through the Tappyn Service may be governed by specific rules that are in addition to these 

Terms of Service. By participating in any Contest, you will become subject to those rules. 

To the extent that the terms and conditions of the Contest rules conflict with these Terms of 

Service, the terms and conditions of the Contest will control.

<h3>Age Requirement</h3>

If you are under 13 years of age, you are not authorized to use the 

Service. If you are under 18 years old, you may use the Tappyn Service only with the 

approval of your parent or guardian.

<h3>Applicable Laws</h3>

In connection with your use of the Tappyn Service, you will comply with 

all applicable laws, regulations and industry standards.

Creation and Implementation of Tappyn Contests

The Tappyn Service allows companies to create Contests in exchange for advertisements 

created by their audience. Following are specific obligations concerning the initiation of any 

contest. To the extent any contest violates these Terms of Service, we may choose to 

terminate, delay or modify the contest in our discretion. For additional information about the 

Tappyn Service, please refer to Tappyn’s Frequently Asked Questions.

<h3>Your Right to Conduct a Contest</h3>

By creating a Contest through the Tappyn Service, you 

represent and warrant that you own or are the licensee of all trademark rights, copyrights, 

rights of publicity and other intellectual property or other proprietary rights necessary to 

create and conduct the Contest, including any rights relating to the name, description, 

images, text or URL used for the contest. You will provide Tappyn with evidence of your 

Contest Rights upon request.

<h3>Creation and Implementation of Advertisements/Content</h3>
Except as otherwise specified in the Contest Rules, upon submitting an entry to a Contest 
or other documentation pertaining to a Contest, you retain any rights to ownership in any 
content posted, uploaded or otherwise sent to our Website by you; Tappyn will not gain 
ownership rights to this content. By posting, uploading or otherwise sending any content of 
any kind (including, without limitation, ideas, pitches and video entries) to us or our Website, 
you grant (or warrant that the owner of such rights has expressly granted) us a perpetual, 
royalty-free, irrevocable, non-exclusive right and license to use, reproduce and publish such 
content into any form, medium or technology, including the right, at Tappyn’s sole 
discretion, to distribute such content to be published by third parties throughout the 
universe. In connection therewith, you also grant us the additional license to modify, adapt, 
translate, create derivative works from, and distribute such content or incorporate such 
content into any form, medium or technology, including the right, at Tappyn's sole 
discretion, to distribute such content to be published by third parties.
<br>
You waive any and all moral rights You are also prohibited from posting or otherwise 
uploading to our Website: any material that infringes on any copyright, trademark or other 
proprietary rights of another (including publicity and privacy rights); material that is obscene, 
offensive, libelous, pornographic, threatening, abusive, contains illegal content, or is 
otherwise objectionable, that would constitute or encourage a criminal offense, or that would 
otherwise give rise to liability or violates any law. You also represent that you have all 
necessary rights to use any material that you post or otherwise upload to our Website.
<br>
You are further forbidden from distributing or otherwise publishing any material on our 
Website that contains any solicitation of funds or, promotion, employment, advertising, or 
solicitation for goods or services; sending unsolicited commercial e-mail and other 
advertising, promotional materials or other forms of solicitation to other users of this site; 
harvesting names and e-mail addresses from other users of this site without their 
permission; soliciting passwords from other users; impersonating other users; or sending 
viruses or other destructive or expropriating content. We reserve the right to remove any 
postings or other uploaded materials in response to complaints of infringement, obscenity or 
defamation or to otherwise review or edit such materials as appropriate, in our sole 
discretion and without notice.

<h3>Indemnification and Release</h3>

You agree to defend, indemnify and hold harmless Tappyn, and any parent, subsidiary, 
affiliate, director, officer, employee, licensor, distributor, supplier, agent, reseller, owner, or 
operator of Tappyn, from and against any and all claims, damages, obligations, losses, 
liabilities, costs or debt, and expenses (including but not limited to attorney’s fees) arising 
from: (i) your use of and access to the Website; (ii) your violation of any term of these 
Terms of Use; (iii) your violation of any third party right, including without limitation any 
copyright, property, or privacy right; or (iv) any claim that one of your User Submissions 
caused damage to a third party. This defense and indemnification obligation will survive 
these Terms of Use and your use of the Website.

<h3>Contest Payment & Winners</h3>
	If you create a Contest through the Tappyn Service, you will 
be required to provide Tappyn information regarding your credit card or other payment 
instrument. You represent and warrant to Tappyn that such information is true and that you 
are authorized to use the payment instrument. You will be responsible for all taxes 
associated with your use of the Tappyn Service. Contest winners may request payout 
through your dashboard at any time. You are solely and fully responsible for payment of any 
income taxes applicable to the amounts you earn through the Tappyn Service. Prior to 
receiving your payout, you may be required to provide additional information to Tappyn as 
needed by Tappyn to comply with its reporting obligations.

<h3>Repeat Infringer Policy</h3>
	Tappyn has adopted a policy of terminating, in appropriate 
circumstances and at Tappyn’s sole discretion, users who are deemed to be repeat 
infringers. Tappyn may also at its sole discretion limit access to the Tappyn Service or 
terminate the memberships of any users who infringe or violate any intellectual property or 
other rights of others, whether or not there is any repeat infringement or violation.

<h3>Tappyn’s Proprietary Rights</h3>

<h4>Service Content, Software and Trademarks</h4>
You are only authorized to use the Tappyns Service for the purpose of engaging in business transactions with Tappyn. You may not use 
any automated technology to scrape, mine or gather any information from the Tappyn 
Service or otherwise access the pages of the Tappyn Service for any unauthorized purpose. 
If you are blocked by Tappyn from accessing the Tappyn Service (including by blocking 
your IP address), you agree not to implement any measures to circumvent such blocking 
(e.g., by masking your IP address or using a proxy IP address). The technology and 
software underlying the Tappyn Service or distributed in connection therewith are the 
property of Tappyn, our affiliates and our partners (the “Software”). You agree not to copy, 
modify, create a derivative work of, reverse engineer, reverse assemble or otherwise 
attempt to discover any source code, sell, assign, sublicense, or otherwise transfer any right 
in the Software.
<br>
The Tappyn Service may contain images, artwork, fonts and other content or features 
(“Service Content”) that are protected by intellectual property rights and laws. Except as 
expressly authorized by Tappyn, you agree not to modify, copy, frame, rent, lease, loan, 
sell, distribute or create derivative works based on the Tappyn Service or the Service 
Content, in whole or in part. Any use of the Tappyn Service or the Service Content other 
than as specifically authorized herein is strictly prohibited. Any rights not expressly granted 
herein are reserved by Tappyn.

<h4>Third Party Material</h4>
 Under no circumstances will Tappyn be liable in any way for any 
content or materials of any third parties (including users), including, but not limited to, for 
any errors or omissions in any content, or for any loss or damage of any kind incurred as a 
result of the use of any such content or materials. To the maximum extent permitted under 
applicable law, the third party providers of such content and materials are express and 
intended third party beneficiaries of these Terms of Services with respect to their content 
and materials.

<h4>Termination</h4>
Tappyn, in its sole discretion, may suspend or terminate your account (or any part thereof) 
or use of the Tappyn Service and remove and discard any content within the Tappyn 
Service, for any reason. Further, you agree that Tappyn will not be liable to you or any third 
party for any termination of your access to the Tappyn Service.

<h4>Relationship</h4>

Each party is an independent contractor in the performance of each and every part of these 
Terms of Service. Each party will be solely responsible for all of its employees and agents 
and its labor costs and expenses and for any and all claims, liabilities or damages or debts 
of any type whatsoever that may arise on account of its activities, or those of its employees 
or agents, in the performance of its activities under these Terms of Service. You do not 
have the authority to commit Tappyn in any way and will not attempt to do so or imply that 
you have the right to do so.

<h4>Governing Law</h4>

For all other users: These Terms of Service will be governed by the laws of the State of 
Rhode Island without regard to its conflict of law provisions. With respect to any disputes, 
you and Tappyn agree to submit to the personal and exclusive jurisdiction of the state and 
federal courts located within Providence, RI. The parties expressly exclude the application 
of the UN Convention on Contracts for the International Sale of Goods.

<h4>Severability and Enforceability</h4>

If any provision or portion of these Terms of Use is held illegal, invalid, or unenforceable, in 
whole or in part, it shall be modified to the minimum extent necessary to correct any 
deficiencies or replaced with a provision which is as close as is legally permissible to the 
provision found invalid or unenforceable and shall not affect the legality, validity or 
enforceability of any other provisions or portions of these Terms of Use.

<p>These Terms of Service constitute the entire agreement between you and Tappyn and 
govern your use of the Tappyn Service, superseding any prior agreements between you 
and Tappyn with respect to the Tappyn Service. The failure of Tappyn to exercise or 
enforce any right or provision of these Terms of Service will not constitute a waiver of such 
right or provision. If any provision of these Terms of Service is found by a court of 
competent jurisdiction to be invalid, the parties nevertheless agree that the court should 
endeavor to give effect to the parties’ intentions as reflected in the provision, and the other 
provisions of these Terms of Service remain in full force and effect. A printed version of this 
agreement and of any notice given in electronic form will be admissible in judicial or 
administrative proceedings based upon or relating to this agreement to the same extent and 
subject to the same conditions as other business documents and records originally 
generated and maintained in printed form. You may not assign these Terms of Service 
without the prior written consent of Tappyn, but Tappyn may assign or transfer these Terms 
of Service, in whole or in part, without restriction. Notices to you may be made via either 
email or regular mail. Tappyn may also provide notices to you of changes to these Terms of 
Service or other matters by displaying notices or links to notices generally on the Tappyn 
Last Revised February 8th, 2016</p>
</div>
</div>