<div class='row content-padding'>
	<h3 class='text-center'>Live Contests</h3>
	<div class="col-sm-2 col-xs-12" ng-repeat='contest in contests'>
	    <a href="#/contest/{{contest.id}}" style='cursor:pointer;text-decoration:none;'>
	    <div class="submission-box">
	        <div class="ad-company-info">
	            <div>
	                <h5 class='text-left' style='text-align:left;line-height:10px;padding-bottom:10px;' >{{contest.company.name}}</h5>
	                <span class='contest-price'>
	                    $50
	                </span>
	            </div>
	            <div class="company-img" style='margin-top:10px;height:100px'>
	                <img ng-if='contest.company.logo_url' src="uploads/{{contest.company.logo_url}}">
	                <img ng-if='!contest.company.logo_url' src="public/img/TappynLogo2.png">
	            </div>
	            <div style='height:100px;width: 100%;overflow: hidden;'>
	                <div class='contest-audience'>
	                  
	                </div>
	            </div>
                <h5 ng-if="contest.platform == 'facebook'"><img src='public/img/OrangeFacebookIcon.png' width='20px' height='20px'>Facebook</h5>
                <h5 ng-if="contest.platform == 'google'"><img src='public/img/OrangeGoogleIcon.png' width='20px' height='20px'>Google</h5>
                <h5 ng-if="contest.platform == 'general'">General</h5>
                <h5 ng-if="contest.platform == 'twitter'"><img src='public/img/OrangeTwitterIcon.png' width='20px' height='20px'>Twitter</h5>
	            <h5 class='text-center'><img src="public/img/icon-second.svg" height='20px' width='20px'>Ends {{contest.stop_time | untilFilter}}</h5>
	            <div style='width:100%'>
	                <uib-progressbar value='contest.submission_count' max='50' type="warning"></uib-progressbar>                
	                <p class="progress-meter-text" style='margin:0px;'>{{contest.submission_count}}/50</p>
	            </div>
	        </div>
	    </div>
	    </a>
	</div>
</div>
                  