<div ng-show='contests'>	
	<div class='row content-padding'>
		<div class='contests-heading'>
			<div class='col-xs-12 col-sm-6 col-sm-offset-3 text-center'>
				<button class='btn' ng-click='grab_my()' ng-class='{"btn-oj" : tab == "my", "btn-outliner" : tab != "my"}' >My Contests</button>
				<button class='btn' ng-click='grab_all()' ng-class='{"btn-oj" : tab == "all", "btn-outliner" : tab != "all"}'>All Contests</button>
			</div>
			<div class='col-xs-12'>
				<h2 class='text-center'>Find a few contests you like.</h2>
				<h4 class='text-center'>Just click on any contest to get started!</h4>
			</div>
		</div>
		<div ng-if='tab == "all" && !contests'>
			<h4 class='text-center'>You haven't followed any interests yet! Pick a few so we can assemble your feed!</h4>
			<button class='btn btn-oj text-center' ng-click='adding_interests()'>Follow some Interests</button>
		</div>
		<div class="col-lg-2 visible-lg">
			 <div ng-if='first_six($index)' ng-repeat='contest in contests'>
			 		<div ng-include src="'templates/contests.html'"></div>
			 </div>		   
		</div>
		<div class="col-lg-2 visible-lg">
			 <div ng-if='second_six($index)' ng-repeat='contest in contests'>
			 		<div ng-include src="'templates/contests.html'"></div>
			 </div>		   
		</div>
		<div class="col-lg-2 visible-lg">
			 <div ng-if='third_six($index)' ng-repeat='contest in contests'>
			 		<div ng-include src="'templates/contests.html'"></div>
			 </div>		   
		</div>
		<div class="col-lg-2 visible-lg">
			 <div ng-if='fourth_six($index)' ng-repeat='contest in contests'>
			 		<div ng-include src="'templates/contests.html'"></div>
			 </div>		   
		</div>
		<div class="col-lg-2 visible-lg">
			 <div ng-if='fifth_six($index)' ng-repeat='contest in contests'>
			 		<div ng-include src="'templates/contests.html'"></div>
			 </div>		   
		</div>
		<div class="col-lg-2 visible-lg">
			 <div ng-if='sixth_six($index)' ng-repeat='contest in contests'>
			 		<div ng-include src="'templates/contests.html'"></div>
			 </div>		   
		</div>
		<div class="col-md-3 visible-md">
			 <div ng-if='first_fourth($index)' ng-repeat='contest in contests'>
			 		<div ng-include src="'templates/contests.html'"></div>
			 </div>		   
		</div>
		<div class="col-md-3 visible-md">
			 <div ng-if='second_fourth($index)' ng-repeat='contest in contests'>
			 		<div ng-include src="'templates/contests.html'"></div>
			 </div>		   
		</div>
		<div class="col-md-3 visible-md">
			 <div ng-if='third_fourth($index)' ng-repeat='contest in contests'>
			 		<div ng-include src="'templates/contests.html'"></div>
			 </div>		   
		</div>
		<div class="col-md-3 visible-md">
			 <div ng-if='fourth_fourth($index)' ng-repeat='contest in contests'>
			 		<div ng-include src="'templates/contests.html'"></div>
			 </div>		   
		</div>
		<div class="col-sm-4 visible-sm">
			 <div ng-if='first_third($index)' ng-repeat='contest in contests'>
			 		<div ng-include src="'templates/contests.html'"></div>
			 </div>		   
		</div>
		<div class="col-sm-4 visible-sm">
			 <div ng-if='second_third($index)' ng-repeat='contest in contests'>
			 		<div ng-include src="'templates/contests.html'"></div>
			 </div>		   
		</div>
		<div class="col-sm-4 visible-sm">
			 <div ng-if='third_third($index)' ng-repeat='contest in contests'>
			 		<div ng-include src="'templates/contests.html'"></div>
			 </div>		   
		</div>
		<div class="col-xs-12 visible-xs">
			 <div ng-repeat='contest in contests'>
			 		<div ng-include src="'templates/contests.html'"></div>
			 </div>		   
		</div>
	</div>
</div>	
<script>
fbq('track', 'PageView');
window.Intercom('update');
</script>