<div class='wrapper'>
	<div class='modal_actions col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-xs-12' ng-show='contests_login'>
		<div class='panel'>
			<div class='panel-body'>
				<div class='col-xs-12' style='margin-bottom:7px;'>
					<div class='text-center'><img style='position:absolute;top:-35;right:43%;border-radius:40px;width:50px;height:50px;' src='public/img/TappynFB6.jpg'></div>
					<h4 class='text-center'>Alyssa used Tappyn to create a short ad about juice cleanses - and won $50</h4>
					<h5 class='text-center'>Join Tappyn (for free!) and see which companies are looking for you</h5>
			        <a href="index.php/auth/facebook"><img class='img-responsive' style='border-radius: 5px;' src="public/img/img-facebook.png"></a>
		    	</div>
		    	<div class='col-xs-12 modal_link text-center'>   
				    <div class='col-xs-4' ng-class='{"login-highlight" : with_email}'>
			       		<a href ng-click='email_regis()'>Sign Up with Email</a>	
			        </div>
			        <div class='col-xs-4' ng-class='{"login-highlight" : have_account}'>
			        	<a href ng-click='to_account()'>Have An Account?</a>
			        </div>
			        <div class='col-xs-4' ng-class='{"login-highlight" : forgot}'>
			        	<a href  ng-click='forgotten()'>Forgot Password?</a>
			        </div>
			    </div>
		    	<div ng-show='with_email'>
		    		<form class='form' ng-submit='sign_up(registrar)' ng-init='registrar.group_id = 2'>
				    	<div ng-show='step == 1'>
				            <div class='form-group'>
				                 <input class='form-control' ng-model='registrar.identity' placeholder='Email' type='email'>
				            </div>  
				            <div class='form-group'>
				            	<input class='form-control' ng-model='registrar.password' placeholder='Password' type='password'>
				            </div>
					        <button id='sign-up' type='button' ng-click='step = 2' class='col-xs-12 btn btn-oj'>Sign Up</button>
				        </div>
				        <div ng-show='step == 2'>    
				            <div class='col-xs-12'>
					            <div class='form-group'>
					              	<input class='form-control' ng-model='registrar.name' placeholder='Full Name' type='text'>
					            </div>
				            </div>
				            <div class='col-xs-6'>
				              <div class='form-group'>
				                  <select ng-model='registrar.age' class='form-control'>
				                  		<option value=''>Age</option>
				                  		<option value='18-24'>18-24</option>
				                  		<option value='25-34'>25-34</option>
				                  		<option value='35-44'>35-44</option>
				                  		<option value='45+'>45+</option>
				                  </select>
				              </div>
				            </div>
				            <div class='col-xs-6'>
				              <div class='form-group'>
				                  <select class='form-control' ng-model='registrar.gender'>
				                  		<option value=''>Gender</option>
				                  		<option value='male'>Male</option>
				                  		<option value='female'>Female</option>
				                  </select>
				              </div>
				            </div>
				            <div class='col-xs-12'>
				            	<button id='sign-up' type='submit' class='col-xs-12 btn btn-oj'>Come on In</button>
				           	</div>
				            <a ng-click='step = 1'>Back</a>
				        </div>
				    </form>
			    </div>
			    <div ng-show='have_account'>
			    	 <form class='form' ng-submit="log_in(identity, password)">
			            <div class='form-group'>
			                <input class='form-control' ng-model='identity' placeholder='Email'>
			            </div>
			            <div class='form-group'>
			                <input class='form-control' ng-model='password' placeholder='Password' type='password'>
			            </div>
			            <button class='col-xs-12 btn btn-oj' type='submit'>Login</button>
			        </form>
			    </div>
			    <div ng-show='forgot'>
			    	<form class='form' ng-submit="forgot_pass(identity)">
				        <div class='form-group'>
				            <input class='form-control' ng-model='identity' placeholder="Enter your email">
				        </div>             
				        <button class='col-xs-12 btn btn-oj' type='submit'>Send me an email</button>
					</form>
				</div>
	        </div>
		</div>
	</div>
</div>

<div ng-show='contests'>	
	<div class='row content-padding'>
		<div class='contests-heading'>
			<div class='col-xs-12 col-sm-6 col-sm-offset-3 text-center'>
				<button ng-hide='user.type == "company"' class='btn' ng-click='grab_my()' ng-class='{"btn-oj" : tab == "my", "btn-outliner" : tab != "my"}' >My Contests</button>
				<button class='btn' ng-click='grab_all()' ng-class='{"btn-oj" : tab == "all", "btn-outliner" : tab != "all"}'>All Contests</button>
			</div>
			<div class='col-xs-12' ng-if='tab == "my"'>
				<h2 class='text-center'>Here are a few contests we think you might like to enter.</h2>
				<h4 class='text-center'>Just click on any contest to get started!</h4>
			</div>
			<div class='col-xs-12' ng-if='tab == "all"'>
				<h2 class='text-center'>Here are all the active contests.</h2>
				<h4 class='text-center'>Just click on any contest to get started!</h4>
			</div>
			<div class='col-xs-12' ng-if='tab == "company"'>
				<h2 class='text-center'>Here are the companies that have launched contests.</h2>
				<h4 class='text-center'>Just click on any company to view their profile!</h4>
			</div>
		</div>
		<div class='col-xs-12' ng-if='tab == "my" && !contests'>
			<h4 class='text-center'>You haven't followed any interests yet! Pick a few so we can assemble your feed!</h4>
			<div class='text-center'><button class='btn btn-oj' ng-click='adding_interests("first")'>Follow some Interests</button></div>
		</div>
		<div class='col-xs-12' ng-if='tab == "my" && contests'>
			<div class='text-right'><button class='btn btn-outliner' ng-click='adding_interests("new")'>Follow New Interests</button></div>
		</div>
		<div ng-if='tab == "all" || tab == "my"'>	
			<div class="col-lg-2 visible-lg">
				 <div ng-if='first_six($index)' ng-repeat='contest in contests'>
				 		<div ng-include src="'templates/contests.html'"></div>
				 </div>		   
			</div>
			<div class="col-lg-2 visible-lg">
				 <div ng-if='second_six($index)' ng-repeat='contest in contests'>
				 		<div ng-include src="'templates/contests.html'"></div>
				 </div>		   
			</div>
			<div class="col-lg-2 visible-lg">
				 <div ng-if='third_six($index)' ng-repeat='contest in contests'>
				 		<div ng-include src="'templates/contests.html'"></div>
				 </div>		   
			</div>
			<div class="col-lg-2 visible-lg">
				 <div ng-if='fourth_six($index)' ng-repeat='contest in contests'>
				 		<div ng-include src="'templates/contests.html'"></div>
				 </div>		   
			</div>
			<div class="col-lg-2 visible-lg">
				 <div ng-if='fifth_six($index)' ng-repeat='contest in contests'>
				 		<div ng-include src="'templates/contests.html'"></div>
				 </div>		   
			</div>
			<div class="col-lg-2 visible-lg">
				 <div ng-if='sixth_six($index)' ng-repeat='contest in contests'>
				 		<div ng-include src="'templates/contests.html'"></div>
				 </div>		   
			</div>
			<div class="col-md-3 visible-md">
				 <div ng-if='first_fourth($index)' ng-repeat='contest in contests'>
				 		<div ng-include src="'templates/contests.html'"></div>
				 </div>		   
			</div>
			<div class="col-md-3 visible-md">
				 <div ng-if='second_fourth($index)' ng-repeat='contest in contests'>
				 		<div ng-include src="'templates/contests.html'"></div>
				 </div>		   
			</div>
			<div class="col-md-3 visible-md">
				 <div ng-if='third_fourth($index)' ng-repeat='contest in contests'>
				 		<div ng-include src="'templates/contests.html'"></div>
				 </div>		   
			</div>
			<div class="col-md-3 visible-md">
				 <div ng-if='fourth_fourth($index)' ng-repeat='contest in contests'>
				 		<div ng-include src="'templates/contests.html'"></div>
				 </div>		   
			</div>
			<div class="col-sm-4 visible-sm">
				 <div ng-if='first_third($index)' ng-repeat='contest in contests'>
				 		<div ng-include src="'templates/contests.html'"></div>
				 </div>		   
			</div>
			<div class="col-sm-4 visible-sm">
				 <div ng-if='second_third($index)' ng-repeat='contest in contests'>
				 		<div ng-include src="'templates/contests.html'"></div>
				 </div>		   
			</div>
			<div class="col-sm-4 visible-sm">
				 <div ng-if='third_third($index)' ng-repeat='contest in contests'>
				 		<div ng-include src="'templates/contests.html'"></div>
				 </div>
			</div>
			<div class="col-xs-12 visible-xs">
				 <div ng-repeat='contest in contests'>
				 		<div ng-include src="'templates/contests.html'"></div>
				 </div>		   
			</div>
		</div>
		<div ng-if='tab == "company"'>
			<div class="col-md-3 visible-md visible-lg">
				 <div ng-if='first_fourth($index)' ng-repeat='company in companies'>
				 		<div ng-include src="'templates/companies.html'"></div>
				 </div>		   
			</div>
			<div class="col-md-3 visible-md visible-lg">
				 <div ng-if='second_fourth($index)' ng-repeat='company in companies'>
				 		<div ng-include src="'templates/companies.html'"></div>
				 </div>		   
			</div>
			<div class="col-md-3 visible-md visible-lg">
				 <div ng-if='third_fourth($index)' ng-repeat='company in companies'>
				 		<div ng-include src="'templates/companies.html'"></div>
				 </div>		   
			</div>
			<div class="col-md-3 visible-md visible-lg">
				 <div ng-if='fourth_fourth($index)' ng-repeat='company in companies'>
				 		<div ng-include src="'templates/companies.html'"></div>
				 </div>		   
			</div>
			<div class="col-sm-4 visible-sm">
				 <div ng-if='first_third($index)' ng-repeat='company in companies'>
				 		<div ng-include src="'templates/companies.html'"></div>
				 </div>		   
			</div>
			<div class="col-sm-4 visible-sm">
				 <div ng-if='second_third($index)' ng-repeat='company in companies'>
				 		<div ng-include src="'templates/companies.html'"></div>
				 </div>		   
			</div>
			<div class="col-sm-4 visible-sm">
				 <div ng-if='third_third($index)' ng-repeat='company in companies'>
				 		<div ng-include src="'templates/companies.html'"></div>
				 </div>
			</div>
			<div class="col-xs-12 visible-xs">
				 <div ng-repeat='company in companies'>
				 		<div ng-include src="'templates/companies.html'"></div>
				 </div>		   
			</div>
		</div>
	</div>
</div>	
<script>
fbq('track', 'PageView');
window.Intercom('update');
</script>