<div class='contest-box row'>
	<div class='col-xs-12 company-img' style='margin:0;'>
		<img class='img-responsve' ng-src='{{company.logo_url}}'>
		<h3 class='text-center'>{{company.name}}</h3>
	</div>
	<div class='col-xs-12'>
		<div class='contest-audience'>
          	<span>{{company.summary}}</span>
        </div>
	</div>
	<div class='col-xs-12 text-center'>
		<div class='btn-group btn-group-sm'>
			<a href='' target='_blank' class='btn btn-outliner'>Visit Website</a>
			<a href='' target='_blank' class='btn btn-outliner'><img width='18px' height='18px' ng-src='public/img/OrangeFacebookIcon.png'></a>
			<a href='' target='_blank' class='btn btn-outliner'><img width='18px' height='18px' ng-src='public/img/OrangeTwitterIcon.png'></a>
		</div>
	</div>
</div>