
	<div id="footer">
		<footer>
		    <div class="row">
		        <div class="col-sm-6 col-sm-offset-3 col-xs-12">
		           	<div class='col-xs-12'>
			            <ul class="footer-nav">
			                <li class='col-xs-6 col-sm-3 pull-left'><a href="#/contact_us">Contact Us</a></li>
			                <li class='col-xs-6 col-sm-3 pull-left'><a href="#/faq">FAQ</a></li>
			                <li class='col-xs-6 col-sm-3 pull-left'><a href="#/terms">Terms of Use</a></li>
			                <li class='col-xs-6 col-sm-3 pull-left'><a href="#/privacy">Privacy Policy</a></li>
			            </ul>
			        </div>
			        <div class='col-xs-12 text-center' style='margin-top:10px;'>
			            <a style='padding:15px;' href="https://www.facebook.com/Tappyn-446303965572597/?ref=br_rs" target="_blank"><img src="public/img/ico-facebook.svg"></a>
			            <a style='padding:15px;' href="https://twitter.com/TheRealTappyn" target="_blank"><img src="public/img/ico-twitter.svg"></a>
			        </div>
		            <div class='col-xs-12 text-center' style='margin-top:15px;'><span class="copyrights">&copy; Tappyn2015. All rights reserved.</span></div>
		        </div>
		    </div>
		</footer>
	</div>



