<div class='modal_actions col-xs-12 col-sm-6 col-sm-offset-3'>
	<div class='col-xs-12 row text-center' style='background-color:#fff;border-radius:3px;padding:10px;'>
		<div class='col-xs-12'>
			<div class='close_circle' ng-click='close_interests()'>X</div>
			<div class='hidden-xs'>	
				<div ng-if='add_interest.type == "new"'>
					<h3 class='text-center interest-heading'>Follow (or un-follow!) some more topics</h3>
					<h4 class='text-center interest-heading'>Click on any picture to follow or unfollow (up to 3)</h4>
				</div>
				<div ng-if='add_interest.type == "first"'>
					<h3 class='text-center interest-heading'>Follow up to three topics</h3>
					<h4 class='text-center interest-heading'>Click on any picture to follow or unfollow</h4>
				</div>
			</div>
			<div class='visible-xs'>
				<div ng-if='add_interest.type == "new"'>
					<h4 class='text-center interest-heading'>Follow (or un-follow!) some more topics</h4>
					<h5 class='text-center interest-heading'>Click on any picture to follow or unfollow (up to 3)</h5>
				</div>
				<div ng-if='add_interest.type == "first"'>
					<h4 class='text-center interest-heading'>Follow up to three topics</h4>
					<h5 class='text-center interest-heading'>Click on any picture to follow or unfollow</h5>
				</div>
			</div>
		</div>
		<div class='modal_scrolling' style='margin:auto;'>
			<div class='hidden-xs interest-larger' style='padding:3px;' ng-repeat='interest in interests' ng-click='pass_interest(interest.id)'>
				<div class='interest-overlay'></div>
				<p class='interest-check' ng-show='interest.checked'><span class='glyphicon glyphicon-ok'></span></p>
				<img class='img-responsive' ng-src='{{interest.picture}}'>
				<p class='interest-text'>{{interest.text}}</p>
			</div>
			<div class='interest-mobile visible-xs' style='padding:3px;' ng-repeat='interest in interests' ng-click='pass_interest(interest.id)'>
				<div class='interest-overlay'></div>
				<p class='interest-check' ng-show='interest.checked'><span class='glyphicon glyphicon-ok'></span></p>
				<img class='img-responsive' ng-src='{{interest.picture}}'>
				<p class='interest-text'>{{interest.text}}</p>
			</div>
		</div>
		<button style='margin-top:5px;' class='col-xs-12 btn btn-oj' ng-click='close_interests()'>Close</button>
	</div>
</div>