<div ng-show='notification_show' class='modal_note col-xs-12 col-sm-3'>
	<div class='row'>
		<div class='col-xs-12'><h4 class='text-center'>Notifications <span style='float:right;' ng-click='close_notifications()'><a href class='a-label'>Hide</a></span></h4><hr></div>
		<button class='btn btn-outliner col-xs-12' ng-click='read_all()'>Dismiss All</button>
		<div class='alert alert-warning col-xs-12' ng-if='notifications.length==0'>You're all caught up!</div>
		<div class='col-xs-12 notification' ng-repeat='notification in notifications' ng-if='notifications.length > 0'>
			<div class='col-xs-1' ng-switch on='notification.type'>
				<span ng-switch-when='submission_received_vote' class='glyphicon glyphicon-thumbs-up glyphicon-oj glyph-lg'></span>
				<span ng-switch-when='new_contest_launched' class='glyphicon glyphicon-fire glyphicon-oj glyph-lg'></span>
				<span ng-switch-when='submission_confirmed' class='glyphicon glyphicon-check glyphicon-oj glyph-lg'></span>
				<span ng-switch-when='submission_chosen' class='glyphicon glyphicon-usd glyphicon-oj glyph-lg'></span>
				<span ng-switch-when='winner_chosen' class='glyphicon glyphicon-off glyphicon-oj glyph-lg'></span>
				<span ng-switch-default class='glyphicon glyphicon-info-sign glyphicon-oj glyph-lg'></span>
			</div>
			<div class='col-xs-11'><p class='text-center'>{{notification.message}}</p></div>
			<span class='glyphicon glyphicon-remove glyphicon-oj remove-glyph cursor' class='pull-right' ng-click='read_notification(notification, $index)'></span>
			<!-- <div class='col-xs-3'>
				<button class='btn btn-outliner btn-sm' ng-click='read_notification(notification, $index)'>
					<span class='glyphicon glyphicon-ok'></span>
				</button>
			</div> -->
		</div>
	</div>
</div>

<style>
.remove-glyph {
	position: absolute;
	top:5;
	right: 5;
}
.glyphicon-oj {
	color: #ff5c00;
}
.glyph-lg {
	font-size:1.4em;
}
.cursor {
	cursor:pointer;
}
.a-label {
	font-size: 0.7em;
}
</style>
