<div class='col-xs-12 col-sm-9'>
	<h3 ng-if='submission.headline'>{{submission.headline}}</h3>
	<div class="contest-content">
		<span ng-if='submission.link_explanation'>{{submission.link_explanation}}<br></span>
	    <span ng-if='submission.text'>{{submission.text}}</span>
	</div>
	<h5 class='text-right' style='color:#ff6c00;'>- {{submission.owner.first_name}} {{submission.owner.last_name | firstChar}}.</h5>
</div>
<div class='col-xs-12 col-sm-3'>
	<div ng-click='upvote(submission)' ng-if='submission.user_may_vote' class='upvote-circle' ng-class='{"empty-upvote" : !submission.hover, "filled-upvote" : submission.hover}' ng-mouseenter='submission.hover = true' ng-mouseleave='submission.hover = false'>
		<h4 style='margin-top:10px;font-weight:400;' class='text-center'>{{submission.votes | number}}</h4>
	</div>
	<div ng-if='!submission.user_may_vote' class='upvote-circle filled-upvote'>
		<h4 style='margin-top:10px;font-weight:400;' class='text-center'>{{submission.votes | number}}</h4>
	</div>
</div>
<div class="contest-info">
    <h5>
    	<span class='duration' style='position: absolute;left: 3px;bottom: 0;'>
    		{{submission.created_at  | untilFilter}} ago
    	</span>
   	</h5>
   	<div style='position: absolute;right:0px;bottom: 0;' class="share_logo"  ng-show='submission.hovering' ng-click='share(submission)'>Share</div>
</div>