<div class='container-fluid'>
<!-- Hero Banner -->
    <section class="howitworks">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <div class="row">
                    <div class="hero-content">
                        <div class='col-xs-12 text-left'>
                            <h1 style='font-size:50;margin-bottom:35px;margin-top:50px;'>Make ads more authentic.</h1>
                            <h3 style='color:#fff;'>Join the first creative marketplace<br>that helps you create relatable content.</h3>
                               <div class='text-left'>
                            <a ng-hide='user.type != "member"' class='btn btn-wj btn-lg' style='margin-top:15px;padding-left: 50px;padding-right: 50px' href='/contests'><strong>Join Tappyn</strong></a>
                            <a ng-show='!user' class='btn btn-wj btn-lg' style='margin-top:15px;padding-left: 50px;padding-right: 50px' ng-click='open_register("default", "", "2")'><strong>Join Tappyn</strong></a>
                            <a ng-show='user.type == "company"' class='btn btn-wj btn-lg' style='margin-top:15px;padding-left: 50px;padding-right: 50px' href="/dashboard"><strong>Join Tappyn</strong></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
