<div class='container-fluid'>
<!-- Hero Banner -->
    <section class="howitworks">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <div class="row">
                    <div class="hero-content">
                        <div class='col-xs-12 text-left'>
                            <h1 style='font-size:50;margin-bottom:35px;margin-top:50px;'>How it works.</h1>
                            <h3 style='color:#fff;'>Check out how it all works below<br>-our core campaigns are free to run.</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="love-raw" style="background:#ff5c00;">
       <div class='container'>
           <div class="row">
             <ul style="list-style-type:none;margin:0;padding:0;overflow:hidden;">
               <li style="display:inline;color:#fff;"><h3 style='font-size:25;font-weight:bold;margin-bottom:20px;line-height:130%;'>Platform</h3></li>
              <li style="display:inline;color:#fff;"> <h3 style='font-size:25;font-weight:bold;margin-bottom:20px;line-height:130%;'>Brief</h3></li>
                 <li style="display:inline;color:#fff;"><h3 style='font-size:25;font-weight:bold;margin-bottom:20px;line-height:130%;'>Launch</h3></li>
                   <li style="display:inline;color:#fff;"><h3 style='font-size:25;font-weight:bold;margin-bottom:20px;line-height:130%;'>Test</h3></li>
                    <li style="display:inline;color:#fff;"> <h3 style='font-size:25;font-weight:bold;margin-bottom:20px;line-height:130%;'>Purchase</h3></li>
                   </ul>
           </div>
       </div>
   </section>
