<div class='container-fluid'>
<!-- Hero Banner -->
    <section class="howitworks">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <div class="row">
                    <div class="hero-content">
                </div>
            </div>
        </div>
    </section>
    <section class="love-raw" style="background:#019F6E;padding:0;">
       <div class='container'>
           <div class="row">
             <ul style="list-style-type:none;margin:0;padding:0;overflow:hidden;">
               <li style="display:inline-block;color:#fff;" class="col-xs-6 col-sm-3"><h3 style='font-size:18;margin-bottom:20px;line-height:130%;'><a href="#audience" style="display:pointer;color:#fff;">Audience</a></h3></li>
              <li style="display:inline-block;color:#fff;" class="col-xs-6 col-sm-3"> <h3 style='font-size:18;margin-bottom:20px;line-height:130%;'><a href="#package" style="display:pointer;color:#fff;">Package</a></h3></li>
                 <li style="display:inline-block;color:#fff;" class="col-xs-6 col-sm-3"><h3 style='font-size:18;margin-bottom:20px;line-height:130%;'><a href="#test" style="display:pointer;color:#fff;">Test</a></h3></li>
                   <li style="display:inline-block;color:#fff;" class="col-xs-6 col-sm-3"><h3 style='font-size:18;margin-bottom:20px;line-height:130%;'><a href="#select" style="display:pointer;color:#fff;">Select</a></h3></li>

                   </ul>
           </div>
       </div>
   </section>
   <section class="how-it-works">
      <span class="anchor" id="audience"></span>
       <div class="row">
           <div class='container col-xs-12' style="padding-top:50px;">
             <div class="col-xs-12 col-sm-4 text-center">
                <img href="#" src="https://s3-us-west-2.amazonaws.com/tappyn/ass.jpg" alt="Fabel Ads">
             </div>
               <div class='col-xs-12 col-sm-8'>
                  <h1 style='color:#333;font-size:46;font-weight:400;text-align:left;line-height:130%;'>Tell us about you and your audience.</h1>
                  <h3 style='color:#333;font-size:20;font-weight:300;text-align:left;line-height:130%;'>First up, tell us the general demographics of the people you plan on connecting with. Next, briefly describe your business and why it's important. Fill out this information as clear as you can, so our community fully understands your purpose. </h3>
                  <!--<h3 style='color:#333;font-size:20;font-weight:300;text-align:left;line-height:130%;'>You'll also let us know where you plan on reaching your audience.</h3>-->
               </div>
            </div>
         </div>
      </section>
      <section class="love-raw">
         <span class="anchor" id="package"></span>
         <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                    <h1 style="font-size:46;font-weight:400;margin-bottom:10px;line-height:130%;" class="text-center">Select your package.</h1>
                    <h3 style="font-size:20;font-weight:300;margin-bottom:20px;line-height:130%;" class="text-center">Different businesses have different needs.<br>All packages come with an 100% Satisfaction Guarantee.</h3>
                </div>
        <div class='col-xs-12 col-sm-8 col-sm-offset-1 text-center'>
            <table class="table table-condensed" style='border-radius:5px;'>
               <thead>
                  <tr>
                              <td class="text-center" style="font-size:22px;background:#E7E7E7;width:200px;"></td>
                              <td class="text-center" style="font-size:22px;background:#E7E7E7;width:200px;">
                                 <img href="#" src="https://s3-us-west-2.amazonaws.com/tappyn/pac11.jpg" alt="Fabel Package">
                              </td>
                              <td class="text-center" style="font-size:22px;background:#E7E7E7;width:200px;">
                                 <img href="#" src="https://s3-us-west-2.amazonaws.com/tappyn/pac2.jpg" alt="Fabel Package">
                              </td>
                              <td class="text-center" style="font-size:22px;background:#E7E7E7;width:200px;">
                                 <img href="#" src="https://s3-us-west-2.amazonaws.com/tappyn/pac3.jpg" alt="Fabel Package">
                              </td>
                          </tr>
                   <tr>
                       <td class="text-center" style="font-size:22px;background:#E7E7E7;width:200px;"></td>
                       <td class="text-center" style="font-size:22px;background:#E7E7E7;width:200px;"></td>
                       <td class="text-center" style="font-size:22px;background:#E7E7E7;width:200px;"></td>
                       <td class="text-center" style="font-size:22px;background:#E7E7E7;width:200px;"></td>
                   </tr>
                   <tr>
                          <td class="text-left" style="font-size:22px;background:#E7E7E7;max-width:50px;"></td>
                          <td class="text-left" style="font-size:22px;background:#06883F;color:#fff;font-weight:400;width:200px;">Basic</td>
                          <td class="text-left" style="font-size:22px;background:#019F6E;color:#fff;font-weight:400;width:200px;">Premium</td>
                          <td class="text-left" style="font-size:22px;background:#018880;color:#fff;font-weight:400;width:200px;">Platinum</td>
                      </tr>
                  </thead>
                  <tr>
                      <td class="text-center" style="background:#E7E7E7;color:#333;width:200px;">
                      </td>
                      <td style="background:#06883F;color:#fff;width:200px;">
                          <p>
                              <span style="font-size:18px;font-weight:300;">Creative writing on a budget</span>
                              <br>

                              <span class="pull-right" style="font-size:32px;font-weight:300;padding-right:10px;">$99</span>

                          </p>
                      </td>
                      <td style="background:#019F6E;color:#fff;width:200px;">
                          <p>
                              <span style="font-size:18px;font-weight:300;">Best value for money<br></span>
                              <br>

                              <span class="pull-right" style="font-size:32px;font-weight:300;padding-right:10px;">$199</span>

                          </p>
                      </td>
                      <td style="background:#018880;color:#fff;width:200px;">
                          <p>
                              <span style="font-size:18px;font-weight:300;">Complete brand messaging for any platform</span>
                              <br>

                              <span class="pull-right" style="font-size:32px;font-weight:300;padding-right:10px;">$499</span>

                          </p>
                      </td>
                  </tr>
                      <tr>
                          <td class="text-right" style="background:#E7E7E7;color:#333;width:200px;">
                              <p>Creator Targeting</p>
                          </td>
                          <td class="text-center" style="background:#06A54B;color:#fff;width:200px;"><span class="glyphicon glyphicon-ok" style="font-size:22px;color:#fff;"></span></td>
                          <td class="text-center" style="background:#01BA7F;color:#fff;width:200px;"><span class="glyphicon glyphicon-ok" style="font-size:22px;color:#fff;"></span></td>
                          <td class="text-center" style="background:#01A398;color:#fff;width:200px;"><span class="glyphicon glyphicon-ok" style="font-size:22px;color:#fff;"></span></td>
                      </tr>
                      <tr>
                          <td class="text-right" style="background:#E7E7E7;color:#333;width:200px;">
                              <p>Testing</p>
                          </td>
                          <td class="text-center" style="background:#06883F;color:#fff;width:200px;"><span class="glyphicon glyphicon-ok" style="font-size:22px;color:#fff;"></span></td>
                          <td class="text-center" style="background:#019F6E;color:#fff;width:200px;"><span class="glyphicon glyphicon-ok" style="font-size:22px;color:#fff;"></span></td>
                          <td class="text-center" style="background:#018880;color:#fff;width:200px;"><span class="glyphicon glyphicon-ok" style="font-size:22px;color:#fff;"></span></td>
                      </tr>
                      <tr>
                          <td class="text-right" style="background:#E7E7E7;color:#333;width:200px;">
                              <p>Messages (30)</p>
                          </td>
                          <td class="text-center" style="background:#06A54B;color:#fff;width:200px;"><span class="glyphicon glyphicon-ok" style="font-size:22px;color:#fff;"></span></td>
                          <td class="text-center" style="background:#01BA7F;color:#fff;width:200px;"><span class="glyphicon glyphicon-ok" style="font-size:22px;color:#fff;"></span></td>
                          <td class="text-center" style="background:#01A398;color:#fff;width:200px;"><span class="glyphicon glyphicon-ok" style="font-size:22px;color:#fff;"></span></td>
                      </tr>
                      <tr>
                          <td class="text-right" style="background:#E7E7E7;color:#333;width:200px;">
                              <p>Images (30)</p>
                          </td>
                          <td class="text-center" style="background:#06883F;color:#fff;width:200px;"></td>
                          <td class="text-center" style="background:#019F6E;color:#fff;width:200px;"><span class="glyphicon glyphicon-ok" style="font-size:22px;color:#fff;"></span></td>
                          <td class="text-center" style="background:#018880;color:#fff;width:200px;"><span class="glyphicon glyphicon-ok" style="font-size:22px;color:#fff;"></span></td>
                      </tr>
                      <tr>
                          <td class="text-right" style="background:#E7E7E7;color:#333;max-width:50px;">
                              <p>Videos (30)</p>
                          </td>
                          <td class="text-center" style="background:#06A54B;color:#fff;width:200px;"></td>
                          <td class="text-center" style="background:#01BA7F;color:#fff;width:200px;"></td>
                          <td class="text-center" style="background:#01A398;color:#fff;width:200px;"><span class="glyphicon glyphicon-ok" style="font-size:22px;color:#fff;"></span></td>
                      </tr>
                      <tr>
                          <td class="text-right" style="background:#E7E7E7;color:#333;max-width:125px;">
                              <p>100% Money Back Guarantee</p>
                          </td>
                          <td class="text-center" style="background:#06883F;color:#fff;width:200px;"><span class="glyphicon glyphicon-ok" style="font-size:22px;color:#fff;"></span></td>
                          <td class="text-center" style="background:#019F6E;color:#fff;width:200px;"><span class="glyphicon glyphicon-ok" style="font-size:22px;color:#fff;"></span></td>
                          <td class="text-center" style="background:#018880;color:#fff;width:200px;"><span class="glyphicon glyphicon-ok" style="font-size:22px;color:#fff;"></span></td>
                      </tr>
                  </table>
          </div>
           </div>
   </section>
   <section class="how-it-works">
       <div class="row">
           <div class='container col-xs-12' style="padding-top:50px;">
                  <h1 style='color:#333;font-size:46;font-weight:400;text-align:center;line-height:130%;'>Launch Campaign</h1>
                  <h3 style='color:#333;font-size:20;font-weight:300;text-align:center;line-height:130%;'>We'll channel your campaign to our creators who meet your requested demographics.<br>Our creators are a diverse, responsive, and everyday group of people on a mission to make company messaging more relatable.</h3>
            </div>
            <div class="col-xs-12 text-center">
               <img href="#" src="https://s3-us-west-2.amazonaws.com/tappyn/air.jpg" alt="Fabel Creators">
         </div>
   </section>
   <section class="love-raw">
      <span class="anchor" id="test"></span>
          <div class="row">
              <div class='container col-xs-12 col-sm-8 col-sm-offset-2' style="padding-top:50px;">
                 <div class="col-xs-12 col-sm-4 text-center">
                  <img href="#" src="https://s3-us-west-2.amazonaws.com/tappyn/star2.jpg" alt="Fabel Creators" style="max-height:264px;">
                  <h3 class='text-center' style='color:#333;font-weight:400;'>Receive Messages</h3>
                     <p align="center" style="font-weight:300;">Over the course of 3 or 4 days, you'll recieve 30 unique messages about the most compelling aspects of your business.</p>
               </div>
               <div class="col-xs-12 col-sm-4">
                <img href="#" src="https://s3-us-west-2.amazonaws.com/tappyn/re.jpg" alt="Fabel Creators" style="padding-top:75px;">
             </div>
             <div class="col-xs-12 col-sm-4 text-center">
             <img href="#" src="https://s3-us-west-2.amazonaws.com/tappyn/ctr.jpg" alt="Fabel Creators">
             <h3 class='text-center' style='color:#333;font-weight:400;'>Performance Test</h3>
                <p align="center" style="font-weight:300;">You'll edit, review, and select your favorite messages to put live into the world. We'll show you the results of the test, so you can know how well each message performs.</p>
          </div>
            </div>
         </div>
   </section>
   <section class="how-it-works">
      <span class="anchor" id="select"></span>
      <div class="row">
          <div class='container col-xs-12' style="padding-top:50px;">
           <div class="col-xs-12 col-sm-4 text-center">
               <img href="#" src="https://s3-us-west-2.amazonaws.com/tappyn/ass3.jpg" alt="Fabel Ads" style="height:200px;">
           </div>
             <div class='col-xs-12 col-sm-6'>
                 <h1 style='color:#333;font-size:46;font-weight:400;text-align:left;line-height:130%;'>Select your favorite.</h1>
                 <h3 style='color:#333;font-size:20;font-weight:300;text-align:left;line-height:130%;'>At the end of your campaign, you'll view your messages with their metrics, and select your favorite to own. You can purchase more than one message for a small, additional fee if you like. We'll then transfer you the copyright to your selected message, and you'll leave Fabel with an message guaranteed to resonate with your audience.</h3>
             </div>
             <div class="text-center col-xs-12" style="padding-top:30px;padding-bottom:50px;"><a href=/launch class="btn btn-lg btn-wj get_started" style="padding-right:50px;padding-left:50px;">Get Started</a></div>
           </div>
        </div>
   </section>
</div>
<style>
.table>tbody>tr>td {
     padding: 10px !important;
     border-top: none;
}
.table>thead>tr>td {
     border-top: none;
}
</style>
