<div class='modal_actions col-xs-12 col-sm-4 col-sm-offset-4'>
	<div class='col-xs-12 text-center' style='background-color:#fff;border-radius:3px;padding:10px;'>
		<div ng-hide='registration.type == "must"' class='close_circle' ng-click='close_register()'>X</div>
            <div ng-show='registration.type == "default" || registration.type == "must"' class='col-xs-12 text-center' style='padding-bottom:10px;'>
	            <div class="btn-group hidden-xs" data-toggle="buttons">
	            	<label class='btn' ng-class='{"btn-oj" : registrar.group_id == "2", "btn-default" : registrar.group_id != "2"}'>
	            		<input type='radio' value='2' ng-model='registrar.group_id'>I'm a creator
	            	</label>
	            	<label class='btn' ng-class='{"btn-oj" : registrar.group_id == "3", "btn-default" : registrar.group_id != "3"}'>
	            		<input type='radio' value='3' ng-model='registrar.group_id'>I'm a company
	            	</label>
	            </div>
	            <div class="btn-group btn-group-sm visible-xs" data-toggle="buttons">
	            	<label class='btn' ng-class='{"btn-oj" : registrar.group_id == "2", "btn-default" : registrar.group_id != "2"}'>
	            		<input type='radio' value='2' ng-model='registrar.group_id'>I'm a creator
	            	</label>
	            	<label class='btn' ng-class='{"btn-oj" : registrar.group_id == "3", "btn-default" : registrar.group_id != "3"}'>
	            		<input type='radio' value='3' ng-model='registrar.group_id'>I'm a company
	            	</label>
	            </div>
	        </div>
	        <div ng-hide='registrar.group_id != "2" || registration.type == "company"'>
		    	<div ng-show='step == 1'>
		    		<form class='form' ng-submit='sign_up(registrar)'>
				    	<div ng-show='!with_email'>	
				    		<div class='col-xs-12'>
						        <a href ng-click='fb_login()' id='fb-login'>
					                <img class='img-responsive' height='45px' style='border-radius: 5px;' src="public/img/img-facebook.png">
					            </a>
					    	</div>
					    	<div class='col-xs-12'><p class='text-center'>or</p></div>
					    	<div class='col-xs-12 text-center'><button class='btn btn-oj' ng-click='with_email = true' type='button'>Sign up with email</button></div>
					    </div>
					    <div ng-show='with_email'>
				    		<div class='col-xs-12'><a class='text-center' style='color:#ff5c00;' ng-click='with_email = false'>Sign up with Facebook</a></div>
					        <div class='col-xs-12'>    
					            <div class='form-group'>
					                 <input class='form-control' ng-model='registrar.identity' placeholder='Email' type='email'>
					            </div>
					        </div>
					        <div class='col-xs-12'>
					            <div class='form-group'>
					            	<input class='form-control' ng-model='registrar.password' placeholder='Password' type='password'>
					            </div>  
					        </div>   
				            <div class='col-xs-9'>
					            <div class='form-group'>
					              	<input class='form-control' ng-model='registrar.name' placeholder='Full Name' type='text'>
					            </div>
				            </div>
				            <div class='col-xs-3'>
				              <div class='form-group'>
				                  <input ng-model='registrar.age' class='form-control' placeholder='Age' type='text'>
				              </div>
				            </div>		           
			                <div class='form-group'>
			                    <label class='btn'><input type='radio' value='male' ng-model='registrar.gender'>Male</label>
			                    <label class='btn'><input type='radio' ng-model='registrar.gender' value='female'>Female</label>
			                </div>		          
				            <button id='step-2' type='submit' class='col-xs-12 btn btn-oj'>Come on In</button>
				        </div>
			        </form>
		        </div>
	        </div>
	        <div ng-show='registrar.group_id == "3" || registration.type == "company"'>
	        	<form class='form' ng-submit='sign_up(registrar)'>
		        	<div class='col-xs-12'>
			            <div class='form-group'>
			              	<input class='form-control' ng-model='registrar.name' placeholder='Company Name' type='text'>
			            </div>
		            </div>
		        	<div class='col-xs-12'>
			            <div class='form-group'>
			                 <input class='form-control' ng-model='registrar.identity' placeholder='Company Email' type='email'>
			            </div>
			        </div>  
			        <div class='col-xs-12'>
			            <div class='form-group'>
			            	<input class='form-control' ng-model='registrar.password' placeholder='Password' type='password'>
			            </div>
			        </div>
			        <div class='hidden-xs'>
				        <h5 class='text-center'>The following fields are optional, but recommended. They can always be provided later in your profile</h5>
				        <div class='col-xs-12 col-sm-6'>
				        	<div class='form-group'>
				            	<label>Company Logo</label>
				            	<input ng-file-select='select_logo($files, registrar)' type='file'>
							</div>
						</div>
						<div class='col-xs-12 col-sm-6'>
							<img class='img-responsive' ng-src='{{registrar.logo_url}}'>	
				        </div>
				        <div class='col-xs-12'>
				        	<div class='form-group'>
				            	<input class='form-control' ng-model='registrar.company_url' placeholder='Company Website' type='text'>
				            </div>
				        </div>
				        <div class='col-xs-12'>
				        	<div class='form-group'>
				            	<input class='form-control' ng-model='registrar.facebook_url' placeholder='Company Facebook' type='text'>
				            </div>
				        </div>
				         <div class='col-xs-12'>
				        	<div class='form-group'>
				            	<input class='form-control' ng-model='registrar.twitter_handle' placeholder='Company Twitter Handle' type='text'>
				            </div>
				        </div>   
				    </div>
			        <div class='col-xs-12'>
			        	<button id='sign-up' type='submit' class='col-xs-12 btn btn-oj'>Sign Up</button>
			        </div>
			    </form>
	        </div>            
		</form>
		<div class='modal_link text-center col-xs-12'>
			<a ng-click='register_to_login()'>Have an account?</a>
		</div>
	</div>
</div>
<script>
	$("#fb-login").click(function(){
		fbq('track', 'Lead');
		ga('send', {
			hitType: 'event',
			eventCategory: 'User Signup',
			eventAction: 'Signup',
			eventLabel: 'New User Facebook'
		});
	});
</script>