<div class='container'>
	<div class='row content-padding'>
		<div class='contests-heading'>
			<div class='col-xs-12 col-sm-6 col-sm-offset-3 text-center' ng-if='user'>
				<button class='btn' ng-click='grab_my()' ng-class='{"btn-oj" : tab == "my", "btn-outliner" : tab != "my"}'>Followed</button>
				<button class='btn' ng-click='grab_companies()' ng-class='{"btn-oj" : tab == "company", "btn-outliner" : tab != "company"}'>All Companies</button>
			</div>
			<div class='col-xs-12'>
				<h2 ng-if='tab == "my"' class='text-center'>Here are the companies you've followed.</h2>
				<h2 ng-if='tab == "company"' class='text-center'>Here are all companies that have launched contests.</h2>
				<h4 class='text-center'>Just click on any company to view their profile!</h4>
			</div>
		</div>
		<div class="col-md-3 visible-md visible-lg">
			<div ng-if='first_fourth($index)' ng-repeat='company in companies'>
				<div ng-include src="'templates/companies.html'"></div>
			</div>
		</div>
		<div class="col-md-3 visible-md visible-lg">
			<div ng-if='second_fourth($index)' ng-repeat='company in companies'>
				<div ng-include src="'templates/companies.html'"></div>
			</div>
		</div>
		<div class="col-md-3 visible-md visible-lg">
			<div ng-if='third_fourth($index)' ng-repeat='company in companies'>
				<div ng-include src="'templates/companies.html'"></div>
			</div>
		</div>
		<div class="col-md-3 visible-md visible-lg">
			<div ng-if='fourth_fourth($index)' ng-repeat='company in companies'>
				<div ng-include src="'templates/companies.html'"></div>
			</div>
		</div>
		<div class="col-sm-4 visible-sm">
			<div ng-if='first_third($index)' ng-repeat='company in companies'>
				<div ng-include src="'templates/companies.html'"></div>
			</div>
		</div>
		<div class="col-sm-4 visible-sm">
			<div ng-if='second_third($index)' ng-repeat='company in companies'>
				<div ng-include src="'templates/companies.html'"></div>
			</div>
		</div>
		<div class="col-sm-4 visible-sm">
			<div ng-if='third_third($index)' ng-repeat='company in companies'>
				<div ng-include src="'templates/companies.html'"></div>
			</div>
		</div>
		<div class="col-xs-12 visible-xs">
			<div ng-repeat='company in companies'>
				<div ng-include src="'templates/companies.html'"></div>
			</div>
		</div>
	</div>
</div>
